@charset "utf-8";

.search_modi {}
.search_modi.search_wrapper .search_top {padding-bottom: 0px}
.search_modi.search_wrapper .btn_detail{vertical-align:top; font-size:14px; color:#FF6A5B; float:right; padding-right:16px; background:url('../../images/biz/common/icon_search_btn.png') 100% 50% no-repeat;}

.search_modi.search_wrapper .cont01 .bx-controls,
.search_modi.search_wrapper .cont02.pd_unit .category_slide .bx-controls {width: auto;margin-left: 0;right: 370px;left: 370px;}
.search_modi.search_wrapper .cont01 .bx-controls-direction .bx-prev,
.search_modi.search_wrapper .cont02.pd_unit .category_slide .bx-controls-direction .bx-prev,
.search_modi.search_wrapper .cont01 .bx-controls-direction .bx-next,
.search_modi.search_wrapper .cont02.pd_unit .category_slide .bx-controls-direction .bx-next {z-index: 100;}

.search_modi.search_wrapper .cont01 .bx-controls-direction .bx-prev,
.search_modi.search_wrapper .cont02.pd_unit .category_slide .bx-controls-direction .bx-prev { left: 0px; right: auto;}
.search_modi.search_wrapper .cont01 .bx-pager,
.search_modi.search_wrapper .cont02.pd_unit .category_slide .bx-pager {color:#808080;right: 36%;letter-spacing: 1px;bottom: -4px; position: relative;    width: auto;    right: auto;    text-align: center;}
.search_modi.search_wrapper .cont01 .bx-pager strong,
.search_modi.search_wrapper .cont02.pd_unit .category_slide .bx-pager strong{ font-size: inherit; font-family: inherit; min-width: 20px; display: inline-block;}

.search_modi.search_wrapper .cont03 .search_tit {font-size: 28px; font-weight: 700;}
.search_modi.search_wrapper .filter_btn {display:block;background: #000 url(../../images/_new/filter_icon.png) center right 7px no-repeat;float: left;font-size: 14px;color: #fff;padding: 8px 29px 8px 12px;font-weight: 300;margin-left: 10px;}

.search_modi .category_wrap .pd_filter .pd_total {}

/* 검색결과 탭 */
.search_modi.search_wrapper .search_tab {margin-top:120px;}
.search_modi.search_wrapper .pd_filter {margin-top: 40px;}
.search_modi.search_wrapper .pd_filter .form_select {width: auto;}
.search_modi.search_wrapper .pd_filter .form_select select {height: auto;width:auto;min-width:140px;margin-left: 10px;font-size: 14px;color: #777777;border: 1px #DBDBDB solid;padding: 2px 30px 2px 10px;background: url(../../images/_new/search_modi_btn.png) center right no-repeat;box-sizing: border-box;display: block;float: left;}
.search_modi.search_wrapper .pd_filter .form_select:after {background: #000;}
.search_modi.search_wrapper .pd_filter .form_select:after{content:''; display: none;}

.search_modi .search_filter_wrap{position:relative;border-bottom:0px;max-width: 950px;margin: 0 auto;}
.search_modi .search_filter{position:absolute;width:950px;height: 0;margin:0 auto;box-sizing:border-box;}
.search_modi .search_filter .detail {display:block;text-align: center;padding: 20px 0; background: none;}
.search_modi .search_filter.active .inner{position:absolute;left:0;right:0;height: 480px;z-index:20;background-color:#fff;border-bottom: 1px solid #fff;border-top: 1px #000 solid;}
.search_modi .search_filter.on_select .inner{height:477px;}
.search_modi .search_filter .inner{overflow:hidden;height: 0;border-right:1px solid #fff;border-left:1px solid #fff;}
.search_modi .search_filter.active .inner > ul{max-height: 399px;box-sizing:border-box;border-right:1px solid #000;border-left:1px solid #000;}
.search_modi .search_filter .inner > ul > li{float:left;width: auto;height:100%;box-sizing:border-box;position:relative;text-align: left;min-width: 235px;max-height: 399px;}
.search_modi .search_filter .inner > ul > li + li{border-left:1px solid #fff;}
.search_modi .search_filter.active .inner > ul > li + li{border-left:1px solid #dbdbdb;}
.search_modi .search_filter .inner > ul > li:last-child{width: auto;padding-right: 0px;}
.search_modi .search_filter ul li a.on{color:#DA2128 !important;}
.search_modi .search_filter.active .search_dp1{border-bottom:1px solid #dbdbdb;border: 0;}
.search_modi .search_filter.on_select .search_dp1 span{position:relative;}
.search_modi .search_filter.on_select .search_dp1 span:before{position:absolute; content:''; left:-22px; top:50%; margin-top:-4px; width:12px; height:9px; background:url('../../images/biz/common/icon_tab_active.png') no-repeat;}
.search_modi .search_filter .search_dp1{position:relative;line-height: normal;display:block;font-size:18px;color:#000;text-align: left;font-weight: 700;padding: 22px 20px 10px;}
.search_modi .search_filter.active .search_dp2{display:block;}
.search_modi .search_filter .btn_wrapper {float: none;}

.search_modi .search_filter .btn_dp2:after{position:absolute;content:'';right:0;width: 12px;top:50%;margin-top: -6px;height: 12px;background:url('../../images/_new/select_depth.png') no-repeat;}
.search_modi .search_filter .btn_dp2.on:after{background-position:-12px 0;}

.search_modi .search_filter.active .search_dp2{display:block;}
.search_modi .search_filter .search_dp2{display:none; overflow-y:auto; position:absolute; padding:12px 20px; left:0; right:0; top:60px; width:100%; height:338px; z-index:2; box-sizing:border-box;}
.search_modi .search_filter .search_dp2 > ul li + li{margin-top:16px;}
.search_modi .search_filter .search_dp2 > ul li a{font-size:14px; color:#000; font-family: 'font_ns','AppleGothic', sans-serif;}
.search_modi .search_filter .dp2_tab {position: absolute; top: 24px; left: 66px;}
.search_modi .search_filter .dp2_tab ul{overflow:hidden;margin:0;}
.search_modi .search_filter .dp2_tab ul li{float:left;line-height:23px;width: auto;text-align:center;border:0 none;box-sizing:border-box;margin-left: 12px;}
.search_modi .search_filter .dp2_tab ul li a{font-size:14px; color:#777; display:block;}
.search_modi .search_filter .dp2_tab ul li.active{border:0 none;position: relative;}
.search_modi .search_filter .dp2_tab ul li.active a{color:#000;}
.search_modi .search_filter .dp2_tab ul li:first-child:before {content: '';display: block;width:2px;height:12px;background: #777777; position: absolute;top: 6px;right: -7px;}

.search_modi .search_filter .price .input_wrap input {border:1px #707070 solid;max-width: 50px;padding: 2px 8px;height: auto; color: #777777;}
.search_modi .search_filter .price .input_wrap input::-webkit-input-placeholder { /* Edge */  color: #777777;}
.search_modi .search_filter .price .input_wrap input:-ms-input-placeholder { /* Internet Explorer 10-11 */   color: #777777;}
.search_modi .search_filter .price .input_wrap input::placeholder {   color: #777777;}

.search_modi .search_filter .btn_price_search {width:26px;height:26px;background:#000 url('../../images/_new/ico_btn_search.png') no-repeat center;font-size: 0;display: block;float: left;margin-left: 5px;}


/* list */
.search_modi .category_wrap .pd_unit .category_slide ul li {width:230px !important; margin-right: 10px !important; padding:0;}
.search_modi .category_wrap .pd_unit .category_slide ul li a .thum {width:230px; height:230px;}

.search_modi.search_wrapper .related_search {margin-top: 10px;}
.search_wrapper .related_search p, .search_wrapper .related_search ul {margin-top:10px;}
.search_modi.search_wrapper .search_top .form_checkbox {margin-top:-1px;}

/* 검색하단 리스트 */
.form_search_list_wrap {display:none; position: absolute;    top: 58px;    right: 0;    z-index: 1;    width: 424px; background:  #fff;}
.form_search_list_wrap.active {display: block;}
.form_search_list {border:4px #000 solid; padding:10px 25px 22px;}
.form_search_list .items {margin:10px 0;}
.form_search_list .items .link {display: block; font-size: 15px; font-weight: 500; padding:5px 0;}
.form_search_list .items .link:after {content:''; display: block; clear: both;}
.form_search_list .items .link span {display: block; float: left; font-size: inherit;}

/* 인기검색어및 여러 슬라이드 */
.popular_search_wrap .bxslider {display: block; height:auto;}
.popular_search_wrap {display:none;   width: 320px;    position: absolute; top: -20px;    right: -24px;  background: transparent;   z-index: 2;}
.popular_search_wrap.active {display: block;}		

.popular_search_wrap .bx-viewport {min-height:545px;}
.popular_search_wrap .bx-controls {position: absolute;left: 0;    width: 320px;    bottom: 75px;}
.popular_search_wrap .bx-wrapper {position: relative;}
.popular_search_wrap .bx-pager {display: table;    text-align: center;    margin: 0 auto;}
.popular_search_wrap .bx-pager .bx-pager-item { display: table-cell; width:10px;}
.popular_search_wrap .bx-pager .bx-pager-link {font-size: 0; width:10px; height:10px; margin:0 4px; background: #BDBDBD; border-radius: 5px;}
.popular_search_wrap .bx-pager .bx-pager-link.active{ background: #000; }
.popular_search_wrap .blank_box {display: table; width:100%; height:100%; min-height:320px;}
.popular_search_wrap .blank_box ._txt {display: table-cell;vertical-align: top;text-align: center;color:#777777;font-size: 14px;font-weight: 400;background:url(../../images/_new/icon_message.png) no-repeat center 70px;padding-top: 137px;}

#gnb .popular_search_wrap .keyword_list_v2 { border: 1px solid #dbdbdb;box-sizing:border-box;border-radius: 20px;background: #fff;z-index: 10;position: relative; margin: 0 auto; padding: 20px 30px 63px 30px;-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3); display: block !important; box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.16); width:280px; top:0; left:auto; margin:20px 20px 30px;}
#gnb .popular_search_wrap .keyword_list_v2 .last_cont {margin-top:10px; padding:15px 0; border-top:1px #777 solid; border-bottom:1px #777 solid;}
#gnb .popular_search_wrap .keyword_list_v2 .last_texts {width: 70%;}
#gnb .popular_search_wrap .keyword_list_v2 .btn_last_delete {font-size: 0; width:9px; height:9px; position: absolute; top:50%; right:0; margin-top:-4px; background:url(../../images/_new/icon_last_search_close.png) no-repeat center;}
#gnb .popular_search_wrap .keyword_list_v2 .all_delete_txt {position: absolute; top:20px; right:33px; font-size: 13px; font-weight: 400; overflow: hidden;}
#gnb .popular_search_wrap .keyword_list_v2 .all_delete_txt:after {content:''; display:block; float: left; width:14px; height:16px; margin-right:2px; background:url(../../images/_new/icon_trash.png) no-repeat center;}
#gnb .popular_search_wrap .inner_popular_search {width:380px !important; height:100%;}