@charset "utf-8"; 
 
/* popup */
/* 추가 */
.abs_area { overflow: auto; }
.popbbox2 { padding:10px 30px; background:#f5f5f5; border:1px solid #ddd; color:#333; vertical-align: middle; }
.popbbox2 p {color:#333;}
.popbbox3 { padding:10px 10px 20px 20px; color:#333; vertical-align: middle; }
.popbbox3 span { padding-right: 10px; }
.summary_area { height: 50px; }
.summary_area .summary { padding: 15px 40px 0px 0px; float: left; height: 25px; border-right: 1px solid #DDD; margin-top: 4px; }
.summary_area strong { color: #FE5705; }
.summary_area .another_use, .summary_area .add_pay  { float: left; padding-left: 40px; width: 320px; padding-top: 2px; padding-bottom: 2px; }
.summary_area span { display: inline-block; width: 120px; }
.summary_area .count { color: #FE5705; text-align: right; padding-right: 4px; height: 19px; width: 170px; border: 1px solid #d3d3d3; font-weight: bold; }
.popup_massage { margin: 15px 15px 0px; color: #707070; line-height: 14px; font-size: 11px; }
.popup_foot_btn { border-top: 1px solid #e4e4e4; padding: 15px 0; text-align: center; margin-top: 15px; clear: both; float: left; width: 100%; }
#popup .pop_body .popbbox2.h10_bottom .sound_qlty { color: #333333; }
.sound_qlty .help { float: right; width: 100px; text-align: right; line-height: 12px; margin: 0px; }
.sound_qlty .help span { margin-left: 5px; }
.sound_qlty li { display: inline; margin-right: 15px; }
#original_sound { height: 120px; background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/music/help_arrow2.gif") no-repeat 0px 0px; width: 379px; padding-top: 5px; position: absolute; z-index: 3; right: 12px; top: 56px; }
.help_box { border-right: 1px solid #e21a22; border-bottom: 1px solid #e21a22; border-left: 1px solid #e21a22; padding: 15px 15px 5px; background: #FFF; }
.help_box h4 { font-size: 11px; color: #E21A22; height: 22px; position: relative; border-bottom: 1px solid #afafaf; line-height: 22px; padding-left: 5px; }
.help_box .close { position: absolute; top: 0px; right: 10px; }
.help_box li { color: #636363; background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/music/dot_help.gif") no-repeat 0px 6px; padding-left: 6px; line-height: 14px; display: block; margin-top: 8px; margin-bottom: 8px; }

.management_area { background: #edf0f2; padding: 2px; border: 1px solid #CFD1D6; float: left; width: 750px; font-size: 11px; }
.management_area .management_left, .management_area .management_right { background: #FFF; border: 1px solid #dddddd; width: 341px; padding: 15px; height: 150px; }
.management_area .management_left { float: left;  margin-right: 2px; }
.management_area .management_right { float: right; }
.management_area li { color: #333; background: url(../../images/music/dot_big_gr.gif) no-repeat 0px 7px; line-height: 18px; padding-left: 8px; padding-bottom: 8px; }
.management_area strong { color: #fe5705; }.management_area .down_status { background: #e6e7e8; height: 16px; width: 270px; border: 1px solid #d5d5d5; display: inline-block; margin-left: 10px; }
.management_area .down_status img { margin: -1px 1px -1px -1px; }
.management_area .down_locate { color: #707070; margin-left: 10px; }
.management_area .down_locate input { line-height: 16px; height: 16px; width: 150px; padding-left: 4px; border: 1px solid #D5D5D5; }
.management_area .download_massage { color: #333; border-top: 1px solid #dcdcdc; margin: 10px 0px 20px; padding-top: 15px; text-align: center; }
.management_area .save_option { display: block; border-bottom: 1px solid #DCDCDC; margin-left: -10px; padding-left: 10px; padding-bottom: 10px; color: #636363; }
.management_area .save_option span { margin-left: 10px; }
.management_area .checkbox, .management_area .radiobtn { background: url(../none); padding-bottom: 0px; color: #636363; }
.management_area .radiobtn { width: 100px; margin-top: 5px; color: #333; float: left; }
.management_area .management_right .download_massage { padding-top: 10px; _padding-top: 5px; margin-bottom: 0px; color: #636363; }
.management_area .management_right .download_massage input { margin-left: 10px;}
.management_area .management_right .download_massage label { margin-right: 10px;}
.popup_title h3 { font-size: 11px; font-weight: normal; color: #363636; padding-left: 10px; }
.popup_title h3 strong { font-weight: bold; color: #fe5705; }
.sound_bye_massage { padding: 10px 10px 0px; font-size: 11px; color: #7d7d7d; line-height: 170%; }
.sound_bye_massage ol { display: block; margin-bottom: 15px; }
.sound_bye_massage strong { color: #252525; }
.sound_bye_massage em { color: #fe5705; }

/* 가사보기 */
.lyrics_tool { text-align: right; margin-bottom: 4px; }
.lyrics_tool button { margin-right: 10px; margin-left: 10px; }
.lyrics_area { }
.album_overview { border-top:2px solid #a31112; border-bottom:1px solid #cacaca; font-size: 11px; display: block; padding: 10px; margin-bottom: 20px; height: 90px; }
.album_overview li { line-height: 16px; }
.album_overview .album_pic { float: left; margin-right: 20px; }
.album_overview .album_title { font-weight: bold; color: #333; margin-top: 8px; margin-bottom: 4px; }

/* 알림신청 */
.popbbox4 { border: 1px solid #cacaca; font-size: 11px; text-align: center; }
.alarm_option { padding: 10px; }
.alarm_option ul { display: block; text-align: center; margin-top: 20px; }
.alarm_option li { margin-right: 50px; display: inline; color: #464646; }
.alarm_info { color: #333; background: #f3f3f3; padding: 10px; height: 50px; position: relative; }
.alarm_info .email, .alarm_info .phone { clear: left; float: left; margin-left: 80px; margin-bottom: 4px; }
.alarm_info .confirm { position: absolute; left: 370px; top: 10px; }
.alarm_info input { width: 200px; height: 18px; line-height: 18px; padding: 0px 4px; border: 1px solid #CCC; margin-left: 20px; }
.popup_massage .point { color: #fe5705; }
.popup_massage .member_modify { float: right; }
.alarm_done { padding-top: 15px; }
.alarm_done p { margin-bottom: 15px; }
