@charset "utf-8";

.page-location { background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/sound/bg_page_location.gif") repeat-x 0px bottom !important; }
.page-location .title { padding-left: 10px; float: left; }
.page-location ul { width: 730px !important; }

/* sound */
	#container .snb {width:180px; overflow:hidden; float:left; padding-bottom:40px;}

#sound {width:755px; overflow:hidden; float:right; margin-bottom:30px;}
#sound .contents {width:755px; overflow:hidden; float:right; position:relative;}  
#container .snb ul li { margin-bottom: 8px; }
#sound .contents .stitle { padding-left: 5px; height: 40px; clear: both; }
.ticket_box { padding: 15px 10px; display: block; float: left; margin-bottom: 20px; border: 1px solid #e4e4e4; }
.ticket_box li { background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/sound/bg_ticket_li.gif") no-repeat; float: left; height: 74px; width: 355px; margin: 5px 5px; vertical-align: middle; }
.ticket_box li p { float: left; margin-left: 30px; margin-top: 20px; vertical-align: middle; }
.ticket_box li p.type { width: 100px; background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/sound/bar_tiket_type.gif") no-repeat right 8px; height: 40px; }
.ticket_box li p.cash { margin-left: 20px; width: 80px; }
.ticket_box li p.bye { margin-left: 20px; }
