@charset "utf-8";
div.detail-content div.product-image { float: left; width: 400px; padding-right: 16px; }
div.detail-content div.product-image p.photo { width: 400px; height: 400px; margin: -1px; border: 1px solid #e3e3e3; }
div.detail-content div.product-image p.photo img { width: 400px; height: 400px; }
div.detail-content div.product-image ul { padding: 10px 0 0; text-align: center !important; }
div.detail-content div.product-image ul li { display: inline; margin-right: 5px; }
div.detail-content div.product-basic-info { position: relative; float: left; width: 326px; overflow: hidden; margin-top: -20px; margin-bottom: 0; margin-left: 0; }
div.detail-content div.product-basic-info p.icon-sale { position: relative; z-index: 1; height: 33px; }
div.detail-content div.product-basic-info p.icon-sale img { vertical-align: top; }
div.detail-content div.product-basic-info p.subject { padding: 10px 0; color: #363636; font-size: 1.4em; font-weight: bold; }
div.detail-content div.product-basic-info p.subject-sub { padding: 0 0 10px; color: #898989; font-size: 0.9em; }
div.detail-content div.product-basic-info p.subject-option { padding: 0 0 10px; color: #b11111; font-size: 1em; }
div.detail-content div.product-basic-info p.subject-option a { color: #b11111; }
div.detail-content div.product-basic-info dl.label { float: left; display: inline; padding: 10px 0 5px; width: 326px; font-size: 0.9em; }
div.detail-content div.product-basic-info dl.label dt { float: left; border-left: 1px solid #d7d7d7; padding-left: 5px; padding-right: 5px; margin-bottom: 5px; }
div.detail-content div.product-basic-info dl.label dt.first { border-left: none; padding-left: 0px; }
div.detail-content div.product-basic-info dl.label dd { float: left; padding-right: 5px; margin-bottom: 5px; }
div.detail-content div.product-basic-info dl.price { float: left; display: inline; padding: 10px 0 5px; width: 326px; border-top: 1px solid #eaeaea; }
div.detail-content div.product-basic-info dl.price dt { float: left; width: 90px; }
div.detail-content div.product-basic-info dl.price dd { float: left; display: inline; padding: 0 0 5px; width: 236px; }
div.detail-content div.product-basic-info dl.price dd.discount-price strong span { font-size: 1.3em; color: #f7051d; }
div.detail-content div.product-basic-info dl.price dd.discount-price span { font-size: 1em; color: #fe5705; }
div.detail-content div.product-basic-info dl.price dd.mileage { font-weight: normal; color: #898989; font-size: 0.9em; }
div.detail-content div.product-basic-info dl.price dd.mileage strong span { font-size: 1.2em; font-weight: normal; color: #666; }
div.detail-content div.product-basic-info dl.price dd.mileage span { font-size: 1.2em; color: #FE5705; }
div.detail-content div.product-basic-info dl.price dt.discount-coupon { display: none; }
div.detail-content div.product-basic-info dl.price dd.discount-coupon { margin: 0 0 8px; padding: 5px 0; width: 324px; border: 1px solid #e2e2e2; background: #f9f9f9; }
div.detail-content div.product-basic-info dl.price dd.discount-coupon p.photo { float: left; padding: 0 0 0 6px; width: 112px; }
div.detail-content div.product-basic-info dl.price dd.discount-coupon p.photo img { width: 98px; height: 26px; border: 1px solid #d8d8d8; }
div.detail-content div.product-basic-info dl.price dd.discount-coupon p.title { float: left; padding: 1px 0 3px; width: 200px; color: #ff3b0f; font-weight: bold; font-size: 0.9em; }
div.detail-content div.product-basic-info dl.price dd.discount-coupon p.date { float: left; display: inline; width: 200px; color: #464646; font-size: 0.9em; }
div.detail-content div.product-basic-info dl.brand { float: left; padding: 13px 0 0; width: 326px; border-top: 1px solid #eaeaea; }
div.detail-content div.product-basic-info dl.brand dt { float: left; width: 90px; }
div.detail-content div.product-basic-info dl.brand dd { float: left; padding: 0 0 13px; width: 236px; }
div.detail-content div.product-basic-info dl.brand dd.manufacture, div.detail-content div.product-basic-info dl.brand dd.product-code { font-weight: bold; font-size: 0.9em; }
div.detail-content div.product-basic-info dl.brand dd img { vertical-align: middle; }
div.detail-content div.product-basic-info dl.delivery { float: left; padding: 10px 0 5px; width: 326px; border-top: 1px solid #eaeaea; }
div.detail-content div.product-basic-info dl.delivery dt { float: left; width: 90px; }
div.detail-content div.product-basic-info dl.delivery dd { float: left; padding: 0 0 5px; width: 236px; font-size: 1em; }
div.detail-content div.product-basic-info dl.delivery dd img { vertical-align: middle; }
div.detail-content div.product-basic-info dl.reservation { float: left; padding: 10px 0 5px; width: 326px; border-top: 1px solid #eaeaea; }
div.detail-content div.product-basic-info dl.reservation dt { float: left; width: 90px; }
div.detail-content div.product-basic-info dl.reservation dd { float: left; padding: 0 0 5px; width: 236px; font-size: 0.9em; line-height: 1.2em; }
div.detail-content div.product-basic-info dl.reservation dd strong { color: #1591d2; font-weight: normal; }
div.detail-content div.product-basic-info dl.reservation dd img { vertical-align: middle; }
div.detail-content div.product-basic-info dl.delivery dd.delivery-info img { margin: 2px 0; }
div.detail-content div.product-basic-info dl.option { float: left; padding: 10px 0 5px; width: 326px; border-top: 1px solid #eaeaea; }
div.detail-content div.product-basic-info dl.option dt { float: left; width: 90px; }
div.detail-content div.product-basic-info dl.option dd { display: block !important; float: left; padding: 0 0 5px; width: 236px; }
div.detail-content div.product-basic-info dl.option dd.words input { padding: 2px 2px 0 0; width: 220px; height: 13px; border: 1px solid #dedede; }
div.detail-content div.product-basic-info dl.option dd.option select { margin: 0 0 4px; width: 180px; height: 19px; }
div.detail-content div.product-basic-info dl.option dd.quantity input { padding: 2px 2px 0 0; width: 26px; height: 13px; text-align: right; border: 1px solid #dedede; }
div.detail-content div.product-basic-info div.sale-stop { clear: both; padding: 10px 0 0 10px; border-top: 1px solid #eaeaea; }
div.detail-content div.product-basic-info div.sale-stop p { color: #da2128; font-weight: bold; }
div.detail-content div.product-basic-info div.detail-button { clear: both; padding: 26px 0 0; width: 330px; overflow: hidden; }
div.detail-content div.product-basic-info div.detail-button img { float: left; margin: 0 6px 2px 0; vertical-align: top; }
div.detail-content div.product-basic-info div.stop { opacity : 0.30; /* firefox, opera, safari, chrome */ -ms-filter : "progid:DXImageTransform.Microsoft.Alpha(opacity=30)"; /* IE 8 */ filter : alpha ( opacity = 30 ); /* IE 4, 5, 6 and 7 */ zoom : 1 /* so the element "hasLayout" */ }

div.detail-content div.detail-scrap { position: relative; z-index: 3; padding: 15px 0 0 90px; height: auto; float: left; }
div.detail-content div.detail-scrap li { display: inline; margin-right: 5px; }

div.detail-menu-content { clear: both; padding: 0; float: left; width: 750px; font-size: 11px; }

#contents div.board-detail table tbody tr td.detail-content { padding-left: 155px !important; line-height: 18px; }
#contents div.board-detail table tbody tr td.content { padding-left: 155px !important; line-height: 18px; }
div.detail-menu-content div.prodcuct-explain-content { float: left; padding: 40px 0px 30px; width: 750px; overflow: hidden; }
div.detail-menu-content div.prodcuct-explain-content iframe { width: 744px !important; overflow: hidden; }
div.detail-menu-content div.product-estimation { clear: both; }
div.detail-menu-content div.product-estimation-content { clear: both; padding: 20px 0; }
div.detail-menu-content div.product-estimation-content p.info { padding: 5px 0 0 23px; height: 16px; }
div.detail-menu-content div.product-estimation-content p.button { margin: -21px 0 0; padding: 0 0 12px; height: 21px; text-align: right; }
div.detail-menu-content div.product-re-view, div.detail-menu-content div.product-qna { clear: both; padding: 40px 0 0; }
div.detail-menu-content div.product-qna-content { clear: both; padding: 20px 0; }
div.detail-menu-content div.product-qna-content p.info { padding: 5px 0 0 23px; height: 16px; }
div.detail-menu-content div.product-qna-content p.button { margin: -21px 0 0; padding: 0 0 12px; height: 21px; text-align: right; }
div.detail-menu-content div.delivery-exchange { clear: both; padding: 40px 0 0;  }
div.detail-menu-content div.delivery-exchange-content { clear: both; padding: 20px 20px 0 10px; }
div.detail-menu-content div.delivery-exchange-content h4 { padding: 6px 0 4px; font-size: 11px; }
div.detail-menu-content div.delivery-exchange-content p { line-height: 1.5em; font-size: 11px; }
div.detail-menu-content div.delivery-exchange-content p span { color: #f0336c; }
/* layer */
div.product-basic-info dl dd { position: relative; z-index: 2; }
div.product-basic-info div.explain-layer { display: none; position: absolute; top: 0; left: 0; z-index: 100; margin: -70px 0 0 -90px; padding: 3px; width: 268px; background: #efefef; }
div.product-basic-info div.type00 { margin: -125px 0 0 -80px; }
div.product-basic-info div.type01 { top: 80px; margin: -115px 0 0 -90px; }
div.product-basic-info div.explain-layer p, div.product-basic-info div.explain-layer ul { padding: 8px; font-size: 1em; border: 1px solid #d8d8d8; background: #fff; }
div.product-basic-info div.explain-layer ul li a { font-size: 1em; }
div.product-basic-info div.explain-layer p strong { font-size: 1em !important; color: #000 !important; letter-spacing: 0px !important; }
div.product-basic-info div.explain-layer p.notice { color: #eb6d20; background: #fff; }
div.product-basic-info div.explain-layer p.type01 { font-size: 0.9em; background: #fff; }
div.product-basic-info div.type02 { top: 15px; margin: 0 0 0 -90px; }


/* 김혜경 신규 */
.product-detail .product-bye-info { clear: both; padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; margin-top: 10px; height: 50px; margin-bottom: 35px; }
.product-detail .product-bye-info .product-bye-tip { background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/music/icon_tip.gif") no-repeat; float: left; width: 370px; margin-top: 20px; margin-left: 20px; padding-left: 45px; font-size: 0.9em; height: 15px; line-height: 15px; }
.product-detail .product-bye-info .product-bye-button { float: left; }

.detail-content .product-best-part { float: right; padding: 0px 0px 0px 10px; width: 180px; border-left: 1px solid #eaeaea; margin-right: 0; margin-bottom: 10px; margin-left: 0; }
.product-detail .product-best-part h3 { position: relative; height: 20px; }
.product-detail .product-best-part h3 span { font-weight: normal; color: #000; padding-left: 8px; }
.product-detail .side_album_list { clear: both; display: block; font-size: 0.9em; border-top: 1px solid #797979; border-bottom: 1px solid #797979; }
.product-detail .side_album_list li { display: block; background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/music/dot_line_list.gif") repeat-x left bottom; height: 51px; padding-top: 10px; padding-bottom: 10px; }
.product-detail .side_album_list li.end { background: url(../none); }
.product-detail .side_album_list p { line-height: 1.2em !important; float: left; width: 98px; padding-top: 2px; }
.product-detail .side_album_list .pic { float: left; border: 1px solid #cfcfcf; height: 48px; width: 48px; overflow: hidden; margin-right: 7px; margin-left: 2px; padding: 0px; }
.product-detail .side_album_list .artist { color: #898989; }
.product-detail .side_album_list .artist a { color: #898989; line-height: 1.2em !important; }
.product-detail .side_album_list .album_label { color: #464646; }
.product-detail .side_album_list .album_label a { color: #464646; line-height: 14px !important; }
.product-detail .side_album_list .chart { height: 18px; }

.product-detail .side_banner { padding-top: 10px; }
.product-detail .detail_menu { background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/music/bg_detail_menu.gif") no-repeat 0px 0px; height: 35px; width: 750px; overflow: hidden; display: block; clear: both; }
.product-detail .detail_menu li { float: left; border-right: 1px solid #DDD; height: 34px; overflow: hidden; }
.product-detail .detail_menu a { width: 150px; height: 35px; overflow:hidden; float: left; text-align: center; vertical-align: top; text-decoration: none; }
.product-detail .detail_menu li.on { background: #FFF; border-top: 1px solid #636363; border-right: 1px solid #636363; border-bottom: 1px solid #FFF; border-left: 1px solid #636363; margin-left: -1px; }
.product-detail .detail_menu li.first { margin-left: 0px; }
.product-detail .detail_menu li.on a img { margin-top: -33px; }
.product-detail .detail_menu li img { vertical-align: top; }
.product-detail .detail_menu li span { color: #e21a22; font-weight: bold; padding-top: 10px; height: 20px; display: inline-block; }


.product_detail_aside { float: right; width: 180px; }
.product_detail_aside .product-other-album { float: right; width: 180px; border: 1px solid #cfcfcf; }
.product_detail_aside .product-other-album h3 { height: 24px; vertical-align: middle; border-bottom: 1px solid #CFCFCF; padding-left: 8px; padding-top: 10px; }
.product_detail_aside .product-other-album h3 span { padding-left: 8px; }
.product_detail_aside .side_album_list { float: left; width: 160px; padding: 0px 10px 10px; border-style: none; }
.product_detail_aside .promotion_banner li { margin-bottom: 10px; display: block; }

.product_detail_aside .product-new-album { float: right; width: 180px; border: 1px solid #cfcfcf; margin: 25px 0px; }
.product_detail_aside .product-new-album h3 { height: 24px; vertical-align: middle; border-bottom: 1px solid #CFCFCF; padding-left: 8px; padding-top: 10px; }

#album_info {}
div.track_list { margin-bottom: 30px; padding-top: 30px; }
div.track_list h3 { float: left; height: 30px; }
div.track_list .track_tool { float:right; }
table.track_list { width: 100%; border-top: 1px solid #b4b4b4; border-bottom: 1px solid #B4B4B4; clear: both; }
table.track_list th, table.track_list td { color: #464646; } 
table.track_list th { background: #f9f9f9; padding-top: 4px; padding-bottom: 4px; border-bottom: 1px solid #B4B4B4; height: 18px; line-height: 18px; }
table.track_list tbody th { background: #FFF url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/music/dot_track_list.gif") repeat-x 0px bottom; border-bottom-style: none; }
table.track_list td { background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/music/dot_track_list.gif") repeat-x 0px bottom; border-bottom-style: none; text-align: center; height: 18px; padding-top: 4px; padding-bottom: 4px; line-height: 18px; }
table.track_list td.title { text-align: left !important; padding-left: 20px; }
table.track_list tbody .end th, table.track_list .end td { background: url(../none); }

.track_list .album_massage { padding: 5px; }
.track_list .album_massage p { line-height: 1.5em; color: #898989; }
.track_list .album_massage em { color: #252525; }
.album_event { margin-bottom: 40px; }
.album_event h3 { margin-bottom: 5px; display: block; height: 20px; }
.album_event .album_event_banner { height: 90px; margin-bottom: 10px; }
.album_event .etc_seperate { background: #f9f9f9 url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/music/dot_big_gr.gif") no-repeat 15px 15px; padding: 2px 0px 2px 30px; height: 26px; border: 1px solid #d6d6d6; display: block; }
.album_event .etc_seperate dt { color: #252525; float: left; font-weight: bold; border-left: 1px solid #D6D6D6; padding-left: 15px; margin-left: 15px; margin-top: 8px; }
.album_event .etc_seperate dt.first { border-left: none; padding-left: 0px; margin-left: 0px; }
.album_event .etc_seperate dd { color: #252525; float: left; margin-left: 4px; margin-top: 8px; }
.album_event .etc_seperate dt.favor { border-left: none; padding-left: 0px; margin-left: 155px; font-weight: normal; }
.album_event .etc_seperate dd.favor { margin-top: 2px; margin-left: 8px; }
.album_information { margin-bottom: 60px; padding-top: 30px; border-top: 1px solid #D6D6D6; border-bottom: 1px solid #D6D6D6; }
.album_information h3 { margin-bottom: 15px; display: block; height: 20px; }
.album_information_content p { margin-bottom: 2em !important; }
.album_information .open_button_area { text-align: center; height: 20px; margin-top: 40px; }
.member_review { padding-top: 50px; padding-bottom: 50px; }
.member_review h3 { line-height: 20px; font-weight: normal; height: 20px; display: block; margin-bottom: 5px; }
.member_review h3 strong { font-weight: bold; color: #fe5705; }
.member_review .review_list { display: block; border-top: 1px solid #cfcfcf; border-bottom: 1px solid #cfcfcf; float: left; width: 100%; margin-bottom: 20px; }
.member_review .review_list li { background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/music/dot_line_list.gif") repeat-x left bottom; clear: both; height: 26px; }
.member_review .review_list li.end { background: url(../none); }
.member_review .review_list li p { float: left; padding: 6px 4px 4px; line-height: 16px; }
.member_review .review_list .name {width: 100px; text-align: center; }
.member_review .review_list .comment { width: 450px; text-align: left; overflow: hidden; white-space: nowrap; }
.member_review .review_list .star {width: 80px; text-align: center; }
.member_review .review_list .date {width: 80px; text-align: center; }
.member_review .review_write { background: #F9F9F9; border: 1px solid #cfcfcf; clear: both; float: left; width: 100%; }
.member_review .review_write h4 { float: left; height: 50px; width: 80px; margin-top: 15px; margin-left: 15px; _margin-left: 7px; }
.member_review .review_write .review_text { float: left; margin-top: 10px; width: 560px; height: 60px; margin-right: 10px; _margin-right: 5px; }
.member_review .review_write .review_text textarea { width: 560px; height: 60px; }
.member_review .review_write .review_button { float: left; margin-top: 10px; }
.member_review .review_write .review_massage { float: left; margin-top: 4px; clear: left; margin-bottom: 5px; margin-left: 95px; _margin-left: 47px; line-height: 16px; width: 500px; }
.member_review .review_write .review_massage strong { color: #fe5705; }
#member_review { margin-bottom: 60px; float: left; width: 100%; }
#product_qna { clear: both; }
.product_qna_list { width: 100%;border-bottom: 1px solid #cfcfcf; }
.product_qna_list th { background: #f7f7f7; border-top: 1px solid #eaeaea; border-bottom: 1px solid #EAEAEA; line-height: 24px; height: 24px; }
.product_qna_list th.first { border-left: 1px solid #eaeaea;}
.product_qna_list th.end { border-right: 1px solid #eaeaea;}
.product_qna_list td { border-bottom: 1px solid #EAEAEA; background: #fff; line-height: 24px; height: 24px; color: #898989; text-align: center; }
.product_qna_list .end td { border-bottom: none;  }
.product_qna_list td.title { text-align: left; white-space: nowrap; overflow: hidden; }
.product_qna_content .info { margin-top: 20px; margin-bottom: 10px; margin-left: 10px; }
#delivery_exchange { margin-top: 20px; margin-bottom: 60px; }
.delivery_exchange_content { margin-top: 30px; margin-left: 10px; }
.delivery_exchange_content h4 { font-size: 11px; line-height: 16px; color: #898989; margin-top: 4px; }
.delivery_exchange_content p { font-size: 11px; line-height: 16px; color: #898989; }
#media_code_info { height: 195px; background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/music/help_arrow.gif") no-repeat 0px 0px; width: 390px; padding-top: 5px; position: absolute; z-index: 2; left: 20px; top: 27px; }
.help_box { border-right: 1px solid #e21a22; border-bottom: 1px solid #e21a22; border-left: 1px solid #e21a22; padding: 15px 15px 5px; background: #FFF; }
.help_box h4 { font-size: 11px; color: #E21A22; height: 22px; position: relative; border-bottom: 1px solid #afafaf; line-height: 22px; padding-left: 5px; }
.help_box .close { position: absolute; top: 0px; right: 10px; }
#favor_artist_put { height: 120px; background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/music/help_arrow.gif") no-repeat 0px 0px; width: 379px; padding-top: 5px; position: absolute; z-index: 3; left: 570px; top: 27px; }
.help_box dl { margin: 5px; }
.help_box dt { font-weight: bold; color: #636363; background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/music/dot_help.gif") no-repeat 0px 6px; padding-left: 6px; line-height: 16px; display: block; }
.help_box dd { display: block; margin-bottom: 10px; padding-left: 6px; line-height: 14px; }
.help_box li { color: #636363; background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/music/dot_help.gif") no-repeat 0px 6px; padding-left: 6px; line-height: 14px; display: block; margin-top: 8px; margin-bottom: 8px; }
.album_event_option { height: 30px; position: relative; overflow: visible; z-index: 1; }
