@charset "utf-8";



/***** 
    responsive 
                */

#header{position:relative; z-index:102; height: 120px;}
#contents{position:relative; z-index:101;}
#footer{position:relative; z-index:100; background:#424242;}

#wrap { min-width: 1440px; width:100%; background: url(../images/common/wrap_bg.png) no-repeat 0 0; height: 100%; width: 100%; background-size: 100% 100%;}

.inner_center {width:1440px; margin: 0 auto;}

/*---- header ---- */
.main_logo {position:absolute; top:45px; left:100px;}

/* gnb */
.gnb_wrap {position:absolute; top:0px; left:408px; width: 1200px;}
.gnb_wrap:after {content: ''; display: block; clear:both;}
#gnb {}
.gnb_depth1:after {content: ''; display: block; clear:both;}
.gnb_depth1 > li {float: left; width: 230px;}
.gnb_depth1 > li > a {font-size: 24px; color:#fff; display: block; padding: 50px 0px; text-align: center;  }

.gnb_depth2 {display: none;}

/* all menu */
.all_menu_btn {position: absolute; top:40px; right: 50px;}
.all_menu_btn a {font-size: 0; width:37px; height:44px; display: block; background: url(../images/common/all_menu_btn.png) no-repeat 0 0;}

/* content */
#contents .inner_center {margin-top:38px;}

#contents .contens_top {text-align: center;}
#contents .contens_top:after {content: ''; display: block; clear:both;}
#contents .main_title {}
#contents .search_wrap:after {content: ''; display: block; clear:both;}
#contents .search_wrap .search_list {border:1px #fff solid; border-radius: 38px;display: block;float: right; margin-top:-55px; background: url(../images/common/search_bg1.png) no-repeat 0 0;box-sizing: border-box;width: 386px;}
#contents .search_wrap #total_search {font-size: 16px;padding: 0px 25px 0px; width:326px; box-sizing: border-box; color:#000; background: none;border: 0 none;display: block;float: left;height: 53px;}
#contents .search_wrap .search_list button {width:56px;height:53px;background: url(../images/common/search_btn_bg.png) no-repeat center;font-size: 0;display: block;float: right;} 

/* sns */
#contents .social_list_wrap {position: absolute; top:336px; left:38px;}
#contents .social_list_wrap .social_list li {width:27px;}
#contents .social_list_wrap .social_list li a {display: block;font-size: 0;margin: 24px auto 12px;}
#contents .social_list_wrap .social_list li:first-child a {margin-top:12px;}

#contents .social_list_wrap .social_list .blog a {width:17px; height:22px; background: url(../images/common/sns_blog.png) no-repeat 0 0;}
#contents .social_list_wrap .social_list .instagram a {width:22px; height:22px; background: url(../images/common/sns_instagram.png) no-repeat 0 0;}
#contents .social_list_wrap .social_list .facebook a {width:12px; height:23px; background: url(../images/common/sns_facebook.png) no-repeat 0 0;}
#contents .social_list_wrap .social_list .twitter a {width:23px; height:19px; background: url(../images/common/sns_twitter.png) no-repeat 0 0;}

#contents .social_list_wrap .social_list .blog a:hover {background: url(../images/common/sns_blog_on.png) no-repeat 0 0;}
#contents .social_list_wrap .social_list .instagram a:hover {background: url(../images/common/sns_instagram_on.png) no-repeat 0 0;}
#contents .social_list_wrap .social_list .facebook a:hover {background: url(../images/common/sns_facebook_on.png) no-repeat 0 0;}
#contents .social_list_wrap .social_list .twitter a:hover {background: url(../images/common/sns_twitter_on.png) no-repeat 0 0;}

/* quickmenu */
#contents .quick_menu_wrap {position: absolute; top:296px; right:38px;}
#contents .quick_menu_wrap .quick_menu_list {background: #000; opacity: .54; border-radius: 15px 0 0 15px;}
#contents .quick_menu_wrap .quick_menu_list li {width:90px; text-align: center;margin: 0 auto; position: relative;}
#contents .quick_menu_wrap .quick_menu_list li:before {content:''; display: block; width: 33px; height:1px; background: #fff; opacity: .65; position: absolute; top:0; left:28px;}
#contents .quick_menu_wrap .quick_menu_list li:first-child:before {content:''; display: none;}

#contents .quick_menu_wrap .quick_menu_list li a {opacity: 1;color:#fff; display: block; margin: 0 auto; padding:26px 0;}
#contents .quick_menu_wrap .quick_menu_list li a:before {content:''; display: block; margin: 0 auto 12px;}

#contents .quick_menu_wrap .quick_menu_list .items01 a:before { width:33px; height:33px; background: url(../images/common/quickmenu_01.png) no-repeat center center;}
#contents .quick_menu_wrap .quick_menu_list .items02 a:before { width:33px; height:35px; background: url(../images/common/quickmenu_02.png) no-repeat center center;}
#contents .quick_menu_wrap .quick_menu_list .items03 a:before { width:34px; height:35px; background: url(../images/common/quickmenu_03.png) no-repeat center center;}
#contents .quick_menu_wrap .quick_menu_list .items04 a:before { width:37px; height:33px; background: url(../images/common/quickmenu_04.png) no-repeat center center;}

#contents .quick_menu_wrap .quick_menu_list .items01 a:hover {color:#F3DB00;}
#contents .quick_menu_wrap .quick_menu_list .items02 a:hover {color:#68D448;}
#contents .quick_menu_wrap .quick_menu_list .items03 a:hover {color:#2AB0E9;}
#contents .quick_menu_wrap .quick_menu_list .items04 a:hover {color:#FB9A00;}

#contents .quick_menu_wrap .quick_menu_list .items01 a:hover:before {background: url(../images/common/quickmenu_01_on.png) no-repeat center center;}
#contents .quick_menu_wrap .quick_menu_list .items02 a:hover:before {background: url(../images/common/quickmenu_02_on.png) no-repeat center center;}
#contents .quick_menu_wrap .quick_menu_list .items03 a:hover:before {background: url(../images/common/quickmenu_03_on.png) no-repeat center center;}
#contents .quick_menu_wrap .quick_menu_list .items04 a:hover:before {background: url(../images/common/quickmenu_04_on.png) no-repeat center center;}

/* banner */
#contents .banner_wrap {margin-top:50px;}