#set ( $count = 1 )

#foreach ( $data in $options )
<input type="checkbox" name="$name" value="$data.key"#if ( $clazz ) class="$clazz"#end#if ( $!{value.get(${data.key})} ) checked="checked"#end#if ( $!{disabled} == 'Y' ) disabled#end/>$data.value

#if( $!{line} == $count )
#set ( $count = 1 )
<br/>
#else
#set ( $count = $count+1 )
#end

#end