<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>메일</title>  
</head>

<body style="margin:0; padding:0;"> 
<div style="width:100%; overflow:hidden; padding:20px 0;">
	<div style="width:720px; margin:0 auto; text-align:left; padding:0 20px;">
	  
	  	<!-- header -->
		<div style="width:720px; height:46px; border-bottom:3px solid #da2128; margin-bottom:20px;">
			<a href="$!{host}" target="_blank"/><img src="http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/email/h1_logo_c.gif" alt="교보핫트랙스" border="0" /></a>
		</div>
		<!-- //header -->
		
		<!-- container -->
		<div class="container">
			
			<div class="top">
				<p style="margin:0 0 0 20px;"><img src="http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/email/title_mail03.gif" alt="주문취소 확인안내" /></p>
				<p style="margin:15px 0 20px 20px; font-size:11px; font-family:'dotum','Dotum'; color:#707070; line-height:18px;">교보핫트랙스 온라인몰을 이용해 주셔서 감사합니다.</p>
				<p style="margin:0;"><img src="http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/email/mail_bg.gif" alt="" /></p>
				<p style="margin:0 0 16px 20px; font-size:11px; font-family:'dotum','Dotum'; color:#707070; line-height:18px;">
					<span style="color:#555555; font-weight:bold;">$!{name}</span> 고객님 안녕하세요!<br />
					고객님의 주문이 정상적으로 취소되었습니다. 
				</p>
			</div>
			 
			<div style="width:720px; overflow:hidden; margin-bottom:10px;"> 
				<div style="width:718px; overflow:hidden; position:relative; border:1px solid #dddddd; background:#f7f7f7;"> 
					<div style="width:710px; overflow:hidden; background:#fff; margin:4px;">
						<p class="nb" style="margin:0; padding:10px 0 8px 0; text-align:center; font-size:14px; font-family:'dotum','Dotum'; color:#333; font-weight:bold;">주문번호 : <span style="color:#da2128; font-weight:bold;">$!{orderNum}</span></p>
						<p style="margin:0; padding-bottom:8px; text-align:center; font-size:11px; font-family:'dotum','Dotum'; color:#666;">취소일시 : $date.format("yyyy-MM-dd HH:mm:ss", $cancelTime)</p>
					</div>
				</div>
			</div>			 
			 
			<p style="margin:25px 0 6px 2px; color:#707070; font-size:11px; font-family:'dotum','Dotum'; font-weight:normal; line-height:18px;">◆ 다음의 상품이 취소 되었으며, 상세한 내역은
			 <a href="$!{host}/ht/mypage/mypageMain" target="_blank" style="color:#da2128; font-weight:bold; letter-spacing:-1px;">My Hottracks > 주문정보</a> 메뉴에서 확인 바랍니다.</p>   			  
			<table cellpadding="0" cellspacing="0" border="0" style="width:720px; border-top:2px solid #a31112;"> 
				<thead>
					<tr> 
						<th style="width:115px; padding:10px 0 7px; color:#333; font-size:11px; font-family:'dotum','Dotum'; font-weight:normal; border-bottom:1px solid #a31112; text-align:center;">상품코드</th>
						<th style="width:70px; padding:10px 0 7px; color:#333; font-size:11px; font-family:'dotum','Dotum'; font-weight:normal; border-bottom:1px solid #a31112; text-align:center;">&nbsp;</th>
						<th style="width:325px; padding:10px 0 7px; color:#333; font-size:11px; font-family:'dotum','Dotum'; font-weight:normal; border-bottom:1px solid #a31112; text-align:center;">상품명</th>
						<th style="width:50px; padding:10px 0 7px; color:#333; font-size:11px; font-family:'dotum','Dotum'; font-weight:normal; border-bottom:1px solid #a31112; text-align:center;">수량</th> 
						<th style="width:80px; padding:10px 0 7px; color:#333; font-size:11px; font-family:'dotum','Dotum'; font-weight:normal; border-bottom:1px solid #a31112; text-align:center;">가격</th>
						<th style="width:80px; padding:10px 0 7px; color:#333; font-size:11px; font-family:'dotum','Dotum'; font-weight:normal; border-bottom:1px solid #a31112; text-align:center;">처리여부</th>  
					</tr>
				</thead>
				<tbody>
					#foreach( $product in $orderProductListData ) 
					<tr> 
						<td style="border-bottom:1px solid #e4e4e4; padding:6px 0 6px; font-size:11px; font-family:'dotum','Dotum'; line-height:14px; text-align:center; color:#666;">
						<span style="font-size:10px; font-family:Verdana; line-height:22px;">$!{product.barcode}</span></td>
						<td style="border-bottom:1px solid #e4e4e4; padding:6px 0 6px; font-size:11px; font-family:'dotum','Dotum'; line-height:14px; text-align:center; color:#666;">
						#if ($product.gbn == 'D' || $product.gbn == 'R') 
							<a href="$!{host}/ht/record/detail/$!{product.barcode}">
						#else
							<a href="$!{host}/p/$!{product.barcode}">
						#end
						#if ($product.gbn == 'D' || $product.gbn == 'R')  
							<img src="$!{product.musicMallImgUrl}" alt="$!{product.prdtName}" style="margin:2px 0;" border="0" width="50px"/>
						#else
							<img src="http://image.kyobobook.co.kr/newimages/giftshop_new/goods/50/$!{product.productImageUrl}" alt="$!{product.prdtName}" style="margin:2px 0;" border="0" />
						#end
						</a></td>
						<td style="border-bottom:1px solid #e4e4e4; padding:6px 0 6px; font-size:11px; font-family:'dotum','Dotum'; line-height:14px; text-align:center; color:#666; text-align:left;">
							$!{product.productName} #if ($product.gbn == 'S') <span style="color:#da2128;">($!{product.specName})</span>#end
							</span>
						</td>
						<td style="border-bottom:1px solid #e4e4e4; padding:6px 0 6px; font-size:11px; font-family:'dotum','Dotum'; line-height:14px; text-align:center; color:#666;">
						$number.format("integer", $product.cancelCount)</td>
						<td style="border-bottom:1px solid #e4e4e4; padding:6px 0 6px; font-size:11px; font-family:'dotum','Dotum'; line-height:14px; text-align:right; color:#666;">
						<span style="padding-right:8px;">
						#set( $ProductSumTotal = $product.sumSellPrice * -1 )
						$number.format("integer", $ProductSumTotal)
						</span>
						</td>
						<td style="border-bottom:1px solid #e4e4e4; padding:6px 0 6px; font-size:11px; font-family:'dotum','Dotum'; line-height:14px; text-align:center; color:#666;">취소완료</td>  
					</tr>   
					#end
				</tbody> 
			</table>  
			<div style="width:720px; overflow:hidden; text-align:left;">
				<ul style="margin:10px 0 0 2px; padding:0;">
					<li style="list-style-type:none; height:16px; font-size:11px; font-family:'dotum','Dotum'; color:#707070; padding-left:4px; margin:0; vertical-align:top;">
						<img src="http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/email/dot.gif" alt="." />주문취소 된 금액은 고객님께서 결제한 계좌로 환불처리 됩니다. (신용카드 : 즉시취소, 계좌이체 : 최대3일 소요)
					</li>				
					<li style="list-style-type:none; height:16px; font-size:11px; font-family:'dotum','Dotum'; color:#707070; padding-left:4px; margin:0; vertical-align:top;">
						<img src="http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/email/dot.gif" alt="." />일부 환불이 불가능한 경우에는 교보핫트랙스 온라인 예치금으로 자동 예치됩니다. (
						<a href="$!{host}/ht/mypage/deposit" target="_blank" style="color:#da2128; font-weight:bold; letter-spacing:-1px;">My Hottracks > 교보핫트랙스 온라인 예치금</a> 메뉴에서 환불요청 가능)
					</li> 
					<li style="list-style-type:none; height:16px; font-size:11px; font-family:'dotum','Dotum'; color:#707070; padding-left:14px; margin:0; vertical-align:top;">
						- 핫트랙스에서 지정한 환불기간이 지났을 경우 (10일)
					</li>	
					<li style="list-style-type:none; height:16px; font-size:11px; font-family:'dotum','Dotum'; color:#707070; padding-left:14px; margin:0; vertical-align:top;">
						- 은행에서 장애가 발생한 경우
					</li>					
					<li style="list-style-type:none; height:16px; font-size:11px; font-family:'dotum','Dotum'; color:#707070; padding-left:4px; margin:0; vertical-align:top;">
						<img src="http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/email/dot.gif" alt="." />본 메일은 발신 전용으로 회신되지 않습니다.
					</li> 
					<li style="list-style-type:none; height:16px; font-size:11px; font-family:'dotum','Dotum'; color:#707070; padding-left:14px; margin:0; vertical-align:top;">
						기타 주문관련 문의사항에 대해서는 <a href="$!{host}/ht/help/createCounselForm" target="_blank" style="color:#da2128; font-weight:bold; letter-spacing:-1px;">[고객센터 > SOS 상담]</a> 메뉴를 이용하시거나 고객센터(1661-1112)를 이용해 주시기 바랍니다.
					</li> 
				</ul>
			</div>
			 
		</div>
		<!-- //container -->
		
		<!-- footer -->
		<div style="width:720px; height:90px; border-top:3px solid #c7c7c7; margin-top:50px;">  
			<table width="720" cellpadding="0" cellspacing="0" border="0">  
				<tr>
					<td width="200">
						<p style="padding-left:20px;">
							<a href="$!{host}" target="_blank"><img src="http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/email/h1_logo_g.gif" alt="교보핫트랙스" border="0"  /></a>
						</p>
					</td>
					<td width="520" style="padding:0; vertical-align:top;">
						<p style="margin:15px 0 0 0; color:#7d7d7d; font-size:11px; font-family:'dotum','Dotum'; line-height:14px;">
							고객센터 : 1661-1112(발신자 부담전화)<br />
							상호명 : 교보핫트랙스(주)  대표이사 : 박영규  사업자등록번호 : 102-81-29258<br />
							서울특별시 통신판매업신고번호 : 제 01-102호<br />
							사업자소재지 : 10881 경기도 파주시 회동길 78 (출판단지내)<br />
							Copyrighr ⓒ  2011 Kyobo Hottracks.  All right reserved.
						</p> 
					</td>
				</tr>
			</table>
		</div>
		<!-- //footer -->		 
 
	</div>
</div>	
</body>
</html>
