#set ( $count = 1 )

#foreach ( $data in $options )
<input type="radio" id="$name$data.key" name="$name" value="$data.key"#if ( $clazz ) class="$clazz"#end#if ( $!{value} == $data.key ) checked="checked"#end#if ( $!{disabled} == 'Y' ) disabled#end/> <label for="$name$data.key">$data.value</label>&nbsp;

#if( $!{line} == $count )
#set ( $count = 1 )
<br/>
#else
#set ( $count = $count+1 )
#end

#end