#if($options)
<select name="$name"#if ( $clazz ) class="$clazz"#end#if ( $onchange ) onchange="$onchange"#end#if ( $!{disabled} == 'Y' ) disabled#end#if ( $tabindex ) tabindex="$tabindex"#end#if ($id) id="$id"#end#if($style) style="$style"#end#if ($title) title="$title" #end>
#if($defaultValue)
    <option value="">$defaultValue</option>
#end
#foreach( $option in $options )
    <option value="$option.key"#if ( $!{value} == $option.key ) selected#end>$option.value</option>
#end
</select>
#end