<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd" default-autowire="byType">

	
    <context:spring-configured />

    <!-- context:load-time-weaver / -->
	
    <context:annotation-config />

    <context:component-scan base-package="kr.co.hottracks.site"/>

    <tx:annotation-driven transaction-manager="transactionManagerForWebDb" />

    <aop:aspectj-autoproxy/>

    <aop:config>
        <aop:pointcut id="servicePointcut" expression="execution(* *..site.service.*Service.*(..))" />
        <aop:pointcut id="batchServicePointcut" expression="execution(* *..site.service.BatchService.*(..))" />
		<aop:advisor id="managerTx" advice-ref="txAdviceForWebDb" pointcut-ref="servicePointcut" />
        <aop:aspect id="logging" ref="loggingAspect">
            <aop:around pointcut-ref="servicePointcut" method="serviceChecker" />
        </aop:aspect>
    </aop:config>
    
    
    <bean id="loggingAspect" class="kr.co.hottracks.site.aop.LoggingAspect" />
    
<!--    <import resource="captchaContext.xml"/>  --> 
    
    <tx:advice id="txAdviceForWebDb" transaction-manager="transactionManagerForWebDb">
        <tx:attributes>
            <tx:method name="get*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="/WEB-INF/config/database.properties"/>
    </bean>

    <bean id="dataSourceForWebDb" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/giftreal"/>
    </bean>

    <bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.SimpleNativeJdbcExtractor"/>
    
    <bean id="oracleLobHandler" class="org.springframework.jdbc.support.lob.OracleLobHandler" lazy-init="true">
        <property name="nativeJdbcExtractor">
            <ref local="nativeJdbcExtractor"/>
        </property>
    </bean>

    <bean id="sqlMapClientForWebDb" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">    
        <property name="dataSource" ref="dataSourceForWebDb"/>
        <property name="configLocation" value="classpath:/kr/co/hottracks/site/dao/ibatis/map/sqlmap-config-webdb.xml"/>
        <property name="mappingLocations" value="classpath:/kr/co/hottracks/site/dao/ibatis/map/*SQL.xml"/>
        <property name="lobHandler">
            <ref bean="oracleLobHandler"/>
        </property>
    </bean>
    
    <bean id="transactionManagerForWebDb" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceForWebDb"/>
        <qualifier value="webdb" />
    </bean>
    
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>/WEB-INF/config/messages</value>
            </list>
        </property>
        <property name="cacheSeconds">
            <value>-1</value>
        </property>
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
    </bean>

    <bean id="messageSourceAccessor" class="org.springframework.context.support.MessageSourceAccessor">
        <constructor-arg>
            <ref local="messageSource"/>
        </constructor-arg>
    </bean>

    <bean id="config" class="kr.co.hottracks.site.config.Config">
        <constructor-arg index="0" value="/WEB-INF/config/hottracks.xml"/>
    </bean>
	
    <bean id="configForLabel" class="kr.co.hottracks.site.utils.Label">
        <constructor-arg index="0" value="/WEB-INF/config/label.xml"/>
    </bean>
    
    <task:annotation-driven scheduler="myScheduler" executor="myExecutor"/>
    <task:scheduler id="myScheduler" pool-size="10"/>
    <task:executor id="myExecutor" pool-size="10"/>
</beans>
