@charset "utf-8";

/* font-weight: 100 ~ 900 
	300: Light
	400: Regular
	500: Medium
	700: bold

*/
/* ---------- common_style --------------*/
.orderandpay {font-family: 'font_ns','Apple SD Gothic Neo', sans-serif; font-size:14px;}
.orderandpay .only_english {font-family: 'font_gs','Apple SD Gothic Neo', sans-serif !important;}

.orderandpay {}
.orderandpay h2.tit {font-size: 40px; margin-top:48px; font-weight: 700;}

.orderandpay .distance {margin-top:80px;}
.orderandpay .margin_set_top {margin-top:12px;}
.orderandpay .padding_set_top {padding-top:12px  !important;}
.orderandpay .point02 {color:#DA2128 !important; margin-right:3px;}
.orderandpay .bold {font-weight: 700; margin-right: 0 !important;}

.orderandpay .width_check,
.orderandpay .width_phone,
.orderandpay .width_name {max-width:100%; width:100%;}
.orderandpay .width_point {max-width:100%; width:100%; text-align: right;}
.orderandpay .width_email {max-width:100%; width:100%;}
.orderandpay .width_address {/* max-width: 257px; */width: calc(100% - 90px);/* max-width: 257px; */}

.orderandpay .input_wrap select.width_phone,
.orderandpay .select_wrap select.width_phone  {width: 70px !important;width: 100% !important;/* max-width: 100%; *//* min-width: 70px; */}

/* 기본 박스 */
.orderandpay .user_info_wrap {padding:24px 20px 0;}
.orderandpay .user_info_wrap .user_title {font-size: 16px;font-weight: 700;border-bottom: 1px #000 solid;padding-bottom: 5px;}
.orderandpay .user_info_wrap .user_title:after {content: ''; display:block; clear:both;}

/* 기본 박스 타이틀 안에 글자 있을때 */
.orderandpay .have_inner_txt {position: relative;}
.orderandpay .have_inner_txt:after {content: ''; display:block; clear:both;}

.orderandpay .have_inner_txt.address .btn_defalut {position: absolute;top:0;/* left:404px; */right: 0;}
.orderandpay .user_info_wrap .user_title.have_inner_txt .i_txt,
.orderandpay .user_info_wrap .user_title.have_inner_txt .i_small_txt,
.orderandpay .user_info_wrap .user_title.have_inner_txt .choice_wrap {float: left; font-size: inherit;}
.orderandpay .user_info_wrap .user_title.have_inner_txt .choice_wrap {margin-left: 15px;}
.orderandpay .user_info_wrap .user_title.have_inner_txt .i_small_txt {margin-top: 8px; margin-left: 10px;}

.orderandpay .choice_wrap.type_squre.have_inner_txt .i_txt,
.orderandpay .choice_wrap.type_squre.have_inner_txt .choice_wrap_inner {float: left;}

.orderandpay .choice_wrap.type_squre.have_inner_txt .choice_wrap_inner.defalut {float: none; }
.orderandpay .choice_wrap.type_squre.have_inner_txt .choice_wrap_inner:after {content: ''; display: block; clear: both;}
.orderandpay .choice_wrap.type_squre.have_inner_txt .choice_wrap_inner .choice_inner_set {float: left;display: block;}

.orderandpay .user_info_wrap .have_inner_txt .i_small_txt {font-size: 13px; font-weight: 700;}
.orderandpay .user_info_wrap .have_inner_txt .i_small_txt_last {font-size: 10px; font-weight: 700;}

.orderandpay .have_inner_txt.inner_float {}

/* text */
.orderandpay .order_txt {font-size: 16px;font-weight: 400;color:#000;}
.orderandpay .user_table_wrap .order_txt {;padding-bottom: 10px; margin-top:30px;}
.orderandpay .ft_big {font-size: 16px !important;font-weight: 700 !important;}

/* table_inner_txt */
.orderandpay .table_wrap .text_wrap {font-size: 14px; color:#999999; display: block; letter-spacing: .5px;}

/*--- 아이콘 --*/
/* 화살표 */
.orderandpay .icon_arrow {display: inline-block;font-size: 12px;font-weight: 400;border-bottom: 1px #313131 solid;padding-bottom: 1px;}
.orderandpay .icon_arrow:after {content:'';display:inline-block;width:6px;height: 12px;background: url(../../images/new/icon_arrow.png) no-repeat 0 0;margin-left:5px;margin-bottom: -3px;background-size: 5px 10px;}
.orderandpay .inner_float .choice_wrap_inner.position {margin-left:10px !important;}
.orderandpay .position .icon_arrow {position:absolute;top: 12px;right:0;}

/* 안내 */
.orderandpay .icon_question {font-size: 0;display: block;float: left;width: 16px;height: 16px;border:1px #999999 solid;border-radius: 100%;background: url(../../images/new/icon_question.png) no-repeat 5px 0px;background-size: 5px 14px;box-sizing: border-box; margin-left: 5px; margin-top: 5px;}
.orderandpay .icon_question:after {content: ''; display: block; clear:both;}
.orderandpay .icon_question.margin_set_top {margin-top:15px;}



/* table */
/* 기본형 */
.orderandpay .table_wrap {width:100%;table-layout:fixed;margin-top: 6px;}
.orderandpay .table_wrap th, .orderandpay .table_wrap td {text-align: left; font-size:13px;}
.orderandpay .table_wrap th {font-weight: 500; text-align: left; max-width:90px;}
.orderandpay .table_wrap th span.star {color:#DA2128;}
.orderandpay .table_wrap td {padding: 6px 0px;}

.orderandpay .table_wrap.vertical th {vertical-align: initial; padding: 8px 0;}
.orderandpay .table_wrap.vertical th.padding_set_top {padding-top: 20px !important;}

/* 주문상품 _table  */
.orderandpay .table_wrap.bbs_list_v2 th, .orderandpay .table_wrap.bbs_list_v2 td {text-align: center;padding-right: 10px;padding-left: 10px;}
.orderandpay .table_wrap.bbs_list_v2 tfoot th, .orderandpay .table_wrap.bbs_list_v2 tfoot td {text-align:right;font-size: 22px;font-weight: 500;border-bottom: 0;}

/* 제휴포인트_table*/
.orderandpay .table_wrap.type_1 { margin-top:0; }
.orderandpay .table_wrap.type_1 th {background: #fff;text-align: left;font-weight: 700;}
.orderandpay .table_wrap.type_1 .btn_defalut.squre {margin-left:-1px;}

.orderandpay .table_wrap.type_1 .inner_float .input_wrap{width: calc(100% - 88px);}

.orderandpay .table_wrap.type_1 .have_inner_txt.inner_float .text_wrap {font-size: 13px; font-weight: 500; color:#000; margin-left: 0px;}
.orderandpay .table_wrap.type_1 .have_inner_txt.inner_float strong.text_wrap {font-weight: 700; margin-left: 0;}


/* radio , checkbox 원형 */
.orderandpay .choice_wrap .choice_wrap_inner {margin-left: 12px;font-size:14px;font-weight: 500;}
.orderandpay .choice_wrap .choice_wrap_inner:first-child {margin-left:0;}
.orderandpay .choice_wrap input[type="checkbox"],
.orderandpay .choice_wrap input[type=radio] {  position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0 }
.orderandpay .choice_wrap input[type="checkbox"] + label ,
.orderandpay .choice_wrap input[type=radio]+ label {display: inline-block;position: relative;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;font-size: 13px;}
.orderandpay .choice_wrap input[type="checkbox"] + label:before,
.orderandpay .choice_wrap input[type="radio"] + label:before {content: ' ';display: inline-block;width: 18px;height: 18px;line-height: 20px;margin: -2px 4px 0 0;text-align: center;vertical-align: middle;background: #EEEEEE url(../../images/new/icon_radio_on.png) no-repeat center center;border: 1px solid #DBDBDB;border-radius : 10px;box-sizing: border-box;background-size: 10px 7px;} 
/*필요시 입력
.orderandpay .choice_wrap input[type="checkbox"] + label:active:before, 
.orderandpay .choice_wrap input[type="checkbox"]:checked + label:active:before,
.orderandpay .choice_wrap input[type="radio"] + label:active:before, 
.orderandpay .choice_wrap input[type="radio"]:checked + label:active:before  { } */

.orderandpay .choice_wrap input[type="checkbox"]:checked + label:before,
.orderandpay .choice_wrap input[type="radio"]:checked + label:before  {border:1px #DA2128 solid;background: #DA2128 url(../../images/new/icon_radio_on.png) no-repeat center center;background-size: 10px 7px;}
.orderandpay .choice_wrap input[type=radio]::-ms-expand,
.orderandpay .choice_wrap input[type=checkbox]::-ms-expand{    display: none;}

/* radio , checkbox 사각형 */
.orderandpay .choice_wrap.type_squre input[type="checkbox"] + label:before,
.orderandpay .choice_wrap.type_squre input[type="radio"] + label:before {content: ' ';display: inline-block;width: 20px;height: 20px;line-height: 20px;margin: -2px 6px 0 0;text-align: center;vertical-align: middle;background: #EEEEEE url(../../images/new/icon_radio_on.png) no-repeat center center;background-size:10px 7px;border: 1px solid #DBDBDB;border-radius : 4px;box-sizing: border-box;} 
.orderandpay .choice_wrap.type_squre input[type="checkbox"]:checked + label:before,
.orderandpay .choice_wrap.type_squre input[type="radio"]:checked + label:before  { border:1px #DA2128 solid; background: #DA2128 url(../../images/new/icon_radio_on.png) no-repeat center center;  background-size:10px 7px;}

.orderandpay .choice_wrap.type_squre input[type="checkbox"] + label.last_check:before,
.orderandpay .choice_wrap.type_squre input[type="radio"] + label.last_check:before {margin-right:3px;}

/* input 기본형 */
.orderandpay .input_wrap {display: block;}
.orderandpay .input_wrap input {padding: 11px 10px 12px;border:1px #B5B5B5 solid;font-size: 13px;box-sizing: border-box;text-align: left; font-weight: 300 ; font-family: 'font_ns';}

.orderandpay .input_wrap input::placeholder{text-align: left; font-size: 13px;}
.orderandpay .input_wrap input::-webkit-input-placeholder{text-align: left; font-size: 13px;}

.orderandpay .table_wrap.type_1 .input_wrap input::placeholder{direction: rtl; text-align: right;}
.orderandpay .table_wrap.type_1 .input_wrap input::-webkit-input-placeholder{direction: rtl; text-align: right;}


/* select 기본형 */
.orderandpay .select_wrap select ,
.orderandpay .input_wrap select {width:100%;padding: 12px 32px 13px 10px;max-height: 44px;border:1px #B5B5B5 solid;box-sizing: border-box;font-size: 13px;font-weight: 300;display: block;color:#777777;font-family: inherit;background:#fff url('../../images/new/icon_select.png') no-repeat right 12px center;background-size: 10px 5px;border-radius: 0px;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.orderandpay .input_wrap select::-ms-expand ,
.orderandpay .select_wrap select::-ms-expand {display: none;}


/* input 및 unit 개수 추가 시 */
.orderandpay .inner_float .input_wrap {float: left;position: relative;margin-left: 17px;width: calc(33% - 11px);}
.orderandpay .inner_float .input_wrap:first-child {margin-left: 0;}
.orderandpay .inner_float .input_wrap:before {content: '';display: block;position: absolute;top: 50%;left: -12px;width: 8px;height: 1px;background: #707070;}
.orderandpay .inner_float .input_wrap:first-child:before {content: '';display: none;}
.orderandpay .inner_float .choice_wrap_inner {margin-top: 0px;margin-left: 20px;}
.orderandpay .inner_float .btn_defalut {float: left;}

.orderandpay .inner_float .text_wrap {margin-left: 14px; margin-top:12px; float: left;} 


/* 이메일 */
.orderandpay .inner_float_dot .input_wrap {float: left;margin-left: 0px;line-height: 44px;width: calc(48% - 6px);text-align: center;}
.orderandpay .inner_float_dot .input_wrap:first-child {margin-left: 0;}
.orderandpay .inner_float_dot .input_wrap._last {margin-left:10px;}
.orderandpay .inner_float_dot .input_wrap.inner_dot {width: calc(4% - -12px);}
.orderandpay .inner_float_dot .input_wrap.right {float: right;}

.orderandpay .inner_float_dot .select_wrap {float: none; margin-top: 10px;}



/* btn */
.orderandpay .btn_type_wrap {text-align: center;}
.orderandpay .btn_defalut {padding: 13px 5px;height:auto;min-width: 86px;background: #EEEEEE;font-size: 12px;font-weight: 600;color:#FFFFFF;outline:none;color: #000;border-radius: 34px;}
.orderandpay .btn_defalut.squre {background: #fff;height: 44px;font-size: 14px;font-weight: 400;outline:none;color: #000;border:1px #B5B5B5 solid;border-radius: 0;/* max-width: 120px; */text-align: center;min-width: 88px;box-sizing: border-box;padding: 11px 8px;}
.orderandpay button.btn_defalut.squre {padding: 10px 20px;height:38px; font-family: 'font_ns'; line-height: inherit;}

.orderandpay .btn_basic {padding: 13px 20px 14px;height:auto;background: #000;font-size: 15px;font-weight: 400;color:#FFFFFF;min-width: auto;/* width: 100%; */display: block;}
.orderandpay .bottom_wrap {margin-top: 50px;padding: 0 20px;}

/* text */
.orderandpay .alert_txt {font-size: 11px;font-weight: 400;color: #777777;}
.orderandpay .alert_txt span {font-size: inherit; font-weight: inherit;}

.orderandpay .user_title .i_small_txt {font-size: 14px; color:#777777; font-weight: 400;}
.orderandpay .user_title .i_small_txt span {font-size: inherit; color:#000; font-weight: 500;}


/* 주문 결제 */
.orderandpay .blind {font-size: 0;}
.orderandpay .user_info_wrap {padding:24px 20px 0;}
.orderandpay .user_title {font-size: 16px;font-weight: 700;border-bottom: 1px #000 solid;padding-bottom: 5px;}
.orderandpay .user_table_wrap {}

/* 주문 상품 */
.orderandpay .tit01 {/*font-size: 16px; font-weight: 400; color:#000;*/margin-top: 35px;}
.orderandpay .text_show {font-size: 18px;text-align: center;border:1px #DBDBDB solid;border-radius: 30px;padding: 20px 94px;display: inline-block;}
.orderandpay .text_show_wrap {margin-top:40px; text-align: center;}

.orderandpay .help_box_wrap {background: #FAFAFA;padding: 8px 20px; margin-top: 40px;}
.orderandpay .help_box_wrap .text_list li {font-size: 13px;font-weight:400;color:#777777;position: relative;padding-left: 10px;margin: 12px 0;}
.orderandpay .help_box_wrap .text_list li:before {content: '';display: block;width:5px;height:1px;background: #777777;position: absolute;left: 0;top: 6px;}

/* 결제금액 */
.orderandpay .user_price_wrap {background: #fff;padding: 0;margin-top: 10px;}
.orderandpay .user_price_wrap:after {content: ''; display: block; clear: both;}
.orderandpay .user_price_wrap .user_price_unit {background: #fff;padding: 0;float: none;margin-left: 0;}
.orderandpay .user_price_wrap .user_price_unit:first-child {margin-left:0;}
.orderandpay .user_price_wrap .price_unit_list:after {content: ''; display: block; clear: both;}
.orderandpay .user_price_wrap .price_unit_list dt, 
.orderandpay .user_price_wrap .price_unit_list dd {float: left;padding:8px 0;/* margin: 0 60px; */min-width: 80px;}
.orderandpay .user_price_wrap .price_unit_list dt {font-size: 13px;font-weight: 400;color:#000;}
.orderandpay .user_price_wrap .price_unit_list dd {font-size: 15px;font-weight: 500;text-align: right;float: right;}

.orderandpay .user_price_wrap .user_price_unit.sum {padding: 0;border-top: 1px #707070 solid;margin-top: 10px;padding-top: 15px;}
.orderandpay .user_price_wrap .user_price_unit .unit_sum_tit {font-size: 14px;font-weight:700;text-align: center;float: left;max-width: 56%;}
.orderandpay .user_price_wrap .user_price_unit .unit_sum {font-size: 13px;font-weight:500;/* margin-top: 13px; */text-align: center;float: right;max-width: 70%;}
.orderandpay .user_price_wrap .user_price_unit .unit_sum .only_english {font-size: 25px;font-weight:700;}
.orderandpay .user_price_wrap .user_price_unit .unit_sum .s_txt {font-size: 20px;font-weight:700; color:#DA2128 ;}

.orderandpay .user_price_wrap .user_price_unit:after {content: ''; display: block; clear: both;}{}
.orderandpay .user_price_wrap .user_price_unit .unit_sum_point {/* padding: 18px 0px 0; */margin-top: 5px;}
.orderandpay .user_price_wrap .user_price_unit .unit_sum_point:after {content: ''; display: block; clear: both;}
.orderandpay .user_price_wrap .user_price_unit .unit_sum_point span {float : right;display: block;font-size: 13px;}
.orderandpay .user_price_wrap .user_price_unit .unit_sum_point .color {float: left; color: #777777;}


/* 결제방법 */
.orderandpay  .color {color: #777777 !important;}
.orderandpay .orderlist {background: #fafafa;}
.orderandpay .w_top {margin:0;}

/* tab */
.orderandpay .tab_wrap {}
.orderandpay .tab_list  {margin-top: 2px;/* margin-left: -10px; */}
.orderandpay .tab_list:after {content:''; display:block; clear:both;}
.orderandpay .tab_list .items {float: left;min-width: auto;margin-left: 15px;margin-top: 12px;width: calc(50% - 8px);}
.orderandpay .tab_list li:nth-child(odd)  {margin-left: 0px;}
.orderandpay .tab_list .items .link {display: block;vertical-align: middle;padding: 12px 19px;font-size: 13px;font-weight:400;color:#000;position: relative;text-align: center;border: 2px #DBDBDB solid;border-radius: 24px;}
.orderandpay .tab_layer_wrap {position: relative; margin-top:20px;}
.orderandpay .tab_layer {display: none; height: auto;}
.orderandpay .tab_layer.is_active {display: block;}
.orderandpay .tab_list li.is_active .link {background: #DD1016; border-color: #DD1016; color:#fff;}

/* tab_layer inner box */
.orderandpay .tab_layer .tab_layer_text_box {background: #FAFAFA;padding: 16px 16px 39px 16px;}
.orderandpay .tab_layer .tab_layer_text_box .layer_title {font-size: 13px;font-weight: 700;}
.orderandpay .tab_layer .tab_layer_text_box .layer_txt_list {margin-top: 15px;}
.orderandpay .tab_layer .tab_layer_text_box .layer_txt_list li {font-size: 11px;font-weight:400;position: relative;margin:10px 0;padding-left: 5px;}
.orderandpay .tab_layer .tab_layer_text_box .layer_txt_list li:before {content:'';display: block;width: 2px;height: 2px;background: #000000;position: absolute;top: 8px;left:0;border-radius: 100%;}
.orderandpay .tab_layer .tab_layer_text_box p {font-size: 11px;}

.orderandpay .tab_layer .last_check {font-size: 13px;}
.orderandpay .tab_layer .last_check .color {padding-left: 26px;}
.orderandpay .tab_layer .last_check span {font-size: inherit;}

/* 현금영수증 */
.orderandpay .cash_receipt_wrap {margin-top: 25px;border-top: 1px #707070 solid;padding-top: 25px;}
.orderandpay .cash_receipt_wrap .choice_wrap:after,
.orderandpay .cash_receipt_wrap:after {content: ''; display:block; clear: both;}
.orderandpay .cash_receipt_wrap .choice_wrap_inner {float: left;}
.orderandpay .cash_receipt_wrap .cash_receipt_list {/* margin-top:8px; */}
.orderandpay .cash_receipt_wrap .cash_receipt_list .choice_wrap_inner label {color:#777777;font-size: 12px;}

.orderandpay .cash_receipt_input_wrap {margin-top: 16px;}
.orderandpay .cash_receipt_input_wrap .cash_receipt_input_layer {display: none;}
.orderandpay .cash_receipt_input_wrap .cash_receipt_input_layer.active {display: block; min-height:32px;}

.orderandpay .cash_receipt_input_wrap .width_phone {}
.orderandpay .cash_receipt_input_wrap .input_wrap select.width_phone,
.orderandpay .cash_receipt_input_wrap .select_wrap select.width_phone {width: 100% !important;min-width: 55px;padding-right: 18px;background-position: center right 6px; height:32px;}
.orderandpay .cash_receipt_input_wrap .select_wrap select,
.orderandpay .cash_receipt_input_wrap .input_wrap select {padding-top:5px;padding-bottom: 8px;}
.orderandpay .cash_receipt_input_wrap .input_wrap input {padding: 6px 3px 7px;}

.orderandpay .cash_receipt_input_wrap .inner_float .select_wrap,
.orderandpay .cash_receipt_input_wrap .inner_float .input_wrap {margin-left:5px;width: calc(25% - 4px);}
.orderandpay .cash_receipt_input_wrap .inner_float .select_wrap {float: left; margin-left:0;}
.orderandpay .cash_receipt_input_wrap .inner_float .input_wrap:before {content: ''; display: none;}

.orderandpay .cash_receipt_input_wrap .cardnumber_wrap {}
.orderandpay .cash_receipt_input_wrap .cardnumber_wrap .input_wrap {width: calc(20% - 12px);}

/* 예치금 */
.orderandpay .deposit_wrap {position: relative;}
.orderandpay .deposit_wrap:after {content: ''; display:block; clear: both;}
.orderandpay .deposit_wrap ._txt,
.orderandpay .deposit_wrap .icon_question {float: left;}
.orderandpay .deposit_wrap .icon_question {margin-top:-1px;}

/* 레이어 팝업 */
.orderandpay .tooltip_wrap {display:block;background: #fff;margin: 20px;z-index: 1;border-radius: 24px;}
.orderandpay .tooltip_wrap .tooltip_inner {padding: 54px 26px 20px;position: relative;}
.orderandpay .tooltip_wrap .tooltip_inner:before {content:'';display: block;width:28px;height: 28px;background: #DA2128 url(../../images/new/layer_icon_question.png) no-repeat top 5px left 8px;background-size: 13px 23px;border-radius: 28px;top: -14px;position: absolute;left: 50%;margin-left: -14px;}
.orderandpay .tooltip_wrap .tooltip_tit {font-size: 16px;font-weight: 700;padding-bottom: 10px;text-align: center;}

.orderandpay .tooltip_wrap .tooltip_list li,
.orderandpay .tooltip_wrap .tooltip_inner .texts {font-size: 10px;font-weight: 400;}
.orderandpay .tooltip_wrap .tooltip_list li {position: relative;padding-left: 5px;}
.orderandpay .tooltip_wrap .tooltip_list li:before {content: '';display: block;width: 2px;height:2px;background: #000;position: absolute;top: 7px;left:0;}
.orderandpay .tooltip_wrap .tooltip_inner .texts {line-height: 1.5em; margin-top: 10px;}

.orderandpay .deposit_wrap .tooltip_wrap {display:none; position: absolute;top: -30px;left: 17px;}

.orderandpay .point_box_inner {margin-top:15px;}
.orderandpay .point_box_inner .inner_float .input_wrap.left {width: 65px; margin-top: 10px;}
.orderandpay .point_box_inner .inner_float .input_wrap.right {margin-left: 10px;width: calc(100% - 75px);}
.orderandpay .point_box_inner .have_inner_txt {margin-top:10px;}
.orderandpay .point_box_inner .inner_float .input_wrap:before {content: ''; display: none;}

.orderandpay .layer_pop_box {display:none; position: absolute;width: 100%;top: 0%;left: 0;}
.orderandpay .dimed { display: none; position: fixed;top:0;left:0;width:100%;height:100%;background: rgba(0,0,0, .6);}
.orderandpay .layer_pop {position: relative;z-index: 1000;} 
.orderandpay .layer_pop .layer_close {position: absolute;top: 15px;right: 35px; padding:10px; background: url(../../images/new/layer_icon_close.png) no-repeat center center;width:16px;height:16px;background-size: 16px 16px;font-size: 0;}

.orderandpay .layer_pop_box.active {display: block;}
.orderandpay .layer_pop_box.active .dimed {display: block;}

.orderandpay .layer_pop_box {}

/* 쿠폰 팝업 */
.orderandpay .coupon_list_wrap {padding:20px;}
.orderandpay .coupon_list_wrap .text_list li{ font-size: 12px; line-height: 1.8; }
.orderandpay .coupon_list_wrap .coupon_alert {margin-top:50px;font-size: 13px;font-weight: 700;}

.orderandpay .coupon_list_wrap .coupon_list {}
.orderandpay .coupon_list_wrap .coupon_list .coupon_product {font-size: 13px; font-weight: 700;background: #FAFAFA;margin-top:10px; padding: 11px 10px 10px; border-top:1px #EEEEEE solid; border-bottom:1px #EEEEEE solid;}
.orderandpay .coupon_list_wrap .coupon_list .coupon_name {font-size:13px;font-weight:500; border-bottom:1px #EEEEEE solid; padding:10px 0 10px 10px;}
.orderandpay .coupon_list_wrap .coupon_list .coupon_name:after {content: ''; display: block; clear: both;}

/* 쿠폰들 */
.orderandpay .coupon_list_wrap .choice_wrap.have_inner_txt {padding-top:0;}
.orderandpay .coupon_list_wrap .choice_wrap.inner_float .input_wrap {float: left;width: calc(30%);margin-left:0;text-align: left;padding-left: 10px;padding-top: 12px;/* min-height: 44px; */padding-bottom: 11px;}
.orderandpay .coupon_list_wrap .choice_wrap.inner_float .input_wrap.right{float: right;padding-left: 0;width: calc(60% - 10px);text-align: right;}
.orderandpay .coupon_list_wrap .choice_wrap.inner_float .input_wrap:before {content: ''; display:none;}
.orderandpay .coupon_list_wrap .choice_wrap.inner_float .select_wrap.right{float: right;padding-left: 0;width: calc(70% - 10px);text-align: right;}

.orderandpay .coupon_list_wrap .choice_wrap .choice_wrap_inner {text-align: left;}

.orderandpay .coupon_list_wrap .coupon_sum { padding:23px; background: #FAFAFA; border-top:1px #EEEEEE solid; border-bottom:1px #EEEEEE solid; font-size: 13px; font-weight: 500;}
.orderandpay .coupon_list_wrap .coupon_sum span { font-size: inherit;  font-weight: 500;}
.orderandpay .coupon_list_wrap .coupon_sum:after {content: ''; display: block; clear: both;}
.orderandpay .coupon_list_wrap .coupon_sum .coupon_sum_left {float: left;}
.orderandpay .coupon_list_wrap .coupon_sum .coupon_sum_right {float: right;}

.orderandpay .coupon_list_wrap .choice_wrap .choice_wrap_inner .choice_inner_set .term {margin-top:12px; padding-left:25px;}

.orderandpay .bigger.btn_type01_v2 { height: 38px; font-size: 16px; min-width: 180px; line-height: initial; padding: 6px 0; height: auto; box-sizing: border-box;}

.orderandpay .btn_type05_v2 {font-size: 13px;height:32px;width:112px;padding: 0;box-sizing: border-box;border: 1px #D6D6D6 solid;line-height: 28px;} 

.orderandpay .count_up,
.orderandpay .count_down  {width:32px;height:32px;display:block;border:1px #D6D6D6 solid;font-size: 0;float: left;box-sizing: border-box;} 
.orderandpay .count_up { background: url(../../images/new/icon_count_up.png) no-repeat center center;}
.orderandpay .count_down {background: url(../../images/new/icon_count_down.png) no-repeat center center;} 

.orderandpay .bbs_list_v2 .t_left a.txt_option { color: #FF6A5B;font-size: 14px;line-height: 20px;padding: 5px 0 0 0;}

.orderandpay .btn_bgred { height: 32px;line-height: 30px;}
.orderandpay .btn_bgred.white {background: #fff; color:#000 !important; border:1px #D6D6D6 solid;}

.orderandpay .count_wrap {text-align: center;    margin-left: 1px;}
.orderandpay .count_wrap:after {content:''; display:block; clear: both;}
.orderandpay .count_wrap .input_txt {float: left;    width: 39px !important;    padding: 5px 4px 6px 5px;    border-left: 0;    border-right: 0;}


/* 고객 센터 */
.orderandpay .customer {line-height: 1;padding: 0 10px;}
.orderandpay .customer .cs_alert {}
.orderandpay .customer .cs_alert_text {margin-top:15px;}
.orderandpay .customer .cs_alert_text dt {font-size: 25px; font-weight: 700;}
.orderandpay .customer .cs_alert_text dd {font-size: 13px; font-weight: 500; color: #777777;}
.orderandpay .customer .cs_button_list { display: table; width: 100%; margin-top:20px;}
.orderandpay .customer .cs_button_list li { display: table-cell; width: 50%;}
.orderandpay .customer .cs_button_list .link {font-size: 15px;font-weight: 400;display: block;background: #000;color: #fff;text-align: center; margin-left: 5px; padding:19px 10px 20px }
.orderandpay .customer .cs_button_list li:first-child .link {margin-left:0;}

.orderandpay .customer .accordion li a {border-bottom:1px #eee solid;}
.orderandpay .customer .accordion li:first-child a {border-top:0;}
.orderandpay .customer .bbs_box{}
.orderandpay .customer .bbs_box h4 {font-size: 16px; font-weight: 700; padding-bottom: 16px;}
.orderandpay .customer .bbs_box .btn_more {font-size: 0; width:16px; height:16px; background: url(../../images/new/cs_icon_more.png) no-repeat center center; background-size: 16px 16px; right: -10px; top: -2px;}
.orderandpay .customer .bbs_box .accordion > li > a {padding:20px 0; font-size:13px; font-weight: 400; color:#000;}
.orderandpay .customer .bbs_box .accordion > li > a > span {font-size:inherit; font-weight: inherit; color:inherit;}
.orderandpay .customer .bbs_box .accordion > li > a > em {top:20px;}

.orderandpay .customer .tab_box {display:-webkit-box;margin: 15px 0 0 0;border: 0 none;border-radius: 0;background-color:#fff;}
.orderandpay .customer .tab_box a { -webkit-box-flex:1;display:block;text-align:center;padding:10px;color:#FF6A5B;font-weight:bold; width : 50%;}
.orderandpay .customer .tab_box a.active {background-color: #000;color:#fff;}



@media screen and (max-width: 360px) {

	.orderandpay .input_wrap input {padding-top: 11px;padding-bottom: 12px;font-size: 11px;}
	.orderandpay .user_info_wrap .have_inner_txt .i_small_txt,
	.orderandpay .choice_wrap input[type="checkbox"] + label,
	.orderandpay .choice_wrap input[type=radio]+ label {font-size: 12px; letter-spacing: -1px;}
	.orderandpay .select_wrap select,
	.orderandpay .input_wrap select {font-size: 11px;padding-right: 15px;background-position: center right 5px;}
	.orderandpay .select_wrap select, .orderandpay .input_wrap select {padding-top:13px; padding-bottom: 14px;}
	.orderandpay .input_wrap input::placeholder{text-align: left; font-size: 12px;}
	.orderandpay .input_wrap input::-webkit-input-placeholder{text-align: left; font-size: 12px;}



}	

@media screen and (max-width: 320px) {
	.orderandpay .table_wrap th{width: 70px;}
	.orderandpay .cash_receipt_wrap .cash_receipt_list .choice_wrap_inner label {font-size: 11px;}
	.orderandpay .choice_wrap input[type="checkbox"] + label,
	.orderandpay .choice_wrap input[type=radio]+ label {font-size: 11px; letter-spacing: -1px;}

	.orderandpay .choice_wrap input[type="checkbox"] + label:before,
	.orderandpay .choice_wrap input[type="radio"] + label:before,

	.orderandpay .choice_wrap.type_squre input[type="checkbox"] + label:before,
	.orderandpay .choice_wrap.type_squre input[type="radio"] + label:before {margin-right:1px;}

	.orderandpay .tab_layer .last_check span {font-size: 11px;}

	.orderandpay .inner_float .input_wrap {width:calc(33% - 11px);}

	.orderandpay .select_wrap select,
	.orderandpay .input_wrap select {font-size: 11px;padding-right: 15px;background-position: center right 5px;}
	.orderandpay .input_wrap input {font-size: 11px;padding-right: 3px;padding-left: 3px;padding-top: 12px;padding-bottom: 13px;}
	.orderandpay .input_wrap input::placeholder{font-size: 11px;}
	.orderandpay .input_wrap input::-webkit-input-placeholder{font-size: 11px;}

	.orderandpay .user_info_wrap .user_title.have_inner_txt .choice_wrap {}
	.orderandpay .coupon_list_wrap .choice_wrap .choice_wrap_inner .choice_inner_set .term {padding-left:20px;}

	.orderandpay .cash_receipt_input_wrap .input_wrap select.width_phone, .orderandpay .cash_receipt_input_wrap .select_wrap select.width_phone {font-size: 10px;}



}

