@charset "utf-8";
/**********************************************************************************************
기본폰트 12px
20px ---> 10px ---> 0.833em
22px ---> 11px ---> 0.917em
24px ---> 12px ---> 1em
26px ---> 13px ---> 1.083em
28px ---> 14px ---> 1.167em
30px ---> 15px ---> 1.250em
32px ---> 16px ---> 1.333em
34px ---> 17px ---> 1.417em
36px ---> 18px ---> 1.500em
38px ---> 19px ---> 1.583em
40px ---> 20px ---> 1.667em
42px ---> 21px ---> 1.750em
**********************************************************************************************/

/* --- webfont --- */
/* 국문 */
@font-face {
  font-family:font_ns; font-style:normal; font-weight:100;
  src:url('../../font/NotoSansKR-Thin.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family:font_ns; font-style:normal; font-weight:300;
  src:url('../../font/NotoSansKR-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family:font_ns; font-style:normal; font-weight:normal;
  src:url('../../font/NotoSansKR-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family:font_ns; font-style:normal; font-weight:bold;
  src:url('../../font/NotoSansKR-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* 영문/숫자 */
@font-face {
  font-family:font_gs; font-style:normal; font-weight:300;
  src:url('../../font/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family:font_gs; font-style:normal; font-weight:normal;
  src:url('../../font/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family:font_gs; font-style: normal; font-weight:bold;
  src:url('../../font/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* 이럴때 */
@font-face {
    font-family:font_ms; font-style:normal; font-weight:400;
    src:url('../../font/NanumMyeongjo-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*, *:focus, *:active{
    -webkit-tap-highlight-color: rgba(0,0,0,0)!important;
    -webkit-tap-highlight-color: transparent!important;
    -webkit-focus-ring-color: rgba(0,0,0,0)!important;
    outline: none!important;
}

/* jiwoo font */
@font-face {
    font-family: GS;
    font-style: normal;
    font-weight: 600;
    src: url(../../../font/GmarketSansBold.woff) format("woff"),
        url(../../../font/GmarketSansBold.woff2) format("woff2");
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
  }
  @font-face {
    font-family: GS;
    font-style: normal;
    font-weight: 400;
    src: url(../../font/GmarketSansMedium.woff) format("woff"),
        url(../../font/GmarketSansMedium.woff2) format("woff2");
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
  }
  @font-face {
    font-family: GS;
    font-style: normal;
    font-weight: 300;
    src: url(../../font/GmarketSansLight.woff) format("woff"),
        url(../../font/GmarketSansLight.woff2) format("woff2");
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
  }
  
  @font-face {
    font-family: NS;
    font-style: normal;
    font-weight: 600;
    src: url(../../font/NotoSansKR-Bold.woff) format("woff"),
        url(../../font/NotoSansKR-Bold.woff2) format("woff2");
  }
  @font-face {
    font-family: NS;
    font-style: normal;
    font-weight: 400;
    src: url(../../font/NotoSansKR-Regular.woff) format("woff"),
        url(../../font/NotoSansKR-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: NS;
    font-style: normal;
    font-weight: 300;
    src: url(../../font/NotoSansKR-Light.woff) format("woff"),
        url(../../font/NotoSansKR-Light.woff2) format("woff2");
  }
  @font-face {
    font-family: NS;
    font-style: normal;
    font-weight: 100;
    src: url(../../font/NotoSansKR-Thin.woff) format("woff"),
        url(../../font/NotoSansKR-Thin.woff2) format("woff2");
  }
  html,body{
    font-family:  'NS', 'GS','AppleGothic', 'sans-serif';
  }

.font_ns{font-family:'font_ns', 'AppleGothic', sans-serif;}
.font_t{font-family:'font_gs', 'AppleGothic', sans-serif;}
.search_modi th, td, input, select, textarea, button{font-family:'font_ns', 'AppleGothic', sans-serif;}
.search_modi button{outline:none;}

.search_modi .search_view .cont02.space_type1 {margin-top:80px !important; padding-bottom: 80px;}

.search_modi .category_wrap {margin-top:80px;}
.search_modi .sort_filter_box {position: relative;margin-top:15px;position: absolute;top: 12px;right: 20px;margin-top: 0;}
.search_modi .sort_filter_box:after {content: ''; display: block; clear: both;}
.search_modi .sort_filter  {float: left;}
.search_modi .filter_btn {float: right;}
.search_modi .sort_filter select {box-sizing: border-box;padding-top:4px;padding-bottom: 4px;border: 0;padding-right: 16px;}
.search_modi .search_view .filter_btn .btn_search_detail{background: #fff url(../../images/new/filter_icon.png) center right 0px no-repeat;padding: 5px 24px 5px 8px;background-size: 17px 17px;position: static;line-height: normal;font-size: 12px;font-weight:400;color: #000;}
.search_modi .search_view .filter_btn .btn_search_detail:before {content: ''; display: none;}

.search_modi .category_wrap .pd_list ul {margin-top:15px;}
.search_modi .category_wrap .pd_list ul li:first-child,
.search_modi .category_wrap .pd_list ul li:first-child + li {margin-top:0;}
.search_modi .category_wrap .pd_total {padding-left:20px;padding-right: 20px;padding-top: 16px;}

.search_modi #content {padding:0; min-height:auto;}
.search_modi .search_wrap {}
.search_modi .search_result_list {margin-top:7px; margin-left:20px;}
.search_modi .search_result_list li .link {font-size: 14px; font-weight: 500; padding:7px 10px; display: block;}
.search_modi .search_result_list li .link span {font-size: inherit; font-weight: inherit;word-break: break-word;}
.search_modi .search_result_list li .link span.point02 {color:#DA2128;}

.search_modi .cont01 .swiper-wrapper {margin-bottom: 30px;}