@media screen and (max-width:1440px), screen and (max-height:900px){
    video {
        top: -35%;
    }
    .scroll-down {
        bottom: 40px;
    } 
    .navbar-nav li {
        height: 100px;
    }
    .navbar-nav li {
        padding: 10px 0 0 0;
    }
    .navbar-nav li.menu01 {
        padding: 15px 0 0 0;
    }
    .navbar-nav li.menu01 svg {
        width: 60px;
    }
    .navbar-nav li.menu06 svg {
        width: 40px;
    }
    .navbar-nav li.menu09 svg {
        width: 40px;
    }
    .history-list .owl-dots {
        padding: 0px;
    }
    .owl-nav button.owl-prev {
        top: 285px;
    }
    .owl-nav button.owl-next {
        top: 285px;
    }
    .s1_bg01 .section-inner {
        margin-top:60px;
    }
    .bg_w .history-list {
        padding-top: 10px;
    }
    .bg_w .history-box{
        margin-top: 50px;
    }
    .bg_w .history-box .tit_a {
        font-size: 50px;
    }
    .bg_w .history-box .nfontb_a {
        font-size: 160px;
    }
    .bg_w .history-box .s1_letter {
        letter-spacing: -1px;
    }
    .bg_g .history-box {
        margin-top: 50px;
    }
    .bg_g .history-box .s1_con {
        width:80%;
    }
    .bg_g .history-list2 .owl-dots {
        padding: 0px;
    }
    .s1_bg02 .section-inner .mtit_a {
        margin-top: -10px !important;
    }
    .s2_bg01 .section-inner {
        margin-top: 60px;
    }
    .s2_bg02 .section-inner {
        margin-top: 60px;
    }
    .s3_bg02 .section-inner .tit_a.mt60 { 
        margin-top: 80px !important;
        font-size: 55px;
    }
    .s3_bg02 .section-inner .s3_txt01 {
        width: 50%;
        padding: 0 120px
    }
    .s3_bg02 .fp-scrollable {
        height: calc(100vh) !important;
    }
    .s3_bg03 .section-inner .txt_box.mt12p {
        margin-top: 14% !important;
    }
}

@media screen and (max-width:1366px), screen and (max-height:768px){
    video {
        top: -35%;
    }
    .scroll-down {
        bottom: 40px;
    } 
    .navbar-nav li {
        height: 80px;
    }
    .navbar-nav li {
        padding: 0px;
    }
    .navbar-nav li.menu01 {
        padding: 7px 0 0 0;
    }
    .navbar-nav li.menu01 svg {
        width: 50px;
    }
    .navbar-nav li.menu06 svg {
        width: 30px;
    }
    .navbar-nav li.menu09 svg {
        width: 30px;
    }
    .history-list .owl-dots {
        padding: 0px;
    }
    .owl-nav button.owl-prev {
        top: 265px;
    }
    .owl-nav button.owl-next {
        top: 265px;
    }
    .s1_bg01 .section-inner {
        margin-top: 0px;
        padding: 0px;
    }
    .s1_bg01 .section-inner .tit_a {
        font-size: 50px;
    }
    .s1_bg01 .section-inner .mt40 {
        margin-top: 0px !important;
    }
    .s1_bg01 .section-inner .mtit_a {
        font-size: 35px;
    }
    .bg_w .section-inner {
        padding: 0px;
    }
    .bg_w .history-list {
        padding-top: 10px;
    }
    .bg_w .history-box{
        margin-top: 50px;
    }
    .bg_w .history-box .tit_a {
        font-size: 50px;
    }
    .bg_w .history-box .nfontb_a {
        font-size: 160px;
    }
    .bg_w .history-box .s1_letter {
        letter-spacing: -1px;
    }
    .bg_g .section-inner {
        padding: 0px;
    }
    .bg_g .history-box {
        margin-top: 50px;
    }
    .bg_g .history-box .s1_con {
        width:80%;
    }
    .bg_g .history-list2 .owl-dots {
        padding: 0px;
    }
    .s1_bg02 .section-inner {
        padding: 0px;
    }
    .s1_bg02 .section-inner .mtit_a {
        margin-top: -10px !important;
    }
    .s2_bg01 .section-inner {
        margin-top: 80px;
        padding: 0px;
    }
    .s2_bg02 .section-inner {
        margin-top: 40px;
        padding: 0px;
    }
    .s3_bg02 .section-inner .tit_a.mt60 { 
        margin-top: 60px !important;
        font-size: 55px;
    }
    .s3_bg02 .section-inner .s3_txt01 {
        width: 50%;
        padding: 0 120px
    }
    .s3_bg02 .fp-scrollable {
        height: calc(100vh) !important;
    }
    .s3_bg03 .section-inner .txt_box.mt12p {
        margin-top: 15% !important;
    }
}

