/* Normal */
body		{color:#444444; margin:0px; padding:0px; text-align:center; font-size:12px; font-family:Dotum}
td			{color:#444444; font-size:12px}
img			{border:0px} 
form,p		{margin:0px; padding:0px} 
div			{text-align:left}

ul,li,dl,dt,dd {list-style:none; margin:0px; padding:0px}
hr			{border-top:1px solid #ebeded; height:1px}

a 			{text-decoration:none; color:#666666}  
a:hover 	{text-decoration:underline; color:#f87501} 

/* float */
.fl 		{float:left}
.fr 		{float:right}
.fc 		{float:center}

/* font Style */
.bn			{font-weight:lighter}
.b			{font-weight:bold}
.ls0		{letter-spacing:0px}
.ls1		{letter-spacing:-1px}
.u			{text-decoration:underline} 

.ac			{text-align:center}
.ar			{text-align:right}
.al			{text-align:left}
.txt_jus	{text-align:justify}

/* font color */
.white_color		{color: #ffffff}
.black_color		{color: #000000}
.orange_color_1		{color:#FFA400}
.orange_color_2		{color:#EA4D00}
.orange_color_3		{color:#FF6000}
.blue_green			{color:#25C1C8}
.blue_color			{color:#2D85FF}
.red_color			{color:#FF2D43}

.gray_color_1		{color:#999999}
.gray_color_2		{color:#666666}
.gray_color_3		{color:#333333}

/* font Size */
.fs0		{font-size:0px}
.fs10		{font-size:10px}
.fs11		{font-size:11px}
.fs12		{font-size:12px}
.fs13		{font-size:13px}
.fs14		{font-size:14px}
.fs15		{font-size:15px}
.fs16		{font-size:16px}
.fs18		{font-size:18px}

.fnf		{font-family:tahoma}

/* line-height */
.line_h10 	{line-height:100%}
.line_h12 	{line-height:120%} 
.line_h13	{line-height:130%}
.line_h14	{line-height:140%} 
.line_h15	{line-height:150%} 
.line_h16	{line-height:160%}
.line_h18	{line-height:180%}
.line_h20	{line-height:200%}

/* padding */
.pat1		{padding-top:1px}
.pat2		{padding-top:2px}
.pat3		{padding-top:3px}
.pat4		{padding-top:4px}
.pat5		{padding-top:5px}
.pat6		{padding-top:6px}
.pat7		{padding-top:7px}
.pat8		{padding-top:8px}
.pat9		{padding-top:9px}
.pat10		{padding-top:10px}
.pat14		{padding-top:14px}

.pal1		{padding-left:1px}
.pal2		{padding-left:2px}
.pal3		{padding-left:3px}
.pal4		{padding-left:4px}
.pal5		{padding-left:5px}
.pal6		{padding-left:6px}
.pal7		{padding-left:7px}
.pal8		{padding-left:8px}
.pal9		{padding-left:9px}
.pal10		{padding-left:10px}

.par1		{padding-right:1px}
.par2		{padding-right:2px}
.par3		{padding-right:3px}
.par4		{padding-right:4px}
.par5		{padding-right:5px}
.par6		{padding-right:6px}
.par7		{padding-right:7px}
.par8		{padding-right:8px}
.par9		{padding-right:9px}
.par10		{padding-right:10px}

/* ---------------------------------------------------------------------------------------------------- */
/* Gmarket--------------------------------------------------------------------------------------------- */
#Gmarket_WRAPPER			{width:860px}
#Gmarket_WRAPPER	#GNB	{width:860px; height:38px}
#Gmarket_WRAPPER	#CON	{clear:both; width:860px; margin:10px 0px 15px 0px;}
#Gmarket_WRAPPER	#S_CON	{clear:both; width:860px; margin:20px 0px 15px 0px;}
#Gmarket_WRAPPER	#S_CON	.result		{float:left; background:url(http://file.rsrs.co.kr/gmarket/images/bul/bul_orange_circle.gif) 9px 5px no-repeat; padding:0px 0px 2px 17px; color:#000000;}
#Gmarket_WRAPPER	#CON	#LEFT		{float:left; width:170px; margin-right:10px}
#Gmarket_WRAPPER	#CON	#MAIN		{float:left; width:680px}
#Gmarket_WRAPPER	#CON	#MAIN_FULL	{float:left; width:860px}
#Gmarket_WRAPPER	#S_CON	#MAIN_FULL	{float:left; width:860px}
.title						{margin-top:10px; margin-bottom:20px}
.title_notice				{margin-top:10px; margin-bottom:10px}
.title_chartnews			{margin-top:10px; margin-bottom:10px}
.title_mv					{margin-top:10px; margin-bottom:10px}
.title_search				{margin-top:15px; margin-bottom:10px; background:url(http://file.rsrs.co.kr/gmarket/images/bul/bul_orange_bar.gif) 9px 12px no-repeat; padding:7px 0px 2px 17px; color:#000000; font-size:14px; letter-spacing:-1px; font-weight:bold}
.title_search		.more	{margin-left:5px; color:#666666; font-size:12px; letter-spacing:0px; font-weight:normal}
.title_albuminfo			{margin-top:10px; margin-bottom:10px}
.title_info					{margin-top:15px; margin-bottom:10px; background:url(http://file.rsrs.co.kr/gmarket/images/bul/bul_orange_circle.gif) 0px 11px no-repeat; padding:7px 0px 2px 8px; color:#000000; font-size:14px; letter-spacing:-1px; font-weight:bold}
.title_info			.more	{margin-left:5px; color:#666666; font-size:12px; letter-spacing:0px; font-weight:normal}
.search_artist		ul		{float:left; margin-top:5px}
.search_artist		li		{float:left; width:25%; background:url(http://file.rsrs.co.kr/gmarket/images/bul/bul_gray_dot.gif) 9px 4px no-repeat; padding-left:17px; color:blue; letter-spacing:-1px;}
.search_artist a:link, .search_artist a:visited, .search_artist a:active  {font-family:µ¸¿ò; text-decoration:underline; color:blue}
.search_artist a:hover		{font-family:µ¸¿ò; text-decoration:underline;}

#GNB_Top					{background:url(http://file.rsrs.co.kr/gmarket/images/gnb/gnb_bg.gif) left top repeat-x; width:860px; height:38px}
#GNB_Menu					{float:left; width:549px}
#GNB_Menu ul				{margin-left:20px}
#GNB_Menu li				{float:left; padding-right:5px; font-size:0px}
#SEARCH_Box					{float:right; padding-right:10px}
#SEARCH_Box li				{float:left}
#GNB_Bottom					{background:url(http://file.rsrs.co.kr/gmarket/images/gnb/gnb_b_bg.gif) right top repeat-x; width:860px; height:35px}
#GNB_Search_Bottom			{background:url(http://file.rsrs.co.kr/gmarket/images/gnb/gnb_s_b_bg.gif) left top repeat-x; width:860px; height:35px}
#tab_Box					{background:url(http://file.rsrs.co.kr/gmarket/images/tab/tab_line.gif) left top repeat-x; width:100%; height:24px}
#GNB_Bottom_con				{float:left; background:url(http://file.rsrs.co.kr/gmarket/images/gnb/gnb_b_l.gif) left top no-repeat; width:852px; height:35px; padding:0 4px}
#GNB_Bottom_con	li			{float:left; background:url(http://file.rsrs.co.kr/gmarket/images/bul/bul_orange_bar.gif) 9px 15px no-repeat; padding:7px 0px 2px 17px; font-size:11px; letter-spacing:-1px}
#GNB_Bottom_con	li.btn		{background:none; padding-left:2px}
.GNB_search_input			{border:1px solid #E84001; width:150px; height:20px; font-size:12px; color:#734b16; padding: 2px 3px 0 3px; margin-top:7px}
.GNB_selectTD				{width:85px; height:18px; font-family:gulim; color:#734b16; letter-spacing:-1px}
.GNB_login_input			{border:1px solid #E5E5E5; width:100px; height:19px; font-size:12px; color:#333333; padding: 2px 3px 0 3px; margin-left:3px}

.GNB_txtlink				{float:right; padding:12px 10px 0px 0px; font-size:11px; letter-spacing:-1px}
.GNB_txtlink a:link, .GNB_txtlink a:visited, .GNB_txtlink a:active  {font-family:µ¸¿ò; text-decoration:none; color:#ACACAC}
.GNB_txtlink a:hover		 {font-family:µ¸¿ò; text-decoration:none; color:#FF6000}

/* ---------------------------------------------------------------------------------------------------- */
/* Gmarket--------------------------------------------------------------------------------------------- */
#shinsegae_WRAPPER			{width:860px; text-align:center}
#shinsegae_WRAPPER	#GNB	{background:url(http://file.rsrs.co.kr/gmarket/images/gnb/gnb_bg.gif) repeat-x; width:860px; margin:0 auto; padding:0; height:35px}
#shinsegae_WRAPPER	#CON	{width:860px; margin:10px 0px 15px 0px}
#shinsegae_WRAPPER	#LEFT	{float:left; width:200px}
#shinsegae_WRAPPER	#MAIN	{float:left; width:680px}

/* ---------------------------------------------------------------------------------------------------- */
/* Ipop------------------------------------------------------------------------------------------------ */
#Ipop_WRAPPER				{width:860px; text-align:center}
#Ipop_WRAPPER		#GNB	{background:url(http://file.rsrs.co.kr/gmarket/images/gnb/gnb_bg.gif) repeat-x; width:860px; margin:0 auto; padding:0; height:35px}
#Ipop_WRAPPER		#CON	{width:860px; margin:10px 0px 15px 0px}
#Ipop_WRAPPER		#LEFT	{float:left; width:200px}
#Ipop_WRAPPER		#MAIN	{float:left; width:680px}

/* ---------------------------------------------------------------------------------------------------- */
/* LNB °ü·Ã-------------------------------------------------------------------------------------------- */
.lnb_tit_bg			{background:url(http://file.rsrs.co.kr/gmarket/images/lnb/lnb_tit_bg.gif) repeat-x; width:180px}

.lnb_ul				{font-family:µ¸¿ò; margin:5px 15px; padding:5px 0px}
.lnb_ul li			{letter-spacing:-1px}
.lnb_ul li ul		{margin-top:-7px; padding-top:5px; border-top:1px solid #ECECEC; font-weight:normal}
.lnb_ul li ul li	{background:url(http://file.rsrs.co.kr/gmarket/images/lnb/lnb_2dp_stick.gif) 10 10px no-repeat; padding:5px 0px 2px 17px; letter-spacing:-1px}
#dp_page_on1		{background:url(http://file.rsrs.co.kr/gmarket/images/lnb/lnb_1dp_arrow.gif) 125px 2px no-repeat}
#dp_page_on1	a	{color:#FF6000; text-decoration:none; font-weight:bold}
#dp_page_on2		{background:url(http://file.rsrs.co.kr/gmarket/images/lnb/lnb_2dp_bg.gif) repeat-x}
#dp_page_on2	a	{color:#000000; text-decoration:none; font-weight:bold}

.lnb_link_k a:link, .lnb_link_k a:visited, .lnb_link_k a:active  {font-family:µ¸¿ò; text-decoration:none; color:#777777}
.lnb_link_k a:hover {font-family:µ¸¿ò; text-decoration:underline; color:#e85e00}
.lnb_link_e a:link, .lnb_link_e a:visited, .lnb_link_e a:active  {font-family:tahoma; text-decoration:none; color:#777777}
.lnb_link_e a:hover {font-family:tahoma; text-decoration:underline; color:#e85e00}

/* ---------------------------------------------------------------------------------------------------- */
/* List °ü·Ã------------------------------------------------------------------------------------------- */
.list_tit_bg			{background:url(http://file.rsrs.co.kr/gmarket/images/list/list_tit_bg.gif) repeat-x; width:680px; height:35px}
.full_tit_bg			{background:url(http://file.rsrs.co.kr/gmarket/images/list/list_tit_bg.gif) repeat-x; width:860px; height:35px}
.list_tit_bg_footer		{background:url(http://file.rsrs.co.kr/gmarket/images/list/list_tit_bg_footer.gif) repeat-x; width:680px; height:35px}
.full_tit_bg_footer		{background:url(http://file.rsrs.co.kr/gmarket/images/list/list_tit_bg_footer.gif) repeat-x; width:860px; height:35px}
.list_txt_black			{color: #111111; text-decoration:none; font-size:12px}
.list_txt_gray			{color: #666666; text-decoration:none; font-size:12px}
.list_txt_red			{color: #DC3700; text-decoration:none; font-size:12px}
.marquee				{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.list_select			{border:none; font-family:tahoma; font-size:11px}
.list_con_line			{background:url(http://file.rsrs.co.kr/gmarket/images/list/list_con_line.gif) repeat-x; height:2px; font-size:0px}
.list_con_line1			{background:url(http://file.rsrs.co.kr/gmarket/images/list/list_con_line1.gif) repeat-x; height:1px}

.mv_info				{float:left; background:url(http://file.rsrs.co.kr/gmarket/images/bul/bul_orange_bar.gif) 0px 4px no-repeat; padding:0px 0px 2px 8px}

/* -----------------------------------------------------------------------------------------------------*/
/* Album border °ü·Ã----------------------------------------------------------------------------------- */
.Album_border_1px 		{padding:1px; border:1px solid #e4e4e4; vertical-align:top; background-color:#ffffff}
.Album_border_2px 		{padding:2px; border:1px solid #e4e4e4; vertical-align:top; background-color:#ffffff}
.Album_border_3px 		{padding:3px; border:1px solid #e4e4e4; vertical-align:top; background-color:#ffffff}
.Album_border_4px 		{padding:4px; border:1px solid #e4e4e4; vertical-align:top; background-color:#ffffff}
.Album_border_5px 		{padding:5px; border:1px solid #e4e4e4; vertical-align:top; background-color:#ffffff}

/* -----------------------------------------------------------------------------------------------------*/
/* ÇÏ´Ü ÆäÀÌÁö¸µÅ© °ü·Ã-------------------------------------------------------------------------------- */
.page_s 				{font-size:11px; font-family:Tahoma; font-weight:bold; color:#ff7e02}

.page_no				{font-size:11px; font-family:Tahoma; color:#666666; font-weight:normal; text-decoration:none}
A.page_no:link			{font-size:11px; font-family:Tahoma; color:#666666; font-weight:normal; text-decoration:none}
A.page_no:visited		{font-size:11px; font-family:Tahoma; color:#666666; font-weight:normal; text-decoration:none}
A.page_no:active		{font-size:11px; font-family:Tahoma; color:#666666; font-weight:normal; text-decoration:none}
A.page_no:hover			{font-size:11px; font-family:Tahoma; color:#000000; font-weight:normal; text-decoration:none}

/* ---------------------------------------------------------------------------------------------------- */
/* Main °ü·Ã------------------------------------------------------------------------------------------- */
#Gmarket_WRAPPER	#CON	#MAIN_LEFT	{float:left; width:570px}
#Gmarket_WRAPPER	#CON	#MAIN_RIGHT	{float:right; width:280px}

.bg_weekly1		{height:5px; background:url(http://file.rsrs.co.kr/gmarket/images/main/bg_weekly_top.gif) top left no-repeat}
.bg_weekly2		{background:url(http://file.rsrs.co.kr/gmarket/images/main/bg_weekly_bg.gif) top left repeat-y; padding:5px 10px}
.bg_weekly3		{height:5px; background:url(http://file.rsrs.co.kr/gmarket/images/main/bg_weekly_bottom.gif) top left no-repeat}
.line_weekly	{height:22px; background:url(http://file.rsrs.co.kr/gmarket/images/main/line_weekly.gif) bottom left repeat-x; vertical-align:top; padding:0 5px}
.bg_right1		{height:5px; background:url(http://file.rsrs.co.kr/gmarket/images/main/bg_right_top.gif) top left no-repeat}
.bg_right2		{background:url(http://file.rsrs.co.kr/gmarket/images/main/bg_right_bg.gif) top left repeat-y; padding:5px 10px}
.bg_right3		{height:5px; background:url(http://file.rsrs.co.kr/gmarket/images/main/bg_right_bottom.gif) top left no-repeat}
.line_right		{height:22px; background:url(http://file.rsrs.co.kr/gmarket/images/main/line_right.gif) bottom left repeat-x; vertical-align:top; padding:0 5px}
.bg_left1		{width:10px; height:106px; background:url(http://file.rsrs.co.kr/gmarket/images/main/bg_left_left.gif) top left no-repeat}
.bg_left2		{background:url(http://file.rsrs.co.kr/gmarket/images/main/bg_left_bg.gif) top left repeat-x; padding:4px 5px;}
.bg_left3		{width:10px; height:106px; background:url(http://file.rsrs.co.kr/gmarket/images/main/bg_left_right.gif) top left no-repeat}
.list_txt_black2{color: #111111; text-decoration:none; font-size:11px; letter-spacing:-1px}
.list_txt_red2	{color: #DC3700; text-decoration:none; font-size:11px; letter-spacing:-1px}
.bu_notice		{height:20px; background:url(http://file.rsrs.co.kr/gmarket/images/main/arr.gif) 0 50% no-repeat; padding-left:7px}
.bu_guide		{background:url(http://file.rsrs.co.kr/gmarket/images/main/bu_guide.gif) 0 5px no-repeat; padding-left:6px}
.bg_album		{width:86px; height:86px; background:url(http://file.rsrs.co.kr/gmarket/images/main/bg_album.gif) top left no-repeat}

.artistlink				{letter-spacing:-1px; font:normal 11px/1.2 Dotum}
.artistlink a:link, .artistlink a:visited, .artistlink a:active	{text-decoration:none; color:#999}
.artistlink a:hover		{text-decoration:none; color:#333}

/* ---------------------------------------------------------------------------------------------------- */
/* Popup °ü·Ã------------------------------------------------------------------------------------------- */
.bg_title			{background:url(http://file.rsrs.co.kr/gmarket/images/popup/bg_title.gif) top left repeat-x}
.bu_popup			{background:url(http://file.rsrs.co.kr/gmarket/images/popup/bu.gif) 0 5px no-repeat; padding-left:10px; font:bold 12px/1.4 Tahoma; color:#333333; letter-spacing:-1px}
.bu_popup2			{height:20px; background:url(http://file.rsrs.co.kr/gmarket/images/popup/bu2.gif) 0 8px no-repeat; padding-left:8px; font:normal 12px/1.4 Tahoma; color:#333333; letter-spacing:-1px}
.input_popup		{color:#888; font:normal 12px/1.4 Tahoma; border:solid 1px #ececec; background:#ececec; height:20px}
.select_popup		{font:12px/1.4 Dotum; color: #444; letter-spacing:-1px; vertical-align:middle;}
.line_end			{height:2px; background:#fe5800}
.bx_song	{width:100%; height:320px; background:#F4F3F1; font-size:11px; overflow:auto; padding:8px}
.scllbx	{scrollbar-face-color:#EFEFEF; scrollbar-shadow-color:#9F9F9F; scrollbar-highlight-color:#fff; scrollbar-3dlight-color:#FFF; scrollbar-darkshadow-color:#FFF; scrollbar-track-color:#EFEFEF; scrollbar-arrow-color:#404040}
	
table.bbsList		{width:100%; border-top:2px solid #fe5800}
table.bbsList th	{height:26px; font:normal 11px/1.2 Dotum; color:#fe5800; letter-spacing:-1px; border-left:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5; background:#f7f7f5}
table.bbsList td	{padding:6px; font:normal 11px/1.2 Dotum; border-bottom:1px solid #d5d5d5; border-left:1px solid #d5d5d5; text-align:center}
table.bbsList td.none, table.bbsList th.none	{border-left:0}
table.bbsList td.num	{letter-spacing:0; font:normal 10px/1.2 Tahoma}
table.bbsList td.left	{text-align:left}

table.bbsList2		{width:100%}
table.bbsList2 th	{padding:6px; font:normal 11px/1.2 Dotum; color:#6b3900; letter-spacing:-`px; border-bottom:1px solid #e9dfc1; text-align:left}
table.bbsList2 td	{padding:6px 6px 6px 10px; font:normal 12px/1.2 Tahoma}