@charset "utf-8";

@import "base.css";

body {
    background: url("/images/head_bg.gif") repeat-x 0 0;
}
/* login form */
body.login {
    background: #373737 url("/images/admin_all_bg.gif") repeat-x 0 0;
}
#wrap-login {
    height: 800px;
    background: url("/images/admin_bg.gif") no-repeat 0 0;
}
#wrap-login h1 {
    padding: 57px 0 0 47px;
    height: 153px;
}
#wrap-login p.info {
    padding: 0 0 0 51px;
    height: 53px;
}
#wrap-login div.login-form {
    position: relative;
    padding: 0 0 0 50px;
    height: 450px;
}
#wrap-login div.login-form h2 {
    float: left;
    padding: 0;
    width: 132px;
}
#wrap-login div.login-form dl {
    padding: 12px 0 0 0;
    float: left;
    width: 225px;
}
#wrap-login div.login-form dl dt {
    float: left;
    padding: 5px 0 0;
    width: 73px;
}
#wrap-login div.login-form dl dd {
    float: left;
    width: 152px;
    height: 24px;
}
#wrap-login div.login-form dl dd input {
    padding: 2px 0 0 2px;
    width: 141px;
    height: 16px;
    border: 1px solid #b6b6b8;
}
#wrap-login div.login-form p.id-save {
    position: absolute;
    left: 258px;
    top: 65px;
}
#wrap-login div.login-form p.id-save img {
    margin: 0 0 0 4px;
    vertical-align: middle;
}
#wrap-login div.login-form p.button {
    float: left;
    padding: 11px 0 0;
}
#wrap-login div.foot {
    position: relative;
    clear: both;
    height: 77px;
    background: url("/images/login_foot_bg.gif") repeat-x 0 0;
}
#wrap-login div.foot address {
    padding: 25px 0 4px 32px;
}
#wrap-login div.foot p.copyright {
    padding: 0 0 0 32px;
}

#wrap {
    width: 100%;
    height: 100%;
}
/* skip-navigation */
#skip-navigation {
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
/* head */
#head {
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 950px;
    height: 110px;
    background: #000 url("/images/head_bg.gif") repeat-x 0 0;
	bordeR: 1px solid #000;
}
#head h1 {
    float: left;
    padding: 15px 0 0 38px;
    width: 400px;
    height: 55px;
    font-size: 1.6em;
    color: #031c56;
}
#head h1 a {
    color: #031c56;
}
#head div.global-menu {
    padding: 15px 38px 0 0;
    float: right;
}
#head div.global-menu ul li {
    display: inline;
    padding: 0 10px;
    background: url("/images/global_bar.gif") no-repeat 0 0;
}
#head div.global-menu ul li:first-child {
    background: none;
}
#head div.main-menu {
    float: left;
    width: 100%;
    height: 40px;
}
#head div.main-menu ul {
    display: inline;
    float: left;
    margin: 6px 0 0 30px;
}
#head div.main-menu ul li {
    float: left;
    margin: 0 2px 0 0;
    padding: 0 0 0 10px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: url("/images/main_menu_off.gif") no-repeat 0 0;
    overflow: hidden;
}
#head div.main-menu ul li a {
    display: inline-block;
    padding: 0 10px 0 0;
    color: #c2c2c2;
    font-weight: bold;
    background: url("/images/main_menu_off.gif") no-repeat right 0;
}

#head div.main-menu ul li.selected {
    background: url("/images/main_menu_on.gif") no-repeat 0 0;
}
#head div.main-menu ul li.selected a {
    color: #fff;
    background: url("/images/main_menu_on.gif") no-repeat right 0;
}

/* body */
#body {
    position: relative;
    float: left;
    margin: -110px 0 0;
    padding: 20px 0 0;
    width: 100%;
    height: 100%;
    min-width: 1250px;
    overflow: hidden;
}

/* sidebar */
#sidebar {
    position: absolute;
    left: 0;
    top: 130px;
    z-index: 2;
    float: left;
    margin: 0 0 0;
    padding: 0 0 20px 30px;
    float: left;
    width: 190px;
    display: none;
}
#sidebar h2 {
    padding: 0 0 0 5px;
    width: 155px;
    height: 40px;
    color: #fff;
    font-size: 1.2em;
    line-height: 40px;
    background: url("/images/h2_side.gif") no-repeat 0 0;
}
#sidebar div.side-menu {
    margin: 3px 0 50px;
    width: 156px;
    border: 2px solid #ececec;
    border-top: 0;
}
#sidebar div.side-menu ul {
    padding: 0;
    border-top: 1px solid #ececec;

}
#sidebar div.side-menu ul li {
    margin: 0;
    padding: 5px 0 5px 19px;
    background: url("/images/icon_side01_off.gif") no-repeat 9px 11px;
    border-top: 1px solid #ebebeb;
}
#sidebar div.side-menu ul li.selected {
    background: url("/images/icon_side01_on.gif") no-repeat 9px 11px;
}
#sidebar div.side-menu ul li span {
    display: block;
    padding: 0 0 3px;
    color: #252525;
}
#sidebar div.side-menu ul li.selected span {
    font-weight: bold;
}
#sidebar div.side-menu ul li a {
    color: #252525;
}
#sidebar div.side-menu ul li ul {
    margin: 0 0 0 -19px;
    padding: 0;
    border-top: 1px solid #ebebeb;
}
#sidebar div.side-menu ul li ul li {
    margin: 2px 0;
    padding: 0 0 0 18px;
    background: url("/images/icon_side02.gif") no-repeat 9px 4px;
    border-top: 0;
}

/* contents */
#contents {
    margin: 0;
    padding: 110px 0 0;
    width: 100%;
    min-width: 1020px;
    min-height: 900px;

}
#contents-area {
    margin: 0 30px 0;
    height: 100%;
    min-height: 600px;
    overflow: auto;
    overflow-y: hidden;
}
#contents-popup {
    margin: 0;
    padding: 0;
    width: 100%;
}
#contents-popup-area {
    padding: 20px 20px 0;

}
#contents-popup h3,
#contents h3 {
    clear: both;
    padding: 0 0 10px 24px;
    color: #0984b4;
    font-size: 1.4em;
    background: url("/images/h3_dot.gif") no-repeat 3px 3px;
    border-bottom: 2px solid #ebebeb;
}
#contents-popup h4,
#contents h4 {
    margin: 5px 0 10px;
    padding: 0 0 10px 14px;
    color: #3d3d3d;
    font-size: 1em;
    background: url("/images/h4_dot.gif") no-repeat 2px 5px;
    border-bottom: 1px solid #ebebeb;
}

#contents-popup div.form-type td h4,
#contents div.form-type td h4 {
    margin: 0 !important;
    padding: 0 !important;
    color: #3d3d3d;
    font-size: 0.9em;
    background: none !important;
    border-bottom: 0;
}
#contents-popup table.table {
    width: 100%;
}
#contents table.table {
    width: 100%;
}
#contents-popup table.table caption,
#contents table.table caption {
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
/* 목록 */
#contents-popup div.list-option,
#contents div.list-option  {
    clear: both;
    width: 100%;
    padding: 0 0 10px 0;
    text-align: right;
}
#contents-popup div.list-option .left,
#contents div.list-option .left {
    float: left;
    margin: 0 4px 4px 0 !important;
}
#contents-popup div.list-type,
#contents div.list-type {
    clear: both;
    width: 100%;
    padding: 0 0 20px 0;
}
#contents-popup div.list-type table.table,
#contents div.list-type table.table {
    width: 100%;
    border-top: 2px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
}
#contents-popup div.list-type table.table tbody tr th,
#contents div.list-type table.table tbody tr th {
    padding: 5px 0;
    border-top: 1px solid #d6d6d6;
    background: #f7f7f7;
}
#contents-popup div.list-type table.table tbody tr th,
#contents div.list-type table.table tbody tr th {
    padding: 5px 0;
    border-top: 1px solid #d6d6d6;
}
#contents-popup div.list-type table.table tbody tr td,
#contents div.list-type table.table tbody tr td {
    padding: 5px 0;
    border-top: 1px solid #d6d6d6;
    text-align: center;
}
#contents-popup div.list-type table.table tbody tr td.left,
#contents div.list-type table.table tbody tr td.left {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
#contents-popup div.list-type table.table tbody tr td.right,
#contents div.list-type table.table tbody tr td.right {
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}
#contents-popup div.list-type div.list-button,
#contents div.list-type div.list-button {
    width: 100%;
    text-align: right;
}
#contents-popup div.pager,
#contents div.pager {
    margin: 0 0 -40px;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
}
#contents-popup div.pager strong,
#contents div.pager strong {
    display: inline-block;
    padding: 0 6px;
    color: #fff;
    border: 1px solid #c4c4c4;
    background: #00aeef;
}
#contents-popup div.pager a,
#contents div.pager a {
    display: inline-block;
    padding: 0 6px;
    border: 1px solid #c4c4c4;
}
#contents-popup div.pager a.first,
#contents-popup div.pager a.prev,
#contents-popup div.pager a.next,
#contents-popup div.pager a.last,
#contents div.pager a.first,
#contents div.pager a.prev,
#contents div.pager a.next,
#contents div.pager a.last {
    padding: 0 2px;
    border: 0;
}
#contents-popup div.pager a img,
#contents div.pager a img {
    vertical-align: middle;
}
#contents-popup fieldset legend,
#contents fieldset legend {
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
#contents-popup div.search-form,
#contents div.search-form {
    padding: 0 0 50px;
    text-align: center;
}
#contents-popup div.tab-type,
#contents div.tab-type {
    margin: 0 ;
    width: 100%;
}
#contents-popup div.tab-type ul.tab-menu,
#contents div.tab-type ul.tab-menu {
    margin: 0 0 -1px;
    padding: 0;
    float: left;
    width: 100%;
    background: url("/images/tab_line.gif") repeat-x 0 bottom;
}
#contents-popup div.tab-type ul.tab-menu li,
#contents div.tab-type ul.tab-menu li {
    float: left;
    margin: 0 2px 0 0;
    padding: 0 0 0 20px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: url("/images/tab_off.gif") no-repeat 0 0;
    overflow: hidden;
}
#contents-popup div.tab-type ul.tab-menu li a,
#contents div.tab-type ul.tab-menu li a {
    display: inline-block;
    padding: 0 20px 0 0;
    color: #666;
    font-weight: bold;
    background: url("/images/tab_off.gif") no-repeat right 0;
}
#contents-popup div.tab-type ul.tab-menu li.selected,
#contents div.tab-type ul.tab-menu li.selected {
    background: url("/images/tab_on.gif") no-repeat 0 0;
}
#contents-popup div.tab-type ul.tab-menu li.selected a,
#contents div.tab-type ul.tab-menu li.selected a {
    color: #000;
    background: url("/images/tab_on.gif") no-repeat right 0;
}
#contents-popup div.tab-type div.tab-content,
#contents div.tab-type div.tab-content {
    clear: both;
    padding: 20px 0 0;
}
/* 상세 */
#contents-popup div.detail-type,
#contents div.detail-type {
    width: 100%;
    padding: 0 0 20px 1px;
    border-top: 1px solid #7d7d7d;
}
#contents-popup div.detail-type table.table,
#contents div.detail-type table.table {
    width: 100%;
    border-bottom: 1px solid #7d7d7d;
}
#contents-popup div.detail-type table.table tbody tr th,
#contents div.detail-type table.table tbody tr th {
    padding: 5px 0 5px 10px;
    border-top: 1px solid #d6d6d6;
    text-align: left;
    background: #f7f7f7;
}
#contents-popup div.detail-type table.table tbody tr td,
#contents div.detail-type table.table tbody tr td {
    padding: 5px 0 5px 10px;
    border-top: 1px solid #d6d6d6;
}
#contents-popup div.detail-type div.detail-button,
#contents div.detail-type div.detail-button {
    padding: 20px 0 0;
    width: 100%;
    text-align: center;
}
/* form */
#contents-popup div.form-type,
#contents div.form-type {
    width: 100%;
    padding: 0;
    border-top: 2px solid #7d7d7d;
}
#contents-popup div.tab-type div.tab-content  div.form-type,
#contents div.tab-type div.tab-content  div.form-type {
    border-top: 0;
}
#contents-popup div.form-type table.table tbody tr th,
#contents div.form-type table.table tbody tr th {
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #d6d6d6;
    text-align: left;
    background: #f7f7f7;
}
#contents-popup div.form-type table.table tbody tr td,
#contents div.form-type table.table tbody tr td {
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #d6d6d6;
}
#contents-popup div.form-type table.table tbody tr td input,
#contents div.form-type table.table tbody tr td input {
    padding: 2px 0 0 2px;
    height: 16px;
    border-top: 1px solid #8b8b8b;
    border-left: 1px solid #8b8b8b;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}
#contents-popup div.form-type table.inner-table tbody tr td,
#contents div.form-type table.inner-table tbody tr td {
    padding: 5px 5px 5px 0px;
    border-bottom: 0;
}
#contents-popup div.form-type div.form-button,
#contents div.form-type div.form-button {
    padding: 10px 0 20px;
    text-align: center;
}

#contents-popup div.form-type table.table tbody tr td.min-size,
#contents div.form-type table.table tbody tr td.min-size {
	min-height: 108px;
	height: auto !important;
	height: 108px;
}

/* 카테고리 */
div.cate-list {
    float: left;
    margin: 0 3% 0 0;
    padding: 1%;
    width: 23%;
    height: 500px;
    border: 1px solid #d6d6d6;
    overflow: auto;
}
div.cate-content {
    float: left;
    width: 70%;
}

/* foot */
#foot {
    display: none;
    clear: both;
    padding: 10px 0 0;
    border-top: 1px solid #999;
}
#foot p.logo {

}
#foot address {

}
#foot p.copyright {

}

/* Button Reset */
span.button,
span.button a,
span.button button,
span.button input { position:relative !important; margin:0!important; display:inline-block; text-decoration:none !important; border:0!important; font-size:12px!important; font-family:Tahoma, Sans-serif!important; white-space:nowrap!important; background:url("/images/button_bg.gif") no-repeat!important; vertical-align:middle!important; overflow:visible!important; color:#333;}
span.button { height:23px!important; padding:0!important; margin-right:2px!important; background-position:left top!important;}
span.button a,
span.button button,
span.button input{ left:2px!important; *vertical-align:top!important; cursor:pointer!important;}

/* Button Size */
span.button.large { height:29px!important; background-position:left -30px!important; }
span.button.xLarge { height:35px!important; background-position:left -65px!important; }
span.button.small { height:18px!important; background-position:left -107px!important; }
span.button a,
span.button button,
span.button input { height:23px!important; padding:0 10px 0 8px!important; font-size:12px!important; line-height:23px!important; background-position:right top!important;}
span.button.large a,
span.button.large button,
span.button.large input { height:30px!important; padding:0 10px 0 8px!important; font-size:16px!important; line-height:29px!important; background-position:right -30px!important;}
span.button.xLarge a,
span.button.xLarge button,
span.button.xLarge input { height:35px!important; padding:0 10px 0 8px!important; font-size:20px!important; line-height:35px!important; background-position:right -65px!important;}
span.button.small a,
span.button.small button,
span.button.small input { height:18px!important; padding:0 6px 0 4px!important; font-size:11px!important; line-height:18px!important; background-position:right -107px!important;}

/* Button Text Strong */
.button.strong * { font-weight:bold !important;}

/* side calendar */
div.side-calendar {
    width: 200px;
}
div.side-calendar div.prev-next {
    padding: 0 0 10px;
}
div.side-calendar table.table {
    width: 150px;
}
div.side-calendar table.table caption {
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
div.side-calendar table.table tbody tr th {
    border: 1px solid #999;
}
div.side-calendar table.table tbody tr td {
    text-align: center;
    border: 1px solid #999;
}

.displaySubmain {
    position: absolute;
    border: 2px solid #4070BF;
    background: #E7EAF0;
    filter:alpha(opacity:70);
    font-size:12px;
    font-family:Tahoma, Sans-serif;
    text-align:center;
}

.displayMain {
    position: absolute;
    border: 2px solid #4070BF;
    background: #E7EAF0;
    filter:alpha(opacity:70);
    font-size:12px;
    font-family:Tahoma, Sans-serif;
    text-align:center;
}

.tooltip {
    display:none;
    border: 1px solid #4070BF;
    background: #E7EAF0;
    font-size:12px;
    padding:5px;
    color:#000; 
}

div.search-box {
    margin: 0 3% 0 0;
    padding: 1%;
    width: 97.5%;
    border: 1px solid #d6d6d6;
    overflow: auto;
}


