@charset "utf-8";
/* base css */
* { margin: 0; padding: 0; }
html { width: 100%; }
body { width: 100%; font-size: 12px; font-family: "돋움", "Dotum", sans-serif; color: #464646; line-height: normal; }
table { border-collapse: collapse; border-spacing: 1px; font-size: 1em; }
img, input.type-image { border: 0; }
input[type=checkbox], input[type=radio] { border: 0 !important; }
fieldset, legend { border: 0; }
form, h1, h2, h3, h4, h5, h6, p, div, th, td, table, select, address { margin: 0; padding: 0; line-height: normal; color: #666666; }
h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.2em; }
h4, h5, h6 { font-size: 1em; }
hr { display: none; }
ul, li, ol, dl, dt, dd { margin: 0; padding: 0; list-style: none; }
button { margin: 0; border: 0; background: none; cursor: pointer; }
select { padding: 0; margin: 0; vertical-align: middle; font-size: 1em; border: 1px solid #ccc; background: #fff; font-family: "돋움", "Dotum", sans-serif; }
textarea { padding: 0; margin: 0; vertical-align: middle; font-size: 1em; border: 1px solid #ccc; background: #fff; font-family: "돋움", "Dotum", sans-serif; line-height: 1.4em; color: #5a5a5a; }
input { padding: 0; margin: 0; vertical-align: middle; font-size: 1em; line-height: 1.2em; color: #5a5a5a; font-family: "돋움", "Dotum", sans-serif; }
input.checkbox { padding: 0; border: none; }
a:link, a:visited { color: #666666; text-decoration: none; line-height: normal !important; }
a:hover, a:active { color: #f58220; text-decoration: underline; line-height: normal !important; }
#contents div.pager { clear: both; position: relative; margin: 0 0 -60px; padding: 13px 0 20px; text-align: center; }
#contents div.pager a, #contents div.pager strong { display: inline-block; padding: 3px 7px; vertical-align: middle; }
#contents div.pager img { margin: 0 -6px; vertical-align: middle; }
/* IE PGN24 */
.png24 { tmp: expression(setPng24(this)); }
.iepngfix { behavior: url("/js/iepngfix.htc"); }  
 