@charset "utf-8";

#contents div.board-search {
	clear: both;
	float: right;
	margin: 0 0 10px;
	width: 338px;
	height: 26px;
	overflow: hidden;
	text-align: right;
	border: 4px solid #b11111;
}
#contents div.board-search a img {	
	vertical-align: middle;
}
#contents div.board-search fieldset {

}
#contents div.board-search fieldset legend {
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
#contents div.board-search fieldset input.textbox {
	margin: 0 -4px 0 0;
	padding: 5px 3px 0 3px;
	width: 274px;
	height: 21px;
	border: 0;
}
#contents div.board-search fieldset input {
	vertical-align: top;
}
#contents div.board {
	float: left;
	width: 100%;
	border-bottom: 1px solid #d12324;
}
#contents div.board table.list {
	width: 100%;
}
#contents div.board table.list caption {
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
#contents div.board table.list thead tr th {
	height: 30px;
	border-top: 2px solid #a31112;
	border-bottom: 1px solid #a31112;
}
#contents div.board table.list tbody tr td {
	padding: 8px 0;
	font-size: 0.9em;
	border-bottom: 1px solid #f0f0f0;
}
#contents div.board table.list tbody tr td.number {
	text-align: center;
}
#contents div.board table.list tbody tr td.section {
	text-align: center;
}
#contents div.board table.list tbody tr td.subject {
	padding-left: 10px;
}
#contents div.board table.list tbody tr td.date {
	text-align: center;
}
#contents div.board table.list tbody tr td.view-count {
	text-align: center;
}
#contents div.board table.list tbody tr td.list-content {
	display: none;
	line-height: 1.5em !important;
	background: #fafafa;
}
#contents div.board table.list tbody tr td.list-content p {
	padding: 0 0 5px;
	line-height: 1.5em !important;
}

#contents div.board-detail {
	clear: both;
	width: 100%;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/board_detail_list_bg.gif") no-repeat 0 0;
}
#contents div.board-detail table.list {
	width: 100%;

}
#contents div.board-detail table.list caption {
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
#contents div.board-detail table.list thead tr th {
	height: 26px;
}
#contents div.board-detail table.list tbody tr td {
	padding: 8px 0;
	font-size: 0.9em;
	border-bottom: 1px solid #eaeaea;
}
#contents div.board-detail table.list tbody tr td.number {
	text-align: center;
}
#contents div.board-detail table.list tbody tr td.satisfaction {
	text-align: center;
}
#contents div.board-detail table.list tbody tr td.section {
	text-align: center;
}
#contents div.board-detail table.list tbody tr td.product-comment {
	padding-left: 10px;
}
#contents div.board-detail table.list tbody tr td.product-comment a {
	line-height: 1.3em !important;
}
#contents div.board-detail table.list tbody tr td.button {
	width: 90px;
	text-align: center;
}
#contents div.board-detail table.list tbody tr td.button img {
	margin: -3px 0 -5px;
}
#contents div.board-detail table.list tbody tr td.writer {
	width: 100px;
	text-align: center;
}
#contents div.board-detail table.list tbody tr td.reporting-date {
	width: 100px;
	text-align: center;
}
#contents div.board-detail table.list tbody tr td.detail-content {
	display: none;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.5em !important;
	background: #fafafa;
}
#contents table.list tbody tr td.detail-content p.question-content {
	padding: 0 0 10px;
}
#contents table.list tbody tr td.detail-content p.answer {
	padding: 0 0 10px;
	color: #f0336c;
	font-weight: bold;
}
