@charset "utf-8";
/* diary css */
div#header { height:206px;}
div#header div#topMenu { position:absolute;left:752px;top:123px;height:0; }
div#header div#topMenu ul li { padding:0 10px 0 5px;float:left; }
div#header div#topMenu ul li.hasBg {padding:1px 7px 0 7px;background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/Diary_mt_line.jpg') no-repeat right;}
div#header ul.mainMenu { width:950px; height:80px;}
div#header ul.mainMenu li.tab { float:left; }
div#header ul.mainMenu li.searchLi { background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/Diary_menu09.jpg') 10px 30px no-repeat;float:left;width:159px;height:37px;}
div#header ul.mainMenu li.searchLi div { position:relative;left:65px;top:-30px; }
div#header ul.mainMenu li ul.subMenu {
    background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/Diary_menu06_bg_2.jpg') no-repeat;
    display:none;
    width:114px;
    height:106px;
    position:absolute;
    z-index:50;
    top:210px;
    left:471px;
    font-size:0.95em;
}
div#header ul.mainMenu li ul.subMenu li{padding:8px 0 5px 5px; }
div#header ul.mainMenu li ul.subMenu li a { text-decoration:none;color:#777777; }

div#header div#searchBg { display:none; width:950px; height:410px; position:relative; top:0; left:0;background-color:#ddd }
div#header div#searchBg div#searchArea { width:950px; height:400px; position:absolute; top:5px; left:0; background-color: #ffffff;}
div#header div#searchBg div#searchArea div.title { width:950px;height:37px;text-align:center;background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/search_title_bg.gif') no-repeat; }
div#header div#searchBg div#searchArea div.title span { float:left;padding:15px 0 0 400px; }
div#header div#searchBg div#searchArea div.title span.btn { font-weight:bold;font-size:1.2em;float:right;margin:5px 10px 0 0; padding:4px 4px 2px 4px;border:2px solid #777; }
div#header div#searchBg div#searchArea div.title span.btn a { text-decoration:none; }
div#header div#searchBg div#searchArea div.innerArea { padding:10px 10px 10px 10px;border:1px solid #dddddd; }
div#header div#searchBg div#searchArea div.innerArea table { font-size:1em;width:930px; }
div#header div#searchBg div#searchArea div.innerArea table tbody tr { height:50px;border-bottom: 1px solid #eeeeee; }
div#header div#searchBg div#searchArea div.innerArea table tbody tr.line2 { height:67px; }
div#header div#searchBg div#searchArea div.innerArea table tbody tr.control { height:75px;border-bottom:none; }
div#header div#searchBg div#searchArea div.innerArea table tbody tr.control span.submit img { width:97px;height:33px;padding:22px 0 0 0; }
div#header div#searchBg div#searchArea div.innerArea table tbody tr.control span.reset img { width:107px;height:33px;padding:22px 0 0 0; }
div#header div#searchBg div#searchArea div.innerArea table tbody tr th { width:200px;  }
div#header div#searchBg div#searchArea div.innerArea table tbody tr td input { margin:0 5px 0 5px;border:1px solid #f0f0f0; }
div#header div#searchBg div#searchArea div.innerArea table tbody tr td input.textbox { width: 150px;height:25px;border:1px solid #bbbbbb; } 
div#header div#searchBg div#searchArea div.innerArea ul.color { margin:0 0 0 10px; }
div#header div#searchBg div#searchArea div.innerArea ul.color li { float:left;margin:0 10px 0 0; }
div#header div#searchBg div#searchArea div.innerArea ul.color li img { width:25px;height:25px; }



div#m_diary div.diary-promotion { padding:20px 0 0 0;width: 950px; height: 412px;background:url("https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/s_line.jpg") repeat-x bottom; }
div#m_diary div.diary-promotion div.diary-scroll-event { width:610px;float:left;padding:0 30px 0 0;background:url("https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/Diary_flash_line.jpg") repeat-y right; }
div#m_diary div.diary-promotion div.diary-scroll-event p.btn { text-align:right;padding:10px 0 0 0; }
div#m_diary div.diary-promotion div.diary-scroll-event p.btn a { padding:0 10px 0 0; }
div#m_diary div.diary-promotion div.diary-scroll-event div.scroll-event-content ul li img { width: 610px; height: 355px; overflow: hidden; }
div#m_diary div.diary-promotion div.mainRightBanner { padding:0 0 0 0px; }
div#m_diary div.diary-promotion div.mainRightBanner img { float:right;width: 310px; height: 380px; }

div#m_diary div.diary-main-second { padding:32px 0 0 0;width:950px;height:454px; }
div#m_diary div.diary-main-second div.scheduler { float:left;width:178px;height:424px; }
div#m_diary div.diary-main-second div.diary-mds-pick {float: left;margin: 0 18px 0 18px;width: 566px;height: 424px;overflow: hidden;}
div#m_diary div.diary-main-second div.diary-mds-pick h3 { padding: 3px 0 0 3px;height: 19px;border-bottom: 1px solid #eaeaea;}
div#m_diary div.diary-main-second div.diary-mds-pick ul.menu { margin: -19px 0 0 0;height: 20px;text-align: right;}
div#m_diary div.diary-main-second div.diary-mds-pick ul.menu li { display: inline; padding: 0 2px 0 0; }
div#m_diary div.diary-main-second div.diary-mds-pick div.main-mds-pick-content { margin: 0 0 5px 0; float: left; width: 550px; height: 400px; overflow: hidden;}
div#m_diary div.diary-main-second div.diary-mds-pick div.main-mds-pick-content ul { float: left; width: 566px; }
div#m_diary div.diary-main-second div.diary-mds-pick div.main-mds-pick-content ul li { float: left; padding: 20px 10px 0 5px; padding:20px 10px 0 5;float:left;width:122px;height:180px;text-align:center; }
div#m_diary div.diary-main-second div.diary-mds-pick div.main-mds-pick-content ul li p { font-size: 0.95em;padding: 0 0 4px;color:#545454; }
div#m_diary div.diary-main-second div.diary-mds-pick div.main-mds-pick-content ul li p.name { height: 13px;line-height: 1.2em !important;text-overflow: hidden;text-overflow:hidden; }
div#m_diary div.diary-main-second div.diary-mds-pick div.main-mds-pick-content ul li p.photo { margin:0 0 5px 0;padding: 1px;background-color:#eeeeee; }
div#m_diary div.diary-main-second div.diary-mds-pick div.main-mds-pick-content ul li p.orgSellPrice { font-weight:bold; }
div#m_diary div.diary-main-second div.diary-mds-pick div.main-mds-pick-content ul li p.orgSellPrice span { width:200px;text-decoration: line-through;padding:0 5px; }
div#m_diary div.diary-main-second div.diary-mds-pick div.main-mds-pick-content ul li p.orgSellPrice strong { color:#da2128; }
div#m_diary div.diary-main-second div.diary-mds-pick div.main-mds-pick-content ul li p.sellPrice { font-weight:bold; }
div#m_diary div.diary-main-second div.diary-mds-pick div.main-mds-pick-content ul li p.comment { color:#777777; }
div#m_diary div.diary-main-second div.calendar { float:left;width:167px;height:424px; }

div#m_diary div.diary-main-third img { width:950px;height:196px; }

div#m_diary div.diary-main-fourth { width:950px;height:352px; }
div#m_diary div.diary-main-fourth div.ranking { float:left;width:205px;height:322px;font-size:0.95em; }
div#m_diary div.diary-main-fourth div.ranking div.top { height:22px; }
div#m_diary div.diary-main-fourth div.ranking div.top span { float:left; }
div#m_diary div.diary-main-fourth div.ranking div.top span.right { float:right;padding: 3px 3px 0 0; }
div#m_diary div.diary-main-fourth div.ranking div.rankTab ul li { float:left; }
div#m_diary div.diary-main-fourth div.ranking div.rankProductList ul li { float:left;padding:10px 4px 5px 3px;background-color:#ffffff; }
div#m_diary div.diary-main-fourth div.ranking div.rankProductList ul li div { float:left; }
div#m_diary div.diary-main-fourth div.ranking div.rankProductList ul li.small { width:91px;text-align:center;background-color:#f3f3f3;border:2px solid #fff;padding:7px 4px 7px 3px; }
div#m_diary div.diary-main-fourth div.ranking div.rankProductList ul li p.brand { padding:10px 0 2px 0;font-weight:bold; }
div#m_diary div.diary-main-fourth div.ranking div.rankProductList ul li p.rankIcon { padding:10px 5px 2px 0; }
div#m_diary div.diary-main-fourth div.rightBanner { float:right; }
div#m_diary div.diary-main-fourth div.rightBanner img { padding:0 0 0 35px;width:710px;height:322px; }

div#m_diary div.hotevent div#noSearch { text-align:center; }
div#m_diary div.hotevent div.more { text-align:right;padding:0 0 5px 0; }
div#m_diary div.hotevent div.title { background: url("https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/s_line.jpg") repeat-x 0 center;margin:0 0 10px 0; }
div#m_diary div.hotevent ul li { width:231px;float:left;padding:20px 5px 15px 0;}
div#m_diary div.hotevent ul li p.photo { width:226px;padding:0 5px 0 0;border-right:1px solid #eaeaea; }
div#m_diary div.hotevent ul li p.no_bg { border-right:0px solid #fff; }
div#m_diary div.hotevent ul li p.photo img { width:226px;height:110px; }
div#m_diary div.hotevent ul li p.date { font-size:0.95em;padding: 5px 0 0 10px; }

div#m_diary div#top_banner { padding:20px 0 0 0; }
div#m_diary div#first { padding:20px 0 0 0; }
div#m_diary div#top { padding:20px 0 0 0; }

div#m_diary div.rank { padding:0;width:950px;height:320px; }
div#m_diary div.rank.yellow { background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/simple_best_bg.jpg') no-repeat;  }
div#m_diary div.rank.pink { background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/photo_best_bg.jpg') no-repeat;  }
div#m_diary div.rank.blue { background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/system_best_bg.jpg') no-repeat;  }
div#m_diary div.rank.gold { background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/scheduler_best_bg.jpg') no-repeat;  }
div#m_diary div.rank ul { padding:0 0 0 40px; }
div#m_diary div.rank ul li { width:155px;float:left;padding:70px 10px 0 10px;text-align:center; }
div#m_diary div.rank ul li.rank1 {background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/best_01.gif') no-repeat top;}
div#m_diary div.rank ul li.rank2 {background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/best_02.gif') no-repeat top;}
div#m_diary div.rank ul li.rank3 {background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/best_03.gif') no-repeat top;}
div#m_diary div.rank ul li.rank4 {background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/best_04.gif') no-repeat top;}
div#m_diary div.rank ul li.rank5 {background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/best_05.gif') no-repeat top;}
div#m_diary div.rank ul li p { font-size: 0.95em; color:#545454; }
div#m_diary div.rank ul li p.name { letter-spacing:0.005em;height: 13px;line-height: 1.2em !important;text-overflow: hidden;text-overflow: ellipsis; padding: 0 0 2px; }
div#m_diary div.rank ul li p.photo { margin:0 0 5px 0;padding:5px 0 5px 0; }
div#m_diary div.rank ul li p.orgSellPrice { font-weight:bold; padding: 0 0 2px; }
div#m_diary div.rank ul li p.orgSellPrice span { width:200px;text-decoration: line-through;padding:0 5px; }
div#m_diary div.rank ul li p.orgSellPrice strong { color:#da2128; }
div#m_diary div.rank ul li p.sellPrice { font-weight:bold; }



div#m_diary div.productMenu { width:950px;height:66px; background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/simple_search_bg.jpg') repeat-x; }
div#m_diary div.productMenu ul { padding: 20px 0 0 15px; }
div#m_diary div.productMenu ul li { float:left;padding:0 5px 0 0; }
div#m_diary div.productMenu ul li:hover { cursor:pointer; }
div#m_diary div.productMenu ul li.all { width:89px;height:28px;background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/simple_search01.jpg') no-repeat;}
div#m_diary div.productMenu ul li.mon { width:97px;height:28px;background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/scheduler_search02.jpg') no-repeat;}
div#m_diary div.productMenu ul li.wek { width:97px;height:28px;background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/scheduler_search03.jpg') no-repeat;}
div#m_diary div.productMenu ul li.day { width:97px;height:28px;background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/scheduler_search04.jpg') no-repeat;}
div#m_diary div.productMenu ul li.std { width:127px;height:28px;background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/scheduler_search05.jpg') no-repeat;}
div#m_diary div.productMenu ul li.pjt { width:140px;height:28px;background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/scheduler_search06.jpg') no-repeat;}
div#m_diary div.productMenu ul li p { font-size:1.0em;margin:9px 0 0 0;padding:0 7px 0 0;border-right:1px solid #ccc; }
div#m_diary div.productMenu ul li p.on { font-weight:bold; }
div#m_diary div.productMenu ul li p.no_bg { border-right-width:0px; }
div#m_diary div.productMenu ul li p.old { text-align:right;margin:9px 5px 0 0; }
div#m_diary div.productMenu div.selectBox { float:right;padding:27px 15px 0 0;cursor:pointer; }
div#m_diary div.productMenu div.selectBox p { width:80px;border: 1px solid #ccc;padding:3px;background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/select_arrows.jpg') no-repeat right; }
div#m_diary div.productMenu div.selectBox div { height:0px;display:none; }
div#m_diary div.productMenu div.selectBox div ul { border: 1px solid #eeeeee;position:relative;background-color:#fff;padding:0 0 0 0; }
div#m_diary div.productMenu div.selectBox div ul li { float:none;padding:2px 2px 0 2px; }

div#m_diary div.productList ul { padding:10px 0 0 0; }
div#m_diary div.productList ul li { padding:17px 15px 43px 19px;float:left;width:202px;height:280px;text-align:center;border-bottom:1px solid #eeeeee; }
div#m_diary div.productList ul li p { font-size: 0.95em;padding: 0 0 4px;color:#545454; }
div#m_diary div.productList ul li p.name { height: 13px;line-height: 1.2em !important;text-overflow: hidden;text-overflow: ellipsis; }
div#m_diary div.productList ul li p.photo { margin:0 0 5px 0;padding: 1px;background-color:#eeeeee; }
div#m_diary div.productList ul li p.orgSellPrice { font-weight:bold; }
div#m_diary div.productList ul li p.orgSellPrice span { width:200px;text-decoration: line-through;padding:0 5px; }
div#m_diary div.productList ul li p.orgSellPrice strong { color:#da2128; }
div#m_diary div.productList ul li p.sellPrice { font-weight:bold; }
div#m_diary div.productList ul li p.comment { color:#777777; }

div#m_diary div.bestProductList ul { padding:36px 0 0 0; }
div#m_diary div.bestProductList ul li { float:left;width:146px;height:280px;text-align:center;padding:35px 22px 15px 22px; }
div#m_diary div.bestProductList ul li p { font-size: 0.95em;padding:5px 0 0 0;color:#545454; }
div#m_diary div.bestProductList ul li p.rankIcon { text-align:left;padding:0 0 10px 0; }
div#m_diary div.bestProductList ul li p.photo { padding:13px;background-color:#f6f6f6; }
div#m_diary div.bestProductList ul li p.photo img { border:1px solid #eeeeee; }
div#m_diary div.bestProductList ul li p.name { padding:5px 0 0 0;height: 13px;line-height: 1.2em !important;text-overflow: hidden;text-overflow: ellipsis; }
div#m_diary div.bestProductList ul li p.orgSellPrice { font-weight:bold; }
div#m_diary div.bestProductList ul li p.orgSellPrice span { width:200px;text-decoration: line-through;padding:0 5px; }
div#m_diary div.bestProductList ul li p.orgSellPrice strong { color:#da2128; }
div#m_diary div.bestProductList ul li p.sellPrice { font-weight:bold; }
div#m_diary div.bestProductList ul li p.comment { color:#777777; }
div#m_diary div.bestProductList ul li.rank-list-0 { width:310px;height:367px;padding:0 23px 35px 0;border-bottom:1px solid #eeeeee; }
div#m_diary div.bestProductList ul li.rank-list-0 div.line { height:352px;border:10px solid #eeeeee; }
div#m_diary div.bestProductList ul li.rank-list-0 p.photo { width:200px;height:200px;padding:20px 0 30px 55px;background-color:#fff; }
div#m_diary div.bestProductList ul li.rank-list-1,div#m_diary div.bestProductList ul li.rank-list-2 { width:302px;height:151px;;padding:0 2px 35px 0;border-bottom:1px solid #eeeeee; }
div#m_diary div.bestProductList ul li.rank-list-3,div#m_diary div.bestProductList ul li.rank-list-4 { width:302px;height:151px;;padding:30px 2px 35px 0;border-bottom:1px solid #eeeeee; }
div#m_diary div.bestProductList ul li.rank-list-1 p.photo ,
div#m_diary div.bestProductList ul li.rank-list-2 p.photo ,
div#m_diary div.bestProductList ul li.rank-list-3 p.photo ,
div#m_diary div.bestProductList ul li.rank-list-4 p.photo { width:150px;height:150px;padding: 0 15px 0 0;background-color:#fff; }
div#m_diary div.bestProductList ul li.rank-list-1 p ,
div#m_diary div.bestProductList ul li.rank-list-2 p ,
div#m_diary div.bestProductList ul li.rank-list-3 p ,
div#m_diary div.bestProductList ul li.rank-list-4 p { text-align:left; } 

div#m_diary div#searchSubArea { width:949px; height:auto; background-color:#FFF; padding: 20px 0 33px 0;}
div#m_diary div#searchSubArea div.srch_title { width:950px;height:37px;text-align:center;background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/search_title_bg.gif') no-repeat; }
div#m_diary div#searchSubArea div.srch_title p { padding:15px 0 0 0; }
div#m_diary div#searchSubArea div.innerArea { padding:10px 10px 10px 10px;border:1px solid #dddddd; }
div#m_diary div#searchSubArea div.innerArea table { font-size:1em;width:930px; }
div#m_diary div#searchSubArea div.innerArea table tbody tr { height:50px;border-bottom: 1px solid #eeeeee; }
div#m_diary div#searchSubArea div.innerArea table tbody tr.line2 { height:67px; }
div#m_diary div#searchSubArea div.innerArea table tbody tr.control { height:75px;border-bottom:none; }
div#m_diary div#searchSubArea div.innerArea table tbody tr.control span.submit img { width:97px;height:33px;padding:22px 0 0 0; }
div#m_diary div#searchSubArea div.innerArea table tbody tr.control span.reset img { width:107px;height:33px;padding:22px 0 0 0; }
div#m_diary div#searchSubArea div.innerArea table tbody tr th { width:200px;  }
div#m_diary div#searchSubArea div.innerArea table tbody tr td input { margin:0 5px 0 5px;border:1px solid #f0f0f0; }
div#m_diary div#searchSubArea div.innerArea table tbody tr td input[type=text] { width: 150px;height:25px;border:1px solid #bbbbbb; }
div#m_diary div#searchSubArea div.innerArea ul.color { margin:0 0 0 10px; }
div#m_diary div#searchSubArea div.innerArea ul.color li { float:left;margin:0 10px 0 0; }
div#m_diary div#searchSubArea div.innerArea ul.color li img { width:25px;height:25px; }

div#m_diary div.listMenu { width:950px;border-bottom:2px solid #f0f0f0;padding:0 0 5px 0; }
div#m_diary div.listMenu span.select { float:right; }

div#m_diary div.top_banner { padding:0 0 20px 0; }

div#m_diary div#eventBnrMenu { padding:20px 0 0 0; }
div#m_diary div#eventBnrMenu ul { padding:14px 0 0 0;width:950px;height:46px;background:url('https://simage.kyobobook.co.kr/newimages/giftshop/images/2012Diary/event_tab_bar.jpg') repeat-x; }
div#m_diary div#eventBnrMenu ul li { font-size:0.9em;color:#8a8a8a;float:left;background-color:#eaeaea;margin:0 1px 0 0;padding:10px;}
div#m_diary div#eventBnrMenu ul li:hover { cursor:pointer; }
div#m_diary div#eventBnrMenu ul li.on { font-size:0.9em;color:#ffffff;background-color:#7d7d7d;}
div#m_diary div#eventBnrList { width:950px;padding:12px 0 0 0;}
div#m_diary div#eventBnrList ul li { float:left;padding:0px 5px 42px 0; }
div#m_diary div#eventBnrList ul li p.photo { width:226px;padding:0 5px 0 0;border-right:1px solid #eaeaea; }
div#m_diary div#eventBnrList ul li p.no_bg { border-right:0px solid #fff; }
div#m_diary div#eventBnrList ul li p.date { font-size:0.95em;padding: 5px 0 0 10px; }
    
div#m_diary div#noSearch { text-align:center; }

