@charset "utf-8";

@import "base.css";


#contents {
	float: left;
	margin: 0 auto;
}
div.error {
	margin: 100px auto;
	width: 636px;
}
div.error div.go-back-page {
	padding: 16px 0 0;
	text-align: center;
}
div.error div.go-back-page a {
	margin: 0 16px 0 0;
}