@charset "utf-8";

@import "layout.css";

/* layout 관련 부분*/

#contents {
    float: left;
    width: 950px;
    min-height: 600px;
    height: auto !important;
}
#contents div.page-location {
    position: relative;
    z-index: 2;
    margin: 20px 0 0 0 !important;
    padding: 0px 0 0;
    height: 25px;

}
#contents div.page-location ul {
    position: relative;
    z-index: 10;
    margin: -5px 0 0 13px;
    padding: 0 0 0 15px;
}

/* event wrapper*/

#contents div.event-detail {
    clear: both;
    padding: 30px 0 0 0;
}
#contents div.event-detail div.event-banner img {
    width: 950px;
    height: auto;
}

/* select box 와 date 부분 */
#contents div.event-detail div.event-select {
    padding: 0 0 0 7px;
    height: 27px;
}
#contents div.event-detail div.event-select select { 
    height: 20px;
    width: 700px;
}
#contents div.event-detail div.event-date {
    margin: -27px 0 0;
    padding: 7px 10px 8px 0;
    height: 20px;
    font-size: 0.9em;
    text-align: right;
}
#contents div.event-detail div.event-banner {
    float: left;
    width: 950px;
}
#contents div.event-detail div.event-banner img {
    width: 950px;
    height: auto;
}

/* 이벤트 링크 부분*/
#contents div.event-detail div.event-link {
    clear: both;
    margin: 0 0 0 -20px;
    padding: 5px 0 19px;
    width: 970px;
    overflow: hidden;
}
#contents div.event-detail div.event-link ul {
    width: 970px;
}

/* background: 수정 */
#contents div.event-detail div.event-link ul li {
    display: inline;
    float: left;
    margin: 8px 0 0 20px;
    padding: 0 0 0 15px;
    width: 450px;
    height: 38px;
    background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/event/event_link_bg.gif") repeat-x 0 0;
}
#contents div.event-detail div.event-link ul li a {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 38px !important;
    color: #555;
    text-decoration: none;
}
#contents div.event-detail div.event-product {
    clear: both;
    width: 950px;
    overflow: hidden;
}
#contents div.event-detail div.event-product h3 {
    padding: 12px 0 0 24px;
    font-size: 1em;
    height: 21px;
    color: #555;
    background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/event/event_product_arrow.gif") no-repeat 11px center;
    border: 1px solid #eaeaea;
}
#contents div.event-detail div.event-product p.more {
    margin: -24px 0 0;
    padding: 4px 13px 0 0;
    height: 20px;
    text-align: right;
}
#contents div.event-detail div.event-product p.more a {
    padding: 0 18px 0 0;
    font-weight: bold;
    color: #000;
    font-size: 0.9em;
    background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/event/more_bg.gif") no-repeat right 3px;
}

/*type a*/
#contents div.event-detail div.event-product div.event-type-a {
    float: left;
    padding: 13px 0 36px;
}

#contents div.event-detail div.event-product div.event-type-a p.photo {
    float: left;
    padding: 0 0 0 15px;
    width: 461px;
}
#contents div.event-detail div.event-product div.event-type-a p.photo a {
    width: 400px;
    height: 400px;
    border: 1px solid #eaeaea;
    display:inline-block;
    text-align:center;
}
#contents div.event-detail div.event-product div.event-type-a div.product-info {
    float: left;
    padding: 25px 0 0;
    width: 454px;
    height: 300px;
}
#contents div.event-detail div.event-product div.event-type-a div.product-info p.brand {
    padding: 0 0 3px;
}
#contents div.event-detail div.event-product div.event-type-a div.product-info p.product-name {
    padding: 0 0 10px;
}
#contents div.event-detail div.event-product div.event-type-a div.product-info p.product-name a {
    font-weight: bold;
    font-size: 1.2em;
    color: #363636;
}
#contents div.event-detail div.event-product div.event-type-a div.product-info dl {
    float: left;
    padding: 11px 0 5px;
    width: 454px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
#contents div.event-detail div.event-product div.event-type-a div.product-info dl dt {
    float: left;
    padding: 2px 0 0 10px;
    width: 60px;
}
#contents div.event-detail div.event-product div.event-type-a div.product-info dl dd {
    float: left;
    width: 384px;
    height: 20px;
}
#contents div.event-detail div.event-product div.event-type-a div.product-info dl dd.discount-price span {
    color: #f7051d;
    font-size: 1.2em;
}
#contents div.event-detail div.event-product div.event-type-a div.product-info p.button {
    clear: both;
    padding: 25px 0 0 8px;
}
#contents div.event-detail div.event-product div.event-type-a div.product-info p.product-icon {
    padding: 5px 0 0 8px;
}
#contents div.event-detail div.event-product div.event-type-a div.product-info p.delivery {
    padding: 5px 0 0 8px;
}
#contents div.event-detail div.event-product div.event-type-a div.product-postscript {
    float: left;
    padding: 0 0 0 9px;
    width: 445px;
}
#contents div.event-detail div.event-product div.event-type-a div.product-postscript h4 {
    height: 17px;
    border-bottom: 1px solid #eaeaea;
}
#contents div.event-detail div.event-product div.event-type-a div.product-postscript p.estimation {
    margin: -17px 0 0;
    padding: 0 35px 0 0;
    height: 17px;
    text-align: right;
}
#contents div.event-detail div.event-product div.event-type-a div.product-postscript div.product-postscript-content {
    padding: 6px 20px 0 0;
    font-size: 0.9em;
    line-height: 1.4em;
}
#contents div.event-detail div.event-product div.product-list02 {
    clear: both;
    border-top: 1px solid #eaeaea;
}


/* type-b*/

#contents div.event-detail div.event-product div.event-type-b {
    float: left;
    padding: 13px 0 6px;
}
#contents div.event-detail div.event-product div.event-type-b ul {
    margin: 0 -20px 0 0;
    width: 968px;
}
#contents div.event-detail div.event-product div.event-type-b ul li {
    float: left;
    margin: 0 50px 0 0;
    width: 427px;
}
#contents div.event-detail div.event-product div.event-type-b p.photo {
    float: left;
    padding: 0 0 0 2px;
    width: 226px;
}
#contents div.event-detail div.event-product div.event-type-b p.photo a {
    width: 200px;
    height: 200px;
    border: 1px solid #eaeaea;
    display:inline-block;
    text-align:center;
}
#contents div.event-detail div.event-product div.event-type-b div.product-info {
    float: left;
    padding: 5px 0 0;
    width: 199px;
    height:300px;
}
#contents div.event-detail div.event-product div.event-type-b div.product-info p.brand {
    padding: 0 0 3px;
}
#contents div.event-detail div.event-product div.event-type-b div.product-info p.product-name {
    padding: 0 0 10px;
    width:192px;
    border-bottom: 1px solid #eaeaea;
}
#contents div.event-detail div.event-product div.event-type-b div.product-info p.product-name a {
    font-weight: bold;
    font-size: 1.2em;
    color: #363636;
}
#contents div.event-detail div.event-product div.event-type-b div.product-info p.origin-price {
}
#contents div.event-detail div.event-product div.event-type-b div.product-info p.origin-price span {
    text-decoration: line-through;
}
#contents div.event-detail div.event-product div.event-type-b div.product-info p.origin-price strong {
    color:#da2128;
}
#contents div.event-detail div.event-product div.event-type-b div.product-info p.discount-price {
    padding: 10px 0 0;
}
#contents div.event-detail div.event-product div.event-type-b div.product-info p.discount-price span {
    color: #f7051d;
    font-size: 1.2em;
}
#contents div.event-detail div.event-product div.event-type-b div.product-info p.button {
    clear: both;
    padding: 25px 0 0;
}
#contents div.event-detail div.event-product div.event-type-b div.product-info p.product-icon {
    padding: 15px 0 0 5px;
}
#contents div.event-detail div.event-product div.event-type-b div.product-info p.delivery {
    padding: 5px 0 0 5px;
}
#contents div.event-detail div.event-product div.event-type-b div.product-postscript {
    clear: both;
    padding: 22px 0 0;
    width: 427px;
}
#contents div.event-detail div.event-product div.event-type-b div.product-postscript h4 {
    padding: 0 0 0 9px;
    height: 17px;
    border-bottom: 1px solid #eaeaea;
}
#contents div.event-detail div.event-product div.event-type-b div.product-postscript p.estimation {
    margin: -17px 0 0;
    padding: 0 5px 0 0;
    height: 17px;
    text-align: right;
}
#contents div.event-detail div.event-product div.event-type-b div.product-postscript div.product-postscript-content {
    padding: 6px 20px 0 9px;
    height: 90px;
    font-size: 0.9em;
    line-height: 1.4em;
}

/*type-c*/

#contents div.event-detail div.event-product div.event-type-c {
    float: left;
    padding: 13px 0 6px;
}
#contents div.event-detail div.event-product div.event-type-c ul {
    float: left;
    width: 974px;
}
#contents div.event-detail div.event-product div.event-type-c ul li {
    float: left;
    margin: 0 23px 0 0;
    width: 301px;
}
#contents div.event-detail div.event-product div.event-type-c p.photo {
    float: left;
    padding: 5px 0 0 0;
    width: 163px;
}
#contents div.event-detail div.event-product div.event-type-c p.photo a {
    width: 150px;
    height: 150px;
    border: 1px solid #eaeaea;
    display:inline-block;
    text-align:center;
}
#contents div.event-detail div.event-product div.event-type-c div.product-info {
    float: left;
    padding: 8px 0 0;
    width: 138px;
    height: 158px;
}
#contents div.event-detail div.event-product div.event-type-c div.product-info p.brand {
    font-size: 0.9em;

}
#contents div.event-detail div.event-product div.event-type-c div.product-info p.product-name {
    padding: 3px 0 0;
}
#contents div.event-detail div.event-product div.event-type-c div.product-info p.product-name a {
    font-size: 0.9em;
}
#contents div.event-detail div.event-product div.event-type-c div.product-info p.origin-price {
    padding: 10px 0 0;
    font-size: 0.9em;
    font-weight: bold;
}
#contents div.event-detail div.event-product div.event-type-c div.product-info p.origin-price span {
    text-decoration: line-through;
}
#contents div.event-detail div.event-product div.event-type-c div.product-info p.origin-price strong {
    color:#da2128;
}
#contents div.event-detail div.event-product div.event-type-c div.product-info p.price {
    padding: 10px 0 0;
    font-size: 0.9em;
    font-weight: bold;
}
#contents div.event-detail div.event-product div.event-type-c div.product-info p.button {
    clear: both;
    padding: 20px 0 0;
}
#contents div.event-detail div.event-product div.event-type-c div.product-info p.product-icon {
    padding: 15px 0 0 5px;
}
#contents div.event-detail div.event-product div.event-type-c div.product-info p.delivery {
    padding: 5px 0 0 5px;
}
#contents div.event-detail div.event-product div.event-type-c div.product-postscript {
    clear: both;
    padding: 22px 4px 0 7px;
    width: 290px;
}
#contents div.event-detail div.event-product div.event-type-c div.product-postscript h4 {
    padding: 0 0 0 7px;
    height: 17px;
    border-bottom: 1px solid #eaeaea;
}
#contents div.event-detail div.event-product div.event-type-c div.product-postscript p.estimation {
    margin: -17px 0 0;
    padding: 0 10px 0 0;
    height: 17px;
    text-align: right;
}
#contents div.event-detail div.event-product div.event-type-c div.product-postscript div.product-postscript-content {
    padding: 6px 10px 0 7px;
    height: 90px;
    font-size: 0.9em;
    line-height: 1.4em;
}

/*type D*/

#contents div.event-detail div.event-product div.event-type-d {
    float: left;
    padding: 13px 0 6px;

}
#contents div.event-detail div.event-product div.event-type-d ul {
    padding: 0 0 0 2px;
    width: 948px;
}
#contents div.event-detail div.event-product div.event-type-d ul li {
    float: left;
    width: 237px;
    height: 414px;
}
#contents div.event-detail div.event-product div.event-type-d p.photo {
    padding: 0 0 0 15px;
    width: 150px;
}
#contents div.event-detail div.event-product div.event-type-d p.photo img {
    width: 200px;
    height: 200px;
}
#contents div.event-detail div.event-product div.event-type-d div.product-info {
    margin: 0 0 0 15px;
    padding: 8px 0 0;
    width: 200px;
}
#contents div.event-detail div.event-product div.event-type-d div.product-info p.brand {
    font-size: 0.9em;
    text-align: center;
}
#contents div.event-detail div.event-product div.event-type-d div.product-info p.product-name {
    padding: 3px 0 0;
    text-align: center;
}
#contents div.event-detail div.event-product div.event-type-d div.product-info p.product-name a {
    font-size: 0.9em;
}
#contents div.event-detail div.event-product div.event-type-d div.product-info p.origin-price {
    padding: 10px 0 0;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}
#contents div.event-detail div.event-product div.event-type-d div.product-info p.origin-price span {
    text-decoration: line-through;
}
#contents div.event-detail div.event-product div.event-type-d div.product-info p.origin-price strong {
    color:#da2128;
}
#contents div.event-detail div.event-product div.event-type-d div.product-info p.price {
    padding: 10px 0 0;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}
#contents div.event-detail div.event-product div.event-type-d div.product-info p.button {
    clear: both;
    padding: 20px 0 0;
    text-align: center;
}
#contents div.event-detail div.event-product div.event-type-d div.product-info p.product-icon {
    padding: 15px 0 0;
    text-align: center;
}
#contents div.event-detail div.event-product div.event-type-d div.product-info p.delivery {
    padding: 5px 0 0;
    text-align: center;
}

/*type e*/

#contents div.event-detail div.event-product div.event-type-e {
    float: left;
    padding: 13px 0 6px;
    
}
#contents div.event-detail div.event-product div.event-type-e ul {
    float: left;
    width: 950px;
}
#contents div.event-detail div.event-product div.event-type-e ul li {
    float: left;
    width: 190px;
    height: 180px;
}
#contents div.event-detail div.event-product div.event-type-e p.photo {
    padding: 0 0 0 15px;
}
#contents div.event-detail div.event-product div.event-type-e p.photo img {
    width: 150px;
    height: 150px;
    vertical-align: top;
}



/*  상품 리스트 type02 size 변경  */


div.product-list02 {
    clear: both;
    width: 950px !important;
}
div.product-list02 ul {
    float: left;
    padding: 0 0 0 2px !important;
    width: 950px !important;
    border-bottom: 1px solid #eaeaea;
    background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/product/product_list04_line.gif") repeat 0 0 !important;

}
div.product-list02 ul li {
    position: relative;
    float: left;
    padding: 45px 19px 0 !important;
    width: 150px !important;
    height:302px !important;
}
div.product-list02 ul li p.photo {
    width: 150px !important;
    height: 150px !important;
    border: 1px solid #eaeaea;
    text-align: center;
}
div.product-list02 ul li p.category-name {
    margin: 0 0 0 18px;
    padding: 10px 0 3px;
    width: 150px;
    text-align: center;
    font-size: 0.9em;
}
div.product-list02 ul li p.product-name {
    margin: 0 0 0 18px;
    width: 150px;
    height: 27px;
    text-align: center;
    overflow: hidden;
    text-overflow: hidden;
    text-overflow: ellipsis;
}
div.product-list02 ul li p.product-name a {
    font-size: 0.9em;
    line-height: 1.2em !important;
}
div.product-list02 ul li p.origin-price {
    margin: 0 0 0 18px;
    padding: 0 0 12px;
    width: 150px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}
div.product-list02 ul li p.origin-price span {
    text-decoration: line-through;
}
div.product-list02 ul li p.origin-price strong {
    color:#da2128;
}
div.product-list02 ul li p.price {
    margin: 0 0 0 18px;
    padding: 0 0 12px;
    width: 150px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}
div.product-list02 ul li p.product-icon {
    margin: 0 !important;
    width: 150px !important;
    text-align: center;
}
div.product-list02 ul li p.product-icon img {
    margin: 0 -1px 0 0;
    vertical-align: top;
}
div.product-list02 ul li p.delivery {
    margin: 0 0 0 18px;
    padding: 3px 0 0;
    width: 150px;
    text-align: center;
}
div.product-list02 ul li p.zoom-cart-zzim {
    display: none;
    position: absolute;
    left: 19px !important;
    top: 157px !important;
    width: 152px;
    white-space: nowrap;
}
div.product-list02 ul li p.zoom-cart-zzim img {
    margin: 0 -5px 0 0;
    width: 49px !important;
    height: 38px !important;
    border: 1px solid #eaeaea;
}
#contents div.pager {
    margin: 0;
}
#contents div.event-comment {
    clear: both;
    padding: 25px 0 0;
}
#contents div.event-comment p.total {
    padding: 0 0 15px 9px;
    font-size: 0.9em;
    color: #555;
}
#contents div.event-comment p.total img {
    vertical-align: middle;
}
#contents div.event-comment p.total strong {
    color: #fa6d59;
}
#contents div.event-comment div.comment-register {
    padding: 15px 0 0 15px;
    height: 50px;
    background: #f8f8f8;
    border: 1px solid #eaeaea;
}
#contents div.event-comment div.comment-register fieldset legend {
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
#contents div.event-comment div.comment-register fieldset textarea {
    margin: 0 18px 0 0;
    padding: 2px 0 0 2px;
    width: 750px;
    height: 35px;
    line-height: 1.2em !important;
    border: 1px solid #eaeaea;
    overflow: hidden;
}
#contents div.event-comment div.comment-list {
    width: 950px;
}
#contents div.event-comment div.comment-list table {
    width: 100%;
}
#contents div.event-comment div.comment-list table caption,
#contents div.event-comment div.comment-list table thead {
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
#contents div.event-comment div.comment-list table tbody tr td {
    padding: 11px 0 9px;
    font-size: 0.9em;
    border-bottom: 1px solid #eaeaea;
}
#contents div.event-comment div.comment-list table tbody tr td.number {
    width: 35px;
    text-align: center;
}
#contents div.event-comment div.comment-list table tbody tr td.comment {
    padding-left: 10px;
    padding-right: 5px;
    line-height: 1.3em;
}
#contents div.event-comment div.comment-list table tbody tr td.uesrid {
    width: 150px;
    text-align: center;
}
#contents div.event-comment div.comment-list table tbody tr td.event-icon {
    width: 65px;
    text-align: center;
}
#contents div.event-comment div.comment-list table tbody tr td.date {
    width: 110px;
}
#contents div.event-comment div.comment-list table tbody tr td.date img {
    margin: 0 0 0 10px;
    vertical-align: middle;
}
#contents div.event-postscript {
    clear: both;
    padding: 40px 0 0;
    width: 950px;
}
#contents div.event-postscript div.board table {
    width: 100%;
}
#contents div.event-postscript div.board table caption {
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
#contents div.event-postscript div.board table thead tr th {
    height: 25px;
    color: #363636;
    background: #ededed;
}
#contents div.event-postscript div.board table tbody tr td {
    padding: 11px 0 9px;
    font-size: 0.9em;
    border-bottom: 1px solid #eaeaea;
}
#contents div.event-postscript div.board table tbody tr td.subject {
    padding-left: 10px;
    padding-right: 5px;
    width: 410px;
    line-height: 1.3em;
}
#contents div.event-postscript div.board table tbody tr td.photo {
    width: 80px;
    text-align: center;
}
#contents div.event-postscript div.board table tbody tr td.photo img {
    width: 50px;
    height: 50px;
}
#contents div.event-postscript div.board table tbody tr td.satisfaction {
    width: 80px;
    text-align: center;
}
#contents div.event-postscript div.board table tbody tr td.uesrid {
    width: 90px;
    text-align: center;
}
#contents div.event-postscript div.board table tbody tr td.date {
    width: 80px;
    text-align: center;
}
#contents div.event-postscript div.board table tbody tr td.list-content {
    display: none;
}
#contents div.event-postscript div.button {
    margin: -35px 0 0 0;
    height: 40px;
    text-align: right;
}

/* product-list02-photo */
div.product-list02-photo {
    clear: both;
    width: 950px !important;
}
div.product-list02-photo ul {
    float: left;
    padding: 0 0 0 2px !important;
    margin: 20px 0 10px 0 !important;
    width: 950px !important; 
    border-top: 1px solid #eaeaea;
    background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/product/product_list02new_line.gif") repeat 0 36px !important;

}
div.product-list02-photo ul li {
    position: relative;
    float: left;
    padding: 30px 19px 30px 19px !important;
    width: 151px !important;
    height:160px !important;
}
div.product-list02-photo ul li p.photo img {
    width: 150px !important;
    height: 150px !important;
    border: 1px solid #eaeaea;
}
div.product-list02-photo ul li p.category-name,
div.product-list02-photo ul li p.product-name,
div.product-list02-photo ul li p.price,
div.product-list02-photo ul li p.product-icon,
div.product-list02-photo ul li p.delivery,
div.product-list02-photo ul li p.zoom-cart-zzim {
    display: none;
}