@charset "utf-8";

h3.title img {
	margin: 25px 0 0;
}
div.customer {
	float: right;
	padding: 22px 0 146px;
	width: 780px;
}
div.customer p.heading-commment {
	padding: 2px 0 0 12px;
}
#contents div.board-search {
	width: auto;
	height: 26px;
	overflow: hidden;
	text-align: right;
	border: 0;
}
#contents div.board-search fieldset {
	
}
#contents div.board-search fieldset legend {
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
#contents div.board-search fieldset select {
	margin: 0;
	width: 80px;
	height: 21px;
	border: 1px solid #ccdae0;
	vertical-align: middle;
}
#contents div.board-search fieldset input.textbox {
	margin: 0;
	padding: 2px 0 0 2px;
	width: 184px;
	height: 17px;
	border: 1px solid #ccdae0;
}
#contents div.board table tbody tr td.list-content {
	padding-left: 32px; 
	padding-right: 32px;
	width: 716px;
}
#contents div.board table tbody tr td.list-content p {
	width: 714px;
}
div.customer h3 {
	padding: 0 0 25px;
	background: none;
}
div.faq-search {
	float: left;
	margin: 0 0 41px;
	padding: 0 13px 0;
	height: 51px;
	background: #f0f0f0;
}
div.faq {
	position: relative;
	clear: both;
	padding: 0 0 15px;
	width: 780px;
}
div.faq h3 {
	padding: 29px 0 25px;
	*padding: 10px 0 25px;
}
div.faq p.heading-comment {
	padding: 0 0 11px 21px;
}
div.faq dl {
	float: left;
	padding: 9px 0 0 138px;
	background: url("${imageServer}/images/help/faq_search_line_bg.gif") repeat-x 0 51px;
}
div.faq dl dt ,
div.faq dl dd  {
	float: left;
}
div.faq dl dt {
	width: 83px;
	font-size: 0.9em;
}
div.faq dl dt.popular-word {
	padding: 10px 0 11px 2px;
	width: 81px;
	font-weight: bold;
}
div.faq dl dd.popular-word {
	padding: 10px 0 11px;
	font-size: 0.9em;
}
div.faq dl dd {
	width: 508px;
}
div.faq dl dt.direct {
	padding: 11px 0 16px;
}
div.faq dl dt.direct img {
	vertical-align: middle;
}
div.faq dl dd.direct {
	margin: 0 170px 8px 0;
	width: 338px;
	height: 26px;
	overflow: hidden;
	text-align: right;
	border: 4px solid #b11111;
}
div.faq dl dd.direct fieldset legend {
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	visibility: hidden;
}
#contents div.faq dl dd fieldset input.textbox {
	margin: 0 -4px 0 0;
	padding: 5px 3px 0 3px;
	width: 274px;
	height: 21px;
	border: 0;
}
#contents div.faq dl dd fieldset input {
	vertical-align: top;
}
div.popular-word dl dt ,
div.popular-word dl dd{
	padding: 10px 0 11px;
}
div.faq h4 {
	padding: 0 0 11px 15px;
}
div.section-menu {
	float: left;
	margin: 0 0 5px;
}
div.section-menu ul {
	float: left;
	width: 780px;
	height: 31px;
	background: url("${imageServer}/images/help/section_menu_bg.gif") repeat-x 0 bottom;
}
div.section-menu ul li {
	float: left;
	margin: 0 1px 0 0;
}
div.section-menu ul li img {
	vertical-align: bottom;
}
#contents div.board table.list tbody tr td.subject01 {
	padding: 0 0 0 46px;
	text-align: left;
}
#contents div.board {
	position: relative;
	z-index: 10;
	width: 780px !impoatant;
	height: auto;
	overflow: hidden;
}
#contents div.board table tbody tr td.no-answer {
	background: #fff;
	width: 780px;
	height: 192px;
	padding: 30px 0 26px;
	text-align: center;
}
#contents div.section-comment {
	padding: 0 0 0 2px;
}
div.section-comment p.greeting {
	padding: 0 0 14px;

}
div.section-comment p.comment {
	padding: 0 0 21px;
	line-height: 18px;
}
div.request-form {
	width: 100%;
}
div.request-form table {
	width: 100%;
	border-top: 2px solid #a31112;
}
div.request-form table caption {
	width: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
div.request-form table  tbody th {
	padding: 0 0 0 20px;
	text-align: left;
	background: #fafafa;
}
div.request-form table  tbody td {
	padding: 7px 0 6px 20px;
	border-left: 1px solid #eaeaea;
}
div.request-form table  tbody td.items {
	padding-left: 13px;
}
div.request-form table  tbody th.items {
	padding-left: 25px;
	border-left: 1px solid #eaeaea;
}
div.request-form table  tbody td ,
div.request-form table  tbody th {
	border-bottom: 1px solid #eaeaea;
}
div.request-form table  tbody td input {
	padding: 1px;
	height: 16px;
	width: 164px;
	border: 1px solid #d2d2d2;
}
div.request-form table  tbody td input.crop {
	width: 143px;
}
div.request-form table  tbody td input.crop-addr {
	width: 560px;
}
div.request-form table  tbody td input.nums {
	width: 65px;
}
div.request-form table  tbody td input.mail ,
div.request-form table  tbody td input.url {
	width: 256px;
}
div.request-form table  tbody td input.sales-num {
	width: 48px;
}
div.request-form table  tbody td input.rd-btn {
	width: auto;
	vertical-align: middle;
	border: 0;
}
div.request-form table  tbody td label.rd-btn {
	padding: 0 54px 0 15px;
	font-size: 12px;
	color: #555555;
}
div.request-form table  tbody td textarea {
	margin: 0 0 8px;
	width: 617px;
	height: 111px;
	border: 1px solid #d2d2d2;
}
div.request-form p.form-btn {
	padding: 13px 0 0;
	text-align: center;
}
div.request-form table tr th.explain img {
	vertical-align: top;
}
#contents div.board table tbody tr td.list-content {
	width: 780px;
	overflow: hidden;
}
