@charset "utf-8";

@import url(layout.css);


#body {
	background: none;
}
#sidebar {
	position: relative;
	z-index: 20;
	float: left;
	padding: 6px 15px 20px 0;
}
#sidebar h2 {
	padding: 11px 0 10px 7px
}
#sidebar div.office-menu {
	width: 180px;
	padding: 0 0 10px 0;
}
#sidebar div.office-menu ul {
	padding: 10px 0 0;
	border-top: 0px solid #eaeaea;
}
#sidebar div.office-menu ul li {
	position: relative;
	padding: 6px 0 0;
	border-bottom: 1px solid #eaeaea;
}
#sidebar div.office-menu ul li span {
	display: block;
	padding: 0 0 5px 14px;
	font-weight:bold;
}
#sidebar div.office-menu ul li.selected span {
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/side_menu_arrow.gif") no-repeat 168px 2px;
}
#sidebar div.office-menu ul li ul {
	position: absolute;
	z-index: 2;
	left: 157px;
	top: 0;
	display: none;
	padding: 10px;
	width: 130px;
	border: 1px solid #f37020;
	background: #fff;
}
#sidebar div.office-menu ul li.selected ul {
	
}
#sidebar div.office-menu ul li ul li {
	padding: 5px 0 4px 14px;
	border-top: 1px solid #eaeaea;
	border-bottom: 0 !important;
}
#sidebar div.office-menu ul li ul li:first-child ,
#sidebar div.office-menu ul li ul li.first-child {
	border: 0;
}
#sidebar div.office-menu ul li ul li a {
	font-size: 0.9em;
	line-height: 1.3em !important;
}
#sidebar div.category-view {
	margin: 15px 0 10px;
}
#sidebar div.category-view iframe {
	position: absolute;
	left: 0px;
	top: 0;
	z-index: -1;
	padding: 20px 15px 0;
	width: 700px;
	background: #fff;
	border: 0 !important;
}
#sidebar div.category-view div.view-all {
	display: none;
	position: absolute;
	left: 180px;
	top: 0;
	z-index: 2;
	padding: 0 15px 0;
	width: 736px;
	border: 2px solid #f25d21;
	background: #fff;
}
#sidebar div.category-view div.view-all h2 {
	padding: 35px 0 0 10px;
	height: 30px;
	border-bottom: 1px solid #f37020;
}
#sidebar div.category-view div.view-all p.close {
	margin: -50px 0 0;
	padding: 0 10px 20px 0;
	text-align: right;
}
#sidebar div.category-view div.view-all div.porduct-category {
	float: left;
	padding: 0 10px 20px;
}
#sidebar div.category-view div.view-all div.porduct-category ul.category {
	padding: 0 13px;
	width: 705px;
	font-size: 0.9em;
}
#sidebar div.category-view div.view-all div.porduct-category ul.category li {
	float: left;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/dotline.gif") repeat-x 0 0;
}
#sidebar div.category-view div.view-all div.porduct-category ul.category li.first-child,
#sidebar div.category-view div.view-all div.porduct-category ul.category li:first-child {
	background: none;
}
#sidebar div.category-view div.view-all div.porduct-category ul.category li p.sub-title {
	float: left;
	padding: 15px 0 0 9px;
	width: 131px;
	font-weight: bold;
}
#sidebar div.category-view div.view-all div.porduct-category ul.category li p.sub-title a {
	color: #555;
	font-size: 1em;
}
#sidebar div.category-view div.view-all div.porduct-category ul.category li ul.category-sub {
	float: left;
	padding: 10px 0;
	width: 565px;
}
#sidebar div.category-view div.view-all div.porduct-category ul.category li ul.category-sub li {
	background: none;
	padding: 0 15px 0 0;
	white-space: nowrap;
}
#sidebar div.category-view div.view-all div.porduct-category ul.category li ul.category-sub li a {
	display: inline-block;
	font-size: 1em;
	line-height: 1.5em !important;
}
#sidebar div.hot-recommend {
	padding: 9px 0 0 0;
}
#sidebar div.ink-office {
	padding: 10px 0 11px;
}
#sidebar div.ink-office ul li {
	padding: 0 0 3px;
}
#sidebar div.ink-office ul li img {
	vertical-align: top;
}
#sidebar div.office-link {
	padding: 10px 0 11px;
	width: 180px;
}
#sidebar div.office-link ul {
	border-top: 1px solid #eaeaea;
}
#sidebar div.office-link ul li {
	padding: 11px 0 8px 13px;
	border-bottom: 1px solid #eaeaea;
}
#sidebar div.office-banner {
	padding: 40px 0 0;
}
#sidebar div.office-banner ul li {
	padding: 0 0 5px;
}
#sidebar div.office-banner ul li img {
	vertical-align: top;
}
#contents {
	float: left;
	width: 755px;
	overflow: hidden;
	margin: 0  -20px 0 0; 
	padding: 75px 0 60px 0;
	position:static  !important;
}
#contents h3.title {
	padding: 7px 0 8px 4px;
	font-size: 1.8em;
	font-weight: bold;
	color: #111111;
	font-family: '���� ���', "Malgun Gothic", sans-serif;
}
#contents div.office-search {
	position: relative;
	z-index: 5;
	float: right;
	width: 220px;
	height: 20px;
	border: 2px solid #f37020;
	overflow: hidden;
}
#contents div.office-search fieldset legend {
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
#contents div.office-search fieldset input.textbox {
	margin: 0 -4px 0 0;
	padding: 3px 0 0 2px;
	width: 176px;
	height: 17px;
	border: 0;
}
#contents div.office-search fieldset input,
#contents div.office-search fieldset img {
	vertical-align: middle;
}
#contents div.page-location {
	position: absolute;
	margin: 0 0 20px 0;
	padding: 0 0 6px;
	top:15px;
	left:0;
	height: 30px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/office/page_location_bg.gif") repeat-x 0 bottom !important;
}
#contents div.page-location ul {
	margin: 10px 0 0 200px;
}
#quick_menu {
	position: absolute; 
	left: 960px;
	top: 0pt !important; 
	width: 112px;
}
