@charset "utf-8";

@import url(layout.css);

#body {
	background: none;
}
#sidebar {
	float: left;
	padding: 48px 0 0;
	width: 170px;
}
#sidebar div.side-info {
	padding: 12px 0 8px;
	width: 144px;
	border: 3px solid #a31112;
}
#sidebar div.side-info p.name {
	padding: 0 0 6px 13px;
	font-weight: bold;
	color: #111;
}
#sidebar div.side-info p.level {
	padding: 0 0 6px 13px;
	color: #7d7d7d;
	font-size: 0.9em;
}
#sidebar div.side-info p.mileage {
	padding: 0 0 8px 13px;
	color: #7d7d7d;
	font-size: 0.9em;
}
#sidebar div.side-info p.mileage strong {
	color: #d12324;
}
#sidebar div.side-info p.info-modify {
	text-align: center;
}
#sidebar div.my-hottracks-menu {
	padding: 21px 0 0;
	width: 150px;
}
#sidebar div.my-hottracks-menu ul {

}
#sidebar div.my-hottracks-menu ul li {
	padding: 9px 0 7px 13px;
	border-bottom: 1px solid #eaeaea;
}
#sidebar div.my-hottracks-menu ul li img {
	vertical-align: top;
}
#sidebar div.my-link {
	width: 148px;
}
#sidebar div.social {
	margin: 16px 0 0;
	background: none;
}
#sidebar div.social ul li {
	display: inline;
	margin: 0 -3px 0 0;
}
#sidebar div.social ul li img {
	vertical-align: middle;
}
#contents {
	float: right;
	width: 780px;
	min-height: 600px;
}
#contents div.page-location {
	margin-top: 0;
	height: 30px;
}
#contents h3.title {
	padding: 0 0 8px;
	border-bottom: 1px solid #e7e7e7;
}
