@charset "utf-8";

@import url(layout.css);

#body {
	background: none;
}

#sidebar {
	float: left;
	padding: 48px 0 0;
	width: 170px;
}
#sidebar div.help-menu {
	width: 150px;
}
#sidebar div.help-menu h2 {
	padding: 6px 0 6px 14px;

}
#sidebar div.help-menu ul {

}
#sidebar div.help-menu ul li {
	padding: 9px 0 7px 13px;
	border-top: 1px solid #eaeaea;
}
#sidebar div.help-menu ul li img {
	vertical-align: top;
}
#sidebar div.help-menu ul li ul {
	margin: 7px 0 -7px -13px;
	padding: 6px 0 0;
	border-top: 1px solid #eaeaea;
}
#sidebar div.help-menu ul li ul li {
	padding: 2px 0 0 16px;
	height: 18px;
	font-size: 0.9em;
	border-top: 0;
}
#sidebar div.my-link {
	margin: 10px 0 0;
	width: 148px;
}
#contents {
	float: right;
	width: 780px;
	min-height: 600px;
}

#contents h3.title {
	padding: 0 0 8px;
	border-bottom: 1px solid #e7e7e7;
}
