@charset "utf-8";

@import url(base.css);


	html {
		overflow: scroll;
		/*background: #fff url("http://image.kyobobook.co.kr/newimages/apps/b2c/common/2010/bg_footer.gif") repeat-x 0 bottom;
		border-bottom: 3px solid #000;
		*/
		background: #fff url("/images/common/test_foot_bg.gif") repeat-x 0 bottom;
	}

	body {
		background:url("http://image.kyobobook.co.kr/ink/gnb2011/bg_gift.gif") repeat-x scroll left 109px transparent;
	}
	

	#wrap {
		position: relative;
		margin: 0 auto;
		width: 1060px;
	}

	/*kyobo GNB */

	#Header{
		position:relative;
		z-index:22;
		height:148px;
		width:100%;
		background:url("http://image.kyobobook.co.kr/ink/gnb2011/bg_gift.gif") repeat-x scroll left 109px transparent;
	}
	#Header .Ink_top{
		position:relative;
		width:940px;
		height:109px;
		margin:0 auto;
		text-align:left;
		z-index:100;
		display:block;
		padding:0 5px;
	}
	#Header .Ink_top .top_menu{
		float:right;
		margin:2px 0 -10px 0;
		padding: 0;
	}
	#Header .Ink_top .top_menu .ico_info{
		background:url("http://image.kyobobook.co.kr/ink/gnb2011/ico_info_on.gif") no-repeat right top;
		padding-right:22px;
		color:#6f9ec2;
		font-size:11px;
	}

	/* main-search */
	
	#Header .Ink_top .main-search{position:relative;height:57px;padding-top:21px;margin-left:282px;width:380px; _margin-top: -16px;
		*margin-top: -14px;}
	/*
	#Header .Ink_top .main-search{
		position:relative;
		/*
		
		*/
		/*
		_top: -16px;
		*top: -14px;
		padding-top:21px;
		margin-left:282px;
		width:380px;
		height:57px;
		*/
	}
	*/
	#Header .Ink_top .main-search div.search{
		position:relative;
		float:left;
		width:329px;
		height:32px;
		background: url("http://image.kyobobook.co.kr/ink/gnb2011/bg_search_m.gif") no-repeat scroll 0 0 transparent;
	}
	#Header .Ink_top .main-search div.btn-search{
		
		position: absolute;
		left: 324px;
		top: 21px;
		/*
		_position: relative;
		_left: 324px;
		_top: -102px;
		*/
		float:left;
		width:53px;
		height: 32px;
		z-index: 10;
	}
	#Header .Ink_top .main-search .area{
		margin: 0;
		padding: 0;
		width:90px;
		background:url("http://image.kyobobook.co.kr/ink/gnb2011/search_select.gif.gif") no-repeat scroll 68px 15px transparent;
	}
	#Header .Ink_top .main-search .area a {
		float:left;
		color:#1B5BB8;
		font-weight:bold;
		font-size:14px;
		text-align:left;
		width:81px;
		height:36px;
		line-height:normal;
		padding:11px 0 0 10px;
		text-decoration:none;
	}
	#Header .Ink_top .main-search .search input.type-text {
		position: absolute;
		left: 78px;
		top: -5px;
	}

	#Header .Ink_top .main-search .search_others{
		_position: relative;
		_top: -16px;
		_z-index: -1;
		float: left;
		width: 372px;
		margin:1px 0 2px 0;
		padding:3px 0 0 0;
		text-align:left;
		white-space: nowrap;
		height: 20px !important;
		overflow:hidden !important;
	}
	#Header .Ink_top .main-search .search_others{float:left;width:376px;margin:1px 0 2px 0;padding:3px 0 0 0;text-align:left;overflow:hidden;}

	/* 상세 버튼 핫 키워드*/
	

	/*상세 버튼*/
	#Header .Ink_top .main-search .search_others span.detail{
		float:left;
		display:block;
		font-size:11px;
		color:#C1C1C1;
	}
	#Header .Ink_top .main-search .search_others span.detail a{font-size:11px;color:#282828;letter-spacing:-1px;text-decoration:none;}
	#Header .Ink_top .main-search .search_others span.detail a:hover{font-size:11px;color:#282828;text-decoration:underline;}

	/*핫 키워드*/
	#Header .Ink_top .main-search .search_others span.hotword{
		float:left;
		display:block;
		z-index: 2;
		padding-top:3px;
		padding-left:9px;
		*white-space: nowrap;
		font-size:11px;
		color:#B9D4F2;
	}
	#Header .Ink_top .main-search .search_others span.hotword a{
		font-size:11px;
		color:#888888;
		letter-spacing:-1px;
		text-decoration:none;
		inline-height: 9px;
	}
	#Header .Ink_top .main-search .search_others span.hotword a:hover{
		font-size:11px;
		color:#095BA7;
		letter-spacing:-1px;
		text-decoration:underline;
	}
	#Header .Ink_top .main-search .search_others span.hotword span.b_line{
		padding-left:12px;
		background: url("http://image.kyobobook.co.kr/ink/gnb2011/ico_magnifier.gif") no-repeat 0 0;
	}
	
	#Header .Ink_top .main-search .gnb_tp_menu{float:left;width:196px;*width:331px;padding:0;*padding:0 0 0 121px;margin:16px 0 0 121px;*margin:0 0 0 0;}
	@media screen and (-webkit-min-device-pixel-ratio:0){#Header .Ink_top .main-search .gnb_tp_menu{float:left;width:196px;padding:0;margin:16px 0 6px 121px;}}
	#Header .Ink_top .main-search .gnb_tp_menu li{float:left;display:inline;padding:0;margin:0;}
	#Header .Ink_top .main-search .gnb_tp_menu li.store img{margin-left:5px;}
	#Header .Ink_top .main-search .search input{float:left;width:272px;border:1px solid #ffffff;line-height:16px; padding:0 6px 0 3px;margin:14px 0 0 0;font-size:14px;font-weight:bold;}
	#Header .Ink_top .main-search .area-list{
		_display: none;
		position:absolute;
		padding-left:0;
		top:32px;
		right:243px;
		_right: 233px;
		z-index:50;
		width:82px;
		border-left:1px solid #016ec1;
		border-right:1px solid #bababa;
		border-bottom:1px solid #bababa;
		background:#fff;
	}
	#Header .Ink_top .main-search .area-list .area-list-box{border-right:solid 1px #016ec1;border-bottom:solid 1px #016ec1;width:81px;padding-bottom:6px;}
	#Header .Ink_top .main-search .area-list li{float:left;display:block;}
	#Header .Ink_top .main-search .area-list a{float:left;color:#666666;width:70px;*width:80px;padding:4px 0 2px 10px;line-height:normal;text-decoration:none;text-align:left;color:#585858;}
	#Header .Ink_top .main-search .area-list a:hover{color:#222222; }
	#Header .Ink_top .main-search .area-list li.item01 a {
		padding:10px 0 7px 10px;
		*width: 78px;
		color:#333333;
		font-weight:bold;
		background-color:#e8f1f9;
	}
	#Header .Ink_top .main-search .area-list li.item02 a{padding:10px 0 2px 10px;}
	#Header .Ink_top .main-search .area-list li.item07 a{padding:4px 0 2px 10px;}
	#Header .Ink_top .main-search .area-list li.item08 a{padding:4px 0 2px 10px;}
	#Header .Ink_top .main-search .area-list li.item14 a{padding:4px 0 2px 10px;}
	#Header .Ink_top .main-search .ad{float:right;margin:-8px 0 0 0;}
	span#sType{font-family:돋움;color:#0084ce;font-weight:bold;font-size:12px;}

	/*logo* banner */
	#Header h1.logo{margin-top:20px;float:left;}
	#Header h3{display:none;}
	#Header .Ink_top .kyobo_area{position:absolute;top:0px;left:80px;width:157px;height:80px;margin:20px 0 0 0;padding:0;z-index:7;}
	#Header .Ink_top .kyobo_area dt { display:none; }
	#Header .Ink_top .kyobo_area dd.banner { position:relative; width:157px; height:80px; margin:0; padding:0; z-index:7; }
	#Header .Ink_top .kyobo_area dd.banner ul { position:relative; width:157px; height:80px; margin:0; padding:0; overflow:hidden;list-style:none; }
	#Header .Ink_top .kyobo_area dd.banner ul li{display:none;}
	#Header .Ink_top .kyobo_area dd.banner ul li#kyobo_sbc_1{display:block;}
	#Header .Ink_top .kyobo_area dd.banner a.move_click { display:block; width:157px; height:80px; margin:0; text-indent:-9999px; overflow:hidden; }
	#Header .Ink_top .kyobo_area dd.move_btn { clear:both; position:absolute; top:63px; right:114px; width:26px; z-index:8; }
	#Header .Ink_top .kyobo_area dd.move_btn a { float:left; display:block; width:13px; height:13px; margin:0; text-indent:-9999px; background:url(http://image.kyobobook.co.kr/newimages/apps/b2c/common/2010/btn_arrow_gnb.gif) no-repeat left top; overflow:hidden; }
	#Header .Ink_top .kyobo_area dd.move_btn a.move_prev { background-position:0 0px; }
	#Header .Ink_top .kyobo_area dd.move_btn a.move_prev:hover { background-position:0 0px; }
	#Header .Ink_top .kyobo_area dd.move_btn a.move_next { background-position:-12px 0px; }
	#Header .Ink_top .kyobo_area dd.move_btn a.move_next:hover { background-position:-12px 0px; }

	/*우측 배너*/
	#Header .Ink_top .ad_TopBanner {width:180px; height:71px; float:right; margin-top:-55px; _margin-top:-65px;}



	#Header .Ink_navi{position:relative; margin:0 auto;width:940px;height:27px;text-align:left;margin-top:0;*margin-top:0;z-index:9;}
	#Header .Ink_navi ul.menu01{
		position:absolute;top:0;
		left:0;
		right:0;
		margin:0;
		width:760px;
	}
	#Header .Ink_navi ul.menu02{position:absolute;top:0;right:0;width:181px;z-index:10;margin:0;}
	/* view-category */
	#Header #view-category-box{position:relative;}
	#Header .Ink_navi .view_category_new{background::#ffffff!importnat;left:0;position:absolute;top:39px;width:750px;*width:745px;border-left:solid #d7272a 3px;border-right:solid #d7272a 3px;border-top:solid #aab3bb 1px;border-bottom:solid #aab3bb 3px; z-index: 20; background: #fff;}
	#Header #view-category-box div.view_category_new{display:none;}
	#Header #view-category-box div.view_category_new div.style01{display:block;border-bottom:solid #d7272a 3px;padding:0;width:750px;*width:745px;height:330px;overflow:hidden;}
	#Header #view-category-box div.view_category_new div h5{background-color:#fbe9e9;color:#333333;font-size:12px;letter-spacing:-1px;margin:0!important;padding:10px 0 9px 10px;height:12px;}
	#Header #view-category-box div.view_category_new div h5 a{color:#333333;font-size:12px;text-decoration:none;}
	#Header #view-category-box div.view_category_new div h5 a:hover{color:#333333;font-size:12px;text-decoration:none;}
	#Header #view-category-box div.view_category_new div.style01 div.serv01{float:left;width:449px;*width:447px;height:330px;overflow:hidden;}
	#Header #view-category-box div.view_category_new div.style01 div.serv01 ul{padding-left:10px;padding-top:6px; color: #333;}
	#Header #view-category-box div.view_category_new div.style01 div.serv01 ul li{display:block;float:none;padding-bottom:4px; _padding-bottom:4px;*padding-bottom:4px; }

	/*카테고리박스 색상 */


	#Header #view-category-box div.view_category_new div.style01 ul li a {color: #333;}

	/*추천 서비스*/

	

	#Header #view-category-box div.view_category_new div.style01 div.serv02{
		float:left;
		width:148px;
		height:330px;
		overflow:hidden;
	}
	#Header #view-category-box div.view_category_new div.style01 div.serv02 ul{
		padding-left:10px;
		padding-top:6px;
	}
	#Header #view-category-box div.view_category_new div.style01 div.serv02 ul li{
		display:block;
		float:none;
		padding-bottom:4px;
	}

	#Header #view-category-box div.view_category_new div .gray_line{background:url("http://image.kyobobook.co.kr/ink/gnb2011/ico_category_line.gif") no-repeat right top;padding-right:5px;margin-right:3px;}
	#Header #view-category-box div.view_category_new div .gray_dote{background:url("http://image.kyobobook.co.kr/ink/gnb2011/ico_category_dote.gif") no-repeat right 4px;padding-right:5px;margin-right:3px;}

	/*top_navi*/
	#Header .Ink_navi .category_view_all{position:absolute;top:0;left:0;}
	#Header .Ink_navi ul.menu01 li{min-height:30px;_height:30px;position:relative;}

	#Header .Ink_navi ul li { float:left; list-style:none;}


div.bn_layer01 {
	position: absolute;
	left: 0;
	top: 138px;
	z-index: 2001;
	width: 34px;
}
div.bn_layer01 img {
	position: static;
}
#productView {
	position: absolute; 
	left: 1020px !important;
}

#body {
	display: inline;
	position: relative;
	z-index: 10;
	float: left;
	margin: 0 10px 0 60px;
	padding: 20px 0;
	width: 950px;
}
#gift-head {
	position: relative;
	z-index: 5;
	clear: both;
	padding: 0 0 21px;
	width: 950px;
	height: 42px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/gift_head_bg.gif") no-repeat 0 0;
}
#gift-head div.hottracks-gift {
	position: relative;
	float: left;
	padding: 5px 0 0 20px;
	width: 170px;
}
#gift-head div.hottracks-gift p.hottracks-logo {
	height: 22px;
}
#gift-head div.hottracks-gift p.category-open {
	padding: 0 0 0 73px;
}
#gift-head div.hottracks-gift div.view-all {
	display: none;
	position: absolute;
	left: 0;
	top: 38px;
	padding: 0 15px;
	width: 920px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #b11111;
	border-top: 3px solid #b61e20;
}
#gift-head div.hottracks-gift div.view-all h2 {
	padding: 35px 0 0 10px;
	height: 30px;
	border-bottom: 1px solid #b11111;
}
#gift-head div.hottracks-gift div.view-all p.close {
	margin: -50px 0 0;
	padding: 0 10px 20px 0;
	text-align: right;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category {
	padding: 0 10px 20px;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category p.title {
	clear: both;
	padding: 15px 0 0 13px;
	width: 900px;
	color: #b11111;
	font-weight: bold;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/dot_porduct_category.gif") no-repeat 1px 18px;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category p.title a {
	color: #b11111;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.category {
	padding: 0 13px;
	font-size: 0.9em;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.category li {
	float: left;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/dotline.gif") repeat-x 0 bottom;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.category li p.sub-title {
	float: left;
	padding: 15px 0 0 9px;
	width: 131px;
	font-weight: bold;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.category li ul.category-sub {
	float: left;
	padding: 10px 0;
	width: 730px;
	line-height: 1.5em;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.category li ul.category-sub li {
	float: none;
	display: inline;
	background: none;
	padding: 0 15px 0 0;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.category li ul.category-sub li a {
	display: inline-block;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul a {
	font-size: 1em;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.recommend {
	margin: -20px 0 0 153px;
	padding: 10px 0;
	width: 730px;
	line-height: 1.5em;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.recommend li {
	display: inline;
	padding: 0 15px 0 0;
	font-size: 0.9em;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.event {
	margin: -20px 0 0 153px;
	padding: 10px 0 0;
	width: 730px;
	line-height: 1.5em;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.event li {
	display: inline;
	padding: 0 15px 0 0;
	font-size: 0.9em;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.shopping-guide {
	margin: -20px 0 0 153px;
	padding: 10px 0 0;
	width: 730px;
	line-height: 1.5em;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.shopping-guide li {
	display: inline;
	padding: 0 15px 0 0;
	font-size: 0.9em;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.contents-service {
	margin: -20px 0 0 153px;
	padding: 10px 0 0;
	width: 730px;
	line-height: 1.5em;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.contents-service li {
	display: inline;
	padding: 0 15px 0 0;
	font-size: 0.9em;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.cscenter {
	margin: -20px 0 0 153px;
	padding: 10px 0 0;
	width: 730px;
	line-height: 1.5em;
}
#gift-head div.hottracks-gift div.view-all div.porduct-category ul.cscenter li {
	display: inline;
	padding: 0 15px 0 0;
	font-size: 0.9em;
}
#gift-head div.gift-navi {
	float: left;
	padding: 8px 0 0;
	width: 759px;
}
#gift-head div.gift-navi ul.main li {
	position: relative;
	z-index: 3;
	float: left;
	padding: 0 8px 0 9px;
	height: 34px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/gift_navi_dot.gif") no-repeat 0 4px;
}
#gift-head div.gift-navi ul.main li.first-child,
#gift-head div.gift-navi ul.main li:first-child {
	padding-left: 0;
	background: none;
}
#gift-head div.gift-navi ul.main li img {
	vertical-align: top;
}
#gift-head div.gift-navi ul.main li div.sub {
	display: none;
	position: absolute;
	left: -50px;
	top: 19px;
	padding: 20px 0 0;
	width: 153px;
	background: #fff url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/gift_navi_sub_top_bg.gif") no-repeat 0 0;
}
#gift-head div.gift-navi ul.main li div.type01 {
	left: -50px;
}
#gift-head div.gift-navi ul.main li div.type02 {
	left: -25px;
}
#gift-head div.gift-navi ul.main li div.type03 {
	left: -35px;
}
#gift-head div.gift-navi ul.main li div.type04 {
	left: -20px;
}
#gift-head div.gift-navi ul.main li div.type05 {
	left: -30px;
}
#gift-head div.gift-navi ul.main li div.type06 {
	left: -35px;
}
#gift-head div.gift-navi ul.main li div.type07 {
	left: -50px;
}
#gift-head div.gift-navi ul.main li div.type08 {
	left: -40px;
}
#gift-head div.gift-navi ul.main li div.type09 {
	left: -25px;
}
#gift-head div.gift-navi ul.main li ul {
	padding: 0 10px 10px;
	width: 133px;
	background: #fff url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/gift_navi_sub_bottom_bg.gif") no-repeat 0 bottom;
}
#gift-head div.gift-navi ul.main li ul li {
	float: none;
	padding: 5px 0 5px 3px;
	height: auto;
	font-size: 0.9em;
	background: none;
	border-top: 1px solid #eaeaea;
}
#gift-head div.gift-navi ul.main li ul li.first-child,
#gift-head div.gift-navi ul.main li ul li:first-child {
	border-top: 0;
	padding: 5px 0 5px 3px;
}
#gift-head div.gift-navi ul.main li ul li a {
	font-size: 1em;
}
#sidebar {
	position: relative;
	z-index: 2;
}
#sidebar div.hot-recommend {
	padding: 48px 0 0;
	width: 180px;
}
#sidebar div.hot-recommend h2 {
	padding: 6px 0 6px 14px;
	border: 1px solid #eaeaea;
}
#sidebar div.hot-recommend ul {
	padding: 10px 0 0 13px;
}
#sidebar div.hot-recommend ul li {
	padding: 0 0 10px;
}
#sidebar div.hot-event {
	width: 180px;
}
#sidebar div.hot-event h2 {
	padding: 6px 0 6px 14px;
	border: 1px solid #eaeaea;
}
#sidebar div.hot-event ul {
	padding: 10px 0 0 13px;
}
#sidebar div.hot-event ul li {
	padding: 0 0 10px;
}
#sidebar div.brand-help {
	width: 180px;
	border-top: 1px solid #eaeaea;
}
#sidebar div.brand-help ul {
	padding: 10px 0 0 13px;
}
#sidebar div.brand-help ul li {
	padding: 0 0 10px;
}
#sidebar div.mygift-ecard {
	width: 180px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}
#sidebar div.mygift-ecard ul {
	padding: 10px 0 0 13px;
}
#sidebar div.mygift-ecard ul li {
	padding: 0 0 10px;
}
#sidebar div.gift-story {
	padding: 13px 0 0;
}
#sidebar div.gift-story img {
	vertical-align: top;
}
#sidebar div.my-link {
	margin: 10px 0 0;
	width: 178px;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
}
#sidebar div.my-link ul {
	border-top: 1px solid #eaeaea;
}
#sidebar div.my-link ul li {
	padding: 8px 0 8px 14px;
	border-bottom: 1px solid #eaeaea;
}
#sidebar div.social {
	margin: 16px 0 0;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/social_bar.gif") no-repeat 31px 4px;
}
#sidebar div.social ul li {
	display: inline;
	margin: 0 -1px 0 7px;
}
#sidebar div.social ul li img {
	vertical-align: middle;
}
#sidebar div.gift-banner {
	padding: 20px 0 0;
}
#sidebar div.gift-banner ul li {
	padding: 0 0 5px;
}
#sidebar div.gift-banner ul li img {
	vertical-align: top;
}
#contents {
	padding: 0 0 60px 0;
}
#contents div.relation-brand-view {
	display: inline;
	position: relative;
	z-index: 4;
	float: right;
	margin: -52px 0 0;
	padding: 0 10px 0 0;
}
#contents div.relation-brand-view div.relation-brand-content {
	display: none;
	position: absolute;
	left: 0;
	top: 22px;
	float: left;
	border: 1px solid #898989;
	background: #fff;
}
#contents div.relation-brand-view div.relation-brand-content ul {
	padding: 15px 4px 0;
	min-width: 105px;
}
#contents div.relation-brand-view div.relation-brand-content ul li {
	padding: 0 11px 10px 11px;
}
#contents div.relation-brand-view div.relation-brand-content ul li p.photo img {
	width: 50px;
	height: 50px;
	border: 1px solid #eaeaea;
}
#contents div.relation-brand-view div.relation-brand-content ul li p.brand {
	padding: 3px 0 0;
	font-size: 0.9em;
	text-align: left;
}
#contents div.relation-brand-view div.relation-brand-content p.more {
	clear: both;
	padding: 0 19px 0 10px;
	height: 25px;
	text-align: right;
	background: #898989;
}
/*
#contents div.gift-search {
	position: relative;
	z-index: 3;
	float: right;
	width: 220px;
	height: 20px;
	border: 2px solid #b11111;
	overflow: hidden;
}
#contents div.gift-search fieldset legend {
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
#contents div.gift-search fieldset input.textbox {
	margin: 0 -4px 0 0;
	padding: 3px 0 0 2px;
	width: 176px;
	height: 17px;
	border: 0;
}
#contents div.gift-search fieldset input,
#contents div.gift-search fieldset img {
	vertical-align: middle;
}
*/
#contents div.page-location {
	display: inline;
	position: relative;
	z-index: 3;
	float: left;
	margin: 0 0 20px -170px;
	width: 950px;
	height: 25px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/page_location_bg.gif") repeat-x 0 bottom;
}
#contents div.page-location p {
	display: none;
}
#contents div.page-location ul {
	margin: 0 0 0 7px;
	padding: 0 0 0 15px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/page_location_dot.gif") no-repeat 0 2px;
}
#contents div.page-location ul li {
	display: inline;
}
#contents div.page-location ul li a {
	line-height: normal;
	font-size: 0.9em;
}
#contents div.page-location ul li span {
	color: #d7d7d7;
	font-size: 0.9em;
}
#contents div.page-location ul li strong {
	font-size: 0.9em;
	color: #555555;
}
#quick-menu {
	display: inline;
	float: left;
	margin: 0 0 0 14px;
	padding: 17px 0 0 7px;
	width: 94px;
	height: 800px;
	overflow: hidden;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/quick_menu_bg.gif") no-repeat 0 0;
}
#quick-menu ul.quick-menu-list {

}
#quick-menu ul.quick-menu-list li {
	padding: 0 0 5px;
}
#quick-menu ul.quick-menu-list li img {
	vertical-align: top;
}
#quick-menu ul.quick-menu-list li div.new-view-product {
	position: relative;
	padding: 22px 0 0 0;
	width: 94px;
	height: 428px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/new_view_product_bg.gif") no-repeat 0 0;
}
#quick-menu ul.quick-menu-list li div.new-view-product ul.new-view-list {
	height: 402px;
	overflow: hidden;
}
#quick-menu ul.quick-menu-list li div.new-view-product ul.new-view-list li {
	padding: 0 0 0 0;
	height: 134px;
}
#quick-menu ul.quick-menu-list li div.new-view-product ul.new-view-list li p.photo {
	padding: 0 0 0 15px;
}
#quick-menu ul.quick-menu-list li div.new-view-product ul.new-view-list li p.product {
	padding: 5px 0 0 10px;
	width: 74px;
	font-size: 0.9em;
	text-align: center;
}
#quick-menu ul.quick-menu-list li div.new-view-product p.prev-next {
	padding: 0 0 0 15px;
}
#quick-menu ul.quick-menu-list li div.new-view-product p.prev-next a.prev {
	position: absolute;
	left: 15px;
	top: 6px;
}
#quick-menu p.top {
	padding: 10px 0;
	text-align: center;
}
#footer-wrap {
	clear: both;
}
#footer {
	clear: both;
	padding: 0 0 0;
}
#footer div.foot-menu {
	padding: 28px 0 0 178px;
	height: 27px;
}
#footer div.foot-menu li {
	display: inline;
	padding: 0 2px 0 0;
}
#footer div.foot-menu li.first-child,
#footer div.foot-menu li:first-child {
	background: none;
}

#footer address {
	float: left;
	padding: 0 0 0 178px;
}
#footer p.copyright {
	float: left;
	padding: 5px 0 0 178px;
}
#footer p.logo {
	position: absolute;
	left: 11px;
	top: 28px;
	padding: 2px 0 0;
	width: 152px;
	height: 80px;
	border-right: 1px solid #d6d6d6;
}
#footer div.family-site {
	position: absolute;
	left: 11px;
	top: 87px;
}
#footer div.family-site select {
	width: 135px;
	color: #636363;
	background: #f1f1f1;
}
#footer p.lgdacom {
	position: absolute;
	left: 753px;
	top: 21px;
}
div.no-result {
	clear: both;
	padding: 100px 0 0;
	text-align: center;
}

a.disabled {
	visibility:hidden !important;
}
/* items inside navigator */
.navi a {
	display: block;
	float: left;
	margin: 2px 4px;
	width: 10px;
	height: 10px;
	font-size: 1px;
	cursor: pointer;
	background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/icon_navigator.gif") 0 0 no-repeat;
}

/* mouseover state */
.navi a:hover {
	background-position:0 -10px;
}

/* active state (current page state) */
.navi a.active {
	background-position:0 -10px;
}
