@charset "utf-8";

@import url(layout.css);

#sidebar {
	float: left;
	margin: 6px 0 20px 0;
	width: 195px;
}
#sidebar h2 {
	padding: 11px 0 10px 7px;
}
#sidebar div.product-menu {
	padding: 15px 0 0 3px;
	width: 174px;
}
#sidebar div.product-menu ul.main {
	border-top: 0px solid #eaeaea;
}
#sidebar div.product-menu ul.main li {
	position: relative;
	padding: 6px 10px 0 14px;
	height: 17px;
	border-bottom: 1px solid #eaeaea;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/product/product_menu_bg_off.gif") no-repeat 0 0;
}

/*
#sidebar div.product-menu ul.main li a {
	font-family: "NanumGothic" , "나눔고딕" sans-serif;
}
*/

#sidebar div.product-menu ul.main li.selected {
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/product/product_menu_bg_on.gif") no-repeat 0 0;
}
#sidebar div.product-menu ul.main li span {
	display: inline-block;
	width: 140px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#sidebar div.product-menu ul.main li span a {
	font-weight: bold;
	text-decoration: none;
	color: #636363;
	line-height: normal;
}
#sidebar div.product-menu ul.main li.selected span a {
	color: #fff;

}
#sidebar div.product-menu ul.main li ul.sub {
	display: none;
	position: absolute;
	left: 150px;
	top: -10px;
	z-index: 10;
	margin: 0;
	padding: 10px;
	width: auto;
	border: 1px solid #f37020;
	background: #fff;
}
#sidebar div.product-menu ul.main li ul.sub li {
	position: static;
	padding: 5px 12px 4px 12px;
	height: auto;
	font-size: 0.9em;
	border-top: 0;
	width: auto;
	overflow:hidden;
    text-overflow:ellipsis;
	white-space: nowrap;
	line-height: normal;
	border-top: 0px solid #eaeaea;
}
#sidebar div.product-menu ul.main li ul.sub li:first-child,
#sidebar div.product-menu ul.main li ul.sub li.first-child {
	border-top: 0;
}
#sidebar div.product-menu ul.main li ul.sub li a {
	display: inline-block;
	font-size: 1em;
	line-height: normal;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
}

#sidebar div.item-view {
	padding: 8px 0 0;
}
#sidebar div.item-view h3 {
	padding: 0 0 0 10px;
	height: 18px;
}
#sidebar div.item-view ul {
	float: left;
	padding: 3px 0;
	width: 174px;
	border: 3px solid #eaeaea;
	background: url("${imageServer}/images/common/item_view_bg.gif") no-repeat 3px 3px;
}
#sidebar div.item-view ul li {
	float: left;
	padding: 0 0 0 18px;
	width: 69px;
	height: 23px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/dot_item_view.gif") no-repeat 9px center;
}
#sidebar div.item-view ul li a {
	font-size: 0.9em !important;
	line-height: 2em !important;
}
#sidebar div.direct-service {
	clear: both;
	padding: 10px 0 0;
	height: 62px;
}
#sidebar div.direct-service ul li {
	display: inline;
	margin: 0 -4px 0 0;
}
#sidebar div.direct-service ul li img {
	vertical-align: top;
}
#sidebar div.side-hot-product {
	width: 178px;
	border: 1px solid #eaeaea;
}
#sidebar div.side-hot-product ul {
	display: none;
}
#sidebar div.side-hot-event {
	width: 178px;
	border: 1px solid #eaeaea;
	border-top: 0;
}
#sidebar div.side-hot-event ul {
	display: none;
}
#sidebar div.quick-link {
	float: left;
	margin: 8px 0 0;
	width: 178px;
	border: 1px solid #eaeaea;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/quick_link_bg.gif") no-repeat 0 0;
}
#sidebar div.quick-link ul {
	float: left;

}
#sidebar div.quick-link ul li {
	float: left;
	margin: 0 1px 1px 0;
}
#sidebar div.banner-link {
	clear: both;
	padding: 8px 0 0;
}
#sidebar div.banner-link ul li {
	margin: 0 0 2px 0;
}

#contents {
	float: left;
	margin: 0 -8px 0 0; 
	padding-top: 15px !important;
	width: 755px;
	min-height: 600px;
}
#contents div.page-location {
	position: relative;
	margin: 0 0 20px -195px;
	padding: 0 0 6px;
	height: 30px;
}
#contents div.page-location ul {
	margin: 10px 0 0 200px;
}
#contents h3.title {
	clear: both;
	position: relative;
	padding: 7px 0 8px 4px;
	width: 751px;
	font-size: 1.8em;
	font-weight: bold;
	color: #111111;
	font-family: "맑은 고딕", "Malgun Gothic", sans-serif;
}
