@charset "utf-8"; 

/* culturezone */
#culturezone {width:950px; overflow:hidden; position:relative;}
#culturezone .culturezone_title {width:100%; height:89px; position:relative; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/title_culturezone.gif") 4px 11px no-repeat; border-bottom:1px solid #dddddd;} 
#culturezone div.culturezone_tab {width:427px; height:70px; position: absolute; top:10px; right:0;}
#culturezone div.culturezone_tab .tab {width:427px; height:70px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/m_menu.gif") 0 -79px no-repeat;}
#culturezone div.culturezone_tab .tab .tab1_on {width:83px; height:70px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/m_menu.gif") 0 0 no-repeat;} 
#culturezone div.culturezone_tab .tab .tab1_off {width:83px; height:70px; float:left;} #culturezone div.culturezone_tab .tab .tab2_on {width:89px; height:70px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/m_menu.gif") -83px 0 no-repeat;} 
#culturezone div.culturezone_tab .tab .tab2_off {width:89px; height:70px; float:left;} 
#culturezone div.culturezone_tab .tab .tab3_on {width:87px; height:70px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/m_menu.gif") -172px 0 no-repeat;} 
#culturezone div.culturezone_tab .tab .tab3_off {width:87px; height:70px; float:left;} 
#culturezone div.culturezone_tab .tab .tab4_on {width:89px; height:70px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/m_menu.gif") -259px 0 no-repeat;} 
#culturezone div.culturezone_tab .tab .tab4_off {width:89px; height:70px; float:left;} 
#culturezone div.culturezone_tab .tab .tab5_on {width:79px; height:70px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/m_menu.gif") -348px 0 no-repeat;} 
#culturezone div.culturezone_tab .tab .tab5_off {width:79px; height:70px; float:left;} 

#culturezone .box_new {width:950px; height:420px; position:relative; } 
#culturezone .box_new .tab {width:240px; height:24px; position:absolute; top:28px; left:0; z-index:20; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/main_tabbg.gif") 0 0 no-repeat;}
#culturezone .box_new .tab .tab1_on {width:88px; height:13px; position:absolute; top:0; left:0; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/main_tabbg.gif") 0 -30px no-repeat;} 
#culturezone .box_new .tab .tab1_off {width:88px; height:13px; position:absolute; top:0; left:0;} 
#culturezone .box_new .tab .tab2_on {width:129px; height:13px; position:absolute; top:0; left:110px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/main_tabbg.gif") -110px -30px no-repeat;} 
#culturezone .box_new .tab .tab2_off {width:129px; height:13px; position:absolute; top:0; left:110px;}  
#culturezone .box_new div.new_box_rolling {width:950px; height:396px; overflow:hidden; position:absolute; top:28px; left:0;}
#culturezone .box_new div.new_box_rolling ul.menu {width:105px; height:26px; padding:0; text-align:right; position:absolute; top:3px; right:10px;}
#culturezone .box_new div.new_box_rolling ul.menu li {display:inline; padding:0 0 0 4px;} 
#culturezone .box_new div.new_box_rolling div.new_box_rolling_content {width:950px; height:395px; position:absolute; top:25px; left:0;} 
#culturezone .box_new div.new_box_rolling div.new_box_rolling_content ul {width:950px; height:370px; filter:inherit;} 
#culturezone .box_new div.new_box_rolling div.new_box_rolling_content ul li.type1 {width:950px; height:370px; filter:inherit;} 

#culturezone div.box {width:950px; height:146px; margin-top:21px; position:relative; border-bottom:1px solid #dddddd;}
#culturezone div.box_banner {float:left; width:298px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/m_banner_line.gif") right 0 repeat-y;}
#culturezone div.box_banner p.title {width:auto; height:23px;}
#culturezone div.box_board {float:left; position:relative;}
#culturezone div.box_board .board {width:320px; height:120px; padding-left:31px; overflow:hidden; position:relative;} 
#culturezone div.box_board .board p.title {width:auto; height:24px;}
#culturezone div.box_board .board ul {width:320px; overflow:hidden; padding:15px 0 0 4px;}
#culturezone div.box_board .board ul li {width:320px; height:20px; font-size:11px; color:#666;} 
#culturezone div.box_board .board ul li a{text-decoration:none;}
#culturezone div.box_board .board ul li span {color:#7d98ac; padding-right:6px;}
#culturezone div.box_board .board .more {width:44px; height:10px; position:absolute; top:0; right:0;}

#culturezone div.event-main div.main-event-list { clear: both; width: 755px; overflow: hidden; }
#culturezone div.event-main div.main-event-list ul { float: left; width: 780px; background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/event/main_event_list_bg.gif") repeat-y 0 0; }
#culturezone div.event-main div.main-event-list ul li { float: left; width: 255px; height: 153px; }
#culturezone div.event-main div.main-event-list ul li p.photo { }
#culturezone div.event-main div.main-event-list ul li p.period { padding: 8px 0 0 15px; font-size: 0.9em; }


/* snb */
#culturezone .snb {width:180px; overflow:hidden; float:left; padding-bottom:40px;}
#culturezone .snb ul {width:180px; overflow:hidden; padding:22px 0 25px 0;}
#culturezone .snb ul li {width:180px; height:40px;}  
#culturezone .snb ul li.m05 {width:180px; height:41px;}
#culturezone .snb ul li.m01 a {width:180px; height:40px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/snb_menu_off.gif") 0 0 no-repeat;}
#culturezone .snb ul li.m02 a {width:180px; height:40px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/snb_menu_off.gif") 0 -40px no-repeat;}
#culturezone .snb ul li.m03 a {width:180px; height:40px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/snb_menu_off.gif") 0 -80px no-repeat;}
#culturezone .snb ul li.m04 a {width:180px; height:40px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/snb_menu_off.gif") 0 -120px no-repeat;}
#culturezone .snb ul li.m05 a {width:180px; height:41px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/snb_menu_off.gif") 0 -160px no-repeat;}
#culturezone .snb ul li.m01 a.on {width:180px; height:40px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/snb_menu_on.gif") 0 0 no-repeat;}
#culturezone .snb ul li.m02 a.on {width:180px; height:40px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/snb_menu_on.gif") 0 -40px no-repeat;}
#culturezone .snb ul li.m03 a.on {width:180px; height:40px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/snb_menu_on.gif") 0 -80px no-repeat;}
#culturezone .snb ul li.m04 a.on {width:180px; height:40px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/snb_menu_on.gif") 0 -120px no-repeat;}
#culturezone .snb ul li.m05 a.on {width:180px; height:41px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/snb_menu_on.gif") 0 -160px no-repeat;}
#culturezone .snb div.my-link { margin: 8px 0 0; width: 178px; border-left: 1px solid #eaeaea; border-right: 1px solid #eaeaea; }
#culturezone .snb div.my-link ul { width:auto; border-top: 1px solid #eaeaea; padding:0; }
#culturezone .snb div.my-link ul li { width:auto; height:22px; padding: 8px 0 0 14px; border-bottom: 1px solid #eaeaea; }
#culturezone .snb div.social { margin: 8px 0 0; background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/social_bar.gif") no-repeat 31px 4px; }
#culturezone .snb div.social ul {padding:0;}
#culturezone .snb div.social ul li { display: inline; margin: 0 -1px 0 7px; }
#culturezone .snb div.social ul li img { vertical-align: middle; }

/* list */
#culturezone .contents {width:755px; overflow:hidden; float:right;}
#culturezone .contents .mp_box {width:753px; height:63px; padding:0; position:relative; margin-bottom:25px;  border:1px solid #c2c2c2; background:#fafafa;}
#culturezone div.faq_search {width:753px; height:45px; padding-top:15px; margin:0 auto;}
#culturezone div.faq {width:430px; overflow:hidden; margin:0 auto;}
#culturezone div.faq dl {width:430px; background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/help/faq_search_line_bg.gif") repeat-x 0 51px; }
#culturezone div.faq dl dt {width:80px; float: left; padding: 11px 0 16px; }
#culturezone div.faq dl dt img { vertical-align: middle; }
#culturezone div.faq dl dd {width: 338px; height: 26px; float: left;  text-align: right; border: 4px solid #b11111; }
#culturezone div.faq dl dd fieldset legend { width: 0; height: 0; line-height: 0; font-size: 0; visibility: hidden; }
#culturezone div.faq dl dd fieldset input.textbox { margin: 0 -4px 0 0; padding:3px 3px 0 3px; width: 274px; height: 21px; border: 0; }
#culturezone div.faq dl dd fieldset input { vertical-align: top; }

#culturezone .list_tab {width:auto; height:12px; position:relative; clear:both; padding-bottom:9px;}
#culturezone .list_tab .tab {width:240px; height:12px; z-index:20; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/sub_tabbg.gif") 0 0 no-repeat;}
#culturezone .list_tab .tab .tab1_on {width:56px; height:12px; position:absolute; top:0; left:0; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/sub_tabbg.gif") 0 -20px no-repeat;}
#culturezone .list_tab .tab .tab1_off {width:56px; height:12px; position:absolute; top:0; left:0;} 
#culturezone .list_tab .tab .tab2_on {width:62px; height:12px; position:absolute; top:0; left:57px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/sub_tabbg.gif") -57px -20px no-repeat;} 
#culturezone .list_tab .tab .tab2_off {width:62px; height:12px; position:absolute; top:0; left:57px;} 
#culturezone .list_tab .tab .tab3_on {width:64px; height:12px; position:absolute; top:0; left:118px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/sub_tabbg.gif") -118px -20px no-repeat;} 
#culturezone .list_tab .tab .tab3_off {width:64px; height:12px; position:absolute; top:0; left:118px;}  

#culturezone .photo_newtable04 {width:auto; border-top:0px solid #a31112; border-bottom:0px solid #a31112; }
#culturezone .photo_newtable04 ul.photo {width:auto; overflow:hidden; border-top:1px solid #cacaca; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/sub_listbg.gif") 0 0 repeat-y; }
#culturezone .photo_newtable04 ul.photo li {float:left; width:33%; height:185px; overflow:hidden; text-align:center; font-size:11px; padding:20px 0 0 0;}
#culturezone .photo_newtable04 ul.photo li img {width:210px; height:120px; margin:10px 0 3px 0;}
#culturezone .photo_newtable04 ul.photo li p.icon {text-align: center;}
#culturezone .photo_newtable04 ul.photo li p.icon .online {width:50px; height:15px; display:inline-block; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/icon_online.gif") 0 0 no-repeat; }
#culturezone .photo_newtable04 ul.photo li p.icon .offline {width:50px; height:15px; display:inline-block; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/icon_offline.gif") 0 0 no-repeat; } 
#culturezone .photo_newtable04 ul.photo li p.dfont {text-align:left;font-size:10px; font-family:Verdana; line-height:14px; padding:0 0 5px 20px; letter-spacing:-1px;} 

/* view */
#culturezone .culture_title {width:auto; height:29px; border-bottom:1px solid #eaeaea; position:relative; font-size:12px; padding-top:-24px;}
#culturezone .culture_title ul {width:auto; overflow:hidden;}
#culturezone .culture_title ul li.title {width:auto; height:20px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/dot_porduct_category.gif") 10px 10px no-repeat; padding-left:22px; padding-top:5px;}
#culturezone .culture_title ul li.icon {text-align: center; float:left; padding-left:20px; padding-top:5px;}
#culturezone .culture_title ul li.icon .online {width:50px; height:15px; display:inline-block; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/icon_online.gif") 0 0 no-repeat; }
#culturezone .culture_title ul li.icon .offline {width:50px; height:15px; display:inline-block; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/icon_offline.gif") 0 0 no-repeat; } 
#culturezone .culture_title ul li.btn {float:right;}
#culturezone .culture_img {width:950px; overflow:hidden; margin:15px 0 17px 0;}
 
#culturezone .order_infor p.total {padding:0 0 15px 18px; font-size:0.9em; color: #555; }
#culturezone .order_infor p.total img {vertical-align: middle;}  
#culturezone .order_table01_re {width:100%; border-top:0px solid #a31112 !important; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/line_rebg.gif") 0 bottom repeat-x;}
#culturezone .order_table01_re thead th {padding:0; color:#333; font-size:11px; font-weight:normal; border-bottom:0px solid #a31112;}

#culturezone .order_table01_re .look_topbox {width:100%; overflow:hidden; position:relative;}
#culturezone .order_table01_re .look_topbox div.view_register {padding:15px 0 15px 19px; overflow:hidden; z-index:30; background: #f8f8f8; border:1px solid #eaeaea; margin-bottom:-1px;}
#culturezone .order_table01_re .look_topbox div.view_register fieldset .lookbox {width:61px; height:37px; float:left; border:1px solid #eaeaea; background:#fff; margin-right:15px;}
.look01 {width:28px; height:28px; margin:6px 0 0 10px; _margin:6px 0 0 6px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/look_bg.gif") 0 0 no-repeat;}
.look02 {width:28px; height:28px; margin:6px 0 0 10px; _margin:6px 0 0 6px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/look_bg.gif") -31px 0 no-repeat;}
.look03 {width:28px; height:28px; margin:6px 0 0 10px; _margin:6px 0 0 6px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/look_bg.gif") -62px 0 no-repeat;}
.look04 {width:28px; height:28px; margin:6px 0 0 10px; _margin:6px 0 0 6px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/look_bg.gif") -93px 0 no-repeat;}
.look05 {width:28px; height:28px; margin:6px 0 0 10px; _margin:6px 0 0 6px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/look_bg.gif") -124px 0 no-repeat;}
.look06 {width:28px; height:28px; margin:6px 0 0 10px; _margin:6px 0 0 6px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/look_bg.gif") -155px 0 no-repeat;}
.look07 {width:28px; height:28px; margin:6px 0 0 10px; _margin:6px 0 0 6px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/look_bg.gif") -186px 0 no-repeat;}
.look08 {width:28px; height:28px; margin:6px 0 0 10px; _margin:6px 0 0 6px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/look_bg.gif") -217px 0 no-repeat;}
.look09 {width:28px; height:28px; margin:6px 0 0 10px; _margin:6px 0 0 6px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/look_bg.gif") -248px 0 no-repeat;}
.look10 {width:28px; height:28px; margin:6px 0 0 10px; _margin:6px 0 0 6px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/look_bg.gif") -279px 0 no-repeat;}
#culturezone .order_table01_re .look_topbox div.view_register fieldset .lookbox .chbtn {width:22px; _width:20px; height:37px; float:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/dot_alsh.gif") 7px 17px no-repeat;}
#culturezone .order_table01_re .look_topbox div.view_register fieldset legend {height:0; font-size:0; line-height:0; visibility: hidden; }
#culturezone .order_table01_re .look_topbox div.view_register fieldset textarea {float:left; margin:0 22px 0 0; padding:2px 0 0 2px; width:720px; height:35px; font-size:11px; line-height:12px; border:1px solid #eaeaea; overflow:hidden; }
#culturezone .order_table01_re .look_topbox div.view_register fieldset input {float:left;}
#culturezone .order_table01_re .look_topbox div.view_register fieldset .txt {clear:both; padding:8px 0 0 79px; color:#464646; margin-bottom:-3px; _margin-bottom:-3px;}
:first-child + html #culturezone .order_table01_re .look_topbox div.view_register fieldset .txt {clear:both; padding:8px 0 0 79px; color:#464646; margin-bottom:-1px;}

#culturezone .order_table01_re .look_topbox .lookallbox {width:390px; _width:355px; height:37px; position:absolute; top:16px; left:83px; z-index:40; background:#ffffff; border:1px solid #eaeaea;} 
#culturezone .order_table01_re tbody td.reinput .look_topbox .lookallbox {width:390px; _width:355px; height:37px; position:absolute; top:15px; left:83px; z-index:40; background:#ffffff; border:1px solid #eaeaea;} 

#culturezone .order_table01_re tbody td {border-top:1px solid #eaeaea; padding:10px 0 10px; font-size:11px; line-height:14px; text-align:center;  background:none;}
#culturezone .order_table01_re tbody td p.look {width:auto; height:26px;}
#culturezone .order_table01_re tbody td p.look span {margin:0 16px 0 14px;}
#culturezone .order_table01_re tbody td p.look em {padding-top:6px; display:inline-block;}
#culturezone .order_table01_re tbody td span.dfont {font-size:10px; font-family:Verdana; line-height:22px;}
#culturezone .order_table01_re tbody td.left {padding-left:10px; padding-right:10px; text-align:left;}
#culturezone .order_table01_re tbody td.re {padding:13px 10px 13px 40px; text-align:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/icon_re.gif") 15px 13px no-repeat;}
:first-child + html #culturezone .order_table01_re tbody td.re {padding:13px 10px 13px 40px; text-align:left; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/icon_re.gif") 15px 16px no-repeat;}
#culturezone .order_table01_re tbody td.reinput {padding:0;} 
#culturezone .order_table01_re tbody td.reinput div.view_register {margin-top:-1px; margin-bottom:-1px;} 
#culturezone .order_table01_re tbody td.no {padding:33px 0 31px 0;} 
	
	#culturezone .pager_re {width:950px; height:64px; margin-top:18px; position:relative; font-size:11px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/bod_list_bg.gif") 0 0 no-repeat;}
	#culturezone .pager_re p.one {width:920px; position:absolute; top:11px; left:44px;}
	#culturezone .pager_re p.one span {padding-right:80px;}  
	#culturezone .pager_re p.one a {text-decoration:none;} 
	#culturezone .pager_re p.one em {width:60px; position:absolute; top:0; right:44px;}
	#culturezone .pager_re p.two {width:920px; position:absolute; top:41px; left:44px;}
	#culturezone .pager_re p.two span {padding-right:80px;}  
	#culturezone .pager_re p.two a {text-decoration:none;} 
	#culturezone .pager_re p.two em {width:60px; position:absolute; top:0; right:44px;}
	
	#culturezone .pager_re_s {width:755px; height:64px; margin-top:18px; position:relative; font-size:11px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/culturezone/bod_list_sbg.gif") 0 0 no-repeat;}
	#culturezone .pager_re_s p.one {width:725px; position:absolute; top:11px; left:44px;}
	#culturezone .pager_re_s p.one span {padding-right:80px;}  
	#culturezone .pager_re_s p.one a {text-decoration:none;} 
	#culturezone .pager_re_s p.one em {width:60px; position:absolute; top:0; right:44px;}
	#culturezone .pager_re_s p.two {width:725px; position:absolute; top:41px; left:44px;}
	#culturezone .pager_re_s p.two span {padding-right:80px;}  
	#culturezone .pager_re_s p.two a {text-decoration:none;} 
	#culturezone .pager_re_s p.two em {width:60px; position:absolute; top:0; right:44px;}

/* 당첨자발표 */
#culturezone .order_infor_title3 {width:100%; height:30px; position:relative; margin-bottom:6px; }
#culturezone .order_infor_title3 div {width:510px; height:20px; position:relative; padding-left:6px; }
#culturezone .order_infor_title3 p { position:absolute; top:12px; left:3px; font-size:11px; color:#898989; }
#culturezone .order_infor_title3 em { position:absolute; top:6px; right:0; font-size:11px; color:#555; }
#culturezone .order_infor_title3 em .textbox {width:180px; height:19px;}
#culturezone .order_infor_title3 em select {width:85px; height:19px;}
 