@charset "UTF-8";

.f_red_b {color:#da2128 !important; font-weight:bold !important; }

.layerbox {width:298px; height:165px; border:2px solid #b6b6b6; background:#FFF; position:relative; position:absolute; top:310px; left:70px; text-align:center; color:#000;}
.layerbox .close { position:absolute; top:10px; right:10px;}
.layerbox .btn { position:absolute; top:119px; left:98px;}
.layerbox p {padding:35px 0 16px 0; color:#000;}
/* player music */
#wrap.music {height:658px;width:430px;}

.music #header {overflow:hidden;height:42px;width:100%;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_header.gif') no-repeat;}
	.music h1 {display:inline;float:left;overflow:hidden;height:24px;width:175px;margin:9px 0 0 14px;}
	.music .login {float:right;padding:15px 10px 1px 0;font-size:11px;color:#363636;background-image:none;}
	.music .login a {margin-left:4px;}
	.music .login a img {margin-top:-1px;vertical-align:middle;}
	.music .myinfo	{float:right;padding:20px 15px 0 0;color:#494949;letter-spacing:-1px; font-size:11px;}
	.music .myinfo .myid	{color:#ff8a00; font-weight:bold;}
	.music .myinfo .myalbum	{margin-left:16px;padding-right:9px;color:#494949;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bu_arrowOr.gif') no-repeat 100% 3px;}

.music #container	{position:relative;clear:both;height:556px;width:430px;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_container.gif') no-repeat;}
	.music h2 {height:28px;width:100%;padding-top:20px;font-size:12px;color:#da2729;text-align:center;}
	.music h2 span.title {font-size:12px;color:#da2729; font-weight:bold;}
	.music h2 span	{font-size:11px;font-weight:normal;color:#494949;}
	.music h2.none {font-weight:normal;color:#797979;letter-spacing:-1px;}
	.music .layerMenuPhone {left:118px;top:454px;}
	.music .layerMenuMV {left:167px;top:454px;}
	.layerMenu,
	.layerMenu ul,
	.layerMenu .layerBg.bgTL,
	.layerMenu .layerBg.bgTR,
	.layerAlert,
	.layerAlert .content,
	.layerAlert .layerBg.bgTL,
	.layerAlert .layerBg.bgTR,
	.layerPopup,
	.layerPopup h1,
	.layerPopup .content,
	.layerPopup .btnClose,
	.layerPopup .layerBg {background-color:#262626;}

.music .progressForm	{position:relative;height:35px;width:350px;margin-left:35px;}
	.progressForm .repeat	{position:absolute;left:22px;top:7px;}
	.progressForm .repeat.repeat1	{position:absolute;left:15px;top:7px;}
	.progressForm .shuffle	{position:absolute;right:0;top:7px;}
	.progressForm .progress	{padding:10px 0 0 59px;}
	.progressForm .progress .timeline	{display:inline-block;overflow:hidden;height:4px;width:160px;margin:6px 6px 0 10px;font-size:1px;line-height:1px;vertical-align:top;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_timeline.gif') no-repeat;}
	.progressForm .progress .timeline span	{display:inline-block;overflow:hidden;height:4px;font-size:1px;line-height:1px;background:#f50a2b;}
	.progressForm .progress .start	{font-family:Tahoma;font-size:11px;color:#494949;}
	.progressForm .progress .finish	{font-family:Tahoma;font-size:11px;color:#494949;}
	
	.progressForm .progress .timeline02	{display:inline-block;overflow:hidden;height:4px;width:160px;margin:6px 6px 0 10px;font-size:1px;line-height:1px;vertical-align:top;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_timeline.gif') no-repeat; position:absolute; top:15px; left:91px;}
	.progressForm .progress .timeline02 span	{display:inline-block;overflow:hidden;height:4px;font-size:1px;line-height:1px;background:#f50a2b;}
 
.music .playlistClose	{height:19px;width:100%;padding-top:0;}
	.playlistClose a	 {display:block;height:10px;width:72px;margin:0 auto;text-indent:-9999em;}

.music .playCtl	{overflow:hidden;height:53px;width:426px;}
	.playCtl .btns	{float:left;padding:15px 58px 0 38px;}
	.playCtl .btns .play	{margin:0 12px 0 15px;}
	.playCtl .volumn	{float:left;width:208px;padding-top:23px;}
	.playCtl .volumn .sound	{float:left;}
	.playCtl .volumn .timeline	 {position:relative;float:right;height:14px;width:190px;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_volumn.gif') no-repeat left 5px;}
	.playCtl .volumn .timeline span	{display:block;height:14px;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_volumnin.gif') no-repeat left 5px;}
		.ie6 .playCtl .volumn .timeline span {position:absolute;left:0;top:0;}
	.playCtl .volumn .timeline a {position:absolute;top:0;}
	.playCtl .volumn .timeline img {position:absolute;top:0;cursor:pointer}

.music .playList	 {position:relative;height:401px;}
.music .playList .list	{position:relative;overflow-y:auto;overflow-x:hidden;height:328px;width:427px;}
	.music .playList .list ul	{overflow:hidden;width:411px;}
	.music .playList .list ul li	{position:relative;float:left;overflow:hidden;height:58px;width:100%;border-bottom:1px solid #e8e8e8;}
	.music .playList .list ul li.odd	{background-color:#363636;}
	.music .playList .list ul li.even {background-color:#303030;}
	.music .playList .list ul li.selected {background-position:0 0;}
	.music .playList .list ul li.nowPlaying {background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_playlist.gif') no-repeat 0 0;}
	.music .playList .list ul li.nowPlaying .info a.title {font-weight:bold;}
	.music .playList .list ul li.downInsert	{border-bottom:1px solid #999;}
	.music .playList .list ul li .btns {float:left;width:100px;padding:15px 0 0 24px;}
	
	.music .playList .list ul li .btns .checkbox	{display:block;float:left;cursor:pointer;height:14px;width:14px;margin:6px 11px 0 0;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_checkbox.gif') no-repeat;}
	.music .playList .list ul li .btns .checkbox.checked {background-position:0 -20px;}
	
	
	.music .playList .list ul li .btns a {margin-left:-1px;}
	.music .playList .list ul li .info {float:left;overflow:hidden;width:210px;color:#999;letter-spacing:-1px;line-height:12px; padding-top:12px;}
	.music .playList .list ul li .info p {overflow:hidden;height:13px;width:220px;padding:1px 0 5px;text-overflow:ellipsis;white-space:nowrap;}
	.music .playList .list ul li .info a.title	 {color:#464646; font-size:11px; font-weight:bold;}
	.music .playList .list ul li .info span.title {font-size:12px;color:#494949;}
	.music .playList .list ul li .info span	{display:block;font-size:11px;color:#666;}
	.music .playList .list ul li .info .artist {color:#ff8a00;}
	.music .playList .list ul li .info .albumtitle {color:#464646;}
	.music .playList .list ul li .icos	{float:left;width:34px;text-align:right; display:none;}
	.music .playList .list ul li .icos span {display:inline-block;height:14px;width:14px;vertical-align:top;}
	.music .playList .list ul li .action {float:right;padding:24px 0 0 3px; display:inline;font-size:11px;color:#494949;letter-spacing:-1px; width:50px;}
	.music .playList .list ul li .action a {color:#363636;line-height:17px;font-weight:bold;}
	.music .playList .list ul li .action a.On {text-decoration:underline;}
	/*.music .playList .list ul li .action em {color:#444;}*/
	.music .playList .list ul li .action em	{margin:0 3px;}

	
/* common List */
.playList .listCtl	 {height:28px;padding:8px 0 0 24px;}
	.playList .listCtl	* {vertical-align:top;}
	.playList .listCtl	 .top100	{position:absolute;right:19px;top:11px;padding-right:6px;font-size:11px;color:#ccc;letter-spacing:-1px;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bu_arrowOr.gif') no-repeat 100% 3px;}
	.playList .listCtl	 .top100:hover	 {color:#fff;}
	.playList .listCtl .recommend {display:inline-block;position:absolute;top:3px;right:1px;}
.playList .checkbox	{display:block;float:left;cursor:pointer;height:14px;width:14px;margin:2px 11px 0 0;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_checkbox.gif') no-repeat;}
	.playList .checkbox.checked {background-position:0 -20px;}
	.playList .checkbox input {display:none;}
.playList .list * {line-height:1em;}
	.playList .list .layerMenu li a {line-height:20px;}
	.playList .listmove	{position:absolute;left:50%;margin-left:-8px;}
	.playList .noMove	{position:absolute;left:50%;margin-left:-8px;}
.playList .listInfo	{overflow:hidden;height:35px;width:100%;} 
	.playList .listInfo .info	{float:right;padding:12px 18px 0 0;font-size:11px;color:#464646;}
	.playList .listInfo .info span	{color:#da2729;letter-spacing:0; font-weight:bold;}
	
/* loading */
.player_loading {padding:200px 0 0 126px;}

	
/* musicvideo */
#wrap.musicvideo {overflow:hidden;height:668px;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_musicvideo.gif') no-repeat;}
#wrap.shrink {width:659px;}
#wrap.expand {width:970px;}
.ie6 .musicvideo {overflow:hidden;height:668px;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_musicvideo.gif') no-repeat;}
.ie6 .musicvideo.shrink {width:659px;}
.ie6 .musicvideo.expand {width:970px;}

.musicvideo #header {position:relative;height:38px;width:643px;margin:0;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_musicvideo.gif') no-repeat;}
	.musicvideo h1 {display:inline;float:left;overflow:hidden;margin:11px 0 0 10px;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/h1_hottracks.gif') no-repeat 0 -40px;}
	.musicvideo h1 a {display:block;overflow:hidden;height:18px;width:140px;text-indent:-1000em;}
	.musicvideo .login {display:inline;float:right;margin:10px 66px 0 0;}
	.musicvideo .login span {display:inline-block;margin:0 8px 0 0;font-size:11px;color:#999;letter-spacing:-1px;line-height:21px;}
	.musicvideo #header .login a {display:inline;}
	.musicvideo .myInfo {display:inline;float:right;margin:10px 66px 0 0;font-weight:bold;color:#999;line-height:21px;}
	.musicvideo .myInfo .userID {margin:0 2px 0 0;padding:0;font-weight:bold;color:#f26a00;background:none;}
	.musicvideo .myInfo a {padding:0 7px 0 0;color:#CCC;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bu_arrow.gif') no-repeat 100% -157px;}
	.musicvideo .selectSize {position:absolute;right:0;top:12px;height:15px;width:44px;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/b_selectSize.gif') no-repeat 0 -80px;}
	.musicvideo .selectSize span {display:block;float:left;}
	.musicvideo .selectSize span span {display:none;}
	.musicvideo .selectSize span a {display:block;height:15px;width:100%;text-indent:-1000em;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/b_selectSize.gif') no-repeat;}
	.musicvideo .selectSize span.closeList {height:15px;width:17px;margin:0 3px 0 0;}
	.musicvideo .selectSize span.closeList a {background-position:0 0;}
	.musicvideo .selectSize span.closeList a:hover {background-position:0 -40px;}
	.musicvideo .selectSize span.openList {height:15px;width:24px;}
	.musicvideo .selectSize span.openList a {background-position:-20px 0;}
	.musicvideo .selectSize span.openList a:hover {background-position:-20px -40px;}

.shrink #container {width:659px;}
.expand #container {width:970px;}
.musicvideo #container {height:630px;margin:0;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_musicvideo.gif') no-repeat 0 100%;}
	.musicvideo .btnMoreAction span a,
	.musicvideo .btnMoreAction span span {background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bc_listAction.gif') no-repeat;}
	.musicvideo .btnMoreAction .bcPhone a {background-position:0 4px;}
	.musicvideo .btnMoreAction .bcPhone a:hover {background-position:-60px 4px;}
	.musicvideo .btnMoreAction .bcPhone span {background-position:-120px 4px;}
	.musicvideo .btnMoreAction .bcMV a {background-position:0 -36px;}
	.musicvideo .btnMoreAction .bcMV a:hover {background-position:-60px -36px;}
	.musicvideo .btnMoreAction .bcMV span {background-position:-120px -36px;}
	.musicvideo .btnMoreAction .bcMV.fullHD {padding:0 0 0 49px;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/ic.gif') no-repeat 0 4px;}
	.musicvideo .btnMoreAction .bcMV.hd {padding:0 0 0 27px;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/ic.gif') no-repeat 0 -36px;}
	.musicvideo .btnMoreAction .bcTrackInfo a {width:40px;background-position:0 -76px;}
	.musicvideo .btnMoreAction .bcTrackInfo a:hover {background-position:-60px -76px;}
	.musicvideo .btnMoreAction .bcTrackInfo span {width:40px;background-position:-120px -76px;}
	.musicvideo .btnMoreAction .bcLink a {width:35px;background-position:0 -116px;}
	.musicvideo .btnMoreAction .bcLink a:hover {background-position:-60px -116px;}
	.musicvideo .btnMoreAction .bcLink span {width:35px;background-position:-120px -116px;}

.musicvideo .nowPlaying {display:inline;position:relative;float:left;width:646px;margin:0 0 0 7px;}
	.nowPlaying .playingMV {height:531px;width:646px;background-color:#000;}
	.nowPlaying .playingMV #BugsMvPlayer {height:531px;width:646px;}
	.nowPlaying .mvInfo {position:relative;overflow:hidden;height:88px;width:100%;margin:11px 0 0;}
	.nowPlaying .mvInfo .thumbnail {float:left;height:75px;width:75px;margin:0 10px 0 0;padding:0 0 0 5px;}
	.nowPlaying .mvInfo .thumbnail img {height:75px;width:75px;}
	.nowPlaying .mvInfo dl {float:left;width:345px;}
	.nowPlaying .mvInfo dt {overflow:hidden;width:345px;white-space:nowrap;}
	.nowPlaying .mvInfo dt .btnLike {margin:0 6px 0 0;}
	.nowPlaying .mvInfo dt span {display:inline-block;vertical-align:middle;}
	.nowPlaying .mvInfo dt span a {color:#CCC;line-height:21px;}
	.nowPlaying .mvInfo dt .none {color:#797979;letter-spacing:-1px;}
	.nowPlaying .mvInfo dt .mvtitle a {font-weight:bold;}
	.nowPlaying .mvInfo dt .artistname a {font-size:11px;}
	.nowPlaying .mvInfo dd {margin-left:31px;color:#666;}
	.nowPlaying .mvInfo dd.nextMV {color:#797979;margin-top:10px;}
	.nowPlaying .mvInfo dd.nextMV a {color:#797979;text-decoration:underline;}
	.nowPlaying .btnMoreAction {float:right;margin:0;padding:2px 0 0;}
	.nowPlaying .layerMenuPhone {left:502px;top:24px;}
	.nowPlaying .layerMenuMV {left:468px;top:24px;}
	.nowPlaying .layerMenuMVWide {left:442px;top:24px;width:152px;padding-left:4px;}
	.nowPlaying .layerMenuMVWide ul {overflow:hidden;height:20px;}
	.nowPlaying .layerMenuMVWide li {float:left;padding:0 9px 0 0;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/lv_gr.gif') no-repeat 100% -675px;}
	.nowPlaying .layerMenuMVWide li.last {background-image:none;}
	.nowPlaying .layerMenuMVWide li a {width:1%;padding-right:1px;text-indent:8px;white-space:nowrap;}
	.nowPlaying .layerMenuMVWide li a:hover {font-weight:bold;color:#f26a00;letter-spacing:-2px;background-image:none;}
	

.aside {position:relative;float:right;width:309px;padding:0 1px;border-top:1px solid #111;}
	.aside .openMV {height:35px;width:100%;margin:4px 0 0;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_moreMV.gif') no-repeat 0 -200px;}
	.aside .openMV a {display:block;overflow:hidden;height:35px;width:100px;margin:0 0 0 104px;text-indent:-1000em;}
.musicvideo .playList {position:relative;width:100%;}
	.musicvideo .playList .listCtl {border-left:1px solid #333;}
	.musicvideo .playList .list	{position:relative;overflow-y:auto;overflow-x:hidden;width:309px;background-color:#2E2E2E;}
	.musicvideo .playList .list.openMoreMV {height:391px;}
	.musicvideo .playList .list.closeMoreMV {height:521px;}
	.musicvideo .playList .list .musicvideoList	{overflow:hidden;width:100%;}
	.musicvideo .playList .list .musicvideoList li	{float:left;overflow:hidden;height:65px;width:100%;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_list.gif') no-repeat;}
	.musicvideo .playList .list .musicvideoList li.selected	{background-position:0 -100px;}
	.musicvideo .playList .list .musicvideoList li.downInsert	{background-position:0 -200px;}
	.musicvideo .playList .list .musicvideoList li.nowPlaying {margin:0;}
	.musicvideo .playList .list .musicvideoList li.nowPlaying .info .title	{font-weight:bold;color:#CCC;}
	.musicvideo .playList .list .musicvideoList li .btns	{float:left;width:59px;padding:21px 0 10px 6px;}
	.musicvideo .playList .list .musicvideoList li .btns a	{margin-left:-1px;}
	.musicvideo .playList .list .musicvideoList li .info	{float:left;overflow:hidden;width:210px;padding:8px 0 3px;color:#999;letter-spacing:-1px;line-height:12px;}
	.musicvideo .playList .list .musicvideoList li .info p {overflow:hidden;height:13px;width:225px;padding:1px 0 5px;text-overflow:ellipsis;white-space:nowrap;}
	.musicvideo .playList .list .musicvideoList li .info a.title {color:#999;}
	.musicvideo .playList .list .musicvideoList li .info span.title {font-size:12px;color:#494949;}
	.musicvideo .playList .list .musicvideoList li .info span	{display:block;overflow:hidden;height:13px;width:210px;font-size:11px;color:#666;line-height:13px;text-overflow:ellipsis;white-space:nowrap;}
	.musicvideo .playList .list .musicvideoList li .info .artist {color:#7d9600;}
	.musicvideo .playList .list .musicvideoList li .info .albumtitle {color:#666;}
	.musicvideo .playList .list .musicvideoList li .btnMoreAction {position:static;float:left;margin:-2px 0 0;}
	.musicvideo .playList .listInfo	{background:none;}
.moreMV {height:169px;width:309px;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bg_moreMV.gif') no-repeat;}
	.moreMV .closeMV {height:15px;width:100%;}
	.moreMV .closeMV a {display:block;overflow:hidden;height:15px;width:100px;margin:0 0 0 104px;text-indent:-1000em;}
	.moreMV h2 {display:none;}
	.moreMV .moreView {height:20px;margin:14px 0 0;padding:0 12px 0 0;text-align:right;}
	.moreMV .moreView a {padding:0 7px 0 0;font-size:11px;color:#666;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bu_arrow.gif') no-repeat 100% -158px;}
	.moreMV ul {overflow:hidden;width:100%;}
	.moreMV li {overflow:hidden;float:left;width:80px;margin:0 0 0 1px;padding:0 10px 0 11px;}
	.moreMV li .thumbnail {position:relative;margin:0 0 6px;}
	.moreMV li .thumbnail img {cursor:pointer;height:60px;width:80px;}
	.moreMV li .btnPlay {display:none;position:absolute;left:23px;top:14px;z-index:10;}
	.moreMV li .btnPlay a {position:relative;display:block;overflow:hidden;height:35px;width:35px;text-indent:-1000em;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bc_playMVBOff.png') no-repeat;}
		.ie6 .moreMV li .btnPlay a {background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bc_playMVBOff.png', sizingMethod='crop');}
	.moreMV li .btnPlay a:hover {background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bc_playMVBOver.png') no-repeat;}
		.ie6 .moreMV li .btnPlay a:hover {background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/player/bc_playMVBOver.png', sizingMethod='crop');}
	.moreMV li .tracktitle,
	.moreMV li .artistname {display:block;overflow:hidden;height:17px;width:80px;line-height:17px;text-overflow:ellipsis;white-space:nowrap;}
	.moreMV li span.tracktitle a {color:#999;}
	.moreMV li span.artistname a {font-size:11px;color:#666;}
	.moreMV .mvListNone {height:106px;width:284px;margin:0 0 0 13px;color:#666;letter-spacing:-1px;line-height:106px;text-align:center;background-color:#181818;}
