@charset "utf-8"; 

/* 상품 리스트 */
.order_table01 {width:100%; border-top:2px solid #a31112; border-bottom:1px solid #cacaca;}
.order_table01 thead th {padding:10px 0 7px; color:#333; font-size:11px; font-weight:normal; border-bottom:1px solid #a31112;}
.order_table01 thead th.right {padding-right:12px;}
.order_table01 thead tr.bg {background:#f5f5f5;}
.order_table01 thead th.right_m {padding-right:22px;}
.order_table01 tbody td {border-top:1px solid #e4e4e4; padding:6px 0 6px; font-size:11px; line-height:14px; text-align:center;}
.order_table01 tbody td span.dfont {font-size:10px; font-family:Verdana; line-height:22px;}
.order_table01 tbody td.product img {margin:8px 0; }
.order_table01 tbody td.link a {text-decoration:underline; color:#666; font-size:11px;}
.order_table01 tbody td.link a span.f_red {text-decoration:underline; color:#DA2128; font-size:11px;}
.order_table01 tbody td.right {padding-right:8px; }
.order_table01 tbody td.left {padding-left:20px; text-align:left;}
.order_table01 tbody td.popleft {padding:12px 0 10px 10px; text-align:left;}
.order_table01 tbody td img.bt_m {margin:0 0 3px 0; }
.order_table01 tbody td input.input35 {width:33px; height:16px; font-size:11px; border:1px solid #ccc; color:#888; text-align:center;}
.order_table01 tbody td input.input35no {width:33px; height:16px; font-size:11px; border:1px solid #ccc; background:#f9f9f9; color:#888; text-align:center;}
.order_table01 tbody td select {font-size:11px; color:#555; border:1px solid #CCCCCC;}

.order_table01 tbody th.bo_title {font-size:12px; font-weight:bold; text-align:left; padding:11px 0 9px 12px;}
.order_table01 tbody td.bo_date {text-align:right; padding:6px 12px 0 0;}
.order_table01 tbody td.bo_date span {padding-right:15px;}
.order_table01 tbody td.bo_contents {padding:20px 0 15px 0; text-align:left;}
.order_table01 tbody td.bo_contents .imgbox {width:755px; padding-bottom:20px;}
.order_table01 tbody td.bo_contents .textbox {width:auto; font-size:12px; line-height:19px; padding:0 12px;}

.order_table01 tbody td.no {padding:33px 0 31px 0;}
.order_table01 tbody td.tbmp {padding:10px 0 8px 0;}
.order_table01 tbody tr.bg {background:#fafafa;}
.order_table01 tbody tr.bg .fab_txt {width:auto; overflow:hidden; padding:10px 20px 10px 35px; text-align:left; line-height:16px;}

.order_table01 tbody td .newbtn_086 {margin-top:4px;}
.order_table01 tbody td .newbtn_091 {margin-top:4px;}
.order_table01 tbody td .newbtn_101 {margin-top:4px;}
.order_table01 tbody td.event { height:59px; border-top:1px solid #e4e4e4; padding:6px 0 6px; font-size:11px; line-height:14px; text-align:center;}
.order_table01 tbody td.event .newbtn_035 {margin-bottom:4px;}

.order_table01 tbody tr.bg div.one {width:auto; overflow:hidden; position:relative; border-bottom:1px solid #f0f0f0; margin-top:15px; padding-bottom:15px;}
.order_table01 tbody tr.bg div.one .title {position:absolute; top:0; left:50px;  display:inline; font-size:12px; font-weight:bold;}
.order_table01 tbody tr.bg div.one em {position:absolute; top:0; left:130px; font-size:12px; font-weight:bold;}
.order_table01 tbody tr.bg div.one .nb  {position:absolute; top:0; right:20px;}
.order_table01 tbody tr.bg div.one p {width:auto; margin:30px 20px 0 130px; line-height:16px; text-align:left;}
.order_table01 tbody tr.bg div.two {width:auto; overflow:hidden; position:relative; border-bottom:0px solid #f0f0f0; margin-top:15px; padding-bottom:15px;}
.order_table01 tbody tr.bg div.two .title {position:absolute; top:0; left:50px;  display:inline; font-size:12px; font-weight:bold; color:#da2128;}
.order_table01 tbody tr.bg div.two em {position:absolute; top:0; left:130px; font-size:12px; font-weight:bold;}
.order_table01 tbody tr.bg div.two .nb  {position:absolute; top:0; right:20px;}
.order_table01 tbody tr.bg div.two p {width:auto; margin:30px 20px 0 130px; line-height:16px; text-align:left; }

	/* 텍스트 */
	.order_table01 tbody.one td {border-top:1px solid #e4e4e4; padding:9px 0 9px; font-size:11px; line-height:14px; text-align:center;}
	.order_table01 tbody.one td span.dfont {font-size:10px; font-family:Verdana; line-height:22px;}
	.order_table01 tbody.one td.product img {margin:8px 0; }
	.order_table01 tbody.one td.link a {text-decoration:underline; color:#666; font-size:11px;}
	.order_table01 tbody.one td.link a span.f_red {text-decoration:underline; color:#DA2128; font-size:11px;}
	.order_table01 tbody.one td.right {padding-right:8px; }
	.order_table01 tbody.one td.left {padding-left:20px; text-align:left;}
	.order_table01 tbody.one td.popleft {padding:12px 0 10px 10px; text-align:left;}
	.order_table01 tbody.one td img.bt_m {margin:0 0 3px 0; }
	.order_table01 tbody.one td input.input35 {width:33px; height:16px; font-size:11px; border:1px solid #ccc; color:#888; text-align:center;}
	.order_table01 tbody.one td input.input35no {width:33px; height:16px; font-size:11px; border:1px solid #ccc; background:#f9f9f9; color:#888; text-align:center;}
	.order_table01 tbody.one td select {font-size:11px; color:#555; border:1px solid #CCCCCC;}
	.order_table01 tbody.one td .radios { margin:0 4px 2px 0; }
	.order_table01 tbody.one td .checkboxs { margin:0 4px 2px 0; }
	.order_table01 tbody.one td label.t01 { padding-right:30px; margin-right:28px; border-right:1px solid #eaeaea; } 
	.order_table01 tbody.one td.no {padding:33px 0 31px 0;}
	 
	/* 주소록 */	
	.order_table01 tbody.link_px td {border-top:1px solid #e4e4e4; padding:9px 0 9px; font-size:11px; line-height:16px; text-align:left; padding-left:20px; background:#fafafa;}
	.order_table01 tbody.link_px td.center {padding-left:0;}
	.order_table01 tbody.link_add td {border-top:1px solid #e4e4e4; padding:9px 0 9px; font-size:11px; line-height:16px; text-align:left; padding-left:20px;}  
	.order_table01 tbody.link_add td.center {padding-left:0;}
	.order_table01 tbody.link_add tr.link a {text-decoration:underline; color:#FF790D ; font-size:11px; line-height:16px !important;} 
 	.order_table01 tbody.link_add td a {text-decoration:none; color:#898989; line-height:16px !important;} 
	.order_table01 tbody.link_add td .radios { margin:0 4px 2px 0; }
	.order_table01 tbody.link_add td .checkboxs { margin:0 4px 2px 0; }  

.order_table01 tbody.gift td { border-bottom:1px solid #cacaca; padding:9px 0 6px; color:#585858; font-size:11px; text-align:center;}
.order_table01 tbody.gift td.left { padding-left:10px; text-align:left;}
.order_table01 tbody.gift02 td { border-top:1px solid #cacaca; padding:9px 0 6px; color:#585858; font-size:11px; text-align:center;}
.order_table01 tbody.gift02 td.right { padding-right:15px; text-align:left; color:#333333;}
.order_table01 tfoot td { border-top:1px solid #cacaca; color:#333333; padding:10px 15px 6px; background:#f5f5f5; text-align:right; font-size:11px;}

.order_table01 tbody tr td.detail-content {padding:15px; line-height: 1.5em !important; background: #fff; text-align:left;}
.order_table01 tbody tr td.detail-content p.question-content {padding: 0 0 10px; }
.order_table01 tbody tr td.detail-content p.answer {padding: 0 0 10px; color: #f0336c;	font-weight: bold;}

/* 정보 입력 */
.order_table02 {width:100%; border-top:2px solid #a31112; border-bottom:1px solid #cacaca;}
.order_table02 thead th { padding:10px 0 7px; color:#333; font-size:11px; font-weight:normal; border-bottom:1px solid #a31112; }
.order_table02 tbody th { border-top:1px solid #e4e4e4; padding:7px 0 4px 25px; color:#333; font-size:11px; text-align:left; background:#f5f5f5; }
.order_table02 tbody td { border-top:1px solid #e4e4e4; padding:5px 0 4px 20px; font-size:11px; line-height:18px; text-align:left; }
.order_table02 tbody td.txt { border-top:1px solid #e4e4e4; padding:7px 0 4px 20px; font-size:11px; line-height:18px; text-align:left; }
.order_table02 tbody td.bg { background:#f5f5f5; padding:7px 0 4px 20px; }
.order_table02 tbody td input.input { font-size:11px; color:#555; padding-left:6px; height:18px; border:1px solid #CCCCCC; }
.order_table02 tbody td select { font-size:11px; color:#555; border:1px solid #CCCCCC; }
	.order_table02 tbody td .box_radios {width:650px; height:15px; position:absolute; top:36px; left:230px;}
	.order_table02 tbody td .radios_ml { margin:0 4px 2px 30px;}
	.order_table02 tbody td .checkboxs_ml { margin:0 4px 2px 30px; }
.order_table02 tbody td .radios { margin:0 4px 2px 0; }
.order_table02 tbody td .checkboxs { margin:0 4px 2px 0; }
.order_table02 tbody td label.t01 { margin-right:60px; }
.order_table02 tbody td label.t02 { margin-right:30px; }
.order_table02 tbody td span.tmline2 { padding-top:4px; display:block; }
.order_table02 tbody td.right { padding-right:20px; }
.order_table02 tbody td span.all { margin:0 10px 0 4px; }
.order_table02 tbody.sbox th { border-top:1px solid #e4e4e4; padding:7px 0 4px 25px; color:#333; font-size:11px; text-align:left; background:none; }
.order_table02 tbody.sbox td { border-top:1px solid #e4e4e4; padding:7px 0 4px 20px; font-size:11px; line-height:20px; text-align:left; }
.order_table02 tbody.sbox td.right { padding-right:20px; }
.order_table02 tbody td.no {padding:33px 0 31px 0;}

.order_table02 tbody td .list01 {width:930px; height: auto; position:relative; margin:10px 0 11px 0; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/order/order02_05.gif") 0 0 repeat-y;} 
.order_table02 tbody td .list02 {width:930px; height:210px; position:relative; margin:10px 0 11px 0; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/order/order02_05.gif") 0 0 repeat-y;}  
.order_table02 tbody td .list03 {width:930px; height:332px; position:relative; margin:10px 0 11px 0; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/order/order02_05.gif") 0 0 repeat-y;} 
.order_table02 tbody td .list04 {width:930px; height:80px; position:relative; margin:10px 0 11px 0; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/order/order02_05.gif") 0 0 repeat-y;}   
.order_table02 tbody td .ch_txtbox .title {width:auto; height:15px; position:absolute; top:13px; right:784px; font-weight:bold;}
.order_table02 tbody td .ch_txtbox .container_box {width:735px; overflow:hidden; position:absolute; top:10px; right:0; line-height:18px;} 
.order_table02 tbody td .ch_txtbox .container_box .card_box {width:720px; height:30px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/order/card.gif") 0 0 no-repeat; margin:-5px 0 5px 0;}
.order_table02 tbody td .ch_txtbox .container_box .card_box li {float:left; width:auto; height:30px;}
.order_table02 tbody td .ch_txtbox .container_box .card_box li p.card01 {width:75px;}
.order_table02 tbody td .ch_txtbox .container_box .card_box li p.card02 {width:90px;}
.order_table02 tbody td .ch_txtbox .container_box .card_box li p.card03 {width:89px;}
.order_table02 tbody td .ch_txtbox .container_box .card_box li p.card04 {width:90px;}
.order_table02 tbody td .ch_txtbox .container_box .card_box li p.card05 {width:89px;}
.order_table02 tbody td .ch_txtbox .container_box .card_box li p.card06 {width:89px;}
.order_table02 tbody td .ch_txtbox .container_box .card_box li p.card07 {width:90px;}
.order_table02 tbody td .ch_txtbox .container_box .card_box li p.card08 {width:104px;}
.order_table02 tbody td .ch_txtbox .container_box .card_box li div {width:665px; overflow:hidden; display:none; padding:15px 25px 15px 20px; margin-bottom:15px; border:1px solid #ddd; line-height:16px;}

.order_table02 tbody td .ch_txtbox .container_box .card_box li .txt_box_on {width:665px; overflow:hidden; display:block; padding:15px 25px 15px 20px; margin-bottom:15px; border:1px solid #ddd; line-height:16px;}
.order_table02 tbody td .ch_txtbox .container_box .txt_box_on {width:665px; overflow:hidden; display:block; padding:15px 25px 15px 20px; margin-bottom:15px; border:1px solid #ddd; line-height:16px;}
.order_table02 tbody td .ch_txtbox .container_box div {width:665px; overflow:hidden; display:none; padding:15px 25px 15px 20px; margin-bottom:15px; border:1px solid #ddd; line-height:16px;}
.order_table02 tbody td .ch_txtbox .container_box span.f_red_b {line-height:18px;} 
.order_table02 tbody td .ch_txtbox .newbtn_038 {margin-left:6px;}

/* 기본 테이블 */
.order_table03 {width:100%; border-top:2px solid #a31112; border-bottom:1px solid #cacaca;}
.order_table03 thead th { padding:10px 0 7px; color:#333; font-size:11px; font-weight:normal; border-bottom:1px solid #a31112; }
.order_table03 tbody th { border-top:1px solid #e4e4e4; padding:7px 0 4px 25px; color:#333; font-size:11px; text-align:left; background:#f5f5f5; }
.order_table03 tbody td { border-top:1px solid #e4e4e4; padding:7px 0 4px 20px; font-size:11px; line-height:18px; text-align:left;}	
.order_table03 tbody td div.w01 {width:770px;border:0px solid red; padding-bottom:2px; word-break:break-all; word-wrap:break-word; white-space: -o-pre-wrap;}	
.order_table03 tbody td div.w02 {width:630px;border:0px solid red; padding-bottom:2px; word-break:break-all; word-wrap:break-word; white-space: -o-pre-wrap;}	
	
.order_table03 tbody td.noline { border-top:0px solid #e4e4e4; padding:0 0 4px 20px;}
	.order_table03 tbody td.no1 {border-top:0px solid #e4e4e4; padding:15px 0 6px 15px;} 
	.order_table03 tbody td.no2 {border-top:0px solid #e4e4e4; padding:4px 0 6px 15px;}
	.order_table03 tbody td.no3 {border-top:0px solid #e4e4e4; padding:4px 0 10px 15px;}
	.order_table03 tbody td textarea.in01 {width:742px; background:#fafafa; border:1px solid #e7e7e7; padding:4px; font-size:11px;}
	.order_table03 tbody td.no1 span {margin-left:8px; color:#666;}
	.order_table03 tbody td.no1 select {font-size:11px; color:#555; border:1px solid #CCCCCC; }
	.order_table03 tbody td.no3 span.title {margin-right:10px; color:#666;}
	.order_table03 tbody td.no3 span.txt {margin-left:4px; color:#787878;}
.order_table03 tbody td.right { padding-right:20px; }
.order_table03 tbody td.btn2 { border-top:1px solid #e4e4e4; padding:4px 0 4px 20px; font-size:11px; line-height:18px; text-align:left; }
.order_table03 tbody td.btn2 span.btn2 { margin-left:18px; }
.order_table03 tfoot td { border-top:1px solid #cacaca; padding:7px 15px 4px; background:#f5f5f5; text-align:right; font-size:11px; }
.order_table03 tbody td.box_tb {padding:15px ;}
.order_table03 tbody td.no {padding:33px 0 31px 0;}

/* 음원 구매 테이블 */
.order_table04 { width:100%; border-top:2px solid #a31112; border-bottom:1px solid #898989; }
.order_table04 thead th {padding:10px 0 7px; color:#333; font-size:11px; font-weight:normal; border-bottom:1px solid #a31112; background:#f5f5f5; }
.order_table04 tbody td { border-top:1px solid #e4e4e4; padding:6px 0 6px; font-size:11px; line-height:14px; text-align:center; color: #555; }
.order_table04 tbody th { border-top:1px solid #e4e4e4; padding:10px 0 7px; color:#333; font-size:11px; font-weight:normal;  background:#f5f5f5; }
.order_table04 tbody.left td, .order_table04 tbody.left th { text-align:left; padding-left: 20px; }

 
/* 포토 테이블 */
.photo_newtable {width:auto; border-top:2px solid #a31112; border-bottom:1px solid #cacaca; padding:25px 0 15px 0;}
.photo_newtable ul.photo {width:auto; overflow:hidden;}
.photo_newtable ul.photo li {float:left; width:20%; overflow:hidden; text-align:center; font-size:11px;}
.photo_newtable ul.photo li img {width:100px; height:100px; margin:0 0 13px 0; }
.photo_newtable ul.photo li .category-name {font-weight:bold; margin-bottom:3px;}
.photo_newtable ul.photo li .product-name {width:100px; height:11px; overflow:hidden; margin:0 auto; margin-bottom:3px; }
.photo_newtable ul.photo li .price { width:100px; height:15px; overflow:hidden; margin:0 auto; margin-bottom:4px; color:#636363; }
.photo_newtable ul.photo li .price span { font-weight:bold; }

.photo_newtable02 {width:auto; border-top:2px solid #a31112; border-bottom:1px solid #cacaca; padding:40px 0 10px 0;}
.photo_newtable02 ul.photo {width:auto; overflow:hidden;}
.photo_newtable02 ul.photo li {float:left; width:33%; overflow:hidden; text-align:center; font-size:11px;}
.photo_newtable02 ul.photo li img {width:200px; height:200px; margin:0 0 13px 0; border:1px solid #eaeaea;}
.photo_newtable02 ul.photo li .category-name {margin-bottom:3px;}
.photo_newtable02 ul.photo li .product-name {width:100px; height:11px; overflow:hidden; margin:0 auto; margin-bottom:3px; }
.photo_newtable02 ul.photo li .price { width:100px; height:15px; overflow:hidden; margin:0 auto; margin-bottom:4px; color:#636363; }
.photo_newtable02 ul.photo li .price span { font-weight:bold; }
.photo_newtable02 ul.photo li .dfont {font-size:10px; font-family:Verdana; line-height:22px; padding-top:25px;}

.photo_newtable03 {width:auto; height:235px; border-top:2px solid #a31112; border-bottom:1px solid #a31112; } 
.photo_newtable03 p.title {font-weight:bold; height:20px; padding:15px 0 10px 10px; position:relative;}
.photo_newtable03 p.title span.tip {vertical-align:top; width:37px; height:15px; float:left;  margin:3px 6px 0 0; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/mypage/icon_tip.gif") 0 0 no-repeat;}
.photo_newtable03 p.title span.txt {vertical-align:top; font-size:11px; float:left; display:inline; padding-top:5px; color:#363636;} 
.photo_newtable03 p.title span.btn {float:right;}

.photo_newtable03 .mp_box {margin-bottom:0px !important;}
.photo_newtable03 .mp_box ul { width:auto; padding:10px 0 5px 30px !important;}
.photo_newtable03 .mp_box ul li { height:auto; font-size:11px; color:#707070; line-height:16px; padding-bottom:5px;}

.photo_newtable03 ul.photo {width:auto; height:123px; border-top:0px solid #cacaca; padding:20px 0 0 10px;}
.photo_newtable03 ul.photo li {float:left; width:33%; overflow:hidden; text-align:center; font-size:11px;}
.photo_newtable03 ul.photo li img {width:231px; height:92px; margin:0 0 10px 0;}
.photo_newtable03 ul.photo li .download_btn {width:104px; height:16px; display:block; margin:0 auto; padding-top:4px; margin-bottom:8px; font-size:11px; color:#fff; background:#b2b2b2; text-decoration:none;}
.photo_newtable03 ul.photo li .dfont {font-size:10px; font-family:Verdana; line-height:14px; padding:2px 0 5px 0;} 


.txtline {font-size:11px; padding:8px 0 0 6px; color:#898989;}
.infor_table01 {width:100%; border-top:0px solid #a31112; border-bottom:1px solid #dedede;}
.infor_table01.titlebg_01 {background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/customer/sinfor_t01.gif") 0 0 no-repeat;} 
.infor_table01.titlebg_02 {background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/customer/sinfor_t02.gif") 0 0 no-repeat;} 
.infor_table01.titlebg_03 {background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/customer/sinfor_t03.gif") 0 0 no-repeat;} 
.infor_table01.titlebg_04 {background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/customer/sinfor_t01_02.gif") 0 0 no-repeat;}  
.infor_table01 thead th {height:26px; background:none;} 
.infor_table01 tbody.htl td  {height:40px; background:none;}
.infor_table01 tbody td {border-top:1px solid #dedede; border-right:1px solid #dedede; padding:8px 0 6px; font-size:11px; line-height:14px; text-align:center; background:none;} 
.infor_table01 tbody td.end {border-top:1px solid #dedede; border-right:0px solid #dedede; padding:8px 0 6px; font-size:11px; line-height:14px; text-align:center; background:none;} 
.infor_imgbox {height:140px; padding:0 0 0 10px; background:url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/customer/sinfor_img_02.gif") 530px 0 no-repeat;} 


.footer_table01 {width:100%; border:1px solid #DDDDDD; margin-bottom:20px;}
.footer_table01 thead th {height:26px; background:#EDEDED; border-right:1px solid #dedede; font-weight:bold; color:#333;}   
.footer_table01 tbody td {border-top:1px solid #dedede; border-right:1px solid #dedede; padding:8px 0 6px 20px; font-size:11px; line-height:14px; text-align:left;}  
.footer_table01 tbody td a {color:#666 !important;}

.footer_table02 {width:100%; border:1px solid #DDDDDD; border-top:2px solid #DDDDDD; margin-bottom:20px;}
.footer_table02 tbody td {border-top:1px solid #dedede; border-right:1px solid #dedede; padding:8px 0 6px 20px; font-size:11px; line-height:14px; text-align:left;}  
