@charset "utf-8";

div.my-gift-list {
	clear: both;
	width: 755px;
}
div.my-gift-list h3 {
	padding: 0 0 20px 16px;
}
div.my-gift-list div.list-sort {
	height: 36px;
	background: #f0f0f0;
}
div.my-gift-list div.list-sort ul.sort {
	float: left;
	padding: 11px 0 0 5px;
}
div.my-gift-list div.list-sort ul.sort li {
	display: inline;
	padding: 0 10px 0 11px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/mygift/list_sort_bar.gif") no-repeat 0 0;
}
div.my-gift-list div.list-sort ul.sort li.first-child,
div.my-gift-list div.list-sort ul.sort li:first-child {
	background: none;
}
div.my-gift-list div.list-sort ul.sort li img {
	vertical-align: middle;
}
div.my-gift-list div.list-sort div.select-list {
	position: relative;
	float: left;
	padding: 7px 8px 0 10px;
}
div.my-gift-list div.list-sort div.select-list p {
	display: inline-block;
	padding: 4px 0 0 3px;
	width: 150px;
	height: 15px;
	overflow: hidden;
	border: 1px solid #b9b9b9;
	background: #fff url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/icon_page_location_select.gif") no-repeat right 8px;
	vertical-align: middle;
}
div.my-gift-list div.list-sort div.select-list p a {
	color: #666;
	font-size: 0.9em;
	text-decoration: none;
}
div.my-gift-list div.list-sort div.select-list ul {
	display: none;
	position: absolute;
	left: 10px;
	top: 27px;
	z-index: 2;
	margin: 0;
	padding: 4px 0 4px 3px;
	width: 150px;
	font-size: 0.9em;
	border: 1px solid #b9b9b9;
	background: #fff;
}
div.my-gift-list div.list-sort div.select-list ul li {
	padding: 2px 0;
}
div.my-gift-list div.list-sort div.select-list ul li a {
	color: #666;
}
div.my-gift-list div.link-button {
	margin: -36px 0 0;
	padding: 8px 15px 0 0;
	height: 28px;
	text-align: right;
}
div.my-gift-list div.anniversary-list {
	float: left;
	margin: 24px 0 0;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/mygift/anniversary_list_bottom.gif") no-repeat 0 bottom;
}
div.my-gift-list div.anniversary-list ul.main {
	float: left;
	padding: 60px 0 50px;
	width: 755px;
	min-height: 500px;
	height: auto !important;
	height: 500px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/mygift/anniversary_list_top.gif") no-repeat 0 0;
}
div.my-gift-list div.anniversary-list ul.main > li {
	height: 237px;
	overflow: hidden;
}
div.my-gift-list div.anniversary-list ul.main li div.year-age {
	float: left;
	margin: 55px 0 0;
	padding: 13px 0 0 28px;
	width: 187px;
	height: 60px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/mygift/year_age_bg.gif") no-repeat 28px 0;
}
div.my-gift-list div.anniversary-list ul.main li div.year-age p.year {
	float: left;
	padding: 0 0 0 24px;
	width: 60px;
	height: 32px;
	color: #000;
	font-size: 1.2em;
	font-weight: bold;
}
div.my-gift-list div.anniversary-list ul.main li div.year-age p.age {
	float: left;
	padding: 1px 0 0;
	color: #898989;
	font-size: 0.9em;
}
div.my-gift-list div.anniversary-list ul.main li div.year-age p.more {
	clear: both;
	padding: 0 0 0 63px;
}
div.my-gift-list div.anniversary-list ul.main li ul.product-list {
	float: left;
	width: 540px;
}
div.my-gift-list div.anniversary-list ul.main li ul.product-list li {
	float: left;
	padding: 0 0 0 28px;
	width: 152px;
	height: 237px;
}
div.my-gift-list div.anniversary-list ul.main li ul.product-list li p.photo {
	padding: 0 0 10px;
}
div.my-gift-list div.anniversary-list ul.main li ul.product-list li p.photo img {
	width: 150px;
	height: 150px;
	border: 1px solid #e7e7e7;
}
div.my-gift-list div.anniversary-list ul.main li ul.product-list li p.icon {
	float: left;
	width: 36px;
}
div.my-gift-list div.anniversary-list ul.main li ul.product-list li p.date {
	float: left;
	width: 116px;
	height: 15px;
	font-size: 0.9em;
}
div.my-gift-list div.anniversary-list ul.main li ul.product-list li p.number {
	float: left;
	padding: 0 5px 0 0;
	font-size: 0.9em;
	color: #d12324;
	font-weight: bold;
	border-right: 1px solid #d2d2d2;
}
div.my-gift-list div.anniversary-list ul.main li ul.product-list li p.title {
	float: left;
	padding: 0 0 0 5px;
	font-size: 0.9em;
}

div.my-gift-register h3 {
	padding: 0 0 16px;
	border-bottom: 1px solid #e7e7e7;
}
div.my-gift-register div.register-form {
	padding: 57px 0 0 15px;
	width: 726px;
}
div.my-gift-register div.register-form p.register-text {
	padding: 0 0 0 32px;
	height: 40px;
}
div.my-gift-register div.register-form table {
	width: 100%;
	*border-top: 2px solid #a31112 ;
}
div.my-gift-register div.register-form table caption {
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
div.my-gift-register div.register-form table tbody tr th {
	padding-left: 50px;
	width: 134px;
	font-size: 0.9em;
	text-align: left;
	border-bottom: 1px solid #f0f0f0;
}
div.my-gift-register div.register-form table tbody tr:first-child th ,
div.my-gift-register div.register-form table tbody tr:first-child td  {
	border-top: 2px solid #a31112 ;
}
div.my-gift-register div.register-form table tbody tr th a {
	margin: 0 0 0 4px;
	vertical-align: middle;
}
div.my-gift-register div.register-form table tbody tr td {
	padding: 5px 0;
	border-bottom: 1px solid #f0f0f0;
}
div.my-gift-register div.register-form table tbody tr td label {
	font-size: 0.9em;
}
div.my-gift-register div.register-form table tbody tr td #subject {
	padding: 2px 0 0 2px;
	width: 489px;
	height: 18px;
	border: 1px solid #c8c8c8;
	background: #fff;
}
div.my-gift-register div.register-form table tbody tr td select.anniversary-select {
	margin: 0 10px 0 0;
	width: 215px;
	height: 20px;
	font-size: 0.9em;
}
div.my-gift-register div.register-form table tbody tr td select.year {
	margin: 10px 0 0;
	width: 66px;
	height: 20px;
}
div.my-gift-register div.register-form table tbody tr td select.month {
	margin: 10px 0 0;
	width: 46px;
	height: 20px;
}
div.my-gift-register div.register-form table tbody tr td select.day {
	margin: 10px 0 0;
	width: 46px;
	height: 20px;
}
div.my-gift-register div.register-form table tbody tr td input.when {
	margin: 10px 0 0;
	padding: 2px 0 0 2px;
	width: 305px;
	height: 18px;
	border: 1px solid #c8c8c8;
	background: #fff;
}
div.my-gift-register div.register-form table tbody tr td #where,
div.my-gift-register div.register-form table tbody tr td #who,
div.my-gift-register div.register-form table tbody tr td #gift-subject {
	padding: 2px 0 0 2px;
	width: 489px;
	height: 18px;
	border: 1px solid #c8c8c8;
	background: #fff;
}
div.my-gift-register div.register-form table tbody tr td select.pick-select {
	margin: 0 10px 0 0;
	width: 215px;
	height: 20px;
	font-size: 0.9em;
}
div.my-gift-register div.register-form table tbody tr td p.file {
	padding: 0 0 5px;
}
div.my-gift-register div.register-form table tbody tr td input.gift-photo {
	padding: 2px 0 0 2px;
	width: 272px;
	height: 18px;
	border: 1px solid #c8c8c8;
	background: #fff;
}
div.my-gift-register div.register-form table tbody tr td p.info {
	float: right;
	padding: 0 40px 0 0;
	width: 225px;
	font-size: 0.9em;
	line-height: 1.3em;
	color: #555;
}
div.my-gift-register div.register-form table tbody tr td div.image-register {
	float: left;
	width: 92px;
}
div.my-gift-register div.register-form table tbody tr td div.image-register p.image-view {
	padding: 6px 0 8px 15px;
}
div.my-gift-register div.register-form table tbody tr td div.image-register p.image-view img {
	width: 50px;
	height: 50px;
}
div.my-gift-register div.register-form table tbody tr td #memo {
	padding: 2px 0 0 2px;
	width: 489px;
	height: 120px;
	border: 1px solid #c8c8c8;
	background: #fff;
	overflow: hidden;
}
div.my-gift-register div.register-form table tbody tr td #ccl-set {
	margin: 0 10px 0 0;
	width: 215px;
	height: 20px;
	font-size: 0.9em;
}
div.ccl {
	position: relative;
}
div.explain-layer {
	position: absolute;
	margin: 0 0 0 -150px;
	padding: 3px;
	width: 450px;
	background: #efefef;
}
div.explain-layer p {
	padding: 8px;
	font-size: 0.9em;
	border: 1px solid #d8d8d8;
	background: #fff;
}
div.explain-layer p a {
	display: inline-block;
	padding: 4px 10px 0 0;
	width: 430px;
	text-align: right;
	font-size: 1em;
	color: #eb6d20;
}
div.my-gift-register div.register-form p.tweeter {
	padding: 22px 0 3px 50px;
	font-size: 0.9em;
}
div.my-gift-register div.register-form p.tweeter strong {
	color: #cc2223;
}
div.my-gift-register div.register-form p.tweeter img {
	vertical-align: middle;
}
div.my-gift-register div.register-form p.facebook {
	padding: 0 0 0 50px;
	font-size: 0.9em;
}
div.my-gift-register div.register-form p.facebook strong {
	color: #cc2223;
}
div.my-gift-register div.register-form p.facebook img {
	vertical-align: middle;
}
div.my-gift-register div.register-form p.register-info {
	padding: 35px 0 10px 50px;
	font-size: 0.9em;
}
div.my-gift-register div.register-form p.register-info span {
	font-size: 1.2em;
}
div.my-gift-register div.register-form div.button {
	padding: 20px 0 0;
	text-align: right;
	border-top: 1px solid #a31112;
}
div.my-gift-register div.register-form div.button img {
	vertical-align: middle;
}
div.my-gift-detail {
	width: 755px;
}
div.my-gift-detail h3 {
	padding: 0 0 20px 16px;
}
div.my-gift-detail div.list-sort {
	height: 36px;
	background: #f0f0f0;
}
div.my-gift-detail div.list-sort ul.sort {
	float: left;
	padding: 11px 0 0 5px;
}
div.my-gift-detail div.list-sort ul.sort li {
	display: inline;
	padding: 0 10px 0 11px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/mygift/list_sort_bar.gif") no-repeat 0 0;
}
div.my-gift-detail div.list-sort ul.sort li.first-child,
div.my-gift-detail div.list-sort ul.sort li:first-child {
	background: none;
}
div.my-gift-detail div.list-sort ul.sort li img {
	vertical-align: middle;
}
div.my-gift-detail div.list-sort div.select-list {
	position: relative;
	float: left;
	padding: 7px 8px 0 10px;
}
div.my-gift-detail div.list-sort div.select-list p {
	display: inline-block;
	padding: 4px 0 0 3px;
	width: 150px;
	height: 15px;
	overflow: hidden;
	border: 1px solid #b9b9b9;
	background: #fff url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/icon_page_location_select.gif") no-repeat right 8px;
	vertical-align: middle;
}
div.my-gift-detail div.list-sort div.select-list p a {
	color: #666;
	font-size: 0.9em;
	text-decoration: none;
}
div.my-gift-detail div.list-sort div.select-list ul {
	display: none;
	position: absolute;
	left: 10px;
	top: 27px;
	z-index: 2;
	margin: 0;
	padding: 4px 0 4px 3px;
	width: 150px;
	font-size: 0.9em;
	border: 1px solid #b9b9b9;
	background: #fff;
}
div.my-gift-detail div.list-sort div.select-list ul li {
	padding: 2px 0;
}
div.my-gift-detail div.list-sort div.select-list ul li a {
	color: #666;
}
div.my-gift-detail div.link-button {
	margin: -36px 0 0;
	padding: 8px 15px 0 0;
	height: 28px;
	text-align: right;
}
div.my-gift-detail div.my-gift-view {
	padding: 28px 0 0 16px;
	width: 726px;
}
div.my-gift-detail div.my-gift-view p.my-gift-number {
	padding: 0 0 0 20px;
	height: 30px;
	font-size: 1.5em;
	font-weight: bold;
	color: #bb1f20;
}
div.my-gift-detail div.my-gift-view p.my-gift-number img {
	vertical-align: bottom;
}
div.my-gift-detail div.my-gift-view p.social {
	margin: -30px 0 0;
	padding: 0 0 0 20px;
	height: 30px;
	text-align: right;
	color: #ccc;
}
div.my-gift-detail div.my-gift-view p.social img {
	vertical-align: middle;
}
div.my-gift-detail div.my-gift-view dl {
	border-top: 2px solid #a31112;
}
div.my-gift-detail div.my-gift-view dl dt {
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
div.my-gift-detail div.my-gift-view dl dd {
	padding: 10px 0 10px 20px;
	color: #666;
	border-bottom: 1px solid #f0f0f0;
}
div.my-gift-detail div.my-gift-view dl dd.subject {
	padding: 15px 0 15px 20px;
	color: #444;
	font-weight: bold;
	font-size: 1.2em;
}
div.my-gift-detail div.my-gift-view dl dd.gift-subject span {
	color: #c32122;
}
div.my-gift-detail div.my-gift-view dl dd.gift-photo {
	border-bottom: 0;
	text-align: center;
}
div.my-gift-detail div.my-gift-view dl dd.memo {
	border-bottom: 0;
}
div.my-gift-detail div.my-gift-view dl dd span {
	font-weight: bold;
}
div.my-gift-detail div.my-gift-view p.licence {
	padding: 10px 0 10px 20px;
}
div.my-gift-detail div.my-gift-view div.button {
	padding: 15px 0 0;
	text-align: right;
	border-top: 1px solid #a31112;
}
div.my-gift-detail div.my-gift-view div.button img {
	vertical-align: middle;
}
div.anniversary-register {
	width: 755px;
}
div.anniversary-register h3 {
	padding: 0 0 0 16px;
	height: 163px;
}
div.anniversary-register div.anniversary-form p.anniversary-text {
	height: 40px;
}
div.anniversary-register div.anniversary-form p.anniversary-add {
	margin: -40px 0 0;
	padding: 10px 0 0;
	height: 30px;
	text-align: right;
}
div.anniversary-register div.anniversary-form table {
	width: 100%;
	border-top: 2px solid #a31112;
}
div.anniversary-register div.anniversary-form table caption {
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
div.anniversary-register div.anniversary-form table thead tr th {
	height: 32px;
	font-size: 0.9em;
	color: #666;
	text-align: right;
	border-bottom: 1px solid #f0f0f0;
}
div.anniversary-register div.anniversary-form table thead tr th.subject {
	padding-left: 20px;
	text-align: left;
}
div.anniversary-register div.anniversary-form table thead tr th img {
	margin: 0 3px 0 0;
	vertical-align: middle;
}
div.anniversary-register div.anniversary-form table tbody tr td {
	padding: 5px 0;
	text-align: right;
	border-bottom: 1px solid #f0f0f0;
}
div.anniversary-register div.anniversary-form table tbody tr td select {
	height: 20px;
	font-size: 0.9em;
}
div.anniversary-register div.anniversary-form table tbody tr td.subject {

}
div.anniversary-register div.anniversary-form table tbody tr td.year {
	width: 60px;
}
div.anniversary-register div.anniversary-form table tbody tr td.month {
	width: 44px;
}
div.anniversary-register div.anniversary-form table tbody tr td.day {
	width: 44px;
}
div.anniversary-register div.anniversary-form table tbody tr td.lunar-calendar {
	padding-right: 5px;
	width: 33px;
}
div.anniversary-register div.anniversary-form table tbody tr td.repeat {
	padding-right: 5px;
	width: 50px;
}
div.anniversary-register div.anniversary-form table tbody tr td.notification {
	padding-right: 5px;
	width: 50px;
}
div.anniversary-register div.anniversary-form table tbody tr td.memo {

}
div.anniversary-register div.anniversary-form table tbody tr td.delete {
	padding-right: 5px;
	width: 35px;
}
div.anniversary-register div.anniversary-form table tbody tr td.subject input {
	padding: 2px 0 0 2px;
	width: 170px;
	height: 18px;
	border: 1px solid #c8c8c8;
	background: #fff;
}
div.anniversary-register div.anniversary-form table tbody tr td.memo input {
	padding: 2px 0 0 2px;
	width: 208px;
	height: 18px;
	border: 1px solid #c8c8c8;
	background: #fff;
}
div.anniversary-register div.anniversary-form div.button {
	padding: 15px 0 0;
	text-align: right;
	border-top: 1px solid #a31112;
}
div.anniversary-register div.anniversary-form div.button img {
	vertical-align: middle;
}

/*layer */

div.anniversary-form {
	position: relative;
	z-index: 2; 
	overflow:hidden;
	border: 1px solid #fff;

}
div.anniversary-form div.layer-explain {
	position: absolute;
	left: 340px;
	top: 0;
	z-index: 10;
	padding: 3px;
	width: 268px;
	background: #efefef;
}
div.anniversary-form div.layer-explain p {
	padding: 8px;
	text-align: left;
	font-weight: normal;
	background: #fff;
	border: 1px solid #d8d8d8;
}