@charset "utf-8";

div.my-room {
	clear: both;
	padding: 25px 0 0;
	width: 789px;
}	
div.my-room h3 {
	float: left;
	padding: 0 17px 7px 7px;
}
div.my-room strong {
	color: #d12324;
}
div.my-room p.recent-cnt {
	padding: 3px 0 0;
	font-size: 0.9em;
}
div.my-room p.view-more {
	margin: -14px 0 0;
	padding: 6px 12px 0 0;
	text-align: right;
}
div.my-break-down{
	float: left;
	padding: 0 0 57px;
	width: 780px;
}
div.board ,
div.pager {
	position: relative;
	clear: both;
}
div.board table tobdy tr td img {
	width: 47px;
	height: 47px;
}
div.board table tbody tr td.center {
	text-align: center;
}
div.board td.center-date {
	text-align: center;
	letter-spacing: 1px;
}
div.board td.left {
	padding: 0 0 0 56px;
	text-align: left;
}
div.board table thead tr th.event-name {
	padding: 0 0 0 37px;
	text-align: left;
}
div.board table tbody tr td.event-name {
	text-align: left;

}
div.board table tbody tr td.event-name a {
	margin: 0 0 0 34px;
}
div.board table thead tr th.titles {
	padding: 0 0 0 71px;
	text-align: left;
}
div.board table tbody tr td.titles {
	text-align: left;
}
div.board table tbody tr td.titles  a {
	margin: 0 0 0 56px;
}
div.section {
	float: left;
	width: 380px;
}
div.zzim-section {
	float: left;
	padding: 0 0 20px;
	width: 780px;
}
div.right-field {
	padding: 0 20px 0 0;
	width: 380px;
}
div.head-line {
	float: left;
	padding: 0 0 0 8px;
	width: 370px;
	border: 1px solid #a31112;
}
div.type01 {
	float: left;
	padding: 0 0 0 8px;
	width: 780px;
	border: 1px solid #a31112;
}
div.head-line h3 {
	float: left;
	padding: 7px 0 7px;
	width: 123px;
}
div.type01 p.more-view ,
div.section p.more-view {
	padding: 9px 11px 0 0;
	text-align: right;
}
div.section p.cnt{
	float: left;
	padding: 8px 0 1px;
	font-size: 0.9em;
}
div.zzim-section ul.menu ,
div.section ul.menu  {
	float: left;
	padding: 11px 0 6px;
	width: 380px;
	border-bottom: 1px solid #ccc;
}
div.zzim-section ul.menu  {
	width: 780px;
}
div.zzim-section ul.menu  li {
	float: left;
	padding: 0 0 0 12px;
	width: 378px;
	font-size: 0.9em;
	font-weight: bold;
}
div.section ul.menu li {
	float: left;
	padding: 0 0 0 12px;
	font-size: 0.9em;
}
div.section ul.menu li a strong {
	padding: 0 15px 0 6px;
}
div.section ul.menu li.selected  {
	font-weight: bold;
}
div.section ul.menu li.selected a {
	color: #363636;
}
div.section ul.menu li.selected span {
	font-weight: normal;
}
div.break-down {
	float: left;
	padding: 0 0 46px;
}
div.break-down-contents {
	float: left;
	width: 390px;
}
div.break-down-contents ul li {
	float: left;
	padding: 0 0 0 12px;
	width: 378px;
}
div.break-down-contents ul li {
	float: left;
	border-bottom: 1px solid #ccc;
}
div.break-down-contents ul li p {
	float: left;
}
div.break-down-contents ul li p.photo {
	padding: 8px 5px 5px;

}
div.break-down-contents ul li p.photo img {
	width: 50px;
	height: 50px;
}
div.break-down-contents ul li p.goods {
	padding: 25px 28px 0 0;
	height: 38px;
	width: 290px;
	text-align: right;
}
div.break-down ul {
	float: left;
	width: 380px;
}
div.break-down ul li {
	float: left;
	padding: 10px 0 7px;
	width: 380px;
}
div.break-down ul li p {
	float: left;
	font-size: 0.9em;
}
div.break-down ul li {
	border-bottom: 1px solid #ccc;
}
div.break-down ul li p.goods {
	float: left;
	padding: 0 0 0 19px;
	width: 213px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/myhottracks/icon_first_para.gif") no-repeat 9px 4px;
}
div.break-down ul li p.end-crop ,
div.break-down ul li p.end-day {
	width: 130px;
	padding: 0 17px 0 0;
}
div.break-down ul li p.crop {
	width: 78px;
}
div.break-down ul li p.day {
	width: 69px;
}
#card02 ,
#card03 {
	display:none;
}
div.my-room-sub {
	position: relative;
	clear: both;
	width: 780px;
}
div.my-room-sub h3 {
	clear: both;
	padding: 22px 0 11px 3px;
}
div.my-room-sub strong {
	color: #d12324;
}
div.my-room-sub p.heading-explains {
	padding: 0 0 60px 7px;
	font-size: 0.9em;
	line-height: 13px;
}
div.my-room-sub p.recent-cnt {
	float: left;
	padding: 0 0 7px 6px;
	width: 774px;
	font-size: 0.9em;
}
div.question-detail {
	float: left;
	width: 780px;
	min-height: 485px;
	height: auto !important;
	height: 485px;
	border-top: 2px solid #a31112;
	border-bottom: 1px solid #a31112;
}
div.question-detail ul {
	float: left;
}
div.question-detail ul li  {
	float: left;
}
div.product-zone {
	float: left;
	padding: 14px 23px 0 14px;
	width: 112px;

}
div.product-zone p {
	width: 112px;
	line-height: 13px;
	text-align: center;
	font-size: 0.9em;
}
div.product-zone p img {
	text-align: center;
}
div.product-zone p.photo {
	padding: 0 0 9px;
}
div.product-zone p.photo img {
	width: 100px;
	height: 100px;
}
div.product-zone p.trademark {
	color: #b7b7b7;
}
div.product-zone p.goods-explain {
	text-align:  center;
	letter-spacing: -1px;
}
div.qna-zone {
	float: left;
	width: 631px;
}
div.qna-zone dl dt ,
div.qna-zone dl dd {
	float: left;
	text-align: justify;
}
div.qna-zone dl dd {
	width: 500px;
}
div.qna-zone dl dd {
	font-size: 0.9em;
	padding: 0 0 20px;
	color: #555555;
}
div.qna-zone dl {
	float: left;
}
div.qna-zone dl.question-zone {
	padding: 19px 0 59px 0;
	width: 631px;
	border-bottom: 1px solid #eaeaea;
}
div.qna-zone dl.question-zone dt {
	padding: 0 34px 0 6px;
}
div.qna-zone dl.question-zone dd {
	float: left;
	padding: 2px 0 0;
}
div.qna-zone dl.question-zone dd p.question {
	padding: 0 0 14px;
	line-height: 13px;
}
div.qna-zone dl.question-zone dd p.register-day {
	float: left;
	padding: 2px 0 7px;
	width: 77px;
	font-size: 0.9em;
	letter-spacing: 1px;
}
div.qna-zone dl.question-zone dd p.condition {
	float: left;
	padding: 1px 0 7px;
}
div.qna-zone dl.question-zone dd button {
	clear: both;
	display: block;
	margin: 0 0 0 13px;
}
div.qna-zone dl.answer-zone {
	padding: 23px 0 0 4px;
}
div.qna-zone dl.answer-zone dt {
	padding: 2px 37px 0 0;
}
div.qna-zone dl.answer-zone dd p.condition {
	padding: 0 0 5px;
}
div.qna-zone dl.answer-zone dd p.answer {
	line-height: 13px;
}
div.link-con {
	clear: both;
	padding: 10px 0 0;
	text-align: center;
}
#contents div.event-progress table.list tbody tr td p.win {
	padding: 0 0 10px;
}
#contents div.event-progress table.list tbody tr td {
	padding: 25px 0 24px;
}
#contents div.event-progress table.list tbody tr td p {
	display: none;
}
#contents div.event-progress table.list tbody tr.standby p.progress {
	display: block;
	font-size: 0.9em;
}
#contents div.event-progress table.list tbody tr.win td p.win {
	display: block;
}
#contents div.event-progress table.list tbody tr.next-chance td p.chance {
	display: block;
}
#contents div.event-progress table.list tbody tr.expert-destination p.destination-standby ,
#contents div.event-progress table.list tbody tr.expert-destination p.win {
	display: block;
}
#contents div.event-progress table.list tbody tr.complete-destination td p.destination ,
#contents div.event-progress table.list tbody tr.complete-destination td p.win {
	display: block;
}
div.div.interest-tab {

}
div.interest-tab ul.menu {
	float: left;
	padding: 0 0 10px 7px;
	width: 773px;
	border-bottom: 2px solid #a31112;
}
div.interest-tab ul.menu li {
	float: left;
}
div.interest-tab ul.menu  li span {
	padding: 0 6px 0;
	font-weight: normal;
}
div.interest-tab ul.menu  li.selected {
	font-weight: bold;
	color: #555555;
}
div.interest-tab ul.menu  li.selected a {
	color: #555555;
}
div.product-list04 {
	position: relative;
	float: left;
	width: 780px;
	padding: 43px 0 0;
	border-bottom: 1px solid #a31112;
}
div.product-list04 ul li {
	float: left;
	padding: 0 30px 0 28px;
	width: 202px;
}
div.product-list04 ul li p {
	width: 202px;
	line-height: 13px;
	text-align: center;
	font-size: 0.9em;
}
div.product-list04 ul li p.photo {
	padding: 0 0 7px;
}
div.product-list04 ul li p.photo img {
	width: 202px;
	height: 202px;
}
div.product-list04 ul li p.price {
	padding: 0 0 30px;
	font-weight: bold;
}
div.product-list04 ul li p.choice-day {
	padding: 0 0 11px;
	letter-spacing: 1px;
}
div.product-list04 ul li p.brand-mark {
	padding: 0 0 36px;
}
div.product-list04 ul li p.brand-mark img {
	width: 145px;
	height: 100px;
}
div.product-list04 ul li p.brand-text ,
div.product-list04 ul li p.choose-day {
	padding: 0 0 0 61px;
	text-align: left;
}
div.product-list04 ul li p.brand-text {
	padding-bottom:18px;
	color: #555555;
	font-weight: bold;
}
div.product-list04 ul li p.brand-text span {
	font-weight: normal;
	color: #b7b7b7;
}
div.product-list04 ul li p.choose-day {
	padding-bottom: 45px;
	letter-spacing: 1px;
}
#contents div.wins {
	float: left;
	margin: -35px -3px 0 0;
	padding: 5px 0 0 200px;
	width: 580px;
	height: 20px;
	text-align: left;
}
#contents div.board table tbody tr td.list-content {
	overflow: hidden;
}
#contents div.board table tbody tr td.list-content img {
	max-width: 778px;
	height: auto;
}
