@charset "utf-8";


#sidebar h2 {
	padding: 11px 0 10px 7px;
	border-bottom: 2px solid #f37020;
}
div.banner-main {
	width: 950px;
}
#contents {
	padding: 15px 0 40px;
}
#contents div.main-promotion {
	position: relative;
	width: 755px;
}
#contents div.scroll-event {
	width: 755px;
	height: 322px;
	overflow: hidden;
}
#contents div.scroll-event ul.menu {
	position: absolute;
	right: 0;
	bottom: 0;
}
#contents div.scroll-event ul.menu li {
	float: left;
	padding: 0 5px 0 9px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/bar.gif") no-repeat 0 4px;
}
#contents div.scroll-event ul.menu li:first-child ,
#contents div.scroll-event ul.menu li.first-child {
	background: none;
}
#contents div.scroll-event div.scroll-event-content {
	height: 380px;
	overflow: hidden;
}
#contents div.scroll-event div.scroll-event-content img {
	width: 755px;
	height: 300px;
}
#contents div.main-search {
	clear: both;
	position: relative;
	margin: 20px 0 0;
	padding: 0 0 0;
	height: 38px;
	border: 1px solid #eaeaea;
	background: #f9f9f9;
}
#contents div.main-search div.office-search {
	float: left;
	margin: 6px 0 0 14px;
	position: static;
	width: 266px;
	height: 20px;
	border: 3px solid #f0551f;
	overflow: hidden;
}
#contents div.main-search div.office-search input.textbox {
	width: 220px;
}
#contents div.main-search div.popularity-search-word {
	position: absolute;
	left: 315px;
	top: 0;
	padding: 12px 0 0;
	text-align: left;
}
#contents div.main-search div.popularity-search-word h3 {
	display: inline;
}
#contents div.main-search div.popularity-search-word h3 img {
	vertical-align: middle;
}
#contents div.main-search div.popularity-search-word ul {
	display: inline;
}
#contents div.main-search div.popularity-search-word ul li {
	display: inline;
	padding: 0 3px;
	font-weight: bold;
}
#contents div.main-search div.popularity-search-word ul li a {
	text-decoration: none;
}
#contents div.main-search div.popularity-search-word ul li.type01 a {
	color: #fe2115;
	font-size: 15px;
}
#contents div.main-search div.popularity-search-word ul li.type02 a {
	color: #ffcb41;
	font-size: 15px;
}
#contents div.main-search div.popularity-search-word ul li.type03 a {
	color: ##555;
	font-size: 15px;
}
#contents div.main-search div.popularity-search-word ul li.type04 a {
	color: #555;
	font-size: 12px;
}
#contents div.main-search div.popularity-search-word ul li.type05 a {
	color: #a1a1a1;
	font-size: 12px;
}
#contents div.main-event-banner {
	margin: 17px 0 30px;
	float: left;
	width: 755px;
}
#contents div.main-event-banner div.navi {
	float: right;
	height: 16px;
}
#contents div.main-event-banner div.main-event-banner-scroll {
	position: relative;
	float: left;
	margin: 10px 0 0;
	width: 753px;
	height: 195px;
	border: 1px solid #ebebeb;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/office/main_event_banner_bg.gif") no-repeat 0 0;
	overflow: hidden;
}
#contents div.main-event-banner div.main-event-banner-scroll ul.items {
	position: absolute;
	left: 0;
	top: 0;
}
#contents div.main-event-banner div.main-event-banner-scroll ul.items li {
	_margin: -15px 0 0;
	*margin: -15px 0 0;
}
#contents div.main-event-banner div.main-event-banner-scroll ul.items li ul {
	padding: 10px 0 0 0;
	white-space: nowrap;
	
}
#contents div.main-event-banner div.main-event-banner-scroll ul.items li ul li {
	display: inline;
	padding: 0 5px 0 0;
	text-align: center;
}
#contents div.main-event-banner div.main-event-banner-scroll ul.items li ul li img {
	width: 180px;
	height: 180px;
	vertical-align: top;
}
#contents div.main-mds-pick {
	float: left;
	margin: 0 15px 0 0;
	width: 534px;
	border-right: 1px solid #eaeaea;
}
#contents div.main-mds-pick h3 {
	padding: 0 0 0 3px;
	width: 517px;
	height: 20px;
	border-bottom: 1px solid #eaeaea;
}
#contents div.main-mds-pick ul.menu {
	float: right;
	margin: -20px 25px 0 0;
	height: 20px;
}
#contents div.main-mds-pick ul.menu li {
	display: inline;
	padding: 0 2px 0 0;
}
#contents div.main-mds-pick div.main-mds-pick-content {
	float: left;
	width: 520px;
	overflow: hidden;
}
#contents div.main-mds-pick div.main-mds-pick-content ul {
	float: left;
	margin: 15px 0 0;
	width: 540px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/office/category_mds_pick_line.gif") no-repeat 2px 0;
}
#contents div.main-mds-pick div.main-mds-pick-content ul li {
	float: left;
	padding: 0 7px 10px;
	width: 121px;
}
#contents div.main-mds-pick div.main-mds-pick-content ul li p.photo {
	padding: 0 0 0 6px;
	width: 115px;
}
#contents div.main-mds-pick div.main-mds-pick-content ul li p.photo img {
	width: 100px;
	height: 100px;
}
#contents div.main-mds-pick div.main-mds-pick-content ul li p.product-name {
	padding: 10px 0 3px;
	width: 121px;
	height: 25px;
	letter-spacing: -1px;
	overflow: hidden;
	text-align: center;
}
#contents div.main-best-ranking {
	position: relative;
	float: left;
	padding: 0 0 0;
	width: 205px;
	overflow: hidden;
}
#contents div.main-best-ranking h3 {
	height: 19px;
}
#contents div.main-best-ranking ul.menu {
	width: 205px;
	height: 25px;
}
#contents div.main-best-ranking ul.menu li {
	float: left;
	height: 25px;
}
#contents div.main-best-ranking ul.menu li a {
	display: inline-block;
	height: 25px;
	vertical-align: top;  
}
#contents div.main-best-ranking ul.menu li img {
	height: 25px;
	vertical-align: top;  
}
#contents div.main-best-ranking-content h3 {
	display: none;
}
#contents div.main-best-ranking-content p.more {
	position: absolute;
	right: 0;
	top: 0;
}
#contents div.main-best-ranking-content p.more img {
	vertical-align: top;
}
#contents div.main-best-ranking-content ul {

}
#contents div.main-best-ranking-content ul li {
	float: left;
	margin: 0 2px 1px 0;
	padding: 10px 0 0;
	width: 100px;
	height: 57px;
	background: #f7f7f7;
}
#contents div.main-best-ranking-content ul li p.ranking {
	float: left;
	padding: 0 0 0 6px;
	width: 36px;
}
#contents div.main-best-ranking-content ul li p.photo {
	float: left;
	width: 58px;
}
#contents div.main-best-ranking-content ul li p.photo img {
	width: 50px;
	height: 50px;
}
#contents div.main-best-ranking-content ul li.first-child {
	position: relative;
	padding: 6px 0 0;
	width: 205px;
	height: 125px;
	background: #fff;
}
#contents div.main-best-ranking-content ul li.first-child p.ranking {
	float: left;
	padding: 0 0 0 10px;
	width: 75px;
}
#contents div.main-best-ranking-content ul li.first-child p.product-name {
	position: absolute;
	left: 0;
	top: 77px;
	padding: 0 7px;
	width: 70px;
	font-size: 0.9em;
	line-height: 1.2em;
}
#contents div.main-best-ranking-content ul li.first-child p.photo {
	float: left;
}
#contents div.main-best-ranking-content ul li.first-child p.photo img {
	width: 120px;
	height: 120px;
}
#contents div.main-theme-shop {
	float: left;
	margin: 30px 0 0;
	padding: 22px 0 0 24px;
	width: 731px;
	height: 215px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/office/main_theme_shop_bg.gif") no-repeat 0 0;
	overflow: hidden;
}
#contents div.main-theme-shop h3 {
	height: 21px;
}
#contents div.main-theme-shop ul.menu {
	margin: -19px 27px 0 0;
	height: 20px;
	text-align: right;
}
#contents div.main-theme-shop ul.menu li {
	display: inline;
	padding: 0 2px 0 0;
}
#contents div.main-theme-shop div.main-theme-shop-content {
	margin: 0 -3px 0 0;
	float: left;
	width: 731px;
	height: 190px;
	overflow: hidden;
}
#contents div.main-theme-shop div.main-theme-shop-content p.banner {
	float: left;
	width: 380px;
}
#contents div.main-theme-shop div.main-theme-shop-content ul {
	float: left;
	width: 345px;
}
#contents div.main-theme-shop div.main-theme-shop-content ul li {
	float: left;
	padding: 15px 0 0 0;
	width: 115px;
	font-size: 0.9em;
}
#contents div.main-theme-shop div.main-theme-shop-content ul li p.photo img {
	width: 100px;
	height: 100px;
}
#contents div.main-theme-shop div.main-theme-shop-content ul li p.product-name {
	position: relative;
	z-index: 2;
	padding: 8px 0 0;
	width: 100px;
	text-align: center;
}
#contents div.main-theme-shop div.main-theme-shop-content ul li p.product-name a {
	font-size: 1em;
}
#contents div.main-theme-shop div.main-theme-shop-content ul li p.price {
	padding: 3px 0 0;
	width: 100px;
	text-align: center;
}
#contents div.main-new-arrival {
	float: left;
	margin: 24px 0 0;
	padding: 22px 0 0;
	width: 535px;
	border-top: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	overflow: hidden;
}
#contents div.main-new-arrival h3 {
	padding: 0 0 0 12px;
	width: 500px;
	height: 22px;
}
#contents div.main-new-arrival ul.menu {
	float: right;
	margin: -22px 25px 0 0;
	height: 22px;
}
#contents div.main-new-arrival ul.menu li {
	display: inline;
	padding: 0 2px 0 0;
}
#contents div.main-new-arrival div.main-new-arrival-content {
	float: left;
	margin: 0 -3px 0 0;
	width: 535px;
	overflow: hidden;
}
#contents div.main-new-arrival div.main-new-arrival-content ul {
	float: left;
	width: 540px;
}
#contents div.main-new-arrival div.main-new-arrival-content ul li {
	float: left;
	padding: 0 0 10px 9px;
	width: 168px;
}
#contents div.main-new-arrival div.main-new-arrival-content ul li p.photo {
	width: 150px;
}
#contents div.main-new-arrival div.main-new-arrival-content ul li p.photo img {
	width: 150px;
	height: 150px;
}
#contents div.main-new-arrival div.main-new-arrival-content ul li p.product-name {
	padding: 10px 0 3px;
	width: 150px;
	text-align: center;
}
#contents div.main-new-arrival div.main-new-arrival-content ul li p.product-name a {
	font-size: 0.9em;
}
#contents div.main-new-arrival div.main-new-arrival-content ul li p.price {
	width: 150px;
	text-align: center;
	font-weight: bold;
	font-size: 0.9em;
}
#contents div.main-best-brand {
	position: relative;
	float: left;
	margin: 24px 0 0;
	padding: 22px 0 0 13px;
	width: 206px;
	height: 220px;
	border-top: 1px solid #eaeaea;
	overflow: hidden;
}
#contents div.main-best-brand h3 {
	padding: 0 0 0 6px;
	height: 18px;
}
#contents div.main-best-brand p.more {
	margin: -18px 0 0;
	padding: 0 5px 0 0;
	height: 18px;
	text-align: right;
}
#contents div.main-best-brand ul.menu {
	position: absolute;
	right: 5px;
	bottom: 0;
}
#contents div.main-best-brand ul.menu li {
	display: inline;
	padding: 0 2px 0 0;
}
#contents div.main-best-brand div.main-best-brand-content {
	width: 200px;
	height: 170px;
	border: 3px solid #eaeaea;
	overflow: hidden;
}
#contents div.main-best-brand div.main-best-brand-content img {
	width: 200px;
	height: 170px;
}
#contents div.main-category-menu {
	float: left;
	padding: 33px 0 20px;
	width: 755px;
	height: 450px;
}
#contents div.main-category-menu ul.menu {
	padding: 0 0 0 1px;
	height: 25px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/office/main_category_menu_tab.gif") no-repeat 0 0;
}
#contents div.main-category-menu ul.menu li {
	float: left;
	padding: 1px 0 0;
}
#contents div.main-category-menu ul.menu li img {
	vertical-align: top;
}
#contents div.main-category-menu div.main-category-menu-content {
	padding: 23px 0 0;
}
#contents div.main-category-menu div.main-category-menu-content ul.banner li {
	float: left;
}
#contents div.main-category-menu div.main-category-menu-content ul.banner li.type01 {
	width: 400px;
}
#contents div.main-category-menu div.main-category-menu-content ul.banner li.type01 img {
	width: 390px;
	height: 210px;
}
#contents div.main-category-menu div.main-category-menu-content ul.banner li.type02 {
	width: 180px;
	height: 110px;
}
#contents div.main-category-menu div.main-category-menu-content ul.banner li.type02 img {
	width: 175px;
	height: 100px;
}
#contents div.main-category-menu div.main-category-menu-content ul.banner li.type03 {
	width: 175px;
	height: 110px;
}
#contents div.main-category-menu div.main-category-menu-content ul.banner li.type03 img {
	width: 175px;
	height: 100px;
}
#contents div.main-category-menu div.main-category-menu-content ul.banner li.type04 {
	width: 355px;
}
#contents div.main-category-menu div.main-category-menu-content ul.banner li.type04 img {
	width: 355px;
	height: 100px;
}

#contents div.main-category-menu div.main-category-menu-content ul.product {
	float: left;
	padding: 17px 0 15px;
	width: 775px;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/office/main_category_menu_product.gif") no-repeat 0 17px;
}
#contents div.main-category-menu div.main-category-menu-content ul.product li {
	float: left;
	padding: 0 0 0 12px;
	width: 114px;
}
#contents div.main-category-menu div.main-category-menu-content ul.product li p.photo img {
	width: 100px;
	height: 100px;
	border: 1px solid #eaeaea;
}
#contents div.main-category-menu div.main-category-menu-content ul.product li p.product-name {
	padding: 7px 0 3px;
	width: 102px;
	text-align: center;
}
#contents div.main-category-menu div.main-category-menu-content ul.product li p.product-name a {
	font-size: 0.9em;
	line-height: 1.3em !important;
}
#contents div.main-category-menu div.main-category-menu-content ul.product li p.price {
	width: 102px;
	font-weight: bold;
	font-size: 0.9em;
	text-align: center;
}
#contents div.main-notice {
	float: left;
	padding: 13px 11px 0 0;
	width: 255px;
	border-top: 3px solid #eee;
}
#contents div.main-notice h3 {
	padding: 8px 0 0 12px;
	height: 16px;
	background: #f6f6f6;
}
#contents div.main-notice p.more {
	margin: -16px 0 0;
	padding: 0 10px 0 0;
	height: 16px;
	text-align: right;
}
#contents div.main-notice ul {
	padding: 9px 0 0;
}
#contents div.main-notice ul li {
	padding: 0 0 0 8px;
	height:14px; overflow:hidden; margin:5px 0 6px 0;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/dot.gif") no-repeat 0 5px;
}
#contents div.main-notice ul li a {width:auto; height:14px; overflow:hidden; font-size:11px;}
#contents div.main-help {
	float: left;
	padding: 25px 8px 0 8px;
	width: 205px;
	border-top: 3px solid #eee;
	border-left: 1px solid #eee;
}
#contents div.main-help p.info {
	padding: 0 0 6px;
	text-align: center;
	width: 205px; 
}
#contents div.main-help p.title {
	padding: 0 0 9px;
	text-align: center;
}
#contents div.main-help p.phone {
	padding: 0 0 8px;
	text-align: center;
}
#contents div.main-help ul {
	padding: 8px 0 8px 49px;
	background: #eee;
}
#contents div.main-help ul li {
    padding: 0 0 2px;
}
#contents div.main-info {
	float: left;
	margin: 0 -3px 0 0;
	width: 266px;
	height: 125px;
	border: 1px solid #fff;
	border-top: 3px solid #eee;
	border-left: 1px solid #eee;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/office/main_info_bg.gif") no-repeat -10px 0;
}
#contents div.main-info ul {
	width: 266px;
	
}
#contents div.main-info ul li {
	float: left;
	padding: 30px 0 0 18px;
	width: 120px;
}
#contents div.main-info ul li.type02,
#contents div.main-info ul li.type04 {
	padding: 30px 0 0 0;
	width: 119px;
	text-align: right;
}

