@charset "utf-8";

div.list-sort {
    clear: both;
    position: relative;
    z-index: 1;
    float: left;
    padding: 24px 0 0;
    width: 755px;
    height: 25px;
    border-bottom: 1px solid #ccc;
    background: #fff url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/list_sort_bg.gif") repeat-x 0 0;
}
div.list-sort ul.sort {
    float: left;
}
div.list-sort ul.sort li {
    display: inline;
    padding: 0 6px 0 10px;
    background: #fff url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/sort_bar.gif") no-repeat 0 1px;
}
div.list-sort ul.sort li.first-child,
div.list-sort ul.sort li:first-child {
    background: none;
}
div.list-sort ul.sort li img {
    vertical-align: top;
}
div.list-sort div.list-line {
    position: absolute;
    right: 220px;
    top: 22px;
}
div.list-sort div.list-line p {
    display: inline-block;
    padding: 4px 0 0 3px;
    width: 120px;
    height: 15px;
    font-size: 0.9em;
    overflow: hidden;
    border: 1px solid #b9b9b9;
    background: #fff url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/icon_page_location_select.gif") no-repeat right 8px;
    vertical-align: middle;
}
div.list-sort div.list-line p a {
    color: #666;
    text-decoration: none;
}
div.list-sort div.list-line ul {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 2;
    margin: 0;
    padding: 4px 0 4px 3px;
    width: 120px;
    font-size: 0.9em;
    border: 1px solid #b9b9b9;
    background: #fff;
}
div.list-sort div.list-line ul li {
    padding: 2px 0
}
div.list-sort div.list-line ul li a {
    color: #666;
}
div.list-sort ul.list-type {
    position: absolute;
    right: 130px;
    top: 25px;
}
div.list-sort ul.list-type li {
    display: inline;
    padding: 0 5px 0 0;
}
div.list-sort ul.list-type li img {
    vertical-align: top;
}
div.list-sort div.list-size {
    position: relative;
    float: right;
    margin: -2px 8px 0 0;
}
div.list-sort div.list-size p {
    display: inline-block;
    padding: 4px 0 0 3px;
    width: 100px;
    height: 15px;
    font-size: 0.9em;
    overflow: hidden;
    border: 1px solid #b9b9b9;
    background: #fff url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/common/icon_page_location_select.gif") no-repeat right 8px;
    vertical-align: middle;
}
div.list-sort div.list-size p a {
    color: #666;
    text-decoration: none;
}
div.list-sort div.list-size ul {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 2;
    margin: 0;
    padding: 4px 0 4px 3px;
    width: 100px;
    font-size: 0.9em;
    border: 1px solid #b9b9b9;
    background: #fff;
}
div.list-sort div.list-size ul li {
    padding: 2px 0
}
div.list-sort div.list-size ul li a {
    color: #666;
}

/* product-list01 */
div.product-list01 {
    clear: both;
    width: 755px;
}
div.product-list01 ul {
    float: left;
    width: 755px;
    background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/product/product_list01_line.gif") repeat 0 0;
}
div.product-list01 ul li {
    position: relative;
    float: left;
    padding: 36px 25px 0;
    width: 201px;
    height: 321px;
    overflow: hidden;
}
div.product-list01 ul li p.photo img {
    width: 200px;
    height: 200px;
    border: 1px solid #eaeaea;
}
div.product-list01 ul li p.category-name {
    padding: 10px 0 0;
    width: 200px;
    height: 13px;
    text-align: center;
    font-size: 0.9em;
}
div.product-list01 ul li p.product-name {
    width: 200px;
    height: 13px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: hidden;
    text-overflow: ellipsis;
}
div.product-list01 ul li p.product-name a {
    font-size: 0.9em;
    line-height: 1.2em !important;
}
div.product-list01 ul li p.origin-price {
    padding: 0 0 4px;
    width: 200px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}
div.product-list01 ul li p.origin-price span {
    text-decoration: line-through;
}
div.product-list01 ul li p.origin-price strong {
    color:#da2128;
}
div.product-list01 ul li p.price {
    width: 200px;
    height: 26px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}
div.product-list01 ul li p.product-icon {
    width: 200px;
    text-align: center;
}
div.product-list01 ul li p.product-icon img {
    margin: 0 -1px 0 0;
    vertical-align: top;
}
div.product-list01 ul li p.delivery {
    padding: 3px 0 0;
    width: 200px;
    text-align: center;
}
div.product-list01 ul li p.zoom-cart-zzim {
    display: none;
    position: absolute;
    left: 25px;
    top: 194px;
    z-index: 2;
    width: 202px;
    white-space: nowrap;
}
div.product-list01 ul li p.zoom-cart-zzim img {
    margin: 0 -5px 0 0;
    border: 1px solid #eaeaea;
}

/* product-list02 */
div.product-list02 {
    clear: both;
    width: 755px;
}
div.product-list02 ul {
    float: left;
    width: 755px;
    border-bottom: 1px solid #eaeaea;
    background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/product/product_list02_line.gif") repeat 0 0;
    border-bottom: 1px solid #eaeaea;
}
div.product-list02 ul li {
    position: relative;
    float: left;
    padding: 45px 15px 0;
    width: 121px;
    height: 260px;
    overflow: hidden;
}
div.product-list02 ul li p.photo img {
    width: 120px;
    border: 1px solid #eaeaea;
}
div.product-list02 ul li p.category-name {
    padding: 10px 0 3px;
    width: 120px;
    text-align: center;
    font-size: 0.9em;
}
div.product-list02 ul li p.product-name {
    width: 120px;
    height: 27px;
    text-align: center;
    overflow: hidden;
    text-overflow: hidden;
    text-overflow: ellipsis;
}
div.product-list02 ul li p.product-name a {
    font-size: 0.9em;
    line-height: 1.2em !important;
}
div.product-list02 ul li p.origin-price {
    padding: 0 0 4px;
    width: 120px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}
div.product-list02 ul li p.origin-price span {
    text-decoration: line-through;
}
div.product-list02 ul li p.origin-price strong {
    color:#da2128;
}
div.product-list02 ul li p.price {
    padding: 0 0 12px;
    width: 120px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}
div.product-list02 ul li p.product-icon {
    margin: 0 -4px 0;
    width: 128px;
    text-align: center;
}
div.product-list02 ul li p.product-icon img {
    margin: 0 -1px 0 0;
    vertical-align: top;
}
div.product-list02 ul li p.delivery {
    padding: 3px 0 0;
    width: 120px;
    text-align: center;
}
div.product-list02 ul li p.zoom-cart-zzim {
    display: none;
    position: absolute;
    left: 16px;
    top: 137px;
    width: 120px;
    white-space: nowrap;
}
div.product-list02 ul li p.zoom-cart-zzim img {
    margin: 0 -5px 0 0;
    border: 1px solid #eaeaea;
}

/* product-list02-photo */
div.product-list02-photo {
    clear: both;
    width: 755px;
}
div.product-list02-photo ul {
    float: left;
    width: 755px;
    background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/product/product_list02_photo_line.gif") repeat 0 0;
}
div.product-list02-photo ul li {
    position: relative;
    float: left;
    padding: 30px 15px 15px;
    width: 121px;
    height: 140px;
    overflow: hidden;
}
div.product-list02-photo ul li p.photo img {
    width: 120px;
    height: 120px;
    border: 1px solid #eaeaea;
}
div.product-list02-photo ul li p.category-name,
div.product-list02-photo ul li p.product-name,
div.product-list02-photo ul li p.price,
div.product-list02-photo ul li p.product-icon,
div.product-list02-photo ul li p.delivery,
div.product-list02-photo ul li p.zoom-cart-zzim {
    display: none;
}

/* product-list03 */
div.product-list03 {
    clear: both;
    width: 755px;
}
div.product-list03 table {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #898989;
}
div.product-list03 table caption {
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
div.product-list03 table thead tr th {
    height: 25px;
    font-size: 0.9em;
    font-weight: normal;
    background: #ededed;
}
div.product-list03 table tbody tr td {
    background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/product/product_list03_line.gif") repeat-x 0 0;
}
div.product-list03 table tbody tr.first-child td,
div.product-list03 table tbody tr:first-child td {
    background: none;
}
div.product-list03 table tbody tr td.product {
    padding: 13px 0 13px 20px;
    width: 550px;
}
div.product-list03 table tbody tr td.product p.photo {
    float: left;
    width: 105px;
}
div.product-list03 table tbody tr td.product p.photo img {
    width: 85px;
    width: 85px;
    border: 1px solid #eaeaea;
}
div.product-list03 table tbody tr td.product div.product-explain {
    float: left;
    width: 443px;
}
div.product-list03 table tbody tr td.product p.product-name {
    float: left;
    padding: 0 0 3px;
    width: 443px;
    font-weight: bold;
}
div.product-list03 table tbody tr td.product p.product-name a {
    font-size: 0.9em;
    line-height: 1.2em !important;
}
div.product-list03 table tbody tr td.product p.discount {
    float: left;
    padding: 0 0 12px;
    width: 443px;
    font-size: 0.9em;
}
div.product-list03 table tbody tr td.product p.product-icon {
    float: left;
    padding: 0 0 14px;
    width: 443px;
}
div.product-list03 table tbody tr td.product p.product-icon img {
    vertical-align: top;
}
div.product-list03 table tbody tr td.product p.zoom-cart-zzim {
    float: left;
    width: 443px;
}
div.product-list03 table tbody tr td.product p.quantity {
    float: left;
}
div.product-list03 table tbody tr td.product p.zoom-cart-zzim img {
    vertical-align: middle;
}
div.product-list03 table tbody tr td.product p.zoom-cart-zzim input {
    padding: 2px 2px 0 0;
    width: 30px;
    height: 14px;
    text-align: right;
    border: 1px solid #cacaca;
}
div.product-list03 table tbody tr td.price {
    text-align: center; 
}
div.product-list03 table tbody tr td.price p {
    font-size: 0.9em;
    font-weight: bold;
}
div.product-list03 table tbody tr td.price p.origin-price {
    font-size: 0.9em;
    font-weight: bold;
}
div.product-list03 table tbody tr td.price p.origin-price span {
    text-decoration: line-through;
}
div.product-list03 table tbody tr td.price p.origin-price strong {
    color:#da2128;
}
div.product-list03 table tbody tr td.delivery {
    text-align: center;
}
div.product-list03 table tbody tr td.delivery img {
    margin: 2px 0;
}
div.product-list03 table tbody tr td.estimation {
    text-align: center;
}

div.product-list03 ul {
    float: left;
    width: 755px;
    background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/product/product_list02_line.gif") repeat 0 0;
}
div.product-list03 ul li {
    position: relative;
    padding: 45px 15px 0;
    height: 243px;
}
div.product-list03 ul li p.photo img {
    width: 85px;
    border: 1px solid #eaeaea;
}
div.product-list03 ul li p.category-name {
    padding: 10px 0 3px;
    width: 120px;
    text-align: center;
    font-size: 0.9em;
}
div.product-list03 ul li p.product-name {
    width: 120px;
    height: 27px;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: hidden;
    text-overflow: ellipsis;
}
div.product-list03 ul li p.price {
    padding: 0 0 12px;
    width: 120px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}
div.product-list03 ul li p.product-icon {
    width: 120px;
    text-align: center;
}
div.product-list03 ul li p.product-icon img {
    margin: 0 -1px 0 0;
    vertical-align: top;
}
div.product-list03 ul li p.delivery {
    padding: 3px 0 0;
    width: 120px;
    text-align: center;
}
div.product-list03 ul li p.zoom-cart-zzim {
    display: none;
    position: absolute;
    left: 16px;
    top: 137px;
}
div.product-list03 ul li p.zoom-cart-zzim img {
    margin: 0 -5px 0 0;
    border: 1px solid #eaeaea;
}

div.layer-detail {
    position: absolute;
    left: 200px;
    top: 100px;
    z-index: 100;
}
