@charset "utf-8";


#body {
	background: none;
}
#contents div.gift-search {
	display: none; 
}
#contents div.page-location  {
	margin: -20px 0 0;
	padding: 0 0 0 15px;
}
#contents div.search-main {
	width: 950px;
}
div.user-search-area {
	float: left;
	padding: 0 10px 0 0;
	width: 755px;
	border-right: 1px solid #eaeaea;
}
div.best-word-product {
	float: left;
	margin: 0 -3px 0 0;
	padding: 21px 0 0 4px;
	width: 180px;
	height: 700px;
}
div.search p.search-nums {
	position: relative;
	margin: 0px -194px 28px 0;
	padding: 5px 0 10px 17px;
	width: 933px;
	border-bottom: 1px solid #eaeaea;
	background: #fff url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/search/icon_search_num.gif") no-repeat 4px 3px;
}
div.search p.search-nums strong {
	color: #555555;
}
div.search p.search-nums strong span {
	color: #d12324;
}
#contents div.shopping-search {
	clear: both;
	margin: 0 0 17px 201px;
	width: 334px;
	height: 26px;
	overflow: hidden;
	text-align: center;
	border: 4px solid #b11111;
}
#contents div.shopping-search fieldset legend {
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
#contents div.shopping-search fieldset input.textbox {
	margin: 0 -4px 0 0;
	padding: 5px 3px 0 3px;
	width: 270px;
	height: 21px;
	border: 0;
}
#contents div.shopping-search fieldset input {
	vertical-align: top;
}
#contents div.user-search-area p.related-word {
	margin: 0 42px 0;
	padding: 13px 152px 15px 78px;
	width: 441px;
	border-top: 1px dotted #ccc;
	word-spacing: -1px;
	overflow: hidden;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/search/icon_related_word.gif") no-repeat 54px 13px;
}
#contents div.user-search-area p.related-word strong ,
#contents div.user-search-area p.related-word a {
	font-size: 0.9em;
}
#contents div.user-search-area p.related-word strong {
	font-weight: normal;
	color: #464646;
}
#contents div.user-search-area p.related-word a {
	color: #d12324;
}

div.pattern-view {
	float: left;
	padding: 0 10px 0;
	width: 733px;
	border: 2px solid #b11111;
}
div.pattern-view dl {
	float: left;
	width: 733px;
}
div.pattern-view dl dt ,
div.pattern-view dl dd {
	float: left;
	padding: 17px 0 13px;
	font-size: 0.9em;
	border-top: 1px dotted #ccc;
}
div.pattern-view dl dt {
	padding-left: 21px;
	width: 105px;
	font-weight: bold;
	color: #363636;
}
div.pattern-view dl dd {
	width: 605px;
}
div.pattern-view dl dd ul {
	position: relative;
	float: left;
	width: 540px;
	height: auto;
}

div.pattern-view dl dd ul li {
	position: relative;
	float: left;
	padding:0;
	width: 135px;
	height: 30px;
	background: #fff url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/search/cate_bg.gif") no-repeat 125px 1px;
}
div.pattern-view dl dd ul li.none-bg {
	background: none;
} 
div.pattern-view dl dd ul li.price {
	background: none;
}
div.pattern-view dl dd ul li.selected {
	z-index: 2;
	letter-spacing: -1px;
	font-weight: bold;
	color: #d12324;
}
div.pattern-view dl dd ul li.selected a {
	color: #d12324;
}
div.pattern-view dl dd ul li ul.sub {
	display: none;
	position: absolute;
	left: 0;
	top: 18px;
	z-index: 10;
	float: left;
	padding: 5px;
	width: 504px;
	height: auto;
	background: #fff;
	border: 1px solid #ccc;
}

div.pattern-view dl dd ul li ul.sub li {
	float: left;
	font-weight: normal;
	color: #7d7d7d;
}
div.pattern-view dl dd ul li ul.sub li a {
	color: #7d7d7d;
}
div.pattern-view dl dt.cate ,
div.pattern-view dl dd.cate  {
	border: 0;
}
div.user-search-area dl dd p {
	float: left;
	padding: 0 0 0 12px;
	width: 53px;
	font-weight: bold;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/search/icon_more_view.gif") no-repeat 0 1px;
}
div.user-search-area dl dd p.selected {
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/search/icon_close_view.gif") no-repeat 0 1px;
}
div.pattern-view dl dd p a {
	font-size: 1em;
	color: #505050;
}
div.pattern-view dl dd ul li a {
	padding: 0 0 0 4px;
	font-size: 1em;
}
div.pattern-view dl dd ul li.price {
	clear: both;
	width: 500px;
}
div.pattern-view dl dd ul li div.price-form { 
	clear: both;
	display: inline;
	padding: 4px 0 0 0;
}
div.pattern-view dl dd ul li div.price-form fieldset {
	vertical-align: top;
}
div.pattern-view dl dd ul li div.price-form fieldset legend {
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	visibility: hidden;
}
div.pattern-view dl dd ul li div.price-form fieldset input {
	padding: 1px;
	width:87px;
	height: 15px;
	vertical-align: top;
	border: 1px solid #b11111;
}
div.pattern-view dl dd ul li div.price-form fieldset label ,
div.pattern-view dl dd ul li div.price-form fieldset span {
	display: inline-block;
	padding: 4px 0 0;
	vertical-align: top;
}
div.pattern-view dl dd ul li div.price-form fieldset button {
	margin: -2px 0 0;
	vertical-align: top;
}
div.pattern-view {
	padding: 0 10px 0;
}
div.pattern-view table {
	width: 100%;
}
div.recommend-view {
	float: left;
	padding: 16px 0 36px;
}
div.recommend-view dl {
	float: left;
	width: 753px;
	border: 1px solid #eaeaea;
	background: #f4f4f4;
}
div.recommend-view dl dt ,
div.recommend-view dl dd {
	float: left;
}
div.recommend-view dl dt {
	padding: 25px 0 0 32px;
	width: 105px;
	font-size: 0.9em;
	font-weight: bold;
	color: #363636;
}
div.recommend-view dl dd {
	padding: 10px 0 10px;
	width: 596px;
	font-size: 0.9em;
}
div.recommend-view dl dd ul {
	float: left;
	width: 539px;
}
div.recommend-view dl dd ul li {
	height: 18px;
}
div.recommend-view dl dd ul li a {
	font-size: 1em;
}
div.recommend-view dl dd p {
	float: left;
	padding: 0 0 0 14px;
	width: 43px;
}
div.recommend-view dl dd p a {
	font-size: 1em;
	color: #505050;
}
div.view-consol {
	padding: 0 8px 6px 0;
	text-align: right;
}
div.view-consol input {
	margin: 0 0 0 14px;
	vertical-align: middle;
}
div.user-search-area label {
	padding: 0 0 0 1px; 
	font-size: 0.9em;
}
div.hot-event {
	float: left;
	margin: 55px 0 0;
	padding: 0 0 6px;
	width: 755px;
	border-bottom: 2px solid #363636;
}
div.hot-event h4 {
	float: left;
	padding: 0 19px 0 0;
}
div.hot-event p.go-event {
	float: left;
	padding: 2px 0 0;
}
div.hot-event p.event-view-concol {
	float: left;
	padding: 2px 8px 0 0;
	width: 533px;
	text-align: right;
}
div.hot-event p.event-view-concol input  {
	margin: 0 0 0 14px;
}
div.hot-event p.event-view-concol label {
	padding: 0 0 0 3px;
}
div.hot-event p.event-view-concol a {
	margin: 0 0 0 34px;
}
div.event-list {
	clear: both;
	margin: 0 0 0 -12px;
	width: 769px;
}
div.event-list ul {
	float: left;
	padding: 0 0 140px;
}
div.event-list ul li {
	float: left;
	padding: 30px 0 0 10px;
	width: 246px;
}
div.event-list ul li p.event-photo {
	width: 245px;
	height: 110px;
	border-left: 1px solid #ededed;
}
div.event-list ul li.lines  p.event-photo {
	border: 0;
}
div.event-list ul li p.event-photo img {
	width: 245px;
	height: 110px;
}
div.event-list ul li p.event-period {
	padding: 16px 0 0;
	width: 246px;
	text-align: center;
	font-size: 0.9em;
}
div.best-word-product {
	padding: 28px 0 0 4px;
}
div.active-word {
	padding: 0 0 123px;
}
div.active-word ul.word li span  {
	display: block;
	padding: 20px 0 5px 6px;
	width: 174px;
	border-bottom: 1px solid #eaeaea;
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/search/icon_more_view.gif") 166px 22px no-repeat;
}
div.active-word ul.word li.selected span {
	background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/common/images/search/icon_close_view.gif") no-repeat 166px 22px;
}
div.active-word ul.word li ul {
	display: none;
	padding: 3px 0 13px 22px;
}
div.active-word ul.word li ul li {
	padding: 10px 0 6px;
}
div.active-word ul.word li ul li a {
	font-size: 0.9em;
	color: #464646;
}
div.active-word ul.word li ul li  a span {
	display: inline;
	padding: 0;
	font-size: 0.9em;
	font-weight: bold;
	color: #d12324;
	border: 0;
}
div.weekly-best {
	float: left;
	padding: 0 0 61px;
}
div.weekly-best p.title {
	padding: 0 0 5px 3px;
	border-bottom: 1px solid #eaeaea;
}
div.weekly-best ul li {
	float: left;
	padding: 20px 0 0;
	width: 180px;

}
div.explains-section {
	float: left;
	padding: 0 0 0 9px;
	width: 70px;
}
div.weekly-best p.photo {
	float: left;
	width: 100px;
}
div.explains-section p.photo img {
	width: 100px;
	height: 100px;
}
div.explains-section p {
	font-size: 0.9em;
}
div.explains-section p.number {
	padding: 0 0 13px 1px;
}
div.explains-section p.explain {
	line-height: 13px;
	text-overflow: hidden;
	text-overflow: ellipsis;
}
div.explains-section p.price {
	font-weight: bold;
}
div.side-banner ul li {
	padding: 0 0 5px;
}
#product div.product-list03 table tbody tr td.price {
	color: #363636;
}
