.funding_main_logo_wrap{width:950px; margin:0 auto; margin-bottom:50px;}
.best_hott_wrap{padding:60px 0; background:#F8F8F8;}
.best_hott_wrap .best_hott_tit{margin-bottom:50px; text-align:center; font-size:40px;}
.best_hott_wrap .best_hott_banner{overflow:hidden; margin-bottom:25px;}
.best_hott_wrap .best_hott_banner .item{width:937px; margin:0 20px; float:left; background:#fff;}
.best_hott_wrap .best_hott_banner .item a{display:block; padding:30px; border:1px solid #EDEDED; box-sizing:border-box; overflow:hidden;}
.best_hott_wrap .best_hott_banner .item.slick-active a{border:5px solid #000; padding:26px;}
.best_hott_wrap .best_hott_banner .item a .best_hott_img{float:left; width:310px;}
.best_hott_wrap .best_hott_banner .item a .best_hott_img img{width:100%;}
.best_hott_wrap .best_hott_banner .item a .info{position:relative; float:right; width:537px; padding-top:40px; padding-right:60px; box-sizing:border-box;}
.best_hott_wrap .best_hott_banner .item a .info .dday{margin-bottom:30px; font-size:20px; color:#FE6A5B; font-weight:bold;}
.best_hott_wrap .best_hott_banner .item a .info .dday .only_english{font-size:22px;}
.best_hott_wrap .best_hott_banner .item a .info .tit{margin-bottom:20px; font-size:26px; font-weight:bold;}
.best_hott_wrap .best_hott_banner .item a .info .txt{margin-bottom:25px; height:80px; line-height:20px; font-size:14px;}
.best_hott_wrap .best_hott_banner .item a .info .price{margin-bottom:15px; font-size:16px; color:#CCCCCC;}
.best_hott_wrap .best_hott_banner .item a .info .price .only_english{font-size:18px; text-decoration:line-through;}
.best_hott_wrap .best_hott_banner .item a .info .discount{font-size:16px; color:#DD1010;}
.best_hott_wrap .best_hott_banner .item a .info .discount .only_english{font-size:28px; font-weight:bold;}
.best_hott_wrap .best_hott_banner .item a .info .discount .percent{margin-right:15px; color:#000;}
.best_hott_wrap .best_hott_banner .item a .info .progress{position:absolute; top:5px; right:0;}
.best_hott_wrap .best_hott_banner .item a .info .progress span{display:block; width:70px; height:70px; line-height:68px; color:#FE6A5B; font-weight:bold; text-align:center; border:4px solid #FE6A5B; border-radius:70px; box-sizing:border-box;}
.best_hott_wrap .best_hott_banner .item a .info .progress .complete{color:#49A4FC; border:4px solid #49A4FC;}
.best_hott_wrap .main_banner_control{width:950px; margin:0 auto; text-align:right;}
.best_hott_wrap .main_banner_control .main_banner_btn{display:inline-block;}
.best_hott_wrap .main_banner_control .main_banner_btn button{width:9px; height:23px; margin:0 5px; font-size:0; vertical-align:middle;}
.best_hott_wrap .main_banner_control .main_banner_btn .prev{background:url(../../images/new/best_hott_prev.png) no-repeat;}
.best_hott_wrap .main_banner_control .main_banner_btn .next{background:url(../../images/new/best_hott_next.png) no-repeat;}
.best_hott_wrap .main_banner_control .main_banner_btn .num{font-size:20px; letter-spacing:3px; color:#999999; font-weight:bold;}
.best_hott_wrap .main_banner_control .main_banner_btn .num strong{color:#000;}

.orderandpay .funding_main_wrap .tab_wrap.tab1{width:950px; margin:0 auto;}
.orderandpay .funding_main_wrap .title_icon{font-size: 40px; font-weight: 700; text-align: center; line-height: normal;}
.orderandpay .funding_main_wrap .title_icon:before{content: ''; margin: 0 auto; display: block; width:100px; height: 51px;}
.orderandpay .funding_main_wrap .title_icon.ico01:before{background: url(../../images/new/icon_funding_main1.png) no-repeat center center;}
.orderandpay .funding_main_wrap .title_icon.ico02:before{background: url(../../images/new/icon_funding_main2.png) no-repeat center center;}
.orderandpay .funding_main_wrap .title_icon.ico03:before{background: url(../../images/new/icon_funding_main3.png) no-repeat center center;}
.orderandpay .funding_main_wrap .title_texts_list .items_red{color:#FE6A5B;}

.orderandpay .stuff-right{width:456px;}
.orderandpay .stuff-main-wrap .funding_complete_wrap{float:none; text-align:left;}