@charset "utf-8";

/* font-weight: 100 ~ 900 
	300: Light
	400: Regular
	500: Medium
	700: bold

*/
/* ---------- common_style --------------*/
.orderandpay {font-family: 'font_ns','Apple SD Gothic Neo', sans-serif; font-size:14px;}
.orderandpay .only_english {font-family: 'font_gs','Apple SD Gothic Neo', sans-serif !important;}

.orderandpay.f_set {margin-top:0;}
.orderandpay h2.tit {font-size: 40px; margin-top:48px; font-weight: 700;}

.orderandpay .order_list .tit01 {min-height:28px;margin-top: 60px;font-size: 18px; color: #000; font-weight: 500;}

.orderandpay .bold {font-weight: 700 !important; }
.orderandpay .fz0 {font-size:0 !important;}

.orderandpay .distance {margin-top:100px !important;}
.orderandpay .btn_wrap.distance{margin-top:90px !important;}
.orderandpay .width_check {max-width: 520px;}
.orderandpay .width_barcode {max-width: 150px; width:150px !important;}
.orderandpay .width_phone {max-width: 80px;}
.orderandpay .width_name {max-width: 190px;}
.orderandpay .width_point {max-width: 240px; width:240px !important; text-align: right;}
.orderandpay .width_address {max-width: 400px;width: 400px !important;}
.orderandpay .width_email {max-width: 140px; width:140px !important;}
.orderandpay .width_popup_point {max-width: 100px; width:100px !important;}
.orderandpay .input_wrap select.width_phone,
.orderandpay .select_wrap select.width_phone  {width: 80px !important;}
.orderandpay .width_file {max-width: 443px;width: 443px !important;} 
.orderandpay .width_bulk {max-width: 250px; width:250px !important;}

/* 기본 박스 */
.orderandpay .user_info_wrap {margin-top:50px;}
.orderandpay .user_info_wrap .user_title {font-size: 22px; font-weight: 700; padding-bottom:10px; border-bottom: 2px #000 solid;}
.orderandpay .user_info_wrap .user_title:after {content: ''; display:block; clear:both;}

/* 기본 박스 타이틀 안에 글자 있을때 */
.orderandpay .have_inner_txt {position: relative;}
.orderandpay .have_inner_txt:after {content: ''; display:block; clear:both;}

.orderandpay .have_inner_txt.address .btn_defalut {position: absolute; top:0; left:404px;}
.orderandpay .user_info_wrap .user_title.have_inner_txt .i_txt,
.orderandpay .user_info_wrap .user_title.have_inner_txt .i_small_txt,
.orderandpay .user_info_wrap .user_title.have_inner_txt .choice_wrap {float: left;}
.orderandpay .user_info_wrap .user_title.have_inner_txt .choice_wrap {margin-left:36px;}
.orderandpay .user_info_wrap .user_title.have_inner_txt .i_small_txt {margin-top: 8px; margin-left: 10px;}

.orderandpay .choice_wrap.type_squre.have_inner_txt .i_txt,
.orderandpay .choice_wrap.type_squre.have_inner_txt .choice_wrap_inner {float: left;}

.orderandpay .user_info_wrap .user_title.have_inner_txt .i_small_txt {font-size: 14px; font-weight: 400;}

/* text */
.orderandpay .order_txt {font-size: 16px;font-weight: 400;color:#000;}
.orderandpay .user_table_wrap .order_txt {;padding-bottom: 10px; margin-top:30px;}
.orderandpay .ft_big {font-size: 22px !important; font-weight: 700 !important;}

/* table_inner_txt */
.orderandpay .table_wrap .text_wrap {font-size: 14px; color:#999999; display: block; letter-spacing: .5px;}

/*--- 아이콘 --*/
/* 화살표 */
.orderandpay .icon_arrow {display: inline-block; margin-left:20px; font-size: 14px; font-weight: 500;}
.orderandpay .icon_arrow:after {content:'';display:inline-block;width:6px;height: 12px;background: url(../../images/new/icon_arrow.png) no-repeat 0 0;margin-left:5px;margin-bottom: -1px;}

/* 안내 */
.orderandpay .icon_question {font-size: 0; display: block; float: right; width:18px; height:18px; border:1px #999999 solid; border-radius: 100%; background: url(../../images/new/icon_question.png) no-repeat 6px 0px; box-sizing: border-box; margin-left:5px;}
.orderandpay .icon_question:after {content: ''; display: block; clear:both;}


/* table */
/* 기본형 */
.orderandpay .table_wrap {/* margin-top: 15px; */}
.orderandpay .table_wrap th, .orderandpay .table_wrap td {text-align: left; font-size:13px; font-weight: 500;}
.orderandpay .table_wrap th {font-size: 13px;font-weight: 500;background: #FAFAFA;text-align: center;border-bottom: 1px #EEEEEE solid; border-left: 1px #EEEEEE solid;  border-top: 1px #EEEEEE solid;}
.orderandpay .table_wrap th span.star {color:#DA2128;}
.orderandpay .table_wrap td {padding: 10px 0px 10px 24px;height:38px;border-bottom: 1px #EEEEEE solid; border-right: 1px #EEEEEE solid;}

/* 고객센터 */
.orderandpay .table_wrap.cs {border-top: 2px #000 solid;}
.orderandpay .table_wrap.cs td {padding: 10px 24px 10px 24px;}
.orderandpay .table_wrap.cs textarea {max-width: 522px;}

.orderandpay .bbs_list_v2 thead th { background: #FAFAFA; }
.orderandpay .bbs_list_v2 tbody td:first-child {border-left:1px #EEEEEE solid;}
.orderandpay .bbs_list_v2 tbody td:last-child {border-right:1px #EEEEEE solid;}

/* 주문상품 _table  */
.orderandpay .table_wrap.bbs_list_v2 th, .orderandpay .table_wrap.bbs_list_v2 td {text-align: center;padding-right: 10px;padding-left: 10px;}
.orderandpay .table_wrap.bbs_list_v2 tfoot th, .orderandpay .table_wrap.bbs_list_v2 tfoot td {text-align:right;font-size: 22px;font-weight: 500;border-bottom: 0;}

/* 제휴포인트_table*/
.orderandpay .table_wrap.type_1 {}
.orderandpay .table_wrap.type_1 th {background: #fff; text-align: left; border-left:0; border-right: 0;}
.orderandpay .table_wrap.type_1 .btn_defalut.squre {margin-left:-1px;}


/* radio , checkbox 원형 */
.orderandpay .choice_wrap .choice_wrap_inner {margin-left:30px; font-size:14px; font-weight: 500;}
.orderandpay .choice_wrap .choice_wrap_inner:first-child {margin-left:0;}
.orderandpay .choice_wrap input[type="checkbox"],
.orderandpay .choice_wrap input[type=radio] {  position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0 }
.orderandpay .choice_wrap input[type="checkbox"] + label ,
.orderandpay .choice_wrap input[type=radio]+ label { display: inline-block; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.orderandpay .choice_wrap input[type="checkbox"] + label:before,
.orderandpay .choice_wrap input[type="radio"] + label:before { content: ' '; display: inline-block; width: 20px; height: 20px; line-height: 20px; margin: -2px 8px 0 0; text-align: center; vertical-align: middle; background: #EEEEEE url(../../images/new/icon_radio_on.png) no-repeat center left 4px; border: 1px solid #DBDBDB; border-radius : 10px;  box-sizing: border-box;} 

.orderandpay .choice_wrap input[type="checkbox"]:checked + label:before,
.orderandpay .choice_wrap input[type="radio"]:checked + label:before  { border:1px #DA2128 solid; background: #DA2128 url(../../images/new/icon_radio_on.png) no-repeat center left 4px;}
.orderandpay .choice_wrap input[type=radio]::-ms-expand,
.orderandpay .choice_wrap input[type=checkbox]::-ms-expand{display: none;}

/* radio , checkbox 사각형 */
.orderandpay .choice_wrap.type_squre input[type="checkbox"] + label:before,
.orderandpay .choice_wrap.type_squre input[type="radio"] + label:before { content: ' '; display: inline-block; width: 20px; height: 20px; line-height: 20px; margin: -2px 5px 0 0; text-align: center; vertical-align: middle; background: #EEEEEE url(../../images/new/icon_radio_on.png) no-repeat center center;; border: 1px solid #DBDBDB; border-radius : 4px;  box-sizing: border-box;} 
.orderandpay .choice_wrap.type_squre input[type="checkbox"]:checked + label:before,
.orderandpay .choice_wrap.type_squre input[type="radio"]:checked + label:before  { border:1px #DA2128 solid; background: #DA2128 url(../../images/new/icon_radio_on.png) no-repeat center left 4px;}


/* input 기본형 */
.orderandpay .input_wrap input {padding: 10px 10px 11px;border: 1px #B5B5B5 solid;box-sizing: border-box;font-size: 13px;font-weight: 400;display: block;width: 100%;color:#777777;}

/* select 기본형 */
.orderandpay .select_wrap select ,
.orderandpay .input_wrap select {width:100%; padding: 9px 32px 10px 7px; max-height:38px; border:1px #B5B5B5 solid;box-sizing: border-box;font-size: 13px;font-weight: 300;display: block; color:#777777;font-family: inherit;background:#fff url('../../images/new/icon_select.png') no-repeat right 12px center;border-radius: 0px;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.orderandpay .input_wrap select::-ms-expand ,
.orderandpay .select_wrap select::-ms-expand {display: none;}


/* input 및 unit 개수 추가 시 */
.orderandpay .inner_float .input_wrap {float: left; position: relative; margin-left: 30px;}
.orderandpay .inner_float .input_wrap:first-child {margin-left: 0;}
.orderandpay .inner_float .input_wrap:before {content: '';display: block;position: absolute;top: 50%;left: -20px;width:10px;height: 1px;background: #707070;}
.orderandpay .inner_float .input_wrap:first-child:before {content: '';display: none;}
.orderandpay .inner_float .choice_wrap_inner {margin-top: 11px; margin-left: 20px;}
.orderandpay .inner_float .btn_defalut {float: left;}

.orderandpay .inner_float .text_wrap {margin-left: 14px; margin-top:12px; float: left;} 

.orderandpay .inner_float .btn_space {margin-left:5px;}
.orderandpay .inner_float .select_wrap {float: left;}
.orderandpay .inner_float.nodash .input_wrap {margin-left:10px;}
.orderandpay .inner_float.nodash .input_wrap:before {content: ''; display: none;}


.orderandpay .inner_float_dot .input_wrap {float: left; margin-left: 7px; line-height: 35px;}
.orderandpay .inner_float_dot .input_wrap:first-child {margin-left: 0;}
.orderandpay .inner_float_dot .input_wrap._last {margin-left:10px;}


/* btn */
.orderandpay .btn_type_wrap {text-align: center;}
.orderandpay .btn_defalut {padding: 10px 19px;height:auto;min-width: 116px;background: #EEEEEE;font-size: 13px;font-weight: 700;color:#FFFFFF;outline:none;color: #000;border-radius: 30px;}
.orderandpay .btn_defalut.squre {background: #fff; height: auto;font-size: 14px;font-weight: 400;outline:none;color: #000;border:1px #B5B5B5 solid;border-radius: 0;/* max-width: 120px; */text-align: center;min-width: 120px;box-sizing: border-box;padding: 11px 10px}
.orderandpay button.btn_defalut.squre {padding: 10px 20px;height:38px; font-family: 'font_ns'; line-height: inherit;}

.orderandpay .btn_wrap {margin:0;text-align: center;}
.orderandpay .btn_basic {padding: 21px 20px;height:auto;background: #000;font-size: 18px;font-weight: 400;color:#FFFFFF;min-width: 320px;}
.orderandpay .bottom_wrap {margin-top: 140px;}




/* text */
.orderandpay .alert_txt {font-size: 13px; font-weight: 400; color: #777777}
.orderandpay .alert_txt span {font-size: inherit; font-weight: inherit;}

.orderandpay .user_title .i_small_txt {font-size: 14px; color:#777777; font-weight: 400;}
.orderandpay .user_title .i_small_txt span {font-size: inherit; color:#000; font-weight: 500;}

/* 주문 상품 */
.orderandpay .order_list .tit01 {/*font-size: 16px; font-weight: 400; color:#000;*/margin-top: 35px; margin-bottom: 5px;}
.orderandpay .text_show {font-size: 18px;text-align: center;border:1px #DBDBDB solid;border-radius: 30px;padding: 20px 94px;display: inline-block;}
.orderandpay .text_show_wrap {margin-top:40px; text-align: center;}
.orderandpay .bg_arrowdown {background: url(../../images/new/icon_arrow2.png) no-repeat center center;width: 19px;height: 11px;margin-left: 10px;margin-top: 4px;display: block;float: right;}
.orderandpay .bg_arrowup {background: url(../../images/new/icon_arrow2_active.png) no-repeat center center;width: 19px;height: 11px;margin-left: 10px;margin-top: 4px;display: block;float: right; }

.orderandpay .help_box_wrap {background: #FAFAFA;padding: 8px 20px; margin-top: 40px;}
.orderandpay .help_box_wrap .text_list li {font-size: 13px;font-weight:400;color:#777777;position: relative;padding-left: 10px;margin: 12px 0;}
.orderandpay .help_box_wrap .text_list li:before {content: '';display: block;width:5px;height:1px;background: #777777;position: absolute;left: 0;top: 6px;}
.orderandpay .order_list {}

/* 결제금액 */
.orderandpay .user_price_wrap {background: #FAFAFA; padding:40px; margin-top: 30px;}
.orderandpay .user_price_wrap:after {content: ''; display: block; clear: both;}
.orderandpay .user_price_wrap .user_price_unit {background: #fff;padding: 46px 70px;float: left;margin-left:10px;}
.orderandpay .user_price_wrap .user_price_unit:first-child {margin-left:0;}
.orderandpay .user_price_wrap .user_price_unit .color {color: #777777;}
.orderandpay .user_price_wrap .price_unit_list:after {content: ''; display: block; clear: both;}
.orderandpay .user_price_wrap .price_unit_list dt, 
.orderandpay .user_price_wrap .price_unit_list dd {float: left;padding:8px 0;margin: 0 60px;min-width: 80px;}
.orderandpay .user_price_wrap .price_unit_list dt {font-size: 16px; font-weight:500; color:#000;}
.orderandpay .user_price_wrap .price_unit_list dd {font-size: 16px;font-weight:400;text-align: right;}

.orderandpay .user_price_wrap .user_price_unit.sum {padding: 51px 59px 57px;}
.orderandpay .user_price_wrap .user_price_unit .unit_sum_tit {font-size: 16px;font-weight:700;text-align: center;}
.orderandpay .user_price_wrap .user_price_unit .unit_sum {font-size: 18px;font-weight:500;margin-top: 13px;text-align: center;}
.orderandpay .user_price_wrap .user_price_unit .unit_sum .only_english {font-size: 28px; font-weight:700;}
.orderandpay .user_price_wrap .user_price_unit .unit_sum_point {border-top:1px #B5B5B5 solid; margin-top: 22px;text-align: center;padding: 18px 20px 0;}

/* 결제방법 */
.orderandpay .user_pay_wrap .color {color: #777777;}

/* tab */

/*결제방법선택 tab */
.orderandpay .tab_wrap {}
.orderandpay .tab_list  {margin-top:20px; margin-left: -10px;}
.orderandpay .tab_list:after {content:''; display:block; clear:both;}
.orderandpay .tab_list .items {float: left;min-width: 180px;margin-left: 12px;margin-top: 10px;}
.orderandpay .tab_list .items .link {display: block;vertical-align: middle;padding: 13px 10px;font-size:18px;font-weight:400;color:#000;position: relative;text-align: center;border: 2px #DBDBDB solid;border-radius: 24px;}
.orderandpay .tab_layer_wrap {position: relative; margin-top:20px;}
.orderandpay .tab_layer {display: none; height: auto;}
.orderandpay .tab_layer.is_active {display: block;}
.orderandpay .tab_list li.is_active .link {background: #DD1016; border-color: #DD1016; color:#fff;}

/* 결제방법선택 tab_layer inner box */
.orderandpay .tab_layer .tab_layer_text_box {background: #FAFAFA; padding:30px;}
.orderandpay .tab_layer .tab_layer_text_box .layer_title {font-size: 16px; font-weight: 500}
.orderandpay .tab_layer .tab_layer_text_box .layer_txt_list {margin-top: 15px;}
.orderandpay .tab_layer .tab_layer_text_box .layer_txt_list li {font-size: 13px;font-weight:400;position: relative;margin:10px 0;padding-left: 10px;}
.orderandpay .tab_layer .tab_layer_text_box .layer_txt_list li:before {content:'';display: block;width: 3px;height:3px;background: #777777;position: absolute;top:6px;left:0;border-radius: 100%;}

.orderandpay .tab_layer .last_check {font-size: 16px;}
.orderandpay .tab_layer .last_check span {font-size: inherit;}

/* 고객센터 tab */
.orderandpay .tab1 {margin:50px 0 20px}
.orderandpay .tab1 ul {overflow:visible; display: table; width:100%;}
.orderandpay .tab1 ul li {float:left;margin-right:0px; display:table-cell; min-width:25%; width:auto;}
.orderandpay .tab1 ul li a {display: block; height: auto !important;background:#fff; text-align: center;border-top: 1px #DBDBDB solid; border-bottom: 1px #DBDBDB solid; border-right: 1px #DBDBDB solid;}
.orderandpay .tab1 ul li a span {display:inline-block;width:auto;height:auto;border:none;text-align:center; font-weight:inherit; font-size:18px; color:#000;line-height:normal; position: relative; padding: 20px;}
.orderandpay .tab1 ul li:first-child a { border-left: 1px #DBDBDB solid;}
.orderandpay .tab1 ul li a.on {background:#000;}
.orderandpay .tab1 ul li a.on span {border:0 none;background:#000; color:#fff; font-weight: 700;}
.orderandpay .tab1 ul li a.on span:after {content:''; display:block; background: url(../../images/new/icon_cs_tab_active.png) no-repeat center center;width: 12px;height: 9px; position: absolute; top: 30px; left: 5px;}

.orderandpay .tab1.text_large ul li {min-width: 23.1%;}




/* 현금영수증 */
.orderandpay .cash_receipt_wrap {margin-top:15px;}
.orderandpay .cash_receipt_wrap .choice_wrap:after,
.orderandpay .cash_receipt_wrap:after {content: ''; display:block; clear: both;}
.orderandpay .cash_receipt_wrap .choice_wrap_inner,
.orderandpay .cash_receipt_wrap .choice_wrap,
.orderandpay .cash_receipt_input_wrap {float: left;}
.orderandpay .cash_receipt_wrap .cash_receipt_list {margin-top:8px;}

.orderandpay .cash_receipt_input_wrap .cash_receipt_input_layer {display: none;}
.orderandpay .cash_receipt_input_wrap .cash_receipt_input_layer.active {display: block; min-height:32px;}

.orderandpay .cash_receipt_input_wrap .width_phone {width:64px !important;}
.orderandpay .cash_receipt_input_wrap .input_wrap select.width_phone,
.orderandpay .cash_receipt_input_wrap .select_wrap select.width_phone {width:auto !important; max-width: initial;}
.orderandpay .cash_receipt_input_wrap .select_wrap select,
.orderandpay .cash_receipt_input_wrap .input_wrap select {padding-top:5px; padding-bottom: 6px;}
.orderandpay .cash_receipt_input_wrap .input_wrap input {padding-top: 7px; padding-bottom: 8px;}

.orderandpay .cash_receipt_input_wrap .inner_float .select_wrap {float: left;}
.orderandpay .cash_receipt_input_wrap .inner_float .select_wrap,
.orderandpay .cash_receipt_input_wrap .inner_float .input_wrap { margin-left:5px;}
.orderandpay .cash_receipt_input_wrap .inner_float .input_wrap:before {content: ''; display: none;}

.orderandpay .cash_receipt_input_wrap .cardnumber_wrap {}
.orderandpay .cash_receipt_input_wrap .cardnumber_wrap .input_wrap {width: calc(20% - 12px);}

.orderandpay .deposit_wrap {position: relative;}
.orderandpay .deposit_wrap:after {content: ''; display:block; clear: both;}
.orderandpay .deposit_wrap ._txt,
.orderandpay .deposit_wrap .icon_question {float: left;}
.orderandpay .deposit_wrap .icon_question {margin-top:-1px;}


.orderandpay .tooltip_wrap {display:none; background: #fff;box-shadow:0 3px 20px rgba(0,0,0,.16);margin: 20px;min-width:680px; z-index: 1;border-radius: 24px;}
.orderandpay .tooltip_wrap .tooltip_inner {padding: 44px 30px;position: relative;}
.orderandpay .tooltip_wrap .tooltip_inner:after {content: ''; display: block; clear:both;}
.orderandpay .tooltip_wrap .tooltip_tit {font-size: 32px;font-weight:400;border-bottom: 2px #000 solid;padding-bottom: 10px;}
.orderandpay .tooltip_wrap .tooltip_list {margin-top: 30px;}
.orderandpay .tooltip_wrap .tooltip_list li, 
.orderandpay .tooltip_wrap .tooltip_inner .texts {font-size: 14px; color:#777777;}
.orderandpay .tooltip_wrap .tooltip_inner .texts {line-height: 1.5em; margin-top: 25px;}
.orderandpay .tooltip_wrap .tooltip_close,
.orderandpay .tooltip_wrap .layer_close {position:absolute;top: 54px;right:30px;width:22px;height:22px;font-size: 0;display: block;background: url(../../images/new/icon_tool_tip.png) no-repeat center center;}
.orderandpay .tooltip_wrap.active {display: block;}


/* 팝업 */
/* 쿠폰조회 */
.orderandpay .tooltip_wrap .table02_v1 thead th{background: #FAFAFA;font-size: 13px;font-weight: 500;}
.orderandpay .tooltip_wrap .tit01 {font-size:16px; font-weight:700;}
.orderandpay .tooltip_wrap .box_gray02 { background: #FAFAFA; border: 0 none; font-size: 18px;font-weight: 500; color: #000;   } 

.orderandpay .tooltip_wrap .choice_wrap .select_wrap { min-width: 164px; margin: 0 auto; max-width: max-content;}
.orderandpay .tooltip_wrap .tbl_top {margin-top:15px;}
.orderandpay .tooltip_wrap .tbl_top ul.tab_btn02 li a {display:inline-block;height: auto;padding: 2px 9px 3px 9px;border:1px solid #c3c3c3;font-size:11px;color:#898989;/* line-height:19px; */line-height: normal;}
.orderandpay .tooltip_wrap .tbl_top ul.tab_btn02 li.active a,
.orderandpay .tooltip_wrap .tbl_top ul.tab_btn02 li a:hover {border:1px solid #000;background:#000;color:#fff;}


/* 예치금 */
.orderandpay .deposit_wrap .tooltip_wrap { position: absolute;top: -30px;left: 17px; width:740px;}
.orderandpay .safetynumber {position: relative;}
.orderandpay .safetynumber .tooltip_wrap {position: absolute; top:0; left:0; width:680px;}

.orderandpay .layer_pop_box {display: none; position: absolute; top: 0;    left: 0;}
.orderandpay .dimed {display: none; position: fixed; top:0; left:0; width:100%; height:100%; background: rgba(0,0,0, .6); z-index: 999;}
.orderandpay .layer_pop {    position: relative; z-index: 1000;}

.orderandpay .layer_pop_box.active {display: block;}
.orderandpay .layer_pop_box.active .tooltip_wrap {display: block;}
.orderandpay .layer_pop_box.active .dimed {display: block;}
.orderandpay .layer_pop_box .dimed {display: none;}



.orderandpay .bigger.btn_type01_v2 { height: 38px; font-size: 16px; min-width: 180px; line-height: initial; padding: 6px 0; height: auto; box-sizing: border-box;}

.orderandpay .txt_option {}
.orderandpay .btn_type05_v2 {font-size: 13px;height:32px;width:112px;padding: 0;box-sizing: border-box;border: 1px #D6D6D6 solid;line-height: 28px;} 

.orderandpay .count_up,
.orderandpay .count_down  {width:32px;height:32px;display:block;border:1px #D6D6D6 solid;font-size: 0;float: left;box-sizing: border-box;} 
.orderandpay .count_up { background: url(../../images/new/icon_count_up.png) no-repeat center center;}
.orderandpay .count_down {background: url(../../images/new/icon_count_down.png) no-repeat center center;} 

.orderandpay .bbs_list_v2 .t_left a.txt_option { color: #FF6A5B;font-size: 14px;line-height: 20px;padding: 5px 0 0 0;}

.orderandpay .btn_bgred { height: 32px;line-height: 30px;}
.orderandpay .btn_bgred.white {background: #fff; color:#000 !important; border:1px #D6D6D6 solid;}

.orderandpay .count_wrap {text-align: center; margin-left: 1px;}
.orderandpay .count_wrap:after {content:''; display:block; clear: both;}
.orderandpay .count_wrap .input_txt {float: left;    width: 39px !important;    padding: 5px 4px 6px 5px;    border-left: 0;    border-right: 0;}

/* GS 포인트 조회 팝업 */
.orderandpay .point_go_wrap {position: absolute; top:0; left: 222px;}
.orderandpay .point_go_wrap .tooltip_conts {margin-top:0px;}
.orderandpay .point_go_wrap .tooltip_conts_inner:after {content: ''; display: block; clear:both;}
.orderandpay .point_go_wrap .tooltip_conts:after {content: ''; display: block; clear:both;}
.orderandpay .point_go_wrap .point-info {float:right; width:300px; margin-top:10px;}
.orderandpay .point_go_wrap .point-info li {margin-bottom: 5px;font-size: 13px;line-height: 1.5;color:#777;text-indent: -7px;}
.orderandpay .point_go_wrap .point-site {margin-top:10px; text-indent: 0px !important;}
.orderandpay .point_go_wrap .table_wrap.type_1 {float: left;width:300px;}
.orderandpay .point_go_wrap .table_wrap.type_1 tr:first-child th {border-top:0;}
.orderandpay .point_go_wrap .table_wrap.type_1 td {border-right:0;}

.orderandpay .point_go_wrap .btn_type01_v2 { height: auto; padding: 9px 22px; margin-left: 5px;}
.orderandpay .point_go_wrap .table_wrap.type_1 .point_txt {vertical-align: middle; margin-top: 14px; display: block; margin-left: 10px; float: left;}
.orderandpay .point_go_wrap .btn_wrap {margin: 0px auto 0 auto;border-top:1px #eee solid;text-align: center;padding-top: 20px;}


/*----- cs css all Modified - 고객센터 css 폰트종류 폰트사이즈 등등 수정 -----*/
/*------------ 고객센터 -------------*/
/* lnb common */
.orderandpay .lnb > ul > li {margin-bottom: 36px;}
.orderandpay .lnb > ul > li > a {font-size: 18px;padding: 12px 11px;min-height: auto;line-height: normal;border-top: 2px #000 solid;color: #000;border-bottom: 1px #DBDBDB solid;background: none;font-weight: 700;}
.orderandpay .lnb > ul > li > .depth2 {margin-top:15px;}
.orderandpay .lnb > ul > li > .depth2 > li {margin-top:0;}
.orderandpay .lnb > ul > li > .depth2 > li > a {font-size: 14px;line-height: 1.5em;color: #313131;font-weight: 400;margin:0; padding:8px 0 7px 11px;}
.orderandpay .lnb > ul > li > .depth2 > li.active, .lnb > ul > li > .depth2 > li a:hover {letter-spacing:0px; font-weight: 700;}
.orderandpay .lnb > ul > li > .depth2 > li.active > a {color :#ff6600;}

/* title */
.orderandpay .page_location {background: none;  padding-top:20px;}
.orderandpay .page_location .title {float:left;font-size: 40px; font-weight:700; line-height: normal;}
.orderandpay .page_location .title a {display: block;}

.orderandpay h3.page_title {font-size: 28px;font-weight: 700;margin-bottom: 15px; min-height:auto; margin-top:0;}  
.orderandpay .tit01 {font-size: 18px; color: #000; font-weight:500; line-height: normal; min-height:auto; margin-bottom:20px; margin-top:60px;}
.orderandpay h4.tit01 {font-size:20px; font-weight:700; color:#000;}
.orderandpay .page_stitle a { font-size: 22px; line-height: 1.4; margin-bottom: 0px; letter-spacing: -1px; font-weight: 700; color:#000;}

.orderandpay h4.important_info {font-size:18px; line-height: normal; margin-bottom: 5px; }
.orderandpay .detail_txt {color: #898989;  line-height: normal; font-weight: 400; font-size:13px;}

/* list */
.orderandpay ul.list_type02 {margin-top: 10px;}
.orderandpay ul.list_type02 > li {position:relative;font-size: 13px;font-weight:400;line-height: 2;/* margin-bottom: 5px; */word-break: break-all;background: none;padding-left:10px;color:#313131;}
.orderandpay ul.list_type02 > li:before {content: '';display:block;width:4px;height: 4px;background: #000;position:absolute;top: 11px;left:0;}
/* table */
/* 
	table02 td: height: 55px; 
*/

.orderandpay .table01 tbody th {padding:17px 24px; font-size: 14px;  line-height:1.4em;}
.orderandpay .table01 tbody td {padding:17px 35px 17px 21px; font-size:14px;  line-height:1.4em;}
/*
.orderandpay .table02 {font-size:14px; line-height:1.4em;}
.orderandpay .table02 thead th {padding:10px 0;color:#646464;border-bottom: 1px solid #eaeaea;background:#f5f5f1;}
.orderandpay .table02 tbody th {padding:10px 9px 10px 9px;font-weight: 500;}
.orderandpay .table02 tbody th label { font-weight: inherit;}
.orderandpay .table02 tbody td {padding:10px 20px 11px;}
.orderandpay .table02.t_center tbody td {padding:17px 0;text-align:center;}
.orderandpay .table02.cash {border-collapse:separate;border:1px solid #a31112}
.orderandpay .table02.cash th {padding:5px;border-left:1px solid #eaeaea}
.orderandpay .table02.cash td {padding:5px;border-left:1px solid #eaeaea}
.orderandpay .table02.cash th + td {border-left:0}
.orderandpay .table02.cash td + th {border-left:1px solid #eaeaea}
.orderandpay .table02.cash td.t_center {padding:0}
.orderandpay .table02.cash.t_center th {text-align:center}
.orderandpay .table02.cash.t_center td {padding:5px}
.orderandpay .table02.cash tr.tfoot th {border-bottom:1px solid #eaeaea;background:#f5f5f5}
.orderandpay .table02.cash tr.tfoot td {border-bottom:1px solid #eaeaea;background:#f5f5f5}
.orderandpay .table02 input[type=checkbox] {vertical-align:middle}
.orderandpay .table02 input[type=checkbox] + * {position:relative;top:1px;}*/

.orderandpay .table03 thead th {padding:20px 0 21px; line-height:initial;font-size: 13px;font-weight: 500; background: #FAFAFA; border: 1px solid #EEEEEE; color:#000;}
.orderandpay .table03 thead th.defalut { background: #FAFAFA;}
.orderandpay .table03 thead th.friends { background: #E9E8E8;}
.orderandpay .table03 thead th.silver { background: #DEDEDE;}
.orderandpay .table03 thead th.gold { background: #DBC19E;}
.orderandpay .table03 thead th.platinum { background: #E1B995;}
.orderandpay .table03 tbody th,
.orderandpay .table03 tbody td {height: 41px;padding: 15px 8px;font-size: 12px;font-weight:300;line-height: 1.4;border: 1px solid #EEEEEE;color:#000;/* min-height: 65px; */}
.orderandpay .table03 tbody th {font-weight: 400;}
.orderandpay .table03.fz13 tbody td {font-size: 13px; font-weight: 400;}
.orderandpay label.t01 { margin-left: 5px;}
.orderandpay .radios { margin-left:10px; }
.orderandpay .radios.first { margin-left:0px; }

/* table */
/* 
	table02 td: height: 58px; 
*/

.orderandpay .bbs_list_v2 tbody td:first-child {border-left:1px #EEEEEE solid;}
.orderandpay .bbs_list_v2 tbody td:last-child {border-right:1px #EEEEEE solid;}

/* 주문상품 _table  */
.orderandpay .table_wrap.bbs_list_v2 th, .orderandpay .table_wrap.bbs_list_v2 td {text-align: center;padding-right: 10px;padding-left: 10px;}
.orderandpay .table_wrap.bbs_list_v2 tfoot th, .orderandpay .table_wrap.bbs_list_v2 tfoot td {text-align:right;font-size: 22px;font-weight: 500;border-bottom: 0;}

.orderandpay .bbs_search {margin:25px 0 10px; text-align:right;}
.orderandpay .bbs_search * {vertical-align:top;}

.orderandpay .bbs_list01 {border-collapse: separate; position: relative;}
.orderandpay .bbs_list01 .t_left {padding-left:0px;}

.orderandpay .bbs_list01 thead {}
.orderandpay .bbs_list01 thead th, .orderandpay .bbs_list01 tbody td {font-size:14px; line-height: normal; border-right:0;border-left:0;  text-align:center;}
.orderandpay .bbs_list01 thead th {font-size: 14px; color: #313131; padding: 16px 0 17px;font-weight:500;background: #fafafa;border-top:2px #000 solid;border-bottom:1px #eee solid;}
.orderandpay .bbs_list01 tbody td, 
.orderandpay .bbs_list01.tbl_slide tbody td{padding: 25px 20px 24px;text-align:center;font-weight: 500;color: #000;}
.orderandpay .bbs_list01.tbl_slide tbody td {/*padding-left:50px; padding-right: 50px;*/}
.orderandpay .bbs_list01 tbody td a {color:inherit; font-size:inherit; line-height: inherit; font-weight: inherit;}

.orderandpay .bbs_list01 tbody tr.conts td {padding:0 0;text-align:left;background:#fafafa;}

/*_ board 최상단 고정 */
.orderandpay .bbs_list01 .list_fixed,
.orderandpay .bbs_list01 .list_fixed.conts {}
.orderandpay .bbs_list01 .list_fixed td {position: relative;}
.orderandpay .bbs_list01 .list_fixed td a.click:before {content: '';display:block;width:8px;height:8px;background: #FF6A5B;/* position: absolute; */float: left;margin-top: 7px;margin-right: 12px;}


/* text */
.orderandpay .s_title { font-size: 28px; min-height: auto; line-height: normal; margin-bottom: 10px; color:#000;}
.orderandpay .s_title .desc {font-size: 14px; line-height: normal; padding: 0; margin: 9px 10px 0px}
.orderandpay .stxt {font-size: 13px; font-weight:400; color:#777777;}

.orderandpay .txt_tip {font-size: 14px; font-weight: 400; background-position: 0 3px;}
.orderandpay .txt_tip .stxt {margin-top:5px;}
.orderandpay .stxt_tip {font-size: 14px; line-height: 1.4em; font-weight: 300; color:#777777;}

.orderandpay .infobox01 {margin-top:45px; background:#fafafa;}
.orderandpay .infobox01 .f_left, 
.orderandpay .infobox01 .f_right {width:auto; float: none !important;} 
.orderandpay .infobox01 .f_right {margin-top:30px;}
.orderandpay .infobox01 .con {margin-top:15px;padding-left:8px;}
.orderandpay .infobox01 dl {line-height:18px;}
.orderandpay .infobox01 dl dt {font-size: 16px;font-weight: 500;margin-bottom: 6px; background: none; padding-left:0;  margin-top: 30px; color:#000000;}
.orderandpay .infobox01 dl dt:first-child {margin-top:0;}
.orderandpay .infobox01 dl dd { font-size: 13px; font-weight: 400; line-height: 1.7; word-break: keep-all; color:#777;}
.orderandpay .infobox01.type2 {position:relative;margin-top:-1px;border:1px solid #dbdbdb;}

.orderandpay .sv_carving {padding-top:10px;}
.orderandpay .sv_carving .stit {font-size: 16px;font-weight: 500;letter-spacing: -1.4px;padding: 0;height: auto;margin-bottom: 5px; margin-top: 5px;}


/* box */
.orderandpay .info_box {border:0; background: none;}
.orderandpay .info_box .incont {font-weight: 400; line-height: 1.4; padding: 24px; background: #FAFAFA;}
.orderandpay .info_box .incont li {font-size: 14px;line-height: 1.4;margin-bottom: 10px;font-weight: 400;}
.orderandpay .info_box .incont .info_tit {margin-bottom: 12px;font-size: 16px;font-weight: 700;}
.orderandpay .info_box .agree {border:0 none; background: none;}

/* search */
.orderandpay .search_box02 {padding:40px 10px;text-align:center;border: 0 none;background:#f5f5f1;}
.orderandpay .search_box02 .stit {font-size: 24px; font-weight: 700; vertical-align: middle;}
.orderandpay .search_box02 .text_box {position:relative;display:inline-block;width: 420px;height: auto;padding: 5px 45px 5px 10px;vertical-align: middle;background: #fff;border-radius: 0;border: 2px #000 solid;}
.orderandpay .search_box02 .text_box input[type="text"] {width:100%;height: 36px;color:#000;font-size: 16px;border:0;background: #fff;outline:none;}
.orderandpay .search_box02 .text_box .search_btn {position:absolute;top: 50%;margin-top: -15px;right: 10px;display:inline-block;width: 33px;height: 29px;background:url(../../images/new/icon_cs_search.png) no-repeat 50% 50%;}
.orderandpay .search_box02 .text_box .search_btn span {display:inline-block;visibility:hidden;font-size:0;line-height:0}
.orderandpay .search_box02 .text_box .exm_txt {position:absolute;top: 50%;margin-top: -15px;left: 10px;color: #BDBDBD;font-size: 14px;line-height:30px;}

.orderandpay .search_box02 .wordlist {height:auto; line-height: normal;}
.orderandpay .search_box02 .wordlist .usualword	{color:#777;font-weight: 400;position: relative;padding-right: 10px;margin-right: -4px;}
.orderandpay .search_box02 .wordlist .usualword:after {content: '';display: block;width:1px;height:16px;background: #707070;position: absolute;top: 3px;right: 0;}
.orderandpay .search_box02 .wordlist a {color:#000000; margin-left:15px;}

.orderandpay .btn_type01 {height: 19px;line-height: normal;font-size: 13px;vertical-align: middle; background: #EEEEEE;border-radius: 30px;padding: 10px 30px 9px;font-size: 13px;font-weight: 500;color: #000 !important;}
.orderandpay .btn_type07 {font-size: 14px;min-width: 105px;padding: 10px 13px 11px 13px;height: auto;line-height: normal; background: #000; text-align: center;}


/* sos 상담 */
.orderandpay .sos_counsel {background: none; border:none;}
.orderandpay .sos_counsel .f_left {border-right:0;}
.orderandpay .sos_counsel .txt {line-height: 1.5;margin-top: 80px;text-align: center;}
.orderandpay .sos_counsel .btn_type01 {margin-top:10px; font-size: 12px; border-radius:0; padding: 6px 11px;height: auto;line-height: 1.4;text-align: center;display: inline-block; background: #fff; border:1px #000 solid; color:#000 !important;}
.orderandpay .sos_counsel .f_right {text-align: center;}

.orderandpay .sos_counsel .btn_type07 {font-size: 14px;min-width: 105px;padding: 10px 13px 11px 13px;height: auto;line-height: normal; background: #000;}
.orderandpay .sos_counsel .btn_type03 {height: auto;line-height: normal;font-size: 16px;padding: 17px 55px 17px;vertical-align: middle;width: auto;font-weight: 500;letter-spacing: 1.5px;}

/* unit */
.orderandpay .input_txt, .orderandpay textarea {padding: 6px 4px 6px 4px;border: 1px solid #ccc;color: #000000;line-height: 1.4;font-size: 13px; font-weight: 400; font-family: 'font_ns','Apple SD Gothic Neo', sans-serif;}
.orderandpay textarea {resize: none;}
.orderandpay .input_txt {vertical-align: middle;height: auto;}
.orderandpay input::placeholder {  color: #898989 !important; } 
.orderandpay input::-webkit-input-placeholder {  color: #898989 !important; } 
.orderandpay input:-ms-input-placeholder {  color: #898989 !important; }
.orderandpay textarea::-webkit-input-placeholder {  color: #898989 !important; }
.orderandpay textarea:-ms-input-placeholder {  color: #898989 !important; }



/*_ input_file 첨부 */
.orderandpay .file_input {position: relative;height: 100%;}
.orderandpay .file_input label {position: absolute;top: 0;left: 0;right: 0;cursor:pointer;height: inherit;}
.orderandpay .file_input label span.text {font-size: inherit;font-weight: inherit;color:#fff;text-align:center;padding: 10px 18px 9px;height: auto;line-height: normal;width: auto;background: #EEEEEE; display: inline-block;border-radius: 30px;font-size: 13px;font-weight:500;color: #000;margin-left: 448px;}
.orderandpay .file_input label input {position:absolute;width:0;height:0;overflow:hidden;font-size: 0;padding: 0;border: 0 none;} 


/* paging */
.orderandpay .paging {margin-top: 50px;}
.orderandpay .paging ul li a {display: inline-block;font-size: 22px;font-weight: 500;font-family: 'font_gs','Apple SD Gothic Neo', sans-serif;border: 0;width: 48px;height: 48px;/* height: auto; */line-height: 1;padding: 15px 0 0px;box-sizing: border-box;vertical-align: top;}
.orderandpay .paging ul li.active a,
.orderandpay .paging ul li a:hover,
.orderandpay .paging ul li a:focus {background: #000;color: #fff;border:0;width: 48px;height: 48px;padding: 15px 0 0 0;border-radius: 24px;font-weight: 700;display: inline-block;vertical-align: top;}

.orderandpay .paging ul {display: inline-block;line-height: 1;}
.orderandpay .paging ul li {display:block;float: left;text-align: center;box-sizing: border-box;width: auto;height: auto;font-family: 'font_gs';font-size: 22px;line-height: 1;box-sizing: border-box;}

/* icon - new */
.orderandpay .icon_cs_new {width:20px;height: 0px;font-family: 'font_gs','Apple SD Gothic Neo', sans-serif !important;line-height: normal;font-size: inherit;font-weight: 700;color:#fff;background: #FF6A5B;display: inline-block;border-radius: 20px;text-align: center;vertical-align: middle;padding: 5px 0px 15px;/* max-width: 20px; *//* max-height: 20px; */overflow: hidden;font-size: 9px;margin-top: -3px;margin-left: 1px;}


/* 영수증 적립 */
.orderandpay .img_change_box {background: #fafafa;}
.orderandpay .img_change_box .change_list:after {content: ''; display: block; clear: both;}
.orderandpay .img_change_box .change_list li {width:33.333%; float: left; padding:41px 0 48px; position: relative;}
.orderandpay .img_change_box .change_list li:before {content: '';position: absolute;top: 50%;left: 0;display: block;width:21px;height:21px;background: url(../../images/new/cs_step_arrow.png) no-repeat center center;}
.orderandpay .img_change_box .change_list li:first-child:before {display: none; content: '';}
.orderandpay .img_change_box .img_include_wrap {display: block;text-align: center;}
.orderandpay .img_change_box .img_include_txt {font-size:11px;font-weight:500;color:#000;display: block;margin-top: 0px;}
.orderandpay .img_change_box .texts {font-size: 10px;font-weight:400;color:#777;display: block; margin-top:5px;}
.orderandpay .img_change_box .img_include_txt:before {content: '';display: block;margin: 0px auto 5px;}

.orderandpay .img_change_box .img_include_txt.key:before {width:58px; height:46px; background:url(../../images/new/cs_receipt_step1.png) no-repeat center;}
.orderandpay .img_change_box .img_include_txt.receipt:before {width:42px; height:46px; background:url(../../images/new/cs_receipt_step2.png) no-repeat center;}
.orderandpay .img_change_box .img_include_txt.allpoint:before {width:37px; height:46px; background:url(../../images/new/cs_receipt_step3.png) no-repeat center;}

/* 대량구매상담 팝업 */
.orderandpay .save_point {}
.orderandpay .save_point > .inner .tit01 {margin-top:0; margin-bottom: 0px;}
.orderandpay .save_point > .inner .stxt {margin-top:10px;}
.orderandpay .save_point .table01 {}
.orderandpay .save_point .table01 tbody th {background: #fafafa; padding:17px 24px; color: #000; font-weight: 500; }
.orderandpay .save_point .table01 tbody td { padding:17px 24px; color: #000; font-weight: 500; }
.orderandpay .save_point > .inner .table01 tbody td .btn_type01 {float: right;margin-left: 3px; padding: 10px 20px 9px;}

/* paging */
.orderandpay .paging .first,
.orderandpay .paging .next02,
.orderandpay .paging .prev,
.orderandpay .paging .last  {border:0; display:inline-block; width:15px; height:25px; background:url('../../images/biz/sub/icon_page_arr.png') no-repeat; background-size:60px 25px; margin-top: 12px;}
.orderandpay .paging .next02 {background-position:-30px 0;}
.orderandpay .paging .prev {background-position:-15px 0}
.orderandpay .paging .last {background-position:100% 0}
.orderandpay .paging .first {background-position:0 0}
.orderandpay .paging .first , .orderandpay .paging .prev {margin-right:50px;}
.orderandpay .paging .last, .orderandpay .paging .next02 {margin-left:50px;}