@charset "utf-8";

.search_modi {}
.search_modi .distance {margin-top: 100px;}
.search_modi .pb0 {padding-bottom: 0 !important;}
.search_modi .pt0 {padding-top: 0 !important;}
.search_modi .mt0 {margin-top: 0 !important;}
.search_modi .mb0 {margin-bottom: 0 !important;}

.search_modi.search_wrapper .search_top {padding-bottom: 0px}
.search_modi.search_wrapper .btn_detail{vertical-align:top; font-size:14px; color:#FF6A5B; float:right; padding-right:16px; background:url('../../images/biz/common/icon_search_btn.png') 100% 50% no-repeat;}

.search_modi.search_wrapper .cont01 .bx-controls,
.search_modi.search_wrapper .cont02.pd_unit .category_slide .bx-controls {width: auto;margin-left: 0;right: 370px;left: 370px;}
.search_modi.search_wrapper .cont01 .bx-controls-direction .bx-prev,
.search_modi.search_wrapper .cont02.pd_unit .category_slide .bx-controls-direction .bx-prev,
.search_modi.search_wrapper .cont01 .bx-controls-direction .bx-next,
.search_modi.search_wrapper .cont02.pd_unit .category_slide .bx-controls-direction .bx-next {z-index: 100;}

.search_modi.search_wrapper .cont01 .bx-controls-direction .bx-prev,
.search_modi.search_wrapper .cont02.pd_unit .category_slide .bx-controls-direction .bx-prev { left: 0px; right: auto;}
.search_modi.search_wrapper .cont01 .bx-pager,
.search_modi.search_wrapper .cont02.pd_unit .category_slide .bx-pager {color:#808080;right: 36%;letter-spacing: 1px;bottom: -4px; position: relative;    width: auto;    right: auto;    text-align: center;}
.search_modi.search_wrapper .cont01 .bx-pager strong,
.search_modi.search_wrapper .cont02.pd_unit .category_slide .bx-pager strong{ font-size: inherit; font-family: inherit; min-width: 20px; display: inline-block;}

.search_modi.search_wrapper .cont03 .search_tit {font-size: 28px; font-weight: 700;}
.search_modi.search_wrapper .filter_btn {display:block;background: #000 url(../../images/new/filter_icon.png) center right 7px no-repeat;float: left;font-size: 14px;color: #fff;padding: 8px 29px 8px 12px;font-weight: 300;margin-left: 20px;}

.search_modi .category_wrap .pd_filter .pd_total {}

/* 검색결과 탭 */
.search_modi.search_wrapper .search_tab {margin-top:80px;}
.search_modi.search_wrapper .pd_filter {margin-top: 40px;}
.search_modi.search_wrapper .pd_filter .form_select {width: auto;}
.search_modi.search_wrapper .pd_filter .form_select select {height: auto;width:auto; direction: rtl; margin-left: 10px;font-size: 18px;font-weight: 700;color: #000;padding: 2px 30px 2px 10px;background: url(../../images/new/search_modi_btn.png) center right no-repeat;box-sizing: border-box;display: block;float: left;text-align: right;}
.search_modi.search_wrapper .pd_filter .form_select:after {background: #000;}
.search_modi.search_wrapper .pd_filter .form_select:after{content:''; display: none;}

.search_modi .search_filter_wrap{position:relative;border-bottom:0px;max-width: 950px;margin: 0 auto;}
.search_modi .search_filter{position:absolute;width:950px;height: 0;margin:0 auto;box-sizing:border-box;}
.search_modi .search_filter .detail {display:block;text-align: center;padding: 20px 0;background: none;border-top: 0;}
.search_modi .search_filter.active .inner{position:absolute;left:0;right:0;height: 400px;z-index:20;background-color:#fff;border-top: 1px #000 solid;}
.search_modi .search_filter.on_select .inner{height:477px;}
.search_modi .search_filter .inner{overflow:hidden;height: 0;}
.search_modi .search_filter.active .inner > ul{}
.search_modi .search_filter .inner > ul > li{float:left;width: auto;height:100%;box-sizing:border-box;position:relative;text-align: left;min-width: 235px;max-height: 399px;}
.search_modi .search_filter .inner > ul > li + li{border-left:1px solid #fff;}
.search_modi .search_filter.active .inner > ul > li + li{border-left:1px solid #dbdbdb;}
.search_modi .search_filter .inner > ul > li:last-child{width: auto;padding-right: 0px;}
.search_modi .search_filter ul li a.on{color:#DA2128 !important;}
.search_modi .search_filter.active .search_dp1{border-bottom:1px solid #dbdbdb;border: 0;}
.search_modi .search_filter.on_select .search_dp1 span{position:relative;}
.search_modi .search_filter.on_select .search_dp1 span:before{ display:none; position:absolute; content:''; left:-22px; top:50%; margin-top:-4px; width:12px; height:9px; background:url('../../images/biz/common/icon_tab_active.png') no-repeat;}
.search_modi .search_filter .search_dp1{position:relative;line-height: normal;display:block;font-size:18px;color:#000;text-align: left;font-weight: 700;padding: 22px 20px 10px;}
.search_modi .search_filter.active .search_dp2{display:block;}
/*.search_modi .search_filter .btn_wrapper {float: none; display:none; position: absolute;top: 14px;right: 12px;}
.search_modi .search_filter.active .btn_wrapper {display: block;}
*/
.search_modi .search_filter .btn_dp2:after{position:absolute;content:'';right:0;width: 12px;top:50%;margin-top: -6px;height: 12px;background:url('../../images/new/select_depth.png') no-repeat;}
.search_modi .search_filter .btn_dp2.on:after{background-position:-12px 0;}

.search_modi .search_filter.active .search_dp2{display:block;}
.search_modi .search_filter .search_dp2{display:none;overflow-y:auto;position:absolute;padding:12px 20px;left:0;right:0;top:60px;width:100%;height:338px;z-index:2;box-sizing:border-box;}
.search_modi .search_filter .search_dp2 > ul li + li{margin-top:16px;}
.search_modi .search_filter .search_dp2 > ul li a{font-size:14px; color:#000; font-family: 'font_ns','AppleGothic', sans-serif;}
.search_modi .search_filter .dp2_tab {position: absolute; top: 24px; left: 66px;}
.search_modi .search_filter .dp2_tab ul{overflow:hidden;margin:0;}
.search_modi .search_filter .dp2_tab ul li{float:left;position: relative;line-height:23px;width: auto;text-align:center;border:0 none;box-sizing:border-box;margin-left: 12px;}
.search_modi .search_filter .dp2_tab ul li a{font-size:14px; color:#777; display:block;}
.search_modi .search_filter .dp2_tab ul li.active{border:0 none;}
.search_modi .search_filter .dp2_tab ul li.active a{color:#000;}
.search_modi .search_filter .dp2_tab ul li:first-child:before {content: '';display: block;width:2px;height:12px;background: #777777; position: absolute;top: 6px;right: -7px;}

.search_modi .search_filter .price .input_wrap input {border: 0;border-bottom: 1px #707070 solid;max-width: 50px;padding: 2px 8px;height: auto;color: #777777;}
.search_modi .search_filter .price .input_wrap input::-webkit-input-placeholder { /* Edge */  color: #777777;}
.search_modi .search_filter .price .input_wrap input:-ms-input-placeholder { /* Internet Explorer 10-11 */   color: #777777;}
.search_modi .search_filter .price .input_wrap input::placeholder {   color: #777777;}

.search_modi .search_filter .btn_price_search {width:26px;height:26px;background:url('../../images/new/ico_btn_search.png') no-repeat center;font-size: 0;display: block;float: left;margin-left: 5px;}

/*.search_modi .search_filter .btn_wrapper .btn_reset {border:0;font-size: 0;padding:0;width: 26px;height: 24px;background: url('../../images/new/icon_refresh.png') no-repeat center;}

*//* list */
.search_modi .category_wrap .pd_unit .category_slide ul li {width:230px !important; margin-right: 10px !important; padding:0;}
.search_modi .category_wrap .pd_unit .category_slide ul li a .thum {width:230px; height:230px;}

.search_modi.search_wrapper .related_search {margin-top: 10px;}
.search_wrapper .related_search p, .search_wrapper .related_search ul {margin-top:10px;}
.search_modi.search_wrapper .search_top .form_checkbox {margin-top:-1px;}



.search_modi .search_filter.on_select .detail{display:block;}
.search_modi .search_filter .detail{display:none; border-top:1px solid #000; padding:18px 20px 18px 58px; height:78px; box-sizing:border-box; background:url('../../images/biz/common/icon_condition.png') 20px 50% no-repeat;}
.search_modi .search_filter .select_condition{float:left; display:table; width:650px; height:42px;}
.search_modi .search_filter .select_condition ul{display:table-cell; vertical-align:middle;overflow: hidden; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.search_modi .search_filter .select_condition ul li{float:left; margin:2px 5px;}
.search_modi .search_filter .select_condition ul li a{position:relative; padding:1px 20px 1px 0; color:#DA2128; font-size:15px; background:url('../../images/biz/common/icon_search_delete.png') 100% 50% no-repeat;}
.search_modi .search_filter .btn_wrapper{float:right;}
.search_modi .search_filter .btn_wrapper a{display:inline-block; font-size:16px; text-align:center; line-height:39px; box-sizing:border-box; padding:0; width:104px;}
.search_modi .search_filter .btn_wrapper a + a{margin-left:6px;}
.search_modi .search_filter .btn_wrapper .btn_reset{border:1px solid #000; padding-left:22px; background:url('../../images/biz/common/icon_reset.png') 20px 50% no-repeat;}
.search_modi .search_filter .btn_wrapper .btn_black{border:1px solid #000; background-color:#000; color:#fff;}
.search_modi .search_filter .btn_filter{position:absolute; width:60px; height:60px; background:#000; z-index:21; right:0; top:0px;}
.search_modi .search_filter .btn_filter:after{position:absolute; content:''; width:26px; height:16px; top:50%; margin-top:-8px; left:50%; margin-left:-13px; background:url('../../images/biz/common/icon_filter_arr.png') no-repeat;}
.search_modi .search_filter .btn_filter.active:after{background-position:-26px 0;}





/* 검색하단 리스트 */
/* 컨텐츠 안에 들어 가지 않기 때문에 클래스 넣지 않음 search_modi */
/*.form_search_list_wrap {display:none; position: absolute;    top: 58px;    right: 0;    z-index: 1;    width: 424px; height:auto; background:  #fff;}
.form_search_list_wrap.active {display: block;}
.form_search_list_wrap .bxslider {border:4px #000 solid; padding:16px 25px 48px; background: #fff;}
.form_search_list_wrap .form_search_list {width:366px !important;}
.form_search_list .items {margin:0; position:relative;}
.form_search_list .items .link {display: block;  font-size: 15px;  width: 100%;  font-weight: 500;  padding:16px 0;  border-bottom:1px #eee solid;}
.form_search_list .items .link .text_wrap {  float: left;  min-height: 48px; display:block; padding-right:65px;}
.form_search_list .items .link .thum{width: 48px;height: 48px;border:1px #DBDBDB solid;box-sizing: border-box;display: block;position: absolute;top: 18px;right: 0;}
.form_search_list .items .link .thum img{  width: 100%;}
.form_search_list .items .link:after {content:''; display: block; clear: both;}
.form_search_list .items .link .text_wrap .texts{  line-height: 1.3;}
.form_search_list .items .link .text_wrap .price{  margin-top:8px;} 

.form_search_list_wrap.fixed {width:640px; left:328px; right: auto;}
.form_search_list_wrap.fixed .bx-wrapper {max-width: 640px !important;}
.form_search_list_wrap.fixed .form_search_list {width:582px !important;}

.form_search_list_wrap .form_searh_list_slide {overflow: hidden;}
.form_search_list_wrap .bx-viewport {height:100% !important;}
.form_search_list_wrap .bx-controls {margin-top:48px; position: relative;}
.form_search_list_wrap .bx-controls-direction {width: 208px; display: block; text-align: center; margin: 0 auto;}
.form_search_list_wrap .bx-controls-direction:after {content:''; display: block; clear: both;}
.form_search_list_wrap .bx-controls-direction .bx-prev {float: left;}
.form_search_list_wrap .bx-controls-direction .bx-next {float: right;}
.form_search_list_wrap .bx-next {background-position: -88px 0px}
.form_search_list_wrap .bx-next.disabled {background-position: -132px 0px}
.form_search_list_wrap .bx-prev {background-position: -44px 0px}
.form_search_list_wrap .bx-prev.disabled {background-position: 0px 0px}
.form_search_list_wrap .bx-pager{font-size:18px;color:#777;font-family:'font_gs', 'sans-serif';letter-spacing: 1px; text-align: center;position: absolute;bottom: 10px;left: 50%;margin-left: -20px;}
.form_search_list_wrap .bx-pager strong{ color:#000; font-weight:700; margin-right:8px; font-size: inherit; font-family: inherit; min-width: 20px; display: inline-block;}
*/


/* 검색하단 리스트 */
.form_search_list_wrap {display:none; position: absolute;    top: 58px;    right: 0;    z-index: 1;    width: 424px; background:  #fff;}
.form_search_list_wrap.active {display: block;}
.form_search_list {border:4px #000 solid; padding:10px 25px 12px;}
.form_search_list .items {margin:0;}
.form_search_list .items .link {
  font-size: 15px;
  width: 100%;
  font-weight: 500;
  padding:16px 0;
  border-bottom:1px #eee solid;
}
.form_search_list .items .link > div {
  float: left;
  min-height: 48px;
  width:calc(100% - 55px);
}
.form_search_list .items .link > div:last-child {
  float: right;
}
.form_search_list .items .link > .thum{
  width: 48px;
  height: 48px;
  border:1px #DBDBDB solid;
  box-sizing: border-box;
}
.form_search_list .items .link > .thum img{
  width: 100%;
}
.form_search_list .items .link:after {content:''; display: block; clear: both;}
.form_search_list .items .link > div p{
  line-height: 1.3;
}
.form_search_list .items .link > div p.price{
  margin-top:8px;
}
/* 검색페이지 */
.form_search_list_page{text-align:center; margin:30px auto;}
.form_search_list_page a{display:inline-block; color:#808080; vertical-align:top; width:44px; height:44px; padding-top:15px; font-family:font_gs; font-size:18px; text-align:center; box-sizing:border-box;}
.form_search_list_page .active{display:inline-block; color:#000; font-weight:bold;}
.form_search_list_page .arr{display:inline-block; width:44px; height:44px; padding-top:10px;border:1px #DBDBDB solid;}
.form_search_list_page .arr:after{content:''; display:inline-block; width:15px; height:25px; background:url('../../images/biz/sub/icon_page_arr.png')no-repeat; background-size:60px 25px;}
.form_search_list_page .arr.prev{margin-right:20px;}
.form_search_list_page .arr.next{margin-left:20px;}
.form_search_list_page .arr.prev:after{background-position:-15px 0}
.form_search_list_page .arr.first:after{background-position:0 0}
.form_search_list_page .arr.next:after{background-position:-30px 0}
.form_search_list_page .arr.last:after{background-position:100% 0}
#header.fixed #gnb .form_search_list_wrap.active {display:block; position: absolute;top: 60px;left: 328px;z-index: 1;background:  #fff;width: 640px;}


/* 인기검색어및 여러 슬라이드 */
.popular_search_wrap .bxslider {display: block; height:auto;}
.popular_search_wrap {display:none;   width: 320px;    position: absolute; top: -20px;    right: -24px;  background: transparent;   z-index: 2;}
.popular_search_wrap.active {display: block;}

.popular_search_wrap .bx-viewport {min-height:545px;}
.popular_search_wrap .bx-controls {position: absolute;left: 0;    width: 320px;    bottom: 75px;}
.popular_search_wrap .bx-wrapper {position: relative;}
.popular_search_wrap .bx-pager {display: table;    text-align: center;    margin: 0 auto;}
.popular_search_wrap .bx-pager .bx-pager-item { display: table-cell; width:10px;}
.popular_search_wrap .bx-pager .bx-pager-link {font-size: 0; width:10px; height:10px; margin:0 4px; background: #BDBDBD; border-radius: 5px;}
.popular_search_wrap .bx-pager .bx-pager-link.active{ background: #000; }
.popular_search_wrap .blank_box {display: table; width:100%; height:100%; min-height:320px;}
.popular_search_wrap .blank_box ._txt {display: table-cell;vertical-align: top;text-align: center;color:#777777;font-size: 14px;font-weight: 400;background:url(../../images/new/icon_message.png) no-repeat center 70px;padding-top: 137px;}

#gnb .popular_search_wrap .keyword_list_v2 { border: 1px solid #dbdbdb;box-sizing:border-box;border-radius: 20px;background: #fff;z-index: 10;position: relative; margin: 0 auto; padding: 20px 30px 63px 30px;-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3); display: block !important; box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.16); width:280px; top:0; left:auto; margin:20px 20px 30px;}
#gnb .popular_search_wrap .keyword_list_v2:before {z-index: -1;border-radius: 20px;content: '';display: block;position: absolute;top:0;left:0;width: 100%;height: 100%;background: #fff;}
#gnb .popular_search_wrap .keyword_list_v2 .last_cont {margin-top:10px; padding:15px 0; border-top:1px #777 solid; border-bottom:1px #777 solid;}
#gnb .popular_search_wrap .keyword_list_v2 .last_texts {width: 70%;}
#gnb .popular_search_wrap .keyword_list_v2 .btn_last_delete {font-size: 0; width:9px; height:9px; position: absolute; top:50%; right:0; margin-top:-4px; background:url(../../images/new/icon_last_search_close.png) no-repeat center;}
#gnb .popular_search_wrap .keyword_list_v2 .all_delete_txt {position: absolute; top:20px; right:33px; font-size: 13px; font-weight: 400; overflow: hidden;}
#gnb .popular_search_wrap .keyword_list_v2 .all_delete_txt:after {content:''; display:block; float: left; width:14px; height:16px; margin-right:2px; background:url(../../images/new/icon_trash.png) no-repeat center;}
#gnb .popular_search_wrap .inner_popular_search {width:380px !important; height:100%;}

/* 검색결과 유도 */
.search_modi .search_none .none_txt p {line-height: 1.6}
.search_modi .search_none .none_txt.mt120 {margin-top:70px;}
.search_modi .search_none .none_txt.another:before {content: ''; display: none;}
.search_modi .search_none .none_txt .text_another {color: #000000; margin-bottom: 10px;}
.search_modi .search_none .none_txt .text_another .color02 {color: #419BF9; font-weight:700;}
.search_modi .search_none .none_txt .text_defalut {font-size: 16px; color:#777777; text-align: left;}

.search_modi .icon_arrow {display: inline-block;margin-left:5px;font-size: 16px;font-weight: 500;border-bottom: 1px #000000 solid;padding-bottom: 5px; vertical-align: top;}
.search_modi .icon_arrow:after {content:'';display:inline-block;width:6px;height: 12px;background: url(../../images/new/icon_arrow.png) no-repeat 0 0;margin-left:5px;margin-bottom: -1px;}

.search_modi .pt80 {padding-top:80px !important;}